<!--
  Generated template for the LoginpagePage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

  <!-- <p [ngClass]="{'fadeOut': !show, 'fadeIn': show}">
    I am sometimes here and sometimes there
  </p>
  <button ion-button (click)="toggleVisible()">Toggle it!</button>
  <p [@myvisibility]="visibleState">
    I am sometimes here and sometimes there
  </p>
  <p [@fadeInOut] *ngIf="show" (@fadeInOut.done)="animationFinished($event)" (@fadeInOut.start)="animationStarted($event)">
    My appearance is magic.
  </p>
  Start: {{ startTime | date:'medium' }}<br>
  End: {{ endTime | date:'medium' }}
  <div animates #animation="animates" text-center>
    <button ion-button (click)="animation.start({type: 'rubberBand', duration: '1000'})">Click me!</button>
  </div>
  <button ion-button (click)="animateElem()">Animate!</button>
  <ion-card #myElement>
    <ion-card-header>My Animation Card</ion-card-header>
    <ion-card-content>So much awesome content and animations. AMAZING!</ion-card-content>
  </ion-card> -->

  <ion-img *ngIf="platform.is('android')" class="close" src="assets/img/login/ic-system-close-black@3x.png" srcset="assets/img/login\ic-system-close-black2x.png,
                  assets/img/login\ic-system-close-black@3x.png" (click)="dissmiss()"></ion-img>


  <ion-img *ngIf="platform.is('ios')" class="close" style="margin-top:5%;"
    src="assets/img/login/ic-system-close-black@3x.png" srcset="assets/img/login\ic-system-close-black2x.png,
                          assets/img/login\ic-system-close-black@3x.png" (click)="dissmiss()"></ion-img>

  <h1 class="h1"> 로그인 </h1>

  <ion-list [@fadeInOut] *ngIf="show" (@fadeInOut.done)="animationFinished($event)"
    (@fadeInOut.start)="animationStarted($event)" [@myvisibility]="visibleState">
    <ion-row>
      <ion-col *ngIf="!isReview">
        <button ion-button class="submit-btn" (click)="naver_login()" outline>
          <img class="naver_btn" src="assets/img/naverlogo/ic-sns-naver.png" srcset="assets/img/naverlogo/ic-sns-naver@2x.png,
                       assets/img/naverlogo/ic-sns-naver@3x.png" /> 네이버로 로그인</button>
        <button ion-button class="submit-btn" (click)="kakao_login()" outline>
          <img class="kakao_btn" src="assets/img/kakaologo/ic-sns-kakao.png" srcset="assets/img/kakaologo/ic-sns-kakao@2x.png,
                       assets/img/kakaologo/ic-sns-kakao@3x.png" /> 카카오로 로그인</button>
        <button ion-button class="submit-btn" (click)="google_login()" outline>
          <img class="google_btn" src="assets/img/googlelogo/ic-sns-google.png" srcset="assets/img/googlelogo/ic-sns-google@2x.png,
                       assets/img/googlelogo/ic-sns-google@3x.png" /> 구글로 로그인</button>
        <!-- <button ion-button class="submit-btn" (click)="apple_login()" outline>
          <img class="google_btn" src="assets/img/applelogo/apple.png"/> 애플로 로그인</button> -->
        <ion-col class="Linetext">또는</ion-col>
      </ion-col>
      <ion-col *ngIf="isReview">
        <button ion-button class="submit-btn" (click)="naver_login()" outline>
          <img class="naver_btn" src="assets/img/naverlogo/ic-sns-naver.png" srcset="assets/img/naverlogo/ic-sns-naver@2x.png,
                         assets/img/naverlogo/ic-sns-naver@3x.png" /> 네이버로 로그인.</button>
        <button ion-button class="submit-btn" (click)="kakao_login()" outline>
          <img class="kakao_btn" src="assets/img/kakaologo/ic-sns-kakao.png" srcset="assets/img/kakaologo/ic-sns-kakao@2x.png,
                         assets/img/kakaologo/ic-sns-kakao@3x.png" /> 카카오로 로그인.</button>
        <button ion-button class="submit-btn" (click)="google_login()" outline>
          <img class="google_btn" src="assets/img/googlelogo/ic-sns-google.png" srcset="assets/img/googlelogo/ic-sns-google@2x.png,
                         assets/img/googlelogo/ic-sns-google@3x.png" /> 구글로 로그인.</button>
        <button ion-button class="submit-btn_apple" (click)="apple_login()" outline>
          <img class="apple_btn" src="assets/img/applelogo/White_Logo_Square@3x" srcset="assets/img/applelogo/White_Logo_Square@2x.png,
                          assets/img/applelogo/White_Logo_Square@1x.png" />
          &nbsp;&nbsp;&nbsp;&nbsp;Sign in with Apple</button>
        <ion-col class="Linetext">또는</ion-col>
      </ion-col>
    </ion-row>
  </ion-list>


  <form novalidate (ngSubmit)="onSubmit()" #registerForm="ngForm" [formGroup]="signupform">

    <ion-item class="email_align" style="background:#FFF">
      <ion-input (ionFocus)="toggleVisible()" (ionBlur)="toggleVisible()"
        (ionChange)="changeImage(signupform.controls.email.valid && signupform.controls.email.dirty)" mode="ios"
        type="email" class="email_input" [(ngModel)]="registerCredentials.email" formControlName="email"
        placeholder="이메일을 입력해주세요." [class.error1]="(!signupform.controls.email.valid && signupform.controls.email.dirty) ||
                                   (signupform.get('email').hasError('required') && signupform.get('email').touched)"
        [class.error2]="signupform.controls.email.valid" required> </ion-input>
      <!-- [class.error3]="!signupform.get('email').focused" -->
      <ion-img class="email_img" src="{{myImage}}" item-right (click)="email_delete()"></ion-img>
    </ion-item>
    <ion-item no-lines
      *ngIf="( signupform.get('email').hasError('minlength') ||
     signupform.get('email').hasError('pattern') ||signupform.get('email').hasError('required') ) && signupform.get('email').touched">
      <div class="error" *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
        이메일을 입력해주세요.
      </div>
      <div class="error" *ngIf="signupform.get('email').hasError('pattern') && signupform.get('email').touched">
        올바른 이메일 형식이 아닙니다.
      </div>
    </ion-item>

    <ion-item class="password_align" style="background:#FFF">
      <!-- <ion-label class="titlelabel" stacked>비밀번호 </ion-label> -->
      <ion-input (ionFocus)="toggleVisible()" (ionBlur)="toggleVisible()"
        (ionChange)="changeImage2(signupform.controls.password.valid && signupform.controls.password.dirty)" mode="ios"
        type="password" class="password_input" [(ngModel)]="registerCredentials.password" formControlName="password"
        name="password" placeholder="비밀번호를 입력해주세요." [class.error1]="(!signupform.controls.password.valid && signupform.controls.password.dirty) ||
                        (signupform.get('password').hasError('required') && signupform.get('password').touched)"
        [class.error2]="signupform.controls.password.valid" required></ion-input>
      <ion-img class="email_img" src="{{myImage2}}" item-right (click)="password_delete()"></ion-img>
    </ion-item>
    <ion-item no-lines
      *ngIf="( signupform.get('password').hasError('minlength') || signupform.get('password').hasError('maxlength') ||signupform.get('password').hasError('required') ) && signupform.get('password').touched">
      <div class="error" *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
        비밀번호를 입력해주세요.
      </div>
      <div class="error" *ngIf="signupform.get('password').hasError('minlength') && signupform.get('password').touched">
        ·비밀번호는 영문, 숫자조합 6~15자로 입력해주세요.
      </div>
      <div class="error" *ngIf="signupform.get('password').hasError('maxlength') && signupform.get('password').touched">
        ·비밀번호는 영문, 숫자조합 6~15자로 입력해주세요.
      </div>
    </ion-item><br>

    <button ion-button *ngIf="!signupform.controls.email.valid || signupform.get('password').hasError('minlength')"
      type="submit" class="login_btn_invalid" name="next" outline>로그인</button>
    <button ion-button *ngIf="signupform.controls.email.valid && !signupform.get('password').hasError('minlength')"
      type="submit" class="login_btn2_valid" name="next" outline>로그인</button>
  </form>

  <br><br><br>
  <ion-item style="text-align:center" no-lines>
    <ion-col class="passwordfind" (click)="agreepage()">회원가입&nbsp;•</ion-col>
    <ion-col class="passwordfind" (click)="idFind()">ID 찾기&nbsp;•</ion-col>
    <ion-col class="passwordfind" (click)="passwordreset()">비밀번호 초기화</ion-col>
    <!-- <ion-col class="passwordfind" (click)="passwordfind()">비밀번호 초기화</ion-col> -->
  </ion-item>


</ion-content>
