page-login {



    .logo-row {
      padding-top: 50px;
      //padding-bottom: 20px;
      // padding-left: 36.1111%;
      // padding-top: 16.4844%;
      width: 30%;
      //height:100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .logo-plinic {
      //padding-left: 36.1111%;
      //padding-top: 0.4844%
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .login-box {
      padding: 20px 20px 0;
      margin-top: 20px;
    }

    .ion-row {
      align-items: center;
    }

    .ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid color($colors, light);
      border-bottom: 0 !important;
      box-shadow: none !important;
      background: color($colors, light);
    }



    .item-inner {
      border-bottom-color: color($colors, light) !important;
      box-shadow: none !important;
    }


    .login-btn{
      font-weight: normal;
      width: 100%;
      border: solid 1px #c7c7c7;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      font-size: 14px;
      color: #292929;
    }
    .submit-btn {
      border: solid 1px #c7c7c7;
      font-size: 14px;
      color: #292929;
      width: 100%;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }


    .register-btn {
      background-color: #5c59b6;
      min-width: 100%;
      font-family: NotoSansCJKkr;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }

    .Line{

      width: 134px;
       height: 0.1px;
       background-color: #e5e5e5;

    }
        .kakao_btn {
          padding-right: 5px;
        }

        .face_btn {
          padding-right: 5px;
          width: 35px;
          height: 25px;
        }

        .google_btn {
          padding-right: 5px;
          width: 35px;
          height: 25px;
        }
}
