page-login {



      .inglogo{
      width: 100px;
      height: 100px;
      object-fit: contain;
      background-color: #FFF;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20%;
      display: block;

      }


      .inglogo2{
      width: 102px;
      height: 40px;
      object-fit: contain;
      background-color: #FFF;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 5%;
      margin-bottom: 15%;

      }

    .login-btn{
      margin-left: auto;
      margin-right: auto;
      display: block;
      font-weight: normal;
      width: 90%;
      border: solid 0.5px #c7c7c7;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      font-size: 14px;
      color: #292929;
    }

    .submit-btn {
      margin-left: auto;
      margin-right: auto;
      display: block;
      border: solid 0.5px #c7c7c7;
      font-size: 14px;
      color: #292929;
      width: 90%;
      height: 50px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }


    .register-btn {
      margin-left: auto;
      margin-right: auto;
      display: block;
      background-color: #5c59b6;
      width: 315px;
      height: 50px;
      border-radius: 4px;
      font-family: NotoSansCJKkr;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }


    .Linetext{
         text-align: center;
         font-family: AppleSDGothicNeo;
         font-size: 13px;
         font-weight: normal;
         font-style: normal;
         font-stretch: normal;
         line-height: normal;
         letter-spacing: normal;
         color: #b6b6b6;
         min-width: 10px;
         width: 10px;
         padding: 0px;
         margin: 0px;
    }

    .Lineleft{
       padding: 0px;
       width: 60%;
       text-align:left;
       height: 1px;
       margin-top: 10px;
       background-color: #e5e5e5;
    }
    .Lineright{
       padding: 0px;
       width: 100%;
       text-align:right;
       height: 1px;
       margin-top: 10px;
       background-color: #e5e5e5;
    }

        // .face_btn {
        //   width: 10%;
        //   height: 40%;
        //   text-align: center;
        //   padding-right: 5px;
        //   margin-right: 5px;
        // }


        .kakao_btn {
          text-align: center;
          width: 25px;
          height: 25px;
          padding-right: 5px;
        }


        .google_btn {
          width: 25px;
          height: 25px;
          text-align: center;
          padding-right: 5px;
        }

        .naver_btn{
          width: 25px;
          height: 25px;
          text-align: center;
          padding-right: 5px;
        }

        .bottom_text{
          font-family: AppleSDGothicNeo;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #939393;

        }
        // .label{
        //   overflow:visible;
        // }


}
