page-care-zone {


      min-width: 100%;
      min-height: 100%;


      .title{
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 70%;
        font-family: NotoSansCJKkr;
        font-size: 17px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #292929;
      }
    .profile-img {
      width: 60px;
      height: 60px;
      object-fit: contain;
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align: center;
      background-color: #ffffff;
    }

      .top-text{
        margin-left:auto;
        margin-right: auto;
        font-family: NotoSansCJKkr;
        font-size: 16px;
        font-weight: normal;
        display: inline;
        line-height: 1.41;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        font-weight: bold;
        color: #5c59b6;
    }

    .top-text2{
      margin-left:auto;
      margin-right: auto;
      font-family: NotoSansCJKkr;
      font-size: 16px;
      font-weight: normal;
      display: inline;
      line-height: 1.41;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #292929;
    }

    .button_outline{
      margin-left: auto;
      margin-right: auto;
      display: block;
      border: solid 0.5px #c7c7c7;
      background-color:#FFF;
      min-width: 90%;
      min-height: 50px;
      font-family: NotoSansCJKkr;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #292929;
    }


    .imagealign{
      margin-left: auto;
      margin-right: auto;
      display: block;
      border-radius: 5px;
      background-color: #f1f1f1;
    }



    .container {
      position: relative;
      width: 50%;
    }

    .container img {
      width: 100%;
      height: auto;
    }

      .container .ing_btn{
    position: absolute;
    top: 13%;
    left: 13%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    padding: 12px 0px;
    height: 10%;
    width: 15%;
    cursor: pointer;
    border-radius: 2.5px;
    font-family: NotoSansCJKkr;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    background-color: #5c59b6;
  }

  .container .ing_btn:hover{
    background-color: black;
  }


    .container .deadline_btn{
  position: absolute;
  top: 13%;
  left: 13%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 11px;
  padding: 12px 24px;
  height: 10%;
  width: 15%;
  border: none;
  cursor: pointer;
  border-radius: 2.5px;
  font-family: NotoSansCJKkr;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  background-color: #000000 ;
  }

  .container .deadline_btn:hover{
  background-color: black;
  }
  .imagetitle{
  width: 122.5px;
  height: 22.5px;
  font-family: NotoSansCJKkr;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #292929;
  }

   .right_align{
    text-align: right;
    width: 27.5px;
    height: 15px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #939393;


   }

  .sub{
    width: 239.5px;
    height: 19px;
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #939393;
  }

}
