page-care-zone {


      .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        margin-bottom: -0.5%;
        height: 1px;
      }

      .toolbar-md{
        min-height: 55px;
        margin-bottom: -2%;
        padding-bottom: 5%;
      }
      .toolbar-ios{
        margin-top: 8%;
      }
      .toolbar-title-md{
        font-weight: bold;
        font-size: 17px;
        background-color: #FFF;
        font-family: NotoSansCJKkr;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        margin-top: 2%;
      }
      .toolbar-title-ios{
        font-weight: bold;
        font-size: 17px;
        background-color: #FFF;
        font-family: NotoSansCJKkr;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #292929;
        margin-top: -12%;
      }
      .toolbar-title-ios{
        font-weight: bold;
        font-size: 17px;
        background-color: #FFF;
      }

      .toolbar-background {
        background-color: #FFF;
      }
      .ion-md-arrow-back:before{
        content: "";
      }
      .ion-ios-arrow-back:before{
        content: "";
      }
      .back-button.show-back-button{
        display: none;
      }
      // .title{
      //   position: absolute;
      //   left: 50%;
      //   top: 0;
      //   height: 100%;
      //   width: 80%;
      //   font-family: NotoSansCJKkr;
      //   font-size: 17px;
      //   font-weight: bold;
      //   font-style: normal;
      //   font-stretch: normal;
      //   line-height: normal;
      //   letter-spacing: normal;
      //   text-align: center;
      //   color: #292929;
      // }
    .profile-img {
      width: 60px;
      height: 60px;
      object-fit: contain;
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align: center;
      background-color: #ffffff;
      margin-top: 3%;
      margin-bottom: 0%;
    }

      .top-text{
        margin-left:auto;
        margin-right: auto;
        font-family: NotoSansCJKkr;
        font-size: 16px;
        font-weight: normal;
        display: inline;
        line-height: 1.41;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        font-weight: bold;
        color: #5c59b6;
    }

    .top-text2{
      margin-left:auto;
      margin-right: auto;
      font-family: NotoSansCJKkr;
      font-size: 16px;
      font-weight: normal;
      display: inline;
      line-height: 1.41;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #292929;
    }

    .button_outline{
      margin-left:auto;
      margin-right: auto;
      display: block;
      border: solid 0.5px #c7c7c7;
      border-radius: 4px;
      background-color:#FFF;
      width: 99%;
      height: 50px;
      font-family: NotoSansCJKkr;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #292929;
      margin-bottom: 80px;
      box-shadow: none;
      margin-bottom: 18%;
      margin-top: 4%;
    }

    .imagealign{
      margin-left: auto;
      margin-right: auto;
      display: block;
      border-radius: 5px;
      background-color: #e2e1e6;
    }

    .container {
      position: relative;
      width: 50%;
    }

    .container img {
      width: 100%;
      height: auto;
    }


      .container .carezon_btn1_1{
    position: absolute;
    top: 12%;
    left: 12%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    padding: 12px 0px;
    height: 5%;
    width: 16%;
    cursor: pointer;
    border-radius: 2.5px;
    font-family: NotoSansCJKkr;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    background-color: #5c59b6;
  }

  // .container .carezon_btn1_1:hover{
  //   background-color: 5c59b6;
  // }


  .container .carezon_status1_1{
position: absolute;
top: 12%;
left: 30%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
color: white;
padding: 12px 0px;
height: 5%;
width: 16%;
cursor: pointer;
border-radius: 2.5px;
font-family: NotoSansCJKkr;
font-size: 11px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
}

// .container .carezon_status1_1:hover{
// background-color: 5c59b6;
// }


.container .carezon_status1_2{
position: absolute;
top: 12%;
left: 30%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
color: white;
padding: 12px 0px;
height: 5%;
width: 16%;
cursor: pointer;
border-radius: 2.5px;
font-family: NotoSansCJKkr;
font-size: 11px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
background-color: #FF0000;
-webkit-animation: button_twinkle 7s ease-in-out infinite;
-moz-animation: button_twinkle 1s ease-in-out infinite;
-o-animation: button_twinkle 1s ease-in-out infinite;
  animation: button_twinkle 1s ease-in-out infinite;
}

.container .carezon_status1_2:hover{
background-color: #FF0000;
}

@-webkit-keyframes button_twinkle {
  0%   { opacity: 1; }
  30%  { opacity: 0; }
  40%  { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes button_twinkle {
  0%   { opacity: 1; }
  30%  { opacity: 0; }
  40%  { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes button_twinkle {
  0%   { opacity: 1; }
  30%  { opacity: 0; }
  40%  { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes button_twinkle {
  0%   { opacity: 1; }
  30%  { opacity: 0; }
  40%  { opacity: 0; }
  100% { opacity: 1; }
}



  .imagetitle{
  width: 122.5px;
  height: 22.5px;
  font-family: NotoSansCJKkr;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #292929;
  margin-top: 1%;
  }

   .right_align{
    width: 27.5px;
    height: 15px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #939393;
    margin-top: 1%;


   }

  .sub{
    width: 239.5px;
    height: 19px;
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #939393;
    margin-top: 1%;
  }

}
