<ion-content>
  <ng-container>
    <ion-grid class="delivery_grid">
      <div class="close_div">
        <ion-img *ngIf="platform.is('android')" class="ic-system-back-black" (click)="measureBack()"
          src="assets/img/ic-system-close-black/ic-system-close-black@3x.png"></ion-img>
        <ion-img *ngIf="platform.is('ios') || platform.is('core')" class="ic-system-back-black_ios"
          (click)="measureBack()" src="assets/img/ic-system-close-black/ic-system-close-black@3x.png"></ion-img>
      </div>
      <br />
      <ion-row>
        <div class="font_title">배송 조회</div>
      </ion-row>
      <ion-row>
        <div *ngIf="invoiceData" class="delivery_co">
          CJ대한통운 ｜ <span>운송장 {{invoiceData.invoiceNo}}</span>
        </div>
      </ion-row>
      <br /><br />
      <ion-row style="text-align: center">
        <ng-container *ngIf="(detailData2.status === 'status_ready' || detailData2.status === 'paid' )">
          <ion-col col-3>
            <img class="delivery-img" src="assets/img/delivery-white/729@3x.png" />
            <div class="delivery_desc_title_white">주문확인중&nbsp;</div>
          </ion-col>
        </ng-container>
        <ng-container *ngIf="!(detailData2.status === 'status_ready' || detailData2.status === 'paid' )">
          <ion-col col-3>
            <img class="delivery-img" src="assets/img/delivery/729@3x.png" />
            <div class="delivery_desc_title">주문확인중&nbsp;</div>
          </ion-col>
        </ng-container>
        <ng-container *ngIf="(detailData2.status === 'deliver_ready')">
          <ion-col col-3>
            <img class="delivery-img2" src="assets/img/delivery-white/shape-17@3x.png" />
            <div class="delivery_desc_title2_white">배송준비중&nbsp;</div>
          </ion-col>
        </ng-container>
        <ng-container *ngIf="!(detailData2.status === 'deliver_ready')">
          <ion-col col-3>
            <img class="delivery-img2" src="assets/img/delivery/shape-17@3x.png" />
            <div class="delivery_desc_title2">배송준비중&nbsp;</div>
          </ion-col>
        </ng-container>
        
        <ion-col col-3 *ngIf="invoiceData">
          <ng-container *ngIf="(5 >= invoiceData.level)">
            <img class="delivery-img3" src="assets/img/delivery-white/shape-18@3x.png" />
            <div class="delivery_desc_title3_white">배송중&nbsp;</div>
          </ng-container>
          <ng-container *ngIf="(invoiceData.level > 5)">
            <img class="delivery-img3" src="assets/img/delivery/shape-18@3x.png" />
            <div class="delivery_desc_title3">배송중&nbsp;</div>
          </ng-container>
          <ng-container *ngIf="(invoiceData.status === false)">
            <img class="delivery-img3" src="assets/img/delivery/shape-18@3x.png" />
            <div class="delivery_desc_title3">배송중&nbsp;</div>
          </ng-container>
        </ion-col>
        <ion-col col-3 *ngIf="!invoiceData">
          <img class="delivery-img3" src="assets/img/delivery/shape-18@3x.png" />
          <div class="delivery_desc_title3">배송중&nbsp;</div>
        </ion-col>
        <ion-col *ngIf="invoiceData" col-3>
          <ng-container *ngIf="(invoiceData.level == 6)">
            <img class="delivery-img4" src="assets/img/delivery-white/689@3x.png" />
            <div class="delivery_desc_title4_white">배송완료&nbsp;</div>
          </ng-container>
          <ng-container *ngIf="(invoiceData.level != 6)">
            <img class="delivery-img4" src="assets/img/delivery/689@3x.png" />
            <div class="delivery_desc_title4">배송완료&nbsp;</div>
          </ng-container>
        </ion-col>
        <ion-col *ngIf="!invoiceData" col-3>
            <img class="delivery-img4" src="assets/img/delivery/689@3x.png" />
            <div class="delivery_desc_title4">배송완료&nbsp;</div>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-container *ngIf="invoiceData">
    <ng-container *ngIf="invoiceData.status === false">
      <br><br><br><br>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col>
              <div text-center>
                  동일한 운송장의 하루 요청건수를 초과하였습니다.
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br><br><br>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="isNoData">
    <br><br><br><br>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col>
            <div text-center>
                주문하신 상품을 확인 중입니다.
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br><br><br><br>
  </ng-container>

  <ng-container *ngIf="!isNoData">
    <ion-grid class="grid_backColor2">
      <br /><br /><br />
      <ion-list>
        <ng-container *ngIf="trackingDetails">
        <ng-container *ngFor="let invoice of trackingDetails; let i = index;">
          <ion-row>
            <ng-container *ngIf="trackingDetails.length !== (i+1)">
              <ion-icon ios="ios-radio-button-on" md="md-radio-button-on" class="delivery_icon2"></ion-icon>
              <ion-col class="caution2" no-padding>
                <span class="delivery_text">{{invoice.timeString}}</span>
              </ion-col>
              <ion-col class="delivery_lctn2" no-padding>{{invoice.where}}</ion-col>
              <ion-col class="delivery_lctn2" no-padding>{{invoice.kind}}</ion-col>
              <br><br><br>
            </ng-container>
            <ng-container *ngIf="invoiceData.trackingDetails.length === (i+1)">
              <ion-icon ios="ios-radio-button-on" md="md-radio-button-on" class="delivery_icon"></ion-icon>
              <ion-col class="caution" no-padding>
                <span class="delivery_text1">{{invoice.timeString}}</span>
              </ion-col>
              <ion-col class="delivery_lctn" no-padding>{{invoice.where}}</ion-col>
              <ion-col class="delivery_lctn" no-padding>{{invoice.kind}}</ion-col>
              <br><br><br>
            </ng-container>
          </ion-row>
        </ng-container>
      </ng-container>
        
      </ion-list>
      <br>
    </ion-grid>
  </ng-container>


  <button class="cell" ion-button (click)="kakaoChat();">
    카카오 1:1 상담 바로가기
  </button>
  <br /><br />
</ion-content>
