<!--
  Generated template for the SungwooCosmeticsMainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- <ion-header no-lines>

  <ion-navbar  *ngIf="platform.is('android')" no-lines>
    <img class="android_search" style="right:5%" (click)="community_search()"
    src="assets/img/beauty/ic-system-search@3x.png" />
    <ion-title class="android_title" text-wrap >뷰티 영상</ion-title>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios') || platform.is('core')" no-lines>
    <img class="ios_search" (click)="community_search()" src="assets/img/beauty/ic-system-search@3x.png" />
    <ion-buttons left>
  		<button ion-button navPop icon-only>
        <img class="ios_nav"src="assets/img/agreement/ic-system-back-black@3x.png"/>
  		</button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>뷰티 영상</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-header>

  <ion-navbar *ngIf="platform.is('android') || platform.is('core')" no-lines>
    <img class="android_search" style="right:5%" (click)="community_search()"
    src="assets/img/beauty/ic-system-search@3x.png" />
    <ion-buttons (click)="chartguide()" left>
      <button class="guide_android">이용안내</button>
    </ion-buttons>
    <ion-title class="android_title" text-wrap>화장품</ion-title>
    <div class="android_search" style="right: 7%;">
    </div>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios')" no-lines>
    <img class="ios_search" (click)="community_search()" src="assets/img/beauty/ic-system-search@3x.png" />
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only>
      </button>
    </ion-buttons>
    <ion-buttons (click)="chartguide()" left>
      <button class="guide_ios">
        이용안내
      </button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>화장품</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ng-container>

    <ion-row>
      <img class="main_img" src="assets/img/sungwoo_img/상단 배너@3x.png"/>
    </ion-row>

    <ion-grid class="planning_title_grid">
      <ion-row (click)="openCommunityTab1()" class="planning_title">
        기획전 상품
        <div>
          <img class="product_arrow" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
        </div>
      </ion-row>
      <ion-row class="planning_text">
        선크림부터 화이트닝 제품까지, 여름 화장품 3대장
      </ion-row>
    </ion-grid>

    <ion-slides class="slide_div">
      <ion-slide>
        <ion-grid class="planning_grid">
          <ion-row class="planning_product">
            <ion-col class="planning_div">
              <img class="planning_img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/BA100000826.jpg">
              <ion-row class="planning_text_div">
                <p class="planning_desc"><span class="planning_desc_title">라네즈&nbsp;</span></p>
                <div class="planning_post">레디언-C 크림&nbsp;</div>
                <div class="planning_border"><span class="planning_border_text">최대 50% 포인트</span></div>
              </ion-row>
            </ion-col>
          
            <ion-col class="planning_div2">
              <img class="planning_img2" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/HA100000831.jpg">
              <ion-row class="planning_text_div2">
                <p class="planning_desc2"><span class="planning_desc_title">아리따움&nbsp;</span></p>
                <div class="planning_post2">프레시 파워 에센스 퍼펙팅 래스트 파운데이션&nbsp;</div>
                <div class="planning_border2"><span class="planning_border_text2">최대 50% 포인트</span></div>
              </ion-row>
            </ion-col>    

            <ion-col class="planning_div3">
              <img class="planning_img3" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/BA100000828.jpg">
              <ion-row class="planning_text_div3">
                <p class="planning_desc3"><span class="planning_desc_title">구달&nbsp; </span></p>
                <div class="planning_post3">청귤 비타C 잡티세럼&nbsp;</div>
                <div class="planning_border3"><span class="planning_border_text3">최대 30% 포인트</span></div>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>

    <div style="height:1.2vh; width:100vw; background-color:#f1f1f1"></div>

    <ion-grid class="merchandiser_title_grid">
      <ion-row (click)="openCommunityTab1()" class="merchandiser_title">
        MD 추천 상품
        <img class="product_arrow" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
      </ion-row>
      <ion-row class="merchandiser_text">
          플리닉에서 엄선한 화장품을 특가로 제공
      </ion-row>
    </ion-grid>

    <ion-slides class="slide_div2">
      <ion-slide>
        <ion-grid class="merchandiser_grid">
          <ion-row class="merchandiser_product">
            <ion-col class="merchandiser_div">
              <img class="merchandiser_img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/BA100000639.jpg">
              <ion-row class="merchandisesr_text_div">
                <p class="merchandiser_desc"><span class="merchandiser_desc_title">라네즈&nbsp;</span></p>
                <div class="merchandiser_post">레디언-C 크림&nbsp;</div>
                <div class="merchandiser_border"><span class="merchandiser_border_text">최대 50% 포인트</span></div>
              </ion-row>
            </ion-col>
          
            <ion-col class="merchandiser_div2">
              <img class="merchandiser_img2" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/KA100000640.jpg">
              <ion-row class="merchandisesr_text_div2">
                <p class="merchandiser_desc2"><span class="merchandiser_desc_title">아리따움&nbsp;</span></p>
                <div class="merchandiser_post2">프레시 파워 에센스 퍼펙팅 래스트 파운데이션&nbsp;</div>
                <div class="merchandiser_border2"><span class="merchandiser_border_text2">최대 50% 포인트</span></div>
              </ion-row>
            </ion-col>

            <ion-col class="merchandiser_div3">
              <img class="merchandiser_img3" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/KA100000641.jpg">
              <ion-row class="merchandisesr_text_div3">
                <p class="merchandiser_desc3"><span class="merchandiser_desc_title">구달&nbsp; </span></p>
                <div class="merchandiser_post3">청귤 비타C 잡티세럼&nbsp;</div>
                <div class="merchandiser_border3"><span class="merchandiser_border_text3">최대 50% 포인트</span></div>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
    

    <div style="height:0.8vh; width:100vw; background-color:#f1f1f1"></div>

  </ng-container>

  <ng-container>
    <ion-grid class="grid_backColor">
      <ion-grid class="card_title_grid">
          <ion-row class="card_title">화장품 효능별 모아보기</ion-row>
          <ion-row class="card_mini">효능 집중 관리를 위한 성분 분석</ion-row>
      </ion-grid>
   
      <ion-grid class="card_grid">
        <ion-card class="card">
          <ion-grid no-padding>
            <ion-row>
              <ion-col class="card_kind" col-7>
                보습
                <img class="card_arrow" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
                <div class="card_text">스킨케어 기초! 보습 효능 화장품</div>
              </ion-col>
              <ion-col col-5>
                <img class="card_img" src="assets/img/sungwoo_img/woman@3x.png" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

        <!-- <ion-card class="card">
          <ion-grid class="card_efficacy_grid" no-padding>
            <ion-row class="card_kind">
              보습
              <img class="card_arrow" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
            </ion-row>
            <ion-row class="card_text">
              스킨케어 기초! 보습 효능 화장품
            </ion-row>
            <ion-row class="card_img">
              <img  src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/BA100000764.jpg" />
            </ion-row>
          </ion-grid>
        </ion-card> -->
        
        <ion-card class="card">
          <ion-grid no-padding>
            <ion-row>
              <ion-col class="card_kind" col-7>
                미백
                <img class="card_arrow" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
                <div class="card_text">화이트닝으로 피부를 맑게하는 화장품</div>
              </ion-col>
              <ion-col col-5>
                <img class="card_img" src="assets/img/sungwoo_img/p@3x.png" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

        <ion-card class="card">
          <ion-grid no-padding>
            <ion-row>
              <ion-col class="card_kind" col-7>
                주름/재생
                <img class="card_arrow" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
                <div class="card_text">주름 활성화를 늦추는 화장품</div>
              </ion-col>
              <ion-col col-5>
                <img class="card_img" src="assets/img/sungwoo_img/group-1@3x.png" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

        <ion-card class="card">
          <ion-grid no-padding>
            <ion-row>
              <ion-col class="card_kind" col-7>
                차단/커버
                <img class="card_arrow" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
                <div class="card_text">자외선을 차단하는 차단 화장품</div>
              </ion-col>
              <ion-col col-5>
                <img class="card_img" src="assets/img/sungwoo_img/group-6@3x.png" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-grid>
    </ion-grid>
  </ng-container>

  <div style="height:1.2vh; width:100vw; background-color:#f1f1f1"></div>

  <ng-container>
    <ion-grid class="new_product">
      <ion-grid class="new_product_grid">
        <ion-row (click)="openCommunityTab1()" class="new_title">
          신규 입점 상품
          <img class="new_arrow" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
        </ion-row>
        <ion-row class="new_text">
          플리닉에서 엄선한 화장품을 특가로 제공
        </ion-row>
      </ion-grid>

      <ion-slides class="new_product_slide" pager loop=true>
        <ion-slide>
          <img class="new_img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/NA100000771.jpg">
          <ion-row class="new_div">
            <ion-col class="new_desc" col-8>
              <div class="new_name">플리닉&nbsp;</div>
              <div class="new_post">프리즘 이펙트 컨센트레이트 크림</div>
            </ion-col>
            <ion-col class="new_point_div" col-3>
              <span class="new_point_text">최대 50% 포인트</span>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </ion-grid>
  </ng-container>

  <div style="height:1.2vh; width:100vw; background-color:#f1f1f1"></div>

  <ng-container>
    <ion-grid class="pplrt_product">
      <ion-grid class="pplrt_product_grid">
        <ion-row (click)="openCommunityTab1()" class="pplrt_title">
          실시간 인기 상품
          <img class="pplrt_arrow" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
        </ion-row>
        <ion-row class="pplrt_text">
          플리닉에서 엄선한 화장품을 특가로 제공
        </ion-row>
      </ion-grid>

      <ion-list style="margin:0 auto;">
        <ng-container>
          <ion-row class="list_div">
            <img class="cosmetics_img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/KA100000641.jpg">
            <ion-row class="cosmetics_container">
              <div class="cosmetics_nickname">구달</div>
              <div class="cosmetics_product" text-wrap>청귤 비타C 잡티세럼</div>
              <div class="count_container">
                <ion-col class="cosmetics_text" col-6 no-padding>리뷰<span class="cosmetics_num">24</span></ion-col>
                <ion-col class="cosmetics_text" col-6 no-padding>좋아요<span class="cosmetics_num">128</span></ion-col>
              </div>
            </ion-row>
            <button ion-button class="cosmetics_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);">보기</button>
          </ion-row>
        </ng-container>

        <div style="height:1px; width:100%; display: block; background-color:#f1f1f1"></div>

        <ng-container>
          <ion-row class="list_div">
            <img class="cosmetics_img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/PA100000766.jpg">
            <ion-row class="cosmetics_container">
              <div class="cosmetics_nickname">구달</div>
              <div class="cosmetics_product" text-wrap>컨센트레이트 크림</div>
              <div class="count_container">
                <ion-col class="cosmetics_text" col-6 no-padding>리뷰<span class="cosmetics_num">7</span></ion-col>
                <ion-col class="cosmetics_text" col-6 no-padding>좋아요<span class="cosmetics_num">84</span></ion-col>
              </div>
            </ion-row>
            <button ion-button class="cosmetics_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);">보기</button>
          </ion-row>
        </ng-container>

        <div style="height:1px; width:100%; display: block; background-color:#f1f1f1"></div>

        <ng-container>
          <ion-row class="list_div">
            <img class="cosmetics_img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/KA100000929.jpg">
            <ion-row class="cosmetics_container">
              <div class="cosmetics_nickname">라네즈</div>
              <div class="cosmetics_product" text-wrap>레디언-C크림</div>
              <div class="count_container">
                <ion-col class="cosmetics_text" col-6 no-padding>리뷰<span class="cosmetics_num">-</span></ion-col>
                <ion-col class="cosmetics_text" col-6 no-padding>좋아요<span class="cosmetics_num">-</span></ion-col>
              </div>
            </ion-row>
            <button ion-button class="cosmetics_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);">보기</button>
          </ion-row>
        </ng-container>

        <div style="height:1px; width:100%; display: block; background-color:#f1f1f1"></div>

      </ion-list>
    </ion-grid>
  </ng-container>

</ion-content>
