<!--
  Generated template for the SungwooCosmeticsMainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- <ion-header no-lines>

  <ion-navbar  *ngIf="platform.is('android')" no-lines>
    <img class="android_search" style="right:5%" (click)="community_search()"
    src="assets/img/beauty/ic-system-search@3x.png" />
    <ion-title class="android_title" text-wrap >뷰티 영상</ion-title>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios') || platform.is('core')" no-lines>
    <img class="ios_search" (click)="community_search()" src="assets/img/beauty/ic-system-search@3x.png" />
    <ion-buttons left>
  		<button ion-button navPop icon-only>
        <img class="ios_nav"src="assets/img/agreement/ic-system-back-black@3x.png"/>
  		</button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>뷰티 영상</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-header>

  <ion-navbar *ngIf="platform.is('android') || platform.is('core')" no-lines>
    <img class="android_search" style="right:5%" (click)="community_search()"
    src="assets/img/beauty/ic-system-search@3x.png" />
    <ion-buttons (click)="chartguide()" left>
      <button class="guide_android">이용안내</button>
    </ion-buttons>
    <ion-title class="android_title" text-wrap>화장품</ion-title>
    <div class="android_search" style="right: 7%;">
    </div>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios')" no-lines>
    <img class="ios_search" (click)="community_search()" src="assets/img/beauty/ic-system-search@3x.png" />
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only>
      </button>
    </ion-buttons>
    <ion-buttons (click)="chartguide()" left>
      <button class="guide_ios">
        이용안내
      </button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>화장품</ion-title>
    

  </ion-navbar>
</ion-header>


<ion-content>

  <ng-container>
    <ion-row>
      <img width="360vw" height="226vh" src="assets/img/skin-chek-chart/youtube1.png"/>
    </ion-row>

    <ion-grid class="planning">
      <ion-row>
        <ion-col (click)="openCommunityTab1()" class="planning_title left-margin">
          기획전 상품
          <img class="ic-system-arrow-grey_white" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
          <div class="planning_text">
            선크림부터 화이트닝 제품까지, 여름 화장품 3대장
          </div>
        </ion-col>
      </ion-row>

      <ion-slides>
        <ion-slide >
        <div class="planning_product">
        <img class="planning_img" src="assets/img/skin-chek-chart/product1.png">
        <p class="planning_desc"><span class="planning_desc_title">라네즈&nbsp;</span></p>
        <div class="planning_post">레디언-C 크림</div>
        <div class="planning_point">최대 50% 포인트</div>

        </div>
        
        <div class="planning_product">
        <img class="planning_img" src="assets/img/skin-chek-chart/product2.png">
        <p class="planning_desc"><span class="planning_desc_title">아리따움&nbsp;</span></p>
        <div class="planning_post">프레시 파워 에센스 퍼펙팅 래스트 파운데이션</div>
        <div class="planning_point">최대 50% 포인트</div>

        </div>    

        <div class="planning_product">
        <img class="planning_img" src="assets/img/skin-chek-chart/product3.png">
        <p class="planning_desc"><span class="planning_desc_title">구달&nbsp; </span></p>
        <div class="planning_post">청귤 비타C 잡티세럼</div>
        <div class="planning_point">최대 30% 포인트</div>

        </div>
    
    </ion-slide>
    </ion-slides>
    </ion-grid>

    <ion-row>
      <div style="height:1.3vh; width:100vw; margin-top: 5.6vh; background-color:#f1f1f1"></div>
    </ion-row>


    <ion-grid class="merchandiser">
      <ion-row>
        <ion-col (click)="openCommunityTab1()" class="merchandiser_title left-margin">
          MD 추천 상품
          <img class="ic-system-arrow-grey_white" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
          <div class="merchandiser_text">
            플리닉에서 엄선한 화장품을 특가로 제공
          </div>
        </ion-col>
      </ion-row>

      <ion-slides>
        <ion-slide >
        <div class="merchandiser_product">
        <img class="merchandiser_img" src="assets/img/skin-chek-chart/product4.png">
        <p class="merchandiser_desc"><span class="merchandiser_desc_title">라네즈&nbsp;</span></p>
        <div class="merchandiser_post">레디언-C 크림</div>
        <div class="merchandiser_point">최대 50% 포인트</div>

        </div>
        
        <div class="merchandiser_product">
        <img class="merchandiser_img" src="assets/img/skin-chek-chart/youtube2.png">
        <p class="merchandiser_desc"><span class="merchandiser_desc_title">아리따움&nbsp;</span></p>
        <div class="merchandiser_post">프레시 파워 에센스 퍼펙팅 래스트 파운데이션</div>
        <div class="merchandiser_point">최대 50% 포인트</div>

        </div>    

        <div class="merchandiser_product">
        <img class="merchandiser_img" src="assets/img/skin-chek-chart/youtube3.png">
        <p class="merchandiser_desc"><span class="merchandiser_desc_title">구달&nbsp; </span></p>
        <div class="merchandiser_post">청귤 비타C 잡티세럼</div>
        <div class="merchandiser_point">최대 50% 포인트</div>

        </div>
    
    </ion-slide>
    </ion-slides>
    </ion-grid>

    <ion-row>
      <div style="height:0.8vh; width:100vw; margin-top: 7.4vh; background-color:#f1f1f1"></div>
    </ion-row>

  </ng-container>

  <ng-container>
    <ion-grid class="grid_backColor">
      <ion-row class="title_all">
        <ion-row>
            <ion-label class="card_title">화장품 효능별 모아보기</ion-label>
        </ion-row>
        <ion-row>
            <ion-col class="card_mini">효능 집중 관리를 위한 성분 분석</ion-col>
        </ion-row>
      </ion-row>

        <ion-card class="card">
          <ion-grid no-padding>
            <ion-row>
              <ion-col class="card_kind" col-7>
                보습
                <img class="ic-system-arrow-grey_white" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
                <div class="card_text">스킨케어 기초! 보습 효능 화장품</div>
              </ion-col>
              <ion-col col-5>
                <img class="boseub_img" src="assets/img/sungwoo_img/보습.png" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

        <ion-card class="card">
          <ion-grid no-padding>
            <ion-row>
              <ion-col class="card_kind" col-7>
                미백
                <img class="ic-system-arrow-grey_white" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
                <div class="card_text">화이트닝으로 피부를 맑게하는 화장품</div>
              </ion-col>
              <ion-col col-5>
                <img class="mibaeg_img" src="assets/img/sungwoo_img/미백.png" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

        <ion-card class="card">
          <ion-grid no-padding>
            <ion-row>
              <ion-col class="card_kind" col-7>
                주름/재생
                <img class="ic-system-arrow-grey_white" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
                <div class="card_text">주름 활성화를 늦추는 화장품</div>
              </ion-col>
              <ion-col col-5>
                <img class="wrinkle_img" src="assets/img/sungwoo_img/주름_재생.png" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

        <ion-card class="card">
          <ion-grid no-padding>
            <ion-row>
              <ion-col class="card_kind" col-7>
                차단/커버
                <img class="ic-system-arrow-grey_white" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
                <div class="card_text">주름 활성화를 늦추는 화장품</div>
              </ion-col>
              <ion-col col-5>
                <img class="chadan_img" src="assets/img/sungwoo_img/차단_커버.png" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
    </ion-grid>

  </ng-container>

  <ion-row>
    <div style="height:1vh; width:100vw; background-color:#f1f1f1"></div>
  </ion-row>

  <ng-container>

    <ion-grid class="new_product">
      <ion-row>
        <ion-col (click)="openCommunityTab1()" class="new_title left-margin">
          신규 입점 상품
          <img class="ic-system-arrow-grey_white" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
          <div class="new_text">
            플리닉에서 엄선한 화장품을 특가로 제공
          </div>
        </ion-col>
      </ion-row>

      <ion-slides pager loop=true>
        <ion-slide>
        <div class="new_product_slide">
        <img class="new_img" src="assets/img/order/order_img.jpg">
        <div class="new_div">
        <p class="new_desc"><span class="new_desc_title">플리닉&nbsp;</span></p>
        <div class="new_post">프리즘 이펙트 컨센트레이트 크림</div>
        <div class="new_point">최대 50% 포인트</div>
        </div>
        </div>
    </ion-slide>
    </ion-slides>
    </ion-grid>

</ng-container>

  <ion-row>
    <div style="height:1vh; width:100vw; margin-top:4.4vh; background-color:#f1f1f1"></div>
  </ion-row>

  <ng-container>

    <ion-grid>
      <div class="pplrt_all">
      <ion-row>
        <ion-col (click)="openCommunityTab1()" class="pplrt_title left-margin">
          실시간 인기 상품
          <img class="ic-system-arrow-grey_white" src="assets/img/sungwoo_img/ic-system-arrow-grey@3x.png" />
          <div class="pplrt_text">
            플리닉에서 엄선한 화장품을 특가로 제공
          </div>
        </ion-col>
      </ion-row>
    </div>


      <ion-list>
          <ng-container>
            <img class="pplrt_img" src="assets/img/order/order_img.jpg">
            <ng-container>
              <button ion-button class="pplrt_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);">보기</button>
            </ng-container>
            <div class="pplrt_container">
              <div class="pplrt_nickname">구달</div>
            <ng-container>
              <div class="pplrt_product" text-wrap>청귤 비타C 잡티세럼</div>
            </ng-container>
            <div class="like_container">
            <ion-col class="pplrt_comment" col-6>리뷰<span class="comment_count">24</span></ion-col>
            <ion-col class="pplrt_like" col-6>좋아요<span class="comment_count">128</span></ion-col>
            </div>
          </div>
          </ng-container>
          <div style="height:1px; width:100%; display: block; margin-top:4vh; margin-bottom:4.5vh; background-color:#f1f1f1"></div>


          <ng-container>
            <img class="pplrt_img" src="assets/img/order/order_img.jpg">
            <ng-container>
              <button ion-button class="pplrt_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);">보기</button>
            </ng-container>
            <div class="pplrt_container">
              <div class="pplrt_nickname">구달</div>
            <ng-container>
              <div class="pplrt_product" text-wrap>컨센트레이트 크림</div>
            </ng-container>
            <div class="like_container">
            <ion-col class="pplrt_comment" col-6>리뷰<span class="comment_count">7</span></ion-col>
            <ion-col class="pplrt_like" col-6>좋아요<span class="comment_count">84</span></ion-col>
            </div>
          </div>
          </ng-container>
          <div style="height:1px; width:100%; display: block; margin-top:4vh; margin-bottom:4.5vh; background-color:#f1f1f1"></div>


          <ng-container>
            <img class="pplrt_img" src="assets/img/order/order_img.jpg">
            <ng-container>
              <button ion-button class="pplrt_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);">보기</button>
            </ng-container>
            <div class="pplrt_container">
              <div class="pplrt_nickname">라네즈</div>
            <ng-container>
              <div class="pplrt_product" text-wrap>레디언-C크림</div>
            </ng-container>
            <div class="like_container">
            <ion-col class="pplrt_comment" col-6>리뷰<span class="comment_count">-</span></ion-col>
            <ion-col class="pplrt_like" col-6>좋아요<span class="comment_count">-</span></ion-col>
            </div>
          </div>
          </ng-container>
          <div style="height:1px; width:100%; display: block; margin-top:4vh; margin-bottom:4.5vh; background-color:#f1f1f1"></div>

      </ion-list>

      

    </ion-grid>

</ng-container>




</ion-content>
