page-sungwoo-cosmetics-main {
  .header-md::after,
  .tabs-md[tabsPlacement="top"]>.tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
    height: 0px;
    margin-bottom: 5px;
  }

  .item-md.item-block .item-inner {
    padding-right: 12px;
  }

  .header-ios::after,
  .tabs-ios[tabsPlacement="top"]>.tabbar::after,
  .footer-ios::before,
  .tabs-ios[tabsPlacement="bottom"]>.tabbar::before {
    height: 1px;
    margin-bottom: 5px;
  }

  .item-ios.item-block .item-inner {
    padding-right: 12px;
  }

  .toolbar-title-md {
    font-weight: bold;
    font-size: 17px;
    background-color: #FFF;
    font-family: AppleSDGothicNeo-Regular;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }

  .toolbar-title-ios {
    font-weight: bold;
    font-size: 17px;
    background-color: #FFF;
    font-family: AppleSDGothicNeo-Regular;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: -5%;
    color: #292929;
  }

  .bar-button-clear-ios-default,
  .bar-button-default-ios,
  .bar-button-default.bar-button-ios-default {
    margin-left: -15%;
    margin-top: -15%;
    color: transparent;
  }

  .ios_nav {
    background-color: #FFF;
    width: 140px !important;
    height: 25px !important;
    object-fit: contain;
  }

  .toolbar-background {
    background-color: #FFF;
  }

  .ion-md-arrow-back:before {
    position: absolute;
    content: "\f27d";
    left: 10%;
    top: 2px;
    width: 25px;
    height: 25px;
  }

  .toolbar-ios {
    margin-top: 8%;
  }

  .back-button-text-ios {
    font-size: 0;
  }

  .android_title {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    color: #292929;
  }

  .ios_title {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 120%;
    color: #292929;
    margin-top: 1%;
  }

  .guide_android {
    font-family: AppleSDGothicNeo-Regular;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292929;
    border-radius: 2px;
    border: solid 1px #f1f1f1;
    background-color: #ffffff !important;
    // box-shadow: none !important;
    height: 28px;
    position: relative;
    right: 80%;
  }

  .guide_ios {
    font-family: AppleSDGothicNeo-Regular;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292929;
    border-radius: 2px;
    border: solid 1px #f1f1f1;
    background-color: #ffffff !important;
    // box-shadow: none !important;
    height: 28px;
    position: relative;
    right: 80%;
  }

  .android_search {
    position: absolute;
    margin-top: -3%;
    right: 17%;
    width: 25px;
    height: 25px;
    object-fit: contain;
    z-index: 10;
  }

  .ios_search {
    position: relative;
    margin-top: -5%;
    right: 17%;
    width: 25px;
    height: 25px;
    object-fit: contain;
    z-index: 10;
    left: 30%;
  }

  .main_img {
    width: 100vw;
    height: 35.3vh;
  }

  .planning_all {
    height: 48vh;
  }

  .planning_title_grid, 
  .merchandiser_title_grid {
    display: flex;
    justify-content: flex-end;
    height: 14.2vh;
    width: calc(100vw - 8vw);
  }

  // 텍스트는 
  // display: flex;
  // justify-content: flex-end;
  // width: calc(100vw - 8vw);

  // 나머지는
  // display: flex;
  // justify-content:space-between;
  // width: calc(100vw - 5.5vw);


  .planning_title, 
  .merchandiser_title {
    font-family: AppleSDGothicNeo-Regular;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.72px;
    color: #202020;
  }

  .product_arrow {
    position: relative;
    width: 7vw;
    bottom: 0.3vh;
    object-fit: fill;
    display: -webkit-inline-box;
  }

  /* 삼성 갤럭시 탭 S3, 아이패드 적용 (해상도 768 ~ 1024) */
  @media all and (min-width:768px) and (max-width:1024px) { 
    .product_arrow {
      width: 4vw !important;
    }
  }

  /* 삼성 갤럭시 탭 S4 적용 (해상도 1138px ~)*/
  @media all and (min-width:1137px) { 
    .product_arrow {
      width: 2vw !important;
    }
  }

  .planning_text, 
  .merchandiser_text {
    font-size: 11.4px;
    font-family: AppleSDGothicNeo-Regular;
    letter-spacing: -0.56px;
    color: #6a6a6a;
  }

  .slide_div, .planning_grid {
    position: relative;
    left: 1.4vw;
    height: 33.5vh;
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 5.5vw);
    margin: 0;
  }

  .slide_div2, .merchandiser_grid {
    position: relative;
    left: 1.4vw;
    height: 35.6vh;
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 5.5vw);
    margin: 0;
  }

  /* 삼성 갤럭시 탭 S4 적용 (해상도 1138px ~)*/
  @media all and (min-width:1137px) { 
    .slide_div, .planning_grid,
    .slide_div2, .merchandiser_grid {
      height: 60.5vh;
    }
    .planning_post, .planning_post2, .planning_post3,
    .merchandiser_post, .merchandiser_post2, .merchandiser_post3 {
      width: 40vw;
    }

    .planning_img, .planning_img2, .planning_img3, 
    .merchandiser_img, .merchandiser_img2, .merchandiser_img3 {
      position: relative;
      right: 2vw;
      max-width: 24.57vw !important;
    }

    .planning_text_div, .planning_text_div2, .planning_text_div3, 
    .merchandisesr_text_div, .merchandisesr_text_div2, .merchandisesr_text_div3 {
      position: relative;
      left: 1vw;
    }
  }

  /* 삼성 갤럭시 탭 S3, 아이패드 적용 (해상도 768 ~ 1024) */
  @media all and (min-width:768px) and (max-width:1024px) { 
    .planning_text_div, .planning_text_div2, .planning_text_div3,
    .merchandisesr_text_div, .merchandisesr_text_div2, .merchandisesr_text_div3 {
      position: relative;
      left: 1vw !important;
    }
  }

  .planning_product, 
  .merchandiser_product {
    height: 26vh;
  }

  .planning_div, .planning_div2, .planning_div3, 
  .merchandiser_div, .merchandiser_div2, .merchandiser_div3 {
    width: 30.57vw;
  }

  .planning_img, .planning_img2, .planning_img3, 
  .merchandiser_img, .merchandiser_img2, .merchandiser_img3 {
    max-width: 28.57vw;
    border-radius: 5px;
    border: solid 0.5px #d2d2d2;
    background-color: #f5f5f5;
  }

  .planning_text_div, .planning_text_div2, .planning_text_div3, 
  .merchandiser_text_div, .merchandiser_text_div2, .merchandiser_text_div3 {
    display: flex;
    align-items: center;
  }

  .planning_desc, .planning_desc2, .planning_desc3, 
  .merchandiser_desc, .merchandiser_desc2, .merchandiser_desc3 {
    width: 40vw;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align: left;
    white-space:nowrap;
    font-family: AppleSDGothicNeo;
    font-size: 9px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.11;
    letter-spacing: -0.46px;
    color: #292929;
    margin: 0 auto;
  }

  .planning_post, .planning_post2, .planning_post3, 
  .merchandiser_post, .merchandiser_post2, .merchandiser_post3 { 
    overflow:hidden;
    text-overflow:ellipsis;
    text-align: left;
    white-space:nowrap;
    font-family: AppleSDGothicNeo;
    font-size: 10.8px;
    letter-spacing: -0.54px;
    color: #555555;
  }

  .planning_border, .planning_border2, .planning_border3, 
  .merchandiser_border, .merchandiser_border2, .merchandiser_border3 {
    position: relative;
    top: 1vh;
    width: 21vw;
    border-radius: 2.8px;
    background-color: #ebebeb;
    font-family: AppleSDGothicNeo;
    font-size: 7px;
    text-align: center;
    letter-spacing: -0.38px;
  }

  .planning_desc_title, 
  .merchandiser_desc_title {
    color: #6562b9;
  }

  // a {
  //   text-decoration:none;
  // }

  .grid_backColor {
    position: relative;
    width: 100vw;
    height: 94.1vh;
    background-color: #5c59b6;
  }

  .card_title_grid {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: calc(100vw - 8vw);
    height: 16.3vh;
  }

  .card_title {
    max-width: 50vw;
    // right: 0.5vw;
    font-family: AppleSDGothicNeo-Regular;
    font-size: 14.8px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.72px;
    text-align: left;
    color: #ffffff;
  }

  .card_mini {
    // position: relative;
    max-width: 60vw;
    // top: 0.4vh;
    // width: 50vw;
    font-size: 11.4px;
    font-family: AppleSDGothicNeo-Regular;
    line-height: 2.34;
    letter-spacing: -0.56px;
    color: #ffffff;
  }
  
  .card_grid {
    // position: relative;
    // top: 1.2vh;
    align-items: center;
    height: 70vh;
  } 

  .card {
    // position: relative;
    // bottom: 1.5vh;
    width: calc(100vw - 9vw);
    // text-align: left;
    border-radius: 5.7px;
    border: solid 1px #ebebeb;
    // display: flex;
    // justify-content: flex-end;
  }

  .card_kind {
    position: relative;
    top: 4vh;
    left: 7vw;
    font-family: AppleSDGothicNeo-Regular;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.2;
    letter-spacing: -0.98px;
    color: #575757;
    white-space: nowrap;
  }

  .card_arrow {
    position: relative;
    width: 7vw;
    top: 0.5vh;
    right: 3vw;
    object-fit: contain;
    display: -webkit-inline-box;
  }

  /* 삼성 갤럭시 탭 S3, 아이패드 적용 (해상도 768 ~ 1024) */
  @media all and (min-width:768px) and (max-width:1024px) { 
    .card_arrow {
      width: 4vw !important;
      top: 0.7vh;
      right: 1.5vw;
    }
  }

  /* 삼성 갤럭시 탭 S4 적용 (해상도 1138px ~)*/
  @media all and (min-width:1137px) { 
    .card_arrow {
      width: 2vw !important;
      right: 0.8vw;
    }
  }

  .card_text {
    // position: relative;
    // left: 0.5vw;
    width: 70vw;
    font-size: 11.4px;
    font-family: AppleSDGothicNeo-Regular;
    line-height: 2.31;
    letter-spacing: -0.56px;
    color: #6a6a6a;
  }

  .card_img {
    // align-self: ;
    justify-self: flex-end !important;
    height: 14.8vh;
    width: 27vw;
    float: right;
  }

  .new_product {
    width: 100vw;
    height: 85.5vh;
  }

  .new_product_grid {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: calc(100vw - 8vw);
    // position: relative;
    height: 18.5vh;
    // width: 80vw;
    top: 6.8vh;
    // left: 3vw;
  }

  .new_title {
    font-family: AppleSDGothicNeo-Regular;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.72px;
    color: #202020;
  }

  .new_arrow {
    position: relative;
    width: 7vw;
    bottom: 0.3vh;
    right: 1vw;
    object-fit: contain;
    display: -webkit-inline-box;
  }

  /* 삼성 갤럭시 탭 S3, 아이패드 적용 (해상도 768 ~ 1024) */
  @media all and (min-width:768px) and (max-width:1024px) { 
    .new_arrow {
      width: 4vw !important;
      left: 0.1vw;
    }
  }
  
  /* 삼성 갤럭시 탭 S4 적용 (해상도 1138px ~)*/
  @media all and (min-width:1137px) { 
    .new_arrow {
      width: 2vw !important;
      left: 0.1vw;
    }
  }

  .new_text {
    font-size: 11.4px;
    font-family: AppleSDGothicNeo-Regular;
    letter-spacing: -0.56px;
    color: #6a6a6a;
  }

  .new_product_slide {
    position: relative;
    height: 88vh;
    bottom: 16vh;
  }

  .new_img {
    position: relative;
    width: calc(100vw - 9vw);
    top: 9.5vh;
    height: 48vh;
    object-fit: contain;
    border-top-left-radius: 5.7px;
    border-top-right-radius: 5.7px;
    border: solid 0.5px #d2d2d2;
    background-color: #ffffff;
  }

  .new_div {
    position: relative;
    width: calc(100vw - 9vw);
    height: 9.8vh;
    top: 8.6vh;
    margin: 0 auto;
    text-align: left;
    border-bottom-right-radius: 5.7px;
    border-bottom-left-radius: 5.7px;
    // border-radius: 5.7px;
    background-color: #e4e4e4;  
  }

  .new_desc {
    position: relative;
    align-self: center;
    bottom: 0.3vh;
    left: 3vw;
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: AppleSDGothicNeo;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: -0.55px;
    color:  #6562b9;
  }

  .new_post { 
    white-space:nowrap;
    font-size: 14px;
    font-family: AppleSDGothicNeo-Regular;
    letter-spacing: -0.68px;
    color: #141414;
  }

  .new_point_div {
    position: absolute;
    right: 3.7vw;
    bottom: 2.2vh;
    float: right;
    height: 5.3vh;
    width: 12.5vw;
    border-radius: 2.8px;
    background-color: #ffffff;
    text-align: center;
    letter-spacing: -1.41px;
    font-size: 9px;
    font-weight: 500;
  }

  .new_point_text {
    position: absolute;
    width: 10vw;
    top: 0.6vh;
    left: 1vw;
    font-family: AppleSDGothicNeo;
  }

  /* 삼성 갤럭시 탭 S3, 아이패드 적용 (해상도 768 ~ 1024) */
  @media all and (min-width:768px) and (max-width:1024px) { 
    .new_point_text {
      top: 2vh;
    }
  }

  /* 삼성 갤럭시 탭 S4 적용 (해상도 1138px ~)*/
  @media all and (min-width:1137px) { 
    .new_point_text {
      top: 1.8vh;
      left: 1.4vw;
    }
  }

  .pplrt_product {
    width: 100vw;
    height: 80vh;
  }

  .pplrt_product_grid {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: calc(100vw - 8vw);
    height: 12.5vh;
    top: 1.8vh;
    margin-bottom: 3vh;
  }

  .pplrt_title {
    font-family: AppleSDGothicNeo-Regular;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.72px;
    color: #202020;
  }

  .pplrt_arrow {
    position: relative;
    width: 7vw;
    bottom: 0.3vh;
    right: 1vw;
    object-fit: contain;
    display: -webkit-inline-box;
  }

  /* 삼성 갤럭시 탭 S3, 아이패드 적용 (해상도 768 ~ 1024) */
  @media all and (min-width:768px) and (max-width:1024px) { 
    .pplrt_arrow {
      width: 4vw !important;
      left: 0.1vw;
    }
  }
    
  /* 삼성 갤럭시 탭 S4 적용 (해상도 1138px ~)*/
  @media all and (min-width:1137px) { 
    .pplrt_arrow {
      width: 2vw !important;
      left: 0.1vw;
    }
  }

  .pplrt_text {
    font-size: 11.4px;
    font-family: AppleSDGothicNeo-Regular;
    letter-spacing: -0.56px;
    color: #6a6a6a;
  }

  .list_div {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0.8vh;
    right: 2.4vw;
    width: 100vw;
    height: 17vh;
  }

  .cosmetics_img {
    position: relative;
    top: 2.7vh;
    left: 6.3vw;
    height: 9.8vh;
    width: 17.4vw;
    border: solid 0.5px #d2d2d2;
    border-radius: 5.7px;
  }

  .cosmetics_container {
    align-self: center;
    width: 53vw;
  }

  .cosmetics_nickname {
    width: 30vw;
    font-size: 10.4px;
    letter-spacing: -0.52px;
    color: #6562b9;
  }

  .cosmetics_product {
    width: 53vw;
    font-family: AppleSDGothicNeo-Regular;
    font-size: 13.3px;
    font-weight: bold;
    letter-spacing: -0.6px;
    color: #292929;
  }

  .count_container {
    // position: relative;
    // top: 1.8vh;
    // width: 30vw;
    // right: 1.5vw;
    letter-spacing: -0.5px;
    line-height: 3.55;
    font-size: 10.4px;
  }

  .cosmetics_text {
    font-family: AppleSDGothicNeo-Regular;
    color: #afafaf;
  }

  .cosmetics_num {
    color: #505050;
  }

  .cosmetics_btn {
    width: 11.6vw;
    height: 4vh;
    top: 4.2vh;
    right: 3.8vw;
    float: right;
    font-family: AppleSDGothicNeo-Regular;
    font-size: 11px;
    font-weight: 500;
    border-radius: 5.7px;
    box-shadow: none;
    background-color: #6562b9;
  }

}