page-marketing {

  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    height: 1px;
    margin-bottom: 5px;
    background-color: #f1f1f1;
    opacity: 0.3;
  }
  .header-ios::after, .tabs-ios[tabsPlacement="top"] > .tabbar::after, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before{
    height: 1px;
    margin-bottom: 5px;
    background-color: #f1f1f1;
    opacity: 0.3;
  }

  .item-md.item-block .item-inner{
    padding-right: 12px;
  }
  .toolbar-title-md{
    font-weight: bold;
    font-size: 17px;
    background-color: #FFF;
    font-family: AppleSDGothicNeo-Regular;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
  .toolbar-title-ios{
    font-weight: bold;
    font-size: 17px;
    background-color: #FFF;
    font-family: AppleSDGothicNeo-Regular;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
  .toolbar-background {
    background-color: #FFF;
  }

  .ion-md-arrow-back:before {
    position: absolute;
    content: "\f27d";
    left: 13px;
    top: 4px;
    width: 25px;
    height: 25x;
}

  .title{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    color: #292929;
  }



  .text{

    font-family: AppleSDGothicNeo-Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
}
