<!--
  Generated template for the SungwooOrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  *ngIf="platform.is('android')" no-lines>
    <ion-title class="android_title" text-wrap >주문서</ion-title>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios') || platform.is('core')" no-lines>
  	<ion-buttons left>
  		<button ion-button navPop icon-only>
        <img class="ios_nav"src="assets/img/agreement/ic-system-back-black@3x.png"/>
  		</button>
  	</ion-buttons>
    <ion-title class="ios_title" text-wrap>주문서</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ng-container>
    <ion-grid class="order_grid">
        <ion-row>
          <ion-col class="text_col" col-9>
            <div class="product_name" style="color: #5c59b6">구달</div>
            <div class="order_name">청귤 비타C 잡티세럼청귤</div>
            <div class="order-little_text1">옵션</div> 
          </ion-col>
          <ion-col class="img_col" col-3>  
            <img class="order_img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/KA100000738.jpg" />
          </ion-col>
        </ion-row>
    </ion-grid>
  </ng-container>
  
  <div style="height:1.3vh; width:100vw; background-color:#f1f1f1"></div>

  <ng-container>
    <ion-grid class="order_delivery_grid">
        <ion-row class="title_div">
          <ion-col class="order_title"> 배송지 </ion-col>
          <ion-col class="order_title2">배송지 입력</ion-col>
        </ion-row>
        <ion-row class="delivery_list">
          <ion-col class="line_item" no-lines>
            이성균
          </ion-col>
          <div style="height:0.1vh; width:90vw; margin:0 auto; display: block; background-color:#f1f1f1"></div>
          <ion-col class="line_item" no-lines>
            010-9022-1220
          </ion-col>
          <div style="height:0.1vh; width:90vw; margin:0 auto; display: block; background-color:#f1f1f1"></div>
          <ion-col class="line_item" no-lines>
            인천광역시 연수구 송도미래로 30 스마트밸리 402호
          </ion-col>
          <div style="height:0.1vh; width:90vw; margin:0 auto; display: block; background-color:#f1f1f1"></div>
        </ion-row>
    </ion-grid>
  </ng-container>

  <div style="height:1.3vh; width:100vw; background-color:#f1f1f1"></div>

  <ng-container>
    <ion-grid class="order_price_grid">
      <ion-row>
        <ion-col class="price_title">결제 금액</ion-col>
      </ion-row>
      <ion-row class="price_div">
        <ion-col class="order_text1" col-7>상품 금액 합계</ion-col>
        <ion-col class="order_text2" col-3>40,000 원</ion-col>
        <ion-col class="order_text1" col-7>포인트 사용금액</ion-col>
        <ion-col class="order_text2" col-3>-20,000 원</ion-col>
        <ion-col class="order_text1" col-7>배송비</ion-col>
        <ion-col class="order_text2" col-3>+3,000 원</ion-col>
        <ion-col class="order_text1" col-7>기타 할인 금액</ion-col>
        <ion-col class="order_text2" col-3>0 원</ion-col>
      </ion-row>
    </ion-grid>

    <div style="height:1px; width:100%; display: block; background-color:#f1f1f1"></div>
      
    <ion-grid class="price_grid">
      <ion-row class="sum_div">
        <ion-col class="sum_text">결제 예정 금액</ion-col>
        <ion-col class="sum_price">23,000 원</ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <div style="height:1.3vh; width:100vw; background-color:#f1f1f1"></div>

  <ng-container>
    <ion-grid class="order_payment_grid">
      <ion-row>
        <ion-col class="payment_title">결제 수단</ion-col>
      </ion-row>
      <ion-row class="payment_btn">
        <button ion-button class="order_btn" >
          <div class="order-btn_text">신용 카드</div>
        </button>
        <button ion-button class="order_btn" >
          <div class="order-btn_text">무통장 입금</div>
        </button>
      </ion-row>
      <ion-grid class="grid_backColor2">
        <ion-list class="select_div">
          <ion-item class="order_select">
            <!-- <ion-label class="order-card_text">카드를 선택해주세요</ion-label> -->
            <ion-select okText="Okay" cancelTest="Dismiss" id="select" class="s_icon" placeholder="카드를 선택해주세요">
              <!-- <ion-option disabled selected value="">카드를 선택해주세요</ion-option> -->
              <ion-option value="nes">KB국민카드</ion-option>
              <ion-option value="n64">롯데카드</ion-option>
              <ion-option value="ps">신한카드</ion-option>
              <ion-option value="genesis">삼성카드</ion-option>
              <ion-option value="saturn">하나카드</ion-option>
              <ion-option value="snes">현대카드</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list class="select_div">
          <ion-item class="order_select">
            <!-- <ion-label class="order-card_text">할부 기간을 선택해주세요</ion-label> -->
            <ion-select okText="Okay" cancelTest="Dismiss" id="select" class="s_icon" placeholder="할부 기간을 선택해주세요">
              <!-- <ion-option disabled selected value="">할부 기간을 선택해주세요</ion-option> -->
              <ion-option value="Lump">일시불</ion-option>
              <ion-option value="twomonth">2개월(무)</ion-option>
              <ion-option value="threemonth">3개월(무)</ion-option>
              <ion-option value="fourmonths">4개월</ion-option>
              <ion-option value="fivemonths">5개월</ion-option>
              <ion-option value="sixmonths">6개월</ion-option>
              <ion-option value="sevenmonths">7개월</ion-option>
              <ion-option value="eightmonths">8개월</ion-option>
              <ion-option value="ninemonths">9개월</ion-option>
              <ion-option value="tenmonths">10개월</ion-option>
              <ion-option value="elevenmonths">11개월</ion-option>
              <ion-option value="twelvemonths">12개월</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-grid>
    </ion-grid>
  </ng-container>

  <div style="height:1.3vh; width:100vw; background-color:#f1f1f1"></div>

  <ng-container>
    <ion-grid class="order_terms_grid">
      <ion-row class="terms_box">
        <ion-checkbox [(ngModel)]="cucumber" (ionChange)="updateCucumber()"></ion-checkbox>
      </ion-row>
      <ion-row class="terms">
        <ion-col class="card-title" col-12>
          주문 내용 확인 및 동의
        </ion-col>
        <ion-col class="card-subtitle" col-12>
          주문 상품의 상세 정보, 배송정보, 할인내역 등을 확인하였으며, 구매에 동의합니다.
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

</ion-content>

<ion-footer mode="ios" keyboard-attach no-bounce no-lines>
  <button (click)="saveToday()" ion-button class="cell"><div class="cell_text">결제하기</div></button>
</ion-footer>