


<ion-header>

  <ion-navbar  *ngIf="platform.is('android')" no-lines>
    <ion-title class="android_title" text-wrap >임시 페이지</ion-title>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios') || platform.is('core')" no-lines>
  	<ion-buttons left>
  		<button ion-button navPop icon-only>
        <img class="ios_nav"src="assets/img/agreement/ic-system-back-black@3x.png"/>
  		</button>
  	</ion-buttons>
    <ion-title class="ios_title" text-wrap>임시 페이지</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>

  <ion-list no-lines>
    <ion-item mode="ios" class="title2">임시 페이지 1</ion-item><br>
    <button class="terms" mode="ios" no-lines ion-item icon-start (click)="sungWoo_Beauty()">성우 뷰티영상</button>
    <button class="plinic_use" mode="ios" no-lines ion-item (click)="sungWoo_Order()" icon-start>성우 주문서</button>
    <button class="care_zone" mode="ios" no-lines ion-item (click)="sungWoo_Cart()" icon-start>성우 장바구니</button>
    <button class="plinic_use" mode="ios" no-lines ion-item (click)="sungWoo_Cosmetics_tab()" icon-start>화장품 모아보기</button>
    <button class="text" mode="ios" ion-item (click)="sungWoo_Cosmetics_Main()" icon-start>성우 화장품 메인</button>
  </ion-list>

  <ion-list no-lines>
    <ion-item mode="ios" class="title2">임시 페이지 2</ion-item><br>
    <button class="terms" mode="ios" ion-item icon-start (click)="sungWoo_Product_Detail()">성우 상품 정보</button>
    <button class="terms" mode="ios" ion-item (click)="sungWoo_Delivery()" icon-start>성우 배송 조회</button>
    <button class="inquiry" mode="ios" no-lines ion-item (click)="sungWoo_Pick()" icon-start>성우 상품 선택</button>

  </ion-list>

</ion-content>
