page-sungwoo-setting {
    .header-md::after,
    .tabs-md[tabsPlacement="top"]>.tabbar::after,
    .footer-md::before,
    .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
      height: 1px;
      margin-bottom: 5px;
      background-color: #f1f1f1;
      opacity: 0.3;
    }
  
    .item-md.item-block .item-inner {
      padding-right: 12px;
    }
  
    .header-ios::after,
    .tabs-ios[tabsPlacement="top"]>.tabbar::after,
    .footer-ios::before,
    .tabs-ios[tabsPlacement="bottom"]>.tabbar::before {
      height: 1px;
      margin-bottom: 5px;
      background-color: #f1f1f1;
      opacity: 0.3;
    }
  
    .item-ios.item-block .item-inner {
      padding-right: 12px;
    }
  
    .toolbar-title-md {
      // width: auto;
      // margin: 0 auto;
      font-weight: bold;
      font-size: 17px;
      background-color: #FFF;
      font-family: AppleSDGothicNeo;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      margin-right: 14%;
      margin-top: -14%;
    }
  
    .toolbar-title-ios {
      // width: auto;
      // margin: 0 auto;
      font-weight: bold;
      font-size: 17px;
      background-color: #FFF;
      font-family: AppleSDGothicNeo;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #292929;
      margin-right: 17%;
      margin-top: -36%;
    }
  
    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default,
    .bar-button-clear-ios-default {
      margin-left: -15%;
      margin-top: -15%;
      color: transparent;
    }
  
    .ios_nav {
      background-color: transparent;
      width: 140px !important;
      height: 25px !important;
      object-fit: contain;
    }
  
    .toolbar-background {
      background-color: #FFF;
    }
  
    .ion-md-arrow-back:before {
      position: absolute;
      content: "\f27d";
      left: 10%;
      top: 2px;
      width: 25px;
      height: 25px;
    }
  
    .toolbar-ios {
      margin-top: 12%;
    }
  
    .back-button-text-ios {
      font-size: 0px;
    }
  
    .android_title {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 70%;
      color: #292929;
    }
  
    .ios_title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 150%;
      top: 40%;
      width: 120%;
      color: #292929;
    }

    .info_text {
      height: 29px;
      font-family: AppleSDGothicNeo;
      font-size: 23px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.26;
      letter-spacing: normal;
      color: #292929;
      margin-top: 5%;
    }
  
    .info_change {
      position: absolute;
      right: 5%;
      bottom: 15%;
      width: 65px;
      height: 35.5px !important;
      margin-top: -5% !important;
      background-color: #FFF !important;
      border-radius: 3px;
      border: solid 1px #dddddd;
      font-family: AppleSDGothicNeo;
      font-size: 13px !important;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      box-shadow: none !important;
    }
  
  
    .noti_text {
      margin-top: 0%;
      font-size: 15px;
    }
  
    .nickname {
      position: absolute;
      left: 25%;
      top: 20%;
      height: 22.5px;
      font-family: AppleSDGothicNeo;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
    }
  
  
    .email {
      position: absolute;
      left: 25%;
      top: 40%;
      height: 20px;
      font-family: AppleSDGothicNeo;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      padding-top: 1%;
      color: #919191;
    }
  
  
    .top_list {
      margin-bottom: 5%;
    }
  
  
  
    .blue_status {
      position: absolute;
      right: 0%;
      top: 0%;
      width: 125px;
      height: 18.5px;
      font-family: AppleSDGothicNeo;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      // text-align: right;
      color: #5c59b6;
    }
  
    .text {
      font-family: AppleSDGothicNeo;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
    }
  
    .connect_status {
      margin-top: -6%;
      height: 22.5px;
      font-family: AppleSDGothicNeo;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
    }
  
    .plinic_use {
      margin-top: -6%;
      height: 21.5px;
      font-family: AppleSDGothicNeo;
      font-size: 14.5px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
    }
  
    .care_zone {
      // margin-top: 3%;
      height: 22.5px;
      font-family: AppleSDGothicNeo;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
    }
  
    .inquiry {
      // margin-top: 2%;
      font-family: AppleSDGothicNeo;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
    }
  
    .terms {
      // margin-top: 5%;
      font-family: AppleSDGothicNeo;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
    }
  
    .img-radius {
      width: 30px !important;
      height: 30px !important;
      object-fit: contain;
      border-radius: 50% !important;
      position: absolute;
      right: 12%;
      top: 20%;
    }
  
    .title {
      height: 19px;
      font-family: AppleSDGothicNeo;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #b6b6b6;
      margin-left: 16px;
      margin-top: 10%;
    }
  
    .title2 {
      height: 19px;
      font-family: AppleSDGothicNeo;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #b6b6b6;
    }
  
    .note-md {
      margin-right: 1%;
      font-family: Roboto;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #5c59b6;
    }
  
    .note-ios {
      margin-right: 1%;
      font-family: Roboto;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #5c59b6;
    }
  
    .current_version {
      margin-top: 1%;
      font-family: AppleSDGothicNeo;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
    }
  
    .logout {
      margin-top: 2%;
      font-family: AppleSDGothicNeo;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #b6b6b6;
  
    }

}
