<!-- <ion-item style="background:#FFF">
<ion-label color="primary" stacked>이메일</ion-label>
<ion-input type="email" name="email" placeholder="이메일을 입력해주세요." clearInput [(ngModel)]="email" required></ion-input>
</ion-item> -->

<ion-content no-padding>


  <ion-item *ngIf="platform.is('android')" no-lines>
    <ion-grid style="height: 46px;">
      <ion-row>
        <ion-col>
          <ion-img class="close" src="assets/img/agreement/ic-system-back-black@3x.png" srcset="assets/img/agreement/ic-system-back-black@2x.png,
                    assets/img/agreement/ic-system-back-black@3x.png" (click)="navpop()"></ion-img>
        </ion-col>

        <ion-img class="toolaralign2" src="assets/img/agreement/ic-system-step-on.png" srcset="assets/img/agreement/ic-system-step-on@2x.png,
                      assets/img/agreement/ic-system-step-on@3x.png"></ion-img>

        <ion-img class="toolaralign" src="assets/img/agreement/ic-system-step-02@3x.png" srcset="assets/img/agreement/ic-system-step-02@2x.png,
                      assets/img/agreement/ic-system-step-02@3x.png"></ion-img>

        <ion-img class="toolaralign3" src="assets/img/agreement/ic-system-step-off.png" srcset="assets/img/agreement/ic-system-step-02@2x.png,
                      assets/img/agreement/ic-system-step-02@3x.png"></ion-img>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="ios_row" *ngIf="platform.is('ios')" no-lines>
    <br />
    <ion-grid style="height: 46px;">
      <ion-row>
        <ion-col>
          <ion-img class="close" src="assets/img/agreement/ic-system-back-black@3x.png" srcset="assets/img/agreement/ic-system-back-black@2x.png,
                     assets/img/agreement/ic-system-back-black@3x.png" (click)="navpop()"></ion-img>
        </ion-col>

        <ion-img class="toolaralign2" src="assets/img/agreement/ic-system-step-on.png" srcset="assets/img/agreement/ic-system-step-on@2x.png,
                       assets/img/agreement/ic-system-step-on@3x.png"></ion-img>

        <ion-img class="toolaralign" src="assets/img/agreement/ic-system-step-02@3x.png" srcset="assets/img/agreement/ic-system-step-02@2x.png,
                       assets/img/agreement/ic-system-step-02@3x.png"></ion-img>

        <ion-img class="toolaralign3" src="assets/img/agreement/ic-system-step-off.png" srcset="assets/img/agreement/ic-system-step-02@2x.png,
                       assets/img/agreement/ic-system-step-02@3x.png"></ion-img>
      </ion-row>
    </ion-grid>
  </ion-item>


  <h1 class="h1"> 회원정보를 입력해주세요. </h1>

  <ion-list class="register_list">
    <form novalidate (ngSubmit)="anddinfo()" [formGroup]="signupform">

      <div class="container">
        <img *ngIf="imagePath2" class="img-radius" [src]="imagePath2" />
        <img *ngIf="!imagePath2" class="register_profile" src="assets/img/register/ic-system-profile-default@3x.png" srcset="assets/img/register/ic-system-profile-default@2x.png,
                                                          assets/img\register/ic-system-profile-default@3x.png" />
        <ion-img class="register_camera" src="assets/img/register/ic-system-camera@3x.png" srcset="assets/img/register/ic-system-camera@2x.png,
                                          assets/img/register/ic-system-camera@3x.png" (click)="camera()"></ion-img>
      </div>

      <!-- <div class="container">
        <img class="register_profile" src="assets/img/register/ic-system-profile-default@3x.png" srcset="assets/img/register/ic-system-profile-default@2x.png,
                                                          assets/img\register/ic-system-profile-default@3x.png" />
        <ion-img class="register_camera" src="assets/img/register/ic-system-camera@3x.png" srcset="assets/img/register/ic-system-camera@2x.png,
                                                                          assets/img/register/ic-system-camera@3x.png" (click)="camera()"></ion-img>
      </div> -->



      <ion-item class="email_align">
        <ion-label class="email_label" stacked>이메일</ion-label>
        <ion-input (ionChange)="changeImage(signupform.controls.email.valid && signupform.controls.email.dirty)" mode="ios" type="email" class="email_input" [(ngModel)]="userData.email" formControlName="email" placeholder="이메일을 입력해주세요."
          [class.error1]="(!signupform.controls.email.valid && signupform.controls.email.dirty) ||
                           (signupform.get('email').hasError('required') && signupform.get('email').touched)" [class.error2]="signupform.controls.email.valid" required> </ion-input>
        <ion-img class="email_img" src="{{myImage}}" item-right (click)="email_delete()"></ion-img>
      </ion-item>


      <ion-item no-lines *ngIf="( signupform.get('email').hasError('minlength') || signupform.get('email').hasError('pattern') ||signupform.get('email').hasError('required') ) && signupform.get('email').touched">
        <div class="error" *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
          이메일을 입력해주세요.
        </div>
        <div class="error" *ngIf="signupform.get('email').hasError('pattern') && signupform.get('email').touched">
          올바른 이메일 형식이 아닙니다.
        </div>
      </ion-item><br>


      <ion-item class="password_align">
        <ion-label class="password_label" stacked>비밀번호 </ion-label>
        <ion-input (ionChange)="changeImage2(signupform.controls.password.valid && signupform.controls.password.dirty)" mode="ios" type="password" class="password_input" [(ngModel)]="userData.password" formControlName="password" name="password"
          placeholder="비밀번호를 입력해주세요." [class.error1]="(!signupform.controls.password.valid && signupform.controls.password.dirty) ||
                           (signupform.get('password').hasError('required') && signupform.get('password').touched)" [class.error2]="signupform.controls.password.valid" required></ion-input>
        <ion-img class="email_img" src="{{myImage2}}" item-right (click)="password_delete()"></ion-img>
      </ion-item>


      <ion-item no-lines *ngIf="( signupform.get('password').hasError('minlength') || signupform.get('password').hasError('maxlength') ||signupform.get('password').hasError('required') ) && signupform.get('password').touched">
        <div class="error" *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
          비밀번호를 입력해주세요.
        </div>
        <div class="error" *ngIf="signupform.get('password').hasError('minlength') && signupform.get('password').touched">
          ·비밀번호는 영문, 숫자조합 6~15자로 입력해주세요.
        </div>
        <div class="error" *ngIf="signupform.get('password').hasError('maxlength') && signupform.get('password').touched">
          ·비밀번호는 영문, 숫자조합 6~15자로 입력해주세요.
        </div>
      </ion-item><br>

      <ion-item class="password_align">
        <ion-label class="password_label" stacked>비밀번호 확인 </ion-label>
        <ion-input (ionChange)="changeImage3(signupform.controls.passwordconfirm.valid && signupform.controls.passwordconfirm.dirty)" mode="ios" type="password" [(ngModel)]="userData.passwordconfirm" formControlName="passwordconfirm"
          name="passwordconfirm" placeholder="비밀번호를 입력해주세요." [class.error1]="(!signupform.controls.passwordconfirm.valid && signupform.controls.passwordconfirm.dirty) ||
                           (signupform.get('passwordconfirm').hasError('required') && signupform.get('passwordconfirm').touched)" [class.error2]="signupform.controls.passwordconfirm.valid" required></ion-input>
        <ion-img class="email_img" src="{{myImage3}}" item-right (click)="passwordconfirm_delete()"></ion-img>
      </ion-item>

      <ion-item no-lines *ngIf="( signupform.get('passwordconfirm').hasError('minlength') || signupform.get('passwordconfirm').hasError('maxlength')
                                    ||signupform.get('passwordconfirm').hasError('required') ) && signupform.get('passwordconfirm').touched">
        <div class="error" *ngIf="signupform.get('passwordconfirm').hasError('required') && signupform.get('passwordconfirm').touched">
          비밀번호를 입력해주세요.
        </div>
        <div class="error" *ngIf="signupform.get('passwordconfirm').hasError('minlength') && signupform.get('passwordconfirm').touched">
          ·비밀번호는 영문, 숫자조합 6~15자로 입력해주세요.
        </div>
        <div class="error" *ngIf="signupform.get('passwordconfirm').hasError('maxlength') && signupform.get('passwordconfirm').touched">
          ·비밀번호는 영문, 숫자조합 6~15자로 입력해주세요.
        </div>
      </ion-item><br>


      <p class="sub">·정확한 이메일 주소를 입력해주세요.<br>·비밀번호는 영문, 숫자조합 6~15자로 입력해주세요.</p><br>

      <button type="submit" *ngIf="(signupform.controls.email.invalid) ||
      (userData.passwordconfirm !== userData.password) || userData.password ==='' || userData.passwordconfirm ==='' " style="opacity:1" ion-button class="login_btn_invalid" name="next" [disabled]="signupform.invalid">다음</button>

      <button type="submit" *ngIf="
      (signupform.controls.email.valid) &&
      (userData.passwordconfirm === userData.password) && userData.password !=='' && userData.passwordconfirm !=='' " style="opacity:1" ion-button class="login_btn2_valid" name="next" [disabled]="signupform.invalid">다음</button>

    </form>
  </ion-list>
</ion-content>
