# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.log
*.tmp
*.tmp.*
log.txt

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
www/


.DS_Store
Thumbs.db
