<ion-tabs *ngIf="platform.is('android')" >
  <ion-tab [root]="tab1Root" tabTitle="홈" tabIcon="custom-home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="케어존" tabIcon="custom-carezone"></ion-tab>
  <ion-tab [root]="" tabTitle="쇼핑" tabIcon="custom-shopping" (ionSelect)="openBrowser_android('https://m.smartstore.naver.com/plinic','플리닉몰')"> </ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="커뮤니티" tabIcon="custom-cummunity"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="마이" tabIcon="custom-my"></ion-tab>
</ion-tabs>


<ion-tabs *ngIf="platform.is('ios')" >
  <ion-tab [root]="tab1Root" tabTitle="홈" customIconSet="tabs" customIconName="ic-system-tab-home-on"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="케어 챌린지" customIconSet="tabs" customIconName="ic-system-tab-cc-on"></ion-tab>
  <ion-tab [root]="" tabTitle="쇼핑" tabIcon="ios-cafe" (ionSelect)="openBrowser_ios('https://m.smartstore.naver.com/plinic','플리닉몰')"> </ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="커뮤니티" customIconSet="tabs" customIconName="ic-system-tab-community-on"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="내 정보" tabIcon="ios-menu"></ion-tab>
</ion-tabs>

<!-- <ion-tabs *ngIf="!platform.is('ios') && !platform.is('android')" >
  <ion-tab [root]="tab1Root" tabTitle="홈" customIconSet="tabs" customIconName="ic-system-tab-home-off"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="케어존" customIconSet="tabs" customIconName="ic-system-tab-cc-on"></ion-tab>
  <ion-tab [root]="" tabTitle="쇼핑" tabIcon="ios-cafe" (ionSelect)="openBrowser_ios('https://m.smartstore.naver.com/plinic','플리닉몰')"> </ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="커뮤니티" customIconSet="tabs" customIconName="ic-system-tab-community-on"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="내 정보" tabIcon="ios-menu"></ion-tab>
</ion-tabs> -->


<!-- <ion-tabs *ngIf="platform.is('ios')" >
  <ion-tab [root]="tab1Root" tabTitle="홈" tabIcon="custom-home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="케어존" tabIcon="custom-carezone"></ion-tab>
  <ion-tab [root]="" tabTitle="쇼핑" tabIcon="ios-cafe" (ionSelect)="openBrowser_ios('https://m.smartstore.naver.com/plinic','플리닉몰')"> </ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="커뮤니티" tabIcon="custom-cummunity"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="마이" tabIcon="custom-my"></ion-tab>
</ion-tabs> -->

<ion-tabs *ngIf="!platform.is('ios') && !platform.is('android')" >
  <ion-tab [root]="tab1Root" tabTitle="홈" tabIcon="custom-home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="케어 챌린지" tabIcon="custom-carezone"></ion-tab>
  <ion-tab [root]="" tabTitle="쇼핑" tabIcon="ios-cafe" (ionSelect)="openBrowser_ios('https://m.smartstore.naver.com/plinic','플리닉몰')"> </ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="커뮤니티" tabIcon="custom-cummunity"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="마이" tabIcon="custom-my"></ion-tab>
</ion-tabs>
