<!--
  Generated template for the MyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar *ngIf="platform.is('android')">
    <ion-title class="android_title" text-wrap> MY </ion-title>
  </ion-navbar>

  <!-- <ion-navbar  hideBackButton="true" *ngIf="platform.is('ios')">
    <ion-title *ngIf="carezoneData" class="ios_title" text-wrap> {{carezoneData.missontitle}} </ion-title>
  </ion-navbar> -->

  <ion-navbar *ngIf="platform.is('ios')">
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <img class="ios_nav" src="assets/img/agreement/ic-system-back-black@3x.png" />
      </button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap> MY </ion-title>
  </ion-navbar>


  <ion-segment mode="md" [(ngModel)]="page" color="#5c59b6">
    <ion-segment-button value="0" (click)="selectedTab(0)">
      뷰티 노트
    </ion-segment-button>
    <ion-segment-button value="1" (click)="selectedTab(1)">
      피부고민
    </ion-segment-button>
  </ion-segment>
</ion-header>





<ion-content no-padding>
  <ion-slides mode="ios" #Slides (ionSlideWillChange)="slideChanged($event)">


    <!-- 뷰티 노투 -->
    <ion-slide>
      <ng-container *ngFor="let beautynote of beautyNoteData; let i = index">
        <!-- 뷰트꿀팁 이미지가 있을 때  -->
        <ng-container *ngIf="beautynote.filename">
          <ion-item class="line_item">
          <ion-col (click)="community_modify(beautynote._id)" class="container">
            <ion-row class="beauty_row">
              <ion-col col-8 class="beauty_note_title_img"><span class="beauty_note_tag">{{beautynote.select}} </span>{{beautynote.title}}</ion-col>
            </ion-row>
            <ion-col *ngIf="beautynote.like" class="beauty_note_like">좋아요 {{beautynote.like}} ∙
              <ion-col class="beauty_note_count">조회 {{beautynote.views}}</ion-col>
            </ion-col>
            <img class="beauty_note_img" src="http://plinic.cafe24app.com/beautynoteimage/{{beautynote._id}}" />
          </ion-col></ion-item>
          <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
        </ng-container>

        <ng-container *ngIf="!beautynote.filename">
          <!-- 뷰트노트 이미지가 없을 때  -->
          <ion-item class="line_item">
          <ion-col (click)="community_modify(beautynote._id)" class="container">
            <ion-row class="beauty_row">
              <ion-col col-8 class="beauty_note_title"><span class="beauty_note_tag">{{beautynote.select}} </span>{{beautynote.title}}</ion-col>
            </ion-row>
            <ion-col *ngIf="beautynote.like" class="beauty_note_like">좋아요 {{beautynote.like}} ∙
              <ion-col class="beauty_note_count">조회 {{beautynote.views}}</ion-col>
            </ion-col>
          </ion-col></ion-item>
          <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
        </ng-container>
      </ng-container>
    </ion-slide>

    <!-- 피부 고민 -->
    <ion-slide>


      <ng-container *ngFor="let skinqna of skinQnaData; let i = index">
        <ng-container *ngIf="skinqna.filename">
          <!-- 피부 고민 이미지가 있을 때  -->
          <ion-item class="line_item">
          <ion-col (click)="community_qna_modify(skinqna._id)" class="container">
            <ion-row class="beauty_row">
              <ion-col col-8 class="beauty_note_title_img"><span class="beauty_note_Q">{{skinqna.select}} </span>{{skinqna.title}}</ion-col>
            </ion-row>
            <ion-col *ngIf="skinqna.like" class="beauty_note_like">좋아요 {{skinqna.like}} ∙
              <ion-col class="beauty_note_answer">답변 {{skinqna.comments.length}}</ion-col>
            </ion-col>
            <img class="beauty_worry_img" src="http://plinic.cafe24app.com/skinqnaimage/{{skinqna._id}}" />
          </ion-col></ion-item>
          <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
        </ng-container>

      <ng-container *ngIf="!skinqna.filename">
        <!-- 피부 고민 이미지가 없을 때  -->
        <ion-item class="line_item">
        <ion-col (click)="community_qna_modify(skinqna._id)" class="container">
          <ion-row class="beauty_row">
            <ion-col class="beauty_note_title"><span class="beauty_note_Q">{{skinqna.select}} </span>{{skinqna.title}}</ion-col>
          </ion-row>
          <ion-col *ngIf="skinqna.like" class="beauty_note_like">좋아요 {{skinqna.like}} ∙
            <ion-col class="beauty_note_answer">답변 {{skinqna.comments.length}}</ion-col>
          </ion-col>
        </ion-col></ion-item>
        <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
        </ng-container>
      </ng-container>
    </ion-slide>
  </ion-slides>

</ion-content>
