<!--
  Generated template for the BeautyTipAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-lines>

  <ion-navbar  *ngIf="platform.is('android')" no-lines>

    <ion-title class="android_title" text-wrap >커뮤니티</ion-title>
    <ng-container *ngIf="page==='0'">
    <img class="android_search" style="right:5%" src="./assets/img/beauty/ic-system-search@3x.png" />
    <!-- <div class="android_my">MY</div> -->
  </ng-container>
    <ng-container *ngIf="page==='1'">
    <!-- <img class="android_search" src="./assets/img/beauty/ic-system-search@3x.png" />
    <div class="android_my">MY</div> -->
  </ng-container>
    <ng-container *ngIf="page==='2'">
    <img class="android_search" src="./assets/img/beauty/ic-system-search@3x.png" />
    <div class="android_my">MY</div>
  </ng-container>
    <ng-container *ngIf="page==='3'">
    <img class="android_search" src="./assets/img/beauty/ic-system-search@3x.png" />
    <div class="android_my">MY</div>
  </ng-container>
    <ng-container *ngIf="page==='4'">
    <!-- <img class="android_search" src="./assets/img/beauty/ic-system-search@3x.png" />
    <div class="android_my">MY</div> -->
  </ng-container>

  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios')" no-lines>
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only>
        <!-- <img no-lines class="ios_nav"src="assets/img/agreement/ic-system-back-black@3x.png"/> -->
      </button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>커뮤니티</ion-title>
    <ng-container *ngIf="page==='0'">
    <img class="ios_search" style="right:5%" src="./assets/img/beauty/ic-system-search@3x.png" />
    <!-- <div class="ios_my">MY</div> -->
  </ng-container>
    <ng-container *ngIf="page==='1'">
    <!-- <img class="ios_search" src="./assets/img/beauty/ic-system-search@3x.png" />
    <div class="ios_my">MY</div> -->
  </ng-container>
    <ng-container *ngIf="page==='2'">
    <img class="ios_search" src="./assets/img/beauty/ic-system-search@3x.png" />
    <div class="ios_my">MY</div>
  </ng-container>
    <ng-container *ngIf="page==='3'">
    <img class="ios_search" src="./assets/img/beauty/ic-system-search@3x.png" />
    <div class="ios_my">MY</div>
  </ng-container>
    <ng-container *ngIf="page==='4'">
    <!-- <img class="ios_search" src="./assets/img/beauty/ic-system-search@3x.png" />
    <div class="ios_my">MY</div> -->
  </ng-container>

  </ion-navbar>

  <ion-segment mode="md" [(ngModel)]="page" color="#5c59b6">
    <ion-segment-button value="0" (click)="selectedTab(0)">
      홈
    </ion-segment-button>
    <ion-segment-button value="1" (click)="selectedTab(1)">
      뷰티 꿀팁
    </ion-segment-button>
    <ion-segment-button value="2" (click)="selectedTab(2)">
      뷰티 노트
    </ion-segment-button>
    <ion-segment-button value="3" (click)="selectedTab(3)">
      피부 고민
    </ion-segment-button>
    <ion-segment-button value="4" (click)="selectedTab(4)">
      기획전
    </ion-segment-button>
  </ion-segment>
</ion-header>



<ion-content no-padding>
  <ion-slides mode="ios" #Slides (ionSlideWillChange)="slideChanged($event)">


    <!-- 뷰티 홈 -->

    <ion-slide>
      <h2 class="beauty_ggul_tip">뷰티 꿀팁</h2>
      <ion-grid class="beauty_tip">
        <ion-row>
          <ion-col col-6 (click)="openBrowser_android(beauty_data_url1, beauty_data_title1)">
            <img class="beauty_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id1}}" />
            <!-- <div class="beauty_title">{{beauty_data_type1}}</div> -->
            <div class="beauty_desc">{{beauty_data_title1}}</div>
            <div class="beauty_count"> 조회수 1,234</div>
          </ion-col>
          <ion-col col-6 (click)="openBrowser_android(beauty_data_url2, beauty_data_title2)">
            <img class="beauty_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id2}}" />
            <!-- <div class="beauty_title">{{beauty_data_type2}}</div> -->
            <div class="beauty_desc">{{beauty_data_title2}}</div>
            <div class="beauty_count"> 조회수 1,234</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 (click)="openBrowser_android(beauty_data_url3, beauty_data_title3)">
            <img class="beauty_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id3}}" />
            <!-- <div class="beauty_title">{{beauty_data_type3}}</div> -->
            <div class="beauty_desc">{{beauty_data_title3}}</div>
            <div class="beauty_count"> 조회수 1,234</div>
          </ion-col>
          <ion-col col-6 (click)="openBrowser_android(beauty_data_url4, beauty_data_title4)">
            <img class="beauty_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id4}}" />
            <!-- <div class="beauty_title">{{beauty_data_type4}}</div> -->
            <div class="beauty_desc">{{beauty_data_title4}}</div>
            <div class="beauty_count"> 조회수 1,234</div>
          </ion-col>
        </ion-row>
      </ion-grid>


      <button mode="md" no-lines ion-item icon-start class="beauty_top_label"> 여름철 피부관리 노하우 대방출!</button>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>
      <button mode="md" no-lines ion-item icon-start class="beauty_top_label"> 여름철 피부관리 노하우 대방출!</button>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>
      <button mode="md" no-lines ion-item icon-start class="beauty_top_label"> 여름철 피부관리 노하우 대방출!</button>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

      <button ion-button class="beauty_top_add"> 더보기 > </button>


      <!-- 광고 -->
      <div style="height:8px; width:100%; background-color:#f1f1f1"></div>
      <img class="beauty_ad_img" src="./assets/img/beauty/beauty_ad.JPG" />
      <div style="height:8px; width:100%; margin-top:-1.5%; background-color:#f1f1f1"></div>


      <h2 class="beauty_note_tip">뷰티 노트</h2>


      <!-- 뷰티노트 이미지가 있을 때  -->

      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col col-7 class="beauty_note_title_img"><span class="beauty_note_tag">관리 노하우 </span>화장품을 발라야 하는 첫 번째 이유, ‘보습’</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">좋아요 32 ∙
          <ion-col class="beauty_note_count">조회수 67</ion-col>
        </ion-col>
        <img class="beauty_note_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id1}}" />
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col col-7 class="beauty_note_title_img"><span class="beauty_note_tag">피부 고민 </span>화장품을 발라야 하는 첫 번째 이유, ‘보습’</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">좋아요 32 ∙
          <ion-col class="beauty_note_count">조회수 67</ion-col>
        </ion-col>
        <img class="beauty_note_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id1}}" />
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

      <!-- 뷰티노트 이미지가 없을 때  -->
      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col col-7 class="beauty_note_title"><span class="beauty_note_tag">리뷰 </span>화장품을 발라야 하는 첫 번째 이유, ‘보습’</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">좋아요 32 ∙
          <ion-col class="beauty_note_count">조회수 67</ion-col>
        </ion-col>
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>
      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col col-7 class="beauty_note_title"><span class="beauty_note_tag">피부 고민 </span>화장품을 발라야 하는 첫 번째 이유, ‘보습’</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">좋아요 32 ∙
          <ion-col class="beauty_note_count">조회수 67</ion-col>
        </ion-col>
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>
      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col col-7 class="beauty_note_title"><span class="beauty_note_tag">리뷰 </span>화장품을 발라야 하는 첫 번째 이유, ‘보습’</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">좋아요 32 ∙
          <ion-col class="beauty_note_count">조회수 67</ion-col>
        </ion-col>
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>


      <button ion-button class="beauty_top_add"> 더보기 > </button>

      <div style="height:8px; width:100%; background-color:#f1f1f1"></div><br>



      <h2 class="beauty_keyword_tip">인기 키워드</h2>

      <div class="keyword_align">
        <button ion-button class="beauty_keyword"> 피부트러블 </button>
        <button ion-button class="beauty_keyword"> 여름철피부관리 </button>
        <button ion-button class="beauty_keyword"> 자외선 </button>
        <button ion-button class="beauty_keyword"> 아이돌피부만들기 </button>
        <button ion-button class="beauty_keyword"> 피부트러블 </button>
        <button ion-button class="beauty_keyword"> 자외선 </button>
        <button ion-button class="beauty_keyword"> 피부트러블 </button>
        <button ion-button class="beauty_keyword"> 여름철피부관리 </button>
        <button ion-button class="beauty_keyword"> 자외선 </button>
        <button ion-button class="beauty_keyword"> 아이돌피부만들기 </button>
        <button ion-button class="beauty_keyword"> 피부트러블 </button>
        <button ion-button class="beauty_keyword"> 자외선 </button>
      </div>
      <div style="height:8px; width:100%; background-color:#f1f1f1"></div><br>


      <h2 class="beauty_worry_tip">피부 고민</h2>


      <!-- 피부 고민 이미지가 있을 때  -->
      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col class="beauty_note_title_img"><span class="beauty_note_Q">Q. </span>플리닉으로 관리 중인데요. 하루에 몇 번 관리하는게 좋나요?</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">좋아요 32 ∙
          <ion-col class="beauty_note_answer">답변수 3</ion-col>
        </ion-col>
        <img class="beauty_note_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id1}}" />
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col class="beauty_note_title_img"><span class="beauty_note_Q">Q. </span>플리닉으로 관리 중인데요. 하루에 몇 번 관리하는게 좋나요?</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">좋아요 32 ∙
          <ion-col class="beauty_note_answer">답변수 3</ion-col>
        </ion-col>
        <img class="beauty_note_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id1}}" />
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

      <!-- 피부 고민 이미지가 없을 때  -->
      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col class="beauty_note_title"><span class="beauty_note_Q">Q. </span>얼굴 피부에 색소침착 때문에 고민입니다.어떻게 하면 깨끗하게 지울수 있을까요?</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">좋아요 32 ∙
          <ion-col class="beauty_note_answer">답변수 3</ion-col>
        </ion-col>
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>


      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col class="beauty_note_title"><span class="beauty_note_Q">Q. </span>얼굴 피부에 색소침착 때문에 고민입니다.어떻게 하면 깨끗하게 지울수 있을까요?</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">좋아요 32 ∙
          <ion-col class="beauty_note_answer">답변수 3</ion-col>
        </ion-col>
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

      <button ion-button class="beauty_top_add"> 더보기 > </button>

      <div style="height:8px; width:100%; background-color:#f1f1f1"></div><br>


    </ion-slide>


    <!-- 뷰티 꿀팁 -->

    <ion-slide>
      <ng-container *ngIf="communityEditorBeautyLoadData">
        <h2 class="beauty_ggul_tip">에디터 추천</h2>
        <ion-grid class="beauty_tip">
          <ion-row>
            <ng-container *ngIf="platform.is('android')">
              <ion-col col-6 *ngFor="let editor of communityEditorBeautyLoadData" (click)="openBrowser_android(editor.posturl, editor.body)">
                <img class="beauty_img" src="http://plinic.cafe24app.com/commubeauty_images/{{editor._id}}" />
                <!-- <div class="beauty_title">{{beauty_data_type1}}</div> -->
                <div class="beauty_desc">{{editor.body}}</div>
                <div class="beauty_count">ios 좋아요 1,234</div>
              </ion-col>
            </ng-container>

            <ng-container *ngIf="platform.is('ios') || platform.is('core')">
              <ion-col col-6 *ngFor="let editor of communityEditorBeautyLoadData" (click)="openBrowser_ios(editor.posturl, editor.body)">
                <img class="beauty_img" src="http://plinic.cafe24app.com/commubeauty_images/{{editor._id}}" />
                <!-- <div class="beauty_title">{{beauty_data_type1}}</div> -->
                <div class="beauty_desc">{{editor.body}}</div>
                <div class="beauty_count">좋아요 {{editor.views}}</div>
              </ion-col>
            </ng-container>
          </ion-row>
        </ion-grid>
      </ng-container>
      <div style="height:1px; width:97%; margin:0 auto; display: block; background-color:#f1f1f1"></div>
      <!-- 뷰트꿀팁 이미지가 있을 때  -->
      <ng-container *ngIf="platform.is('android')">
        <ng-container *ngFor="let community of communityBeautyLoadData">
          <ion-col class="container" (click)="openBrowser_android(community.posturl, community.body)">
            <ion-row class="beauty_row">
              <ion-col col-7 class="beauty_note_title_img"><span class="beauty_note_tag">{{community.title}} </span>{{community.body}}</ion-col>
            </ion-row>
            <ion-col class="beauty_note_like">좋아요 32 ∙
              <ion-col class="beauty_note_count">조회수 {{community.views}}</ion-col>
            </ion-col>
            <img class="beauty_note_img" src="http://plinic.cafe24app.com/commubeauty_images/{{community._id}}" />
          </ion-col><br><br>
          <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="platform.is('ios') || platform.is('core')">
        <ng-container *ngFor="let community of communityBeautyLoadData">
          <ion-col class="container" (click)="openBrowser_ios(community.posturl, community.body)">
            <ion-row class="beauty_row">
              <ion-col col-7 class="beauty_note_title_img"><span class="beauty_note_tag">{{community.title}} </span>{{community.body}}</ion-col>
            </ion-row>
            <ion-col class="beauty_note_like">좋아요 32 ∙
              <ion-col class="beauty_note_count">조회수 {{community.views}}</ion-col>
            </ion-col>
            <img class="beauty_note_img" src="http://plinic.cafe24app.com/commubeauty_images/{{community._id}}" />
          </ion-col><br><br>
          <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>
        </ng-container>
      </ng-container>


      <!-- <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col col-7 class="beauty_note_title_img"><span class="beauty_note_tag">피부 고민 </span>화장품을 발라야 하는 첫 번째 이유, ‘보습’</ion-col>
        </ion-row
        <ion-col class="beauty_note_like">좋아요 32 ∙
          <ion-col class="beauty_note_count">조회수 67</ion-col>
        </ion-col>
        <img class="beauty_note_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id1}}" />
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->

      <!-- 뷰트노트 이미지가 없을 때  -->
      <!-- <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col col-7 class="beauty_note_title"><span class="beauty_note_tag">리뷰 </span>화장품을 발라야 하는 첫 번째 이유, ‘보습’</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">좋아요 32 ∙
          <ion-col class="beauty_note_count">조회수 67</ion-col>
        </ion-col>
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>
      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col col-7 class="beauty_note_title"><span class="beauty_note_tag">피부 고민 </span>화장품을 발라야 하는 첫 번째 이유, ‘보습’</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">좋아요 32 ∙
          <ion-col class="beauty_note_count">조회수 67</ion-col>
        </ion-col>
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

      <button ion-button class="beauty_top_add"> 더보기 > </button>

      <div style="height:8px; width:100%; background-color:#f1f1f1"></div><br> -->

    </ion-slide>


    <!-- 뷰티 노트 -->
    <ion-slide>
      <h2 class="beauty_ggul_tip">인기노트</h2>
      <ion-grid class="beauty_tip">
        <ion-row>
          <ion-col col-6 (click)="openBrowser_android(beauty_data_url1, beauty_data_title1)">
            <img class="beauty_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id1}}" />
            <!-- <div class="beauty_title">{{beauty_data_type1}}</div> -->
            <div class="beauty_desc">{{beauty_data_title1}}</div>
            <div class="beauty_count"> 좋아요 1,234</div>
          </ion-col>
          <ion-col col-6 (click)="openBrowser_android(beauty_data_url2, beauty_data_title2)">
            <img class="beauty_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id2}}" />
            <!-- <div class="beauty_title">{{beauty_data_type2}}</div> -->
            <div class="beauty_desc">{{beauty_data_title2}}</div>
            <div class="beauty_count"> 좋아요 1,234</div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div style="height:1px; width:97%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

      <!-- 뷰트꿀팁 이미지가 있을 때  -->

      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col col-7 class="beauty_note_title_img"><span class="beauty_note_tag">관리 노하우 </span>화장품을 발라야 하는 첫 번째 이유, ‘보습’</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">좋아요 32 ∙
          <ion-col class="beauty_note_count">조회수 67</ion-col>
        </ion-col>
        <img class="beauty_note_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id1}}" />
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col col-7 class="beauty_note_title_img"><span class="beauty_note_tag">피부 고민 </span>화장품을 발라야 하는 첫 번째 이유, ‘보습’</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">좋아요 32 ∙
          <ion-col class="beauty_note_count">조회수 67</ion-col>
        </ion-col>
        <img class="beauty_note_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id1}}" />
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

      <!-- 뷰트노트 이미지가 없을 때  -->
      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col col-7 class="beauty_note_title"><span class="beauty_note_tag">리뷰 </span>화장품을 발라야 하는 첫 번째 이유, ‘보습’</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">좋아요 32 ∙
          <ion-col class="beauty_note_count">조회수 67</ion-col>
        </ion-col>
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>
      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col col-7 class="beauty_note_title"><span class="beauty_note_tag">피부 고민 </span>화장품을 발라야 하는 첫 번째 이유, ‘보습’</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">좋아요 32 ∙
          <ion-col class="beauty_note_count">조회수 67</ion-col>
        </ion-col>
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

      <!-- <button ion-button class="beauty_top_add" > 더보기 > </button>

      <div style="height:8px; width:100%; background-color:#f1f1f1"></div><br> -->

    </ion-slide>


    <!-- 피부 고민 -->
    <ion-slide>
              <h2 class="beauty_ggul_tip">인기노트</h2>
              <ion-grid class="beauty_tip">
                <ion-row >
                  <ion-col col-6 (click)="openBrowser_android(beauty_data_url1, beauty_data_title1)" >
                    <img class="beauty_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id1}}"  />
                    <!-- <div class="beauty_title">{{beauty_data_type1}}</div> -->
                    <div class="beauty_desc">{{beauty_data_title1}}</div>
                    <div class="beauty_count"> 좋아요 1,234</div>
                  </ion-col>
                  <ion-col col-6 (click)="openBrowser_android(beauty_data_url2, beauty_data_title2)" >
                    <img class="beauty_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id2}}" />
                    <!-- <div class="beauty_title">{{beauty_data_type2}}</div> -->
                    <div class="beauty_desc">{{beauty_data_title2}}</div>
                    <div class="beauty_count"> 좋아요 1,234</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <div style="height:1px; width:97%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

              <!-- 뷰트꿀팁 이미지가 있을 때  -->

              <ion-col class="container">
              <ion-row class="beauty_row">
              <ion-col col-7 class="beauty_note_title_img"><span class="beauty_note_tag">관리 노하우 </span>화장품을 발라야 하는 첫 번째 이유, ‘보습’</ion-col></ion-row>
              <ion-col class="beauty_note_like">좋아요 32 ∙
              <ion-col class="beauty_note_count">조회수 67</ion-col></ion-col>
              <img class="beauty_note_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id1}}"/></ion-col><br><br>
              <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

              <ion-col class="container">
              <ion-row class="beauty_row">
              <ion-col col-7 class="beauty_note_title_img"><span class="beauty_note_tag">피부 고민 </span>화장품을 발라야 하는 첫 번째 이유, ‘보습’</ion-col></ion-row>
              <ion-col class="beauty_note_like">좋아요 32 ∙
              <ion-col class="beauty_note_count">조회수 67</ion-col></ion-col>
              <img class="beauty_note_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id1}}"/></ion-col><br><br>
              <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

              <!-- 뷰트노트 이미지가 없을 때  -->
              <ion-col class="container">
              <ion-row class="beauty_row">
              <ion-col col-7 class="beauty_note_title"><span class="beauty_note_tag">리뷰 </span>화장품을 발라야 하는 첫 번째 이유, ‘보습’</ion-col></ion-row>
              <ion-col class="beauty_note_like">좋아요 32 ∙
              <ion-col class="beauty_note_count">조회수 67</ion-col></ion-col></ion-col><br><br>
              <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>
              <ion-col class="container">
              <ion-row class="beauty_row">
              <ion-col col-7 class="beauty_note_title"><span class="beauty_note_tag">피부 고민 </span>화장품을 발라야 하는 첫 번째 이유, ‘보습’</ion-col></ion-row>
              <ion-col class="beauty_note_like">좋아요 32 ∙
              <ion-col class="beauty_note_count">조회수 67</ion-col></ion-col></ion-col><br><br>
              <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

              <!-- <button ion-button class="beauty_top_add" > 더보기 > </button>

              <div style="height:8px; width:100%; background-color:#f1f1f1"></div><br> -->


      <!-- 피부 고민 이미지가 있을 때  -->
      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col col-7 class="beauty_note_title_img"><span class="beauty_note_Q">Q. </span>플리닉으로 관리 중인데요. 하루에 몇 번 관리하는게 좋나요?</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">공감순 32 ∙
          <ion-col class="beauty_note_answer">답변수 3</ion-col>
        </ion-col>
        <img class="beauty_note_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id1}}" />
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col col-7 class="beauty_note_title_img"><span class="beauty_note_Q">Q. </span>얼굴 피부에 색소침착 때문에 고민입니다.어떻게 하면 깨끗하게 지울수 있을까요?</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">공감순 32 ∙
          <ion-col class="beauty_note_answer">답변수 3</ion-col>
        </ion-col>
        <img class="beauty_note_img" src="http://plinic.cafe24app.com/beauty_images/{{beauty_data_id1}}" />
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

      <!-- 피부 고민 이미지가 없을 때  -->
      <ion-col class="container">
        <ion-row class="beauty_row">
          <ion-col class="beauty_note_title"><span class="beauty_note_Q">Q. </span>얼굴 피부에 색소침착 때문에 고민입니다.어떻게 하면 깨끗하게 지울수 있을까요?</ion-col>
        </ion-row>
        <ion-col class="beauty_note_like">공감순 32 ∙
          <ion-col class="beauty_note_answer">답변수 3</ion-col>
        </ion-col>
      </ion-col><br><br>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>


      <button ion-button class="beauty_top_add"> 더보기 > </button>

      <div style="height:8px; width:100%; background-color:#f1f1f1"></div><br>
    </ion-slide>





    <!-- 기획전 -->
    <ion-slide>
      <!-- <h2 class="beauty_ggul_tip">기획전</h2> -->
      <img class="imagealign_first" src='./assets/img/home/carezone1.png' />
      <ion-row>
        <ion-col class="beauty_plan_title">할수 있다! 물광미인</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="beauty_plan_subtitle">디스크립션</ion-col>
      </ion-row>
      <br>
      <div style="height:1px; width:97%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

      <img class="imagealign" src='./assets/img/home/carezone2.png' />
      <ion-row>
        <ion-col class="beauty_plan_title">할수 있다! 물광미인</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="beauty_plan_subtitle">디스크립션</ion-col>
      </ion-row>
      <br>
      <div style="height:1px; width:97%; margin:0 auto; display: block; background-color:#f1f1f1"></div>


      <img class="imagealign" src='./assets/img/home/carezone3.png' />
      <ion-row>
        <ion-col class="beauty_plan_title">할수 있다! 물광미인</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="beauty_plan_subtitle">디스크립션</ion-col>
      </ion-row>
      <br>
      <div style="height:1px; width:97%; margin:0 auto; display: block; background-color:#f1f1f1"></div>


      <img class="imagealign" src='./assets/img/home/carezone4.png' />
      <ion-row>
        <ion-col class="beauty_plan_title">할수 있다! 물광미인</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="beauty_plan_subtitle">디스크립션</ion-col>
      </ion-row>
      <br>
      <div style="height:1px; width:97%; margin:0 auto; display: block; background-color:#f1f1f1"></div>


    </ion-slide>

  </ion-slides>

</ion-content>



<ion-footer *ngIf="platform.is('android')">
      <button mode="ios" *ngIf="page==='2'" ion-button class="android_footer_btn" (click)="community_write()" > 노트 작성하기 > </button>
      <button mode="ios" *ngIf="page==='3'" ion-button class="android_footer_btn" (click)="community_write()" > 고민 상담받기 > </button>
</ion-footer>

<ion-footer *ngIf="platform.is('ios')">
      <button mode="ios" *ngIf="page==='2'" ion-button class="ios_footer_btn" (click)="community_write()" > 노트 작성하기 > </button>
      <button mode="ios" *ngIf="page==='3'" ion-button class="ios_footer_btn" (click)="community_write()" > 고민 상담받기 > </button>
</ion-footer>
