page-community {


    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
      height: 0px;
      margin-bottom: 5px;
    }
    .item-md.item-block .item-inner{
      padding-right: 12px;
    }
    .header-ios::after, .tabs-ios[tabsPlacement="top"] > .tabbar::after, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before{
      height: 0px;
      margin-bottom: 5px;
    }
    .item-ios.item-block .item-inner{
      padding-right: 12px;
    }

    .toolbar-title-md{
      font-weight: bold;
      font-size: 17px;
      background-color: #FFF;
      font-family: NotoSansCJKkr;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }

    .toolbar-title-ios{
      font-weight: bold;
      font-size: 17px;
      background-color: #FFF;
      font-family: NotoSansCJKkr;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      margin-top: -5%;
      color: #292929;
    }

    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
      margin-left: -15%;
      margin-top: -15%;
      color: transparent;
    }

    .ios_nav{
      background-color: transparent;
      width: 140px !important;
      height: 25px !important;
      object-fit: contain;
    }

    .toolbar-background {
      background-color: #FFF;
    }

    .ion-md-arrow-back:before {
      position: absolute;
      content: "\f27d";
      left: 10%;
      top: 2px;
      width: 25px;
      height: 25px;
  }

     .toolbar-ios{
       margin-top: 8%;
     }

    .back-button-text-ios{
      font-size: 0px;
    }
    .android_title{
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 70%;
      color: #292929;
    }
    .ios_title{
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 120%;
      color: #292929;
    }

    .swiper-slide {
        overflow-y: scroll;
        display: block;
    }

    .beauty_tip {
      position: relative;
      width: auto;
      background-color: #ffffff;
      margin-top: 5%;
      min-height: 100%;
    }

    .beauty_grid_width {
      position: relative;
      top: 11%;
      width: 91%;
      height: 150px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      left: 0;
      right: 0;
      // margin-bottom: 5%;
    }

    .beauty_grid1 {
      position: absolute;
      top: 0;
      width: 95%;
      height: 95%;
      left: 25%;
      transform: translateX(-50%);
    }

    .beauty_grid2 {
      position: absolute;
      top: 0;
      width: 95%;
      height: 95%;
      left: 75%;
      transform: translateX(-50%);
    }

    .beauty_grid3 {
      position: absolute;
      top: 61%;
      width: 95%;
      height: 95%;
      left: 25%;
      transform: translateX(-50%);
    }

    .beauty_grid4 {
      position: absolute;
      top: 61%;
      width: 95%;
      height: 95%;
      left: 75%;
      transform: translateX(-50%);
    }



    .beauty_img {
      // width: 100%;
      min-width: 100%;
      min-height: 110%;
      border-radius: 5px;
    }

    .beauty_title {
      padding-top: 8%;
      width: 90px;
      height: 19px;
      font-family: NotoSansCJKkr;
      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #5c59b6;
      text-align: left;
    }

    .beauty_desc {
      padding-top: 8%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 150.5px;
      height: 30.5px;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      text-align: left;
      z-index: 5;
    }








}
