<!--
  Generated template for the BeautyTipAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-lines>
  <ion-navbar *ngIf="platform.is('android')" no-lines>
    <ion-buttons left>
      <button ion-button icon-only clear>
      <ion-grid>
        <ion-row class="postion" align-items-baseline>
          <img float-left margin-left class="" src="assets/img/svg/beautyple.svg" />
          <img float-left margin-left class="point-icon " src="assets/img/svg/icon_point.svg" />
          <div float-left class="Create-account" *ngIf="userData">{{userData.totaluserpoint}}&nbsp;
          </div>
        </ion-row>
      </ion-grid>
    </button>
    </ion-buttons>
    <ion-buttons end>
      <ion-grid>
        <ion-row class="postion" align-items-baseline>
            <button (click)="community_search()" ion-button icon-only clear><img  float-end class="headerIoncMargin" src="assets/img/svg/search.svg" /></button>
            <button (click)="orderDetailPage()" ion-button icon-only clear><img  float-end class="headerIoncMargin" src="assets/img/svg/cart.svg" /></button>
            <button (click)="myinfo()"  ion-button icon-only clear><img margin-right float-end class="headerIoncMargin" src="assets/img/svg/my.svg" /></button>
        </ion-row>
      </ion-grid>
    </ion-buttons>
    <!-- <img class="android_search" style="left:5%" (click)="community_search()"
      src="assets/img/beauty/ic-system-search@3x.png" /> -->
    <!-- <ion-title class="android_title" text-wrap>뷰티꿀팁1</ion-title> -->
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios') || platform.is('core')" no-lines>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-row class=" " align-items-baseline>
          <img margin-left float-left class="" src="assets/img/svg/beautyple.svg" />
          <img float-left margin-left class="point-icon" src="assets/img/svg/icon_point.svg" />
          <div float-left class="Create-account" *ngIf="userData">{{userData.totaluserpoint}}&nbsp;
          </div>
        </ion-row>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <ion-grid>
        <ion-row class="postion" align-items-baseline>
            <button (click)="community_search()" ion-button icon-only clear><img  float-end margin-bottom class="headerIoncMargin" src="assets/img/svg/search.svg" /></button>
            <button (click)="orderDetailPage()" ion-button icon-only clear><img  float-end margin-bottom class="headerIoncMargin" src="assets/img/svg/cart.svg" /></button>
            <button (click)="myinfo()"  ion-button icon-only clear><img margin-right float-end margin-bottom class="headerIoncMargin" src="assets/img/svg/my.svg" /></button>
        </ion-row>
      </ion-grid>
    </ion-buttons>
    <!-- <ion-title class="ios_title" text-wrap>뷰티꿀팁2</ion-title> -->
  </ion-navbar>
  <!-- <div style="height:1px; width:100%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
  <ion-segment class="segmentHeight" mode="md" [(ngModel)]="page" color="#5c59b6">
    <ion-segment-button value="0" (click)="selectedTab(0)">
      POST
    </ion-segment-button>
    <ion-segment-button value="1" (click)="selectedTab(1)">
      TALK
    </ion-segment-button>
    <ion-segment-button value="2" (click)="selectedTab(2)">
      VIDEO
    </ion-segment-button>
  </ion-segment>
  <div style="height:1px; width:100%; margin:0 auto; display: block; margin-top: -2px; background-color:#f1f1f1"></div>
</ion-header>

<ion-content no-padding>
  <ion-slides mode="ios" #Slides (ionDrag)="onSlideDrag()" (ionSlideWillChange)="slideChanged($event)">
    <!-- POST --------------------------------------------------------------------------------------->
    <ion-slide>
      <ion-grid>
        <br>
        <ion-row align-items-center>
          <img margin-left margin-top float-md-start src="assets/img/community/📬.png" />
          <div margin-top float-md-start class="-NEW-POST">딩동~ NEW POST</div>
        </ion-row>
      </ion-grid>
      <br>
      <ion-grid no-padding class="new_grid">
        <ion-slides mode="ios" id="movie" pager>
          <ng-container *ngIf="newSlideData">
            <ion-slide *ngFor="let newSlide of newSlideData; let i = index;"
              (click)="openBrowser_ios(newSlide.posturl, newSlide.body, newSlide._id)">
              <img class="image-6" src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{newSlide.filename}}" />
              <!-- <img class="movie_img1" src="https://img.youtube.com/vi/{{newSlide.id}}/maxresdefault.jpg" /> -->
              <div class="movie_text1_1">{{newSlide.body}}</div>
              <div class="movie_text3_1">{{newSlide.midtext}}</div>
              <div class="movie_text4_2">조회 {{newSlide.views}}</div>
              <br>
            </ion-slide>
          </ng-container>
        </ion-slides>
      </ion-grid>
      <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>

      <ion-grid no-margin no-padding class="Rectangle-75" style="width:100vw">
        <ion-row class="" no-margin no-padding margin-left margin-bottom align-items-center (click)="communityTip('tip')">
          <img margin-top float-md-start src="assets/img/community/tip.png" />
          <div margin-top float-md-start text-justify class="-NEW-POST">여기가 꿀TIP 맛집</div>
          <img margin-left margin-top float-md-start src="assets/img/svg/Vector.svg" class="arrowMarginDown" />
        </ion-row>
        <ng-container *ngIf="tipSlideData">
          <ng-container *ngFor="let tipSlide of tipSlideData; let i = index;">
            <ion-row no-margin no-padding margin-left margin-right margin-bottom align-items-center
              (click)="openBrowser_ios(tipSlide.posturl, tipSlide.body, tipSlide._id)">
              <ion-col col-1 class="tipNumber">{{i+1}}</ion-col>
              <ion-col col-5 class="">
                <img class="image-1" src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{tipSlide.filename}}" />
              </ion-col>
              <ion-col col-6 class="">
                <div text-left class="tip_text1">{{tipSlide.body}}</div>
                <div text-left class="tip_text2">{{tipSlide.midtext}}</div>
                <div text-left class="tip_text3">조회 {{tipSlide.views}}</div>
              </ion-col>
            </ion-row>
          </ng-container>
        </ng-container>
      </ion-grid>

      <!-- 뷰트꿀팁 이미지가 있을 때  -->
      <br>
      <ion-grid>
          <ion-row margin-bottom align-items-center (click)="communityTip('hit')" class="">
            <img margin-left margin-top float-md-start src="assets/img/community/hit.png" class="" />
            <div text-left margin-top float-md-start text-justify class="-NEW-POST">HIT 모르면 손해!</div>
            <img margin-left margin-top float-md-start src="assets/img/svg/Vector.svg" class="arrowMarginDown" />
          </ion-row>
          <ng-container *ngIf="tipSlideData">
            <ng-container *ngFor="let hitData of hit3Data; let i = index;">
              <ion-row no-margin no-padding margin-left margin-right margin-bottom align-items-center
                (click)="openBrowser_ios(hitData.posturl, hitData.body, hitData._id)">
                <ion-col col-7 class="">
                  <div text-left class="tip_text1">{{hitData.body}}</div>
                  <div text-left class="tip_text2">{{hitData.midtext}}</div>
                  <div text-left class="tip_text3">조회 {{hitData.views}}</div>
                </ion-col>
                <ion-col col-5 class="">
                  <img class="image-1" src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{hitData.filename}}" />
                </ion-col>
                <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>
              </ion-row>
            </ng-container>
          </ng-container>
        </ion-grid>

      <br><br><br><br>
    </ion-slide>

    <!-- TALK --------------------------------------------------------------------------------------->
    <ion-slide>
      <h2 class="beauty_best_tip">베스트 고민해결</h2>

      <ion-slides mode="ios" style="background-color: #f5f5f5; margin-top: 0px;" pager>
        <ng-container *ngFor="let skinqnaMain of skinQnaMainData; let i = index">
          <ion-slide (click)="community_qna_modify(skinqnaMain._id)">
            <ion-card>
              <div class="card-title"><span class="beauty_note_Q">Q </span> {{skinqnaMain.title}}</div><br>
              <!-- <div class="card-subtitle"><span class="beauty_note_Q">A </span>{{skinqnaMain.comments[0].body}}</div> -->
              <div *ngIf="skinqnaMain.comments.length > 0" class="card-subtitle"><span class="beauty_note_Q">A
                </span>{{skinqnaMain.comments[0].comment}}</div>
            </ion-card>
          </ion-slide>
        </ng-container>
      </ion-slides>

      <ng-container *ngFor="let skinqna of skinQnaData; let i = index">


        <ng-container *ngIf="skinqna.filename">
          <!-- 피부 고민 이미지가 있을 때  -->
          <ion-item class="line_item" no-lines>
            <ion-col (click)="community_qna_modify(skinqna._id)" class="container">
              <ion-row class="beauty_row">
                <div class="beauty_note_title_img2">{{skinqna.select}}</div>
                <ion-col col-8 class="beauty_note_title_img3">{{skinqna.title}}</ion-col>
              </ion-row>
              <ion-row class="beauty_row">
                <ion-col col-8 class="beauty_note_title_contents_img">{{skinqna.contents}}</ion-col>
              </ion-row>
              <ion-col class="beauty_note_like">조회 {{skinqna.views}} ∙ 좋아요 {{skinqna.like}} ∙
                <ion-col class="beauty_note_answer">답변 {{skinqna.comments.length}}</ion-col>
              </ion-col>
              <img *ngIf="platform.is('android')" class="beauty_worry_img"
                src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{skinqna.filename}}" />
              <img *ngIf="platform.is('ios') || platform.is('core')" class="beauty_worry_img_ios"
                src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{skinqna.filename}}" />
            </ion-col>
          </ion-item>
          <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>
        </ng-container>


        <ng-container *ngIf="!skinqna.filename">
          <!-- 피부 고민 이미지가 없을 때  -->
          <ion-item class="line_item" no-lines>
            <ion-col (click)="community_qna_modify(skinqna._id)" class="container">
              <ion-row class="beauty_row">
                <div class="beauty_note_title_img2">상품문의</div>
                <ion-col class="beauty_note_title_img4">{{skinqna.title}}</ion-col>
                <ion-col class="beauty_note_contents">{{skinqna.contents}}</ion-col>
              </ion-row>
              <ion-col class="beauty_note_like">조회 {{skinqna.views}} ∙ 좋아요 {{skinqna.like}} ∙
                <ion-col class="beauty_note_answer">답변 {{skinqna.comments.length}}</ion-col>
              </ion-col>
            </ion-col>
          </ion-item>
          <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>
        </ng-container>


      </ng-container>


      <!-- <button ion-button class="beauty_top_add" > 더보기 > </button>

    <div style="height:8px; width:100%; background-color:#f1f1f1"></div><br> -->
      <br><br><br><br>
    </ion-slide>

    <!-- VIDEO -------------------------------------------------------------------------------------->
    <ion-slide>
      <ion-grid no-padding class="movie_grid">
        <br>
        <ion-row align-items-center>
          <img margin-left margin-top float-md-start src="assets/img/community/eye.png" />
          <div margin-top float-md-start class="-NEW-POST">어머, 이건 꼭 봐야해! </div>
        </ion-row>

        <ion-slides mode="ios" id="movie" pager>
          <!-- <ng-container *ngIf="youTubeArrayData"> -->
          <ion-slide *ngFor="let tubeData of youTubeArrayData; let i = index;" (click)="openMoviePage(tubeData)">
            <img class="movie_img1" src="{{tubeData.snippet.thumbnails.default.url}}" />
            <div margin-left margin-top class="movText1_1">뷰티꿀팁<span class="movie_text2"> {{tubeData.snippet.title}}</span>
            </div>
            <div margin-left class="movText2_2">{{tubeData.snippet.channelTitle}}</div>
            <div *ngIf="videoDetailData[i]" class="movie_text4">조회 {{videoDetailData[i].views}} · 좋아요
              {{videoDetailData[i].like}} · <span class="movie_text4_1">답변 {{videoDetailData[i].comments.length}}</span>
            </div>
            <br>
          </ion-slide>
          <!-- </ng-container> -->
        </ion-slides>
      </ion-grid>

      <!-- 이번주 핫 클립 -->
      <ion-grid no-padding class="Rectangle-75">
        <ion-row (click)="movieTip('hot')" margin-left margin-bottom align-items-center class="">
          <img margin-top float-md-start src="assets/img/community/hot.png" class="" />
          <div margin-top float-md-start class="-NEW-POST ">이번주 HOT CLIP</div>
          <img margin-left margin-top float-md-start src="assets/img/svg/Vector.svg" class="arrowMarginDown"/>
        </ion-row>
        <ng-container *ngIf="youTubeHotArrayData">
          <ng-container *ngFor="let movieHit of youTubeHotArrayData; let k = index;">
            <ion-row (click)="openMoviePage(movieHit)" margin-top margin-bottom margin-left margin-right align-items-center>
              <ion-col col-1 class="movTipNumber">{{k+1}}</ion-col>
              <ion-col col-5>
                <img class="" src="{{movieHit.snippet.thumbnails.default.url}}" />
              </ion-col>
              <ion-col col-6>
                <div margin-left class="movText1 ">{{movieHit.snippet.title}}</div>
                <div margin-left class="movText2 ">{{movieHit.snippet.channelTitle}}</div>
                <div margin-left *ngIf="videoHotDetailData[k]" class="movText3">조회
                  {{videoHotDetailData[k].views}} · 좋아요 {{videoHotDetailData[k].like}}</div>
              </ion-col>
            </ion-row>
          </ng-container>
        </ng-container>
      </ion-grid>

      <!-- 슬기로운 플뷰 생활 -->
      <ion-grid no-padding>
        <ion-row (click)="movieTip('plinic')" margin-left margin-bottom align-items-center>
          <img margin-top float-md-start src="assets/img/community/heart.png" />
          <div margin-top float-md-start class="-NEW-POST">슬기로운 플뷰 생활</div>
          <img margin-left margin-top float-md-start src="assets/img/svg/Vector.svg" class="arrowMarginDown" />
        </ion-row>
        <ng-container *ngIf="youTubePlinicArrayData">
          <ng-container *ngFor="let movieHit of youTubePlinicArrayData; let k = index;">
            <ion-row (click)="openMoviePage(movieHit)" margin-bottom margin-left margin-right align-items-center>
              <ion-col col-7>
                <div class="movText5 ">{{movieHit.snippet.title}}</div>
                <div class="movText6 ">{{movieHit.snippet.channelTitle}}</div>
                <div *ngIf="videoHotDetailData[k]" class="movText3">조회
                  {{videoHotDetailData[k].views}} · 좋아요 {{videoHotDetailData[k].like}}</div>
              </ion-col>
              <ion-col col-5>
                <img class="" src="{{movieHit.snippet.thumbnails.default.url}}" />
              </ion-col>
              <!-- <ion-col col-1 class="movTipNumber">{{k+1}}</ion-col> -->
            </ion-row>
          </ng-container>
        </ng-container>
        <br><br><br>
      </ion-grid>
    </ion-slide>

  </ion-slides>

  <ion-fab>
    <ng-container *ngIf="platform.is('android')">
      <!-- <button ion-fab class="fab_btn" *ngIf="page==='2'" color="primary" (click)="community_write()">+</button> -->
      <button ion-fab class="fab_btn" *ngIf="page==='1'" color="primary" (click)="community_qna_write()">+</button>
    </ng-container>
    <ng-container *ngIf="platform.is('ios') || platform.is('core')">
      <!-- <button ion-fab class="fab_btn_ios" *ngIf="page==='2'" color="primary" (click)="community_write()">+</button> -->
      <button ion-fab class="fab_btn_ios" *ngIf="page==='1'" color="primary" (click)="community_qna_write()">+</button>
    </ng-container>

  </ion-fab>

</ion-content>


<!--
<ion-footer *ngIf="platform.is('android')">
  <button mode="ios" *ngIf="page==='2'" ion-button class="android_footer_btn" (click)="community_write()"> 노트 작성하기 > </button>
  <button mode="ios" *ngIf="page==='3'" ion-button class="android_footer_btn" (click)="community_qna_write()"> 고민 상담받기 > </button>

</ion-footer>

<ion-footer keyboard-attach no-bounce no-lines *ngIf="platform.is('ios') || platform.is('core')">

  <button mode="ios" *ngIf="page==='2'" ion-button class="ios_footer_btn" (click)="community_write()"> 노트 작성하기 > </button>
  <button mode="ios" *ngIf="page==='3'" ion-button class="ios_footer_btn" (click)="community_qna_write()"> 고민 상담받기 > </button>
</ion-footer> -->
