page-community {


  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    height: 0px;
    margin-bottom: 5px;
  }
  .item-md.item-block .item-inner{
    padding-right: 12px;
  }
  .header-ios::after, .tabs-ios[tabsPlacement="top"] > .tabbar::after, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before{
    height: 1px;
    margin-bottom: 5px;
  }

  .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    height: 0px;
  }
  .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before{
    height: 0px;
  }


  //탭바 하단 여백
  .scroll-content{
    margin-bottom: 0px !important;
  }


    .toolbar-title-md{
      font-weight: bold;
      font-size: 17px;
      background-color: #FFF;
      font-family: NotoSansCJKkr;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }

    .toolbar-title-ios{
      font-weight: bold;
      font-size: 17px;
      background-color: #FFF;
      font-family: NotoSansCJKkr;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      margin-top: -5%;
      color: #292929;
    }

    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
      margin-left: -15%;
      margin-top: -15%;
      color: transparent;
    }

    .ios_nav{
      background-color: transparent;
      width: 140px !important;
      height: 25px !important;
      object-fit: contain;
    }

    .toolbar-background {
      background-color: #FFF;
    }

    .ion-md-arrow-back:before {
      position: absolute;
      content: "\f27d";
      left: 10%;
      top: 2px;
      width: 25px;
      height: 25px;
  }

     .toolbar-ios{
       margin-top: 8%;
     }

    .back-button-text-ios{
      font-size: 0px;
    }
    .android_title{
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 70%;
      color: #292929;
    }
    .ios_title{
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 120%;
      color: #292929;
    }

    .android_search{
      position: absolute;
      margin-top: -3%;
      right: 17%;
      width: 25px;
      height: 25px;
      object-fit: contain;
    }

    .android_my{
      position: absolute;
      right: 4%;
      font-family: Roboto;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #292929;
      margin-top: -2.5%;
    }

    .ios_search{
      position: absolute;
      margin-top: -5%;
      right: 17%;
      width: 25px;
      height: 25px;
      object-fit: contain;
    }

    .ios_my{
      position: absolute;
      right: 4%;
      font-family: Roboto;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #292929;
      margin-top: -4.5%;
    }


    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
      height: 3rem;
      border-color: #6562b9;
      border-bottom-width: 3px;
      opacity: 1;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #5c59b6;
      margin-top: 5%;
    }


    .segment-ios .segment-button.activated, .segment-ios .segment-button.segment-activated{
      height: 3rem;
      border-color: #6562b9;
      border-bottom-width: 3px;
      opacity: 1;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #5c59b6;
      margin-top: 5%;
    }

    .segment-md .segment-button{
      height: 3rem;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #b6b6b6;
      margin-top: 5%;
      border-width: 0px;
    }

    .segment-ios .segment-button{
      height: 3rem;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #b6b6b6;
      margin-top: 5%;
      border-width: 0px;
    }


    .swiper-slide {
        overflow-y: scroll;
        display: block;
    }

    .slide-zoom{
     height: 100%;
    }

    .beauty_tip{
     padding: 16px;
     padding-bottom: 0px;
     margin-bottom: 5%;
    }

    .beauty_img {
      width: 100%;
      border-radius: 5px;
      background-color: #f5f5f5;
    }


    .beauty_desc {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: AppleSDGothicNeo;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      text-align: left;
      margin-top: 10%;
    }

    .beauty_count{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: Roboto;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #b6b6b6;
      text-align: left;
      margin-top: 2%;
      margin-bottom: 13%;
    }


      .beauty_top_label{
        min-width: 100%;
        min-height: 55px;
        background-color: #FFF;
        font-family: NotoSansCJKkr;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #292929;
      }


      .beauty_top_add{
        width: 91%;
        min-height: 50px;
        font-family: AppleSDGothicNeo;
        background-color: #FFF !important;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #292929;
        border: solid 0.5px #c7c7c7;
        box-shadow: none;
        margin: 0 auto;
        display: block;
        margin-top: 10%;
        margin-bottom: 10%;
      }


      .beauty_ad_img{
        width: 100%;
        height: 60px;
      }

      .beauty_ggul_tip{
      padding-left: 5%;
      margin-top: 10% !important;
      margin-bottom: 0%;
      text-align: left;
      font-family: NotoSansCJKkr;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      }

      .beauty_note_tip{
        font-family: NotoSansCJKkr;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #292929;
        padding-left: 5%;
        margin-top: 8% !important;
        margin-bottom: 0%;
        text-align: left;
      }

      .beauty_worry_tip{
        font-family: NotoSansCJKkr;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #292929;
        padding-left: 5%;
        margin-top: 5% !important;
        margin-bottom: 0%;
        text-align: left;
      }

      .beauty_keyword_tip{
        font-family: NotoSansCJKkr;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #292929;
        padding-left: 5%;
        margin-top: 5% !important;
        margin-bottom: 5%;
        text-align: left;
      }

      .beauty_best_tip{
      padding-left: 5%;
      padding-top: 10% !important;
      text-align: left;
      font-family: NotoSansCJKkr;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      background-color: #f5f5f5;
      margin: 0px;
      }

      .beauty_note_tag{
        font-family: NotoSansCJKkr;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #5c59b6;
      }

      .beauty_note_title_img{
        max-width: 65%;
        font-family: NotoSansCJKkr;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #292929;
        text-align: left;
        margin-left: 4%;
      }

      .beauty_note_title{
        min-width: 97%;
        font-family: NotoSansCJKkr;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #292929;
        text-align: left;
        margin-left: 4%;
        padding-right: 4%;
      }

      .beauty_note_like{
        font-family: NotoSansCJKkr;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #b6b6b6;
        left: -27%;
      }


      .beauty_note_count{
        font-family: NotoSansCJKkr;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #b6b6b6;
      }

      .beauty_note_answer{
        font-family: NotoSansCJKkr;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #5c59b6;
      }

        .container {
          position: relative;
          width: 100%;
        }

        .container .beauty_note_img {
          position: absolute;
          top: -50%;
          right: -90%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          color: #fff;
          border: none;
          cursor: pointer;
          width: 85px;
          max-height: 85px !important;
          border-radius: 5px;
          background-color: #f5f5f5;
        }


        .keyword_align{
         margin-left: 4%;
         text-align: left;
         margin-bottom: 10%;
        }

        .beauty_keyword{
          height: 38px;
          border-radius: 3px;
          border: solid 1px #e5e5e5;
          background-color: #FFF !important;
          font-family: AppleSDGothicNeo;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #292929;
          box-shadow: none;
        }


        .card-title{
          font-family: NotoSansCJKkr;
          font-size: 15px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.4;
          letter-spacing: normal;
          color: #292929;
        }


        .card-subtitle{
          font-family: NotoSansCJKkr;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.62;
          letter-spacing: normal;
          color: #939393;
        }

        .beauty_note_Q{
          font-family: AppleSDGothicNeo;
          font-size: 15px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.4;
          letter-spacing: normal;
          color: #5c59b6;
        }

        .card-ios {
            width: 90%;
            height: 45%;
            border-radius: 5px;
            background-color: #ffffff;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
            margin: 0 auto;
            display: block;
            margin-top: 5%;
            padding: 10%;
            text-align: left;
            margin-bottom: 20%;
        }

        .card-md {
            width: 90%;
            height: 45%;
            border-radius: 5px;
            background-color: #ffffff;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
            margin: 0 auto;
            display: block;
            margin-top: 5%;
            padding: 10%;
            text-align: left;
            margin-bottom: 20%;
        }

        .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
          bottom: 10%;
        }

        .swiper-pagination-bullet-active{
          background-color: #5c59b6 !important;
        }

        .swiper-pagination-bullet{
          background: transparent;
          border: solid 5px #5c59b6!important;
        }

        .slide-zoom{
          height: auto;
          overflow:auto;
        }

        .imagealign_first{
          width: 91%;
          height: auto;
          margin: 0 auto;
          display: block;
          border-radius: 5px;
          background-color: #FFF;
          margin-top: 10%;
        }

        .imagealign{
          width: 91%;
          height: auto;
          margin: 0 auto;
          display: block;
          border-radius: 5px;
          background-color: #FFF;
          margin-top: 5%;
        }

        .beauty_plan_title{
          font-family: NotoSansCJKkr;
          font-size: 15px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #292929;
          text-align: left;
          padding-left: 4%;
        }

        .beauty_plan_subtitle{
          font-family: NotoSansCJKkr;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #939393;
          text-align: left;
          padding-left: 4%;
        }


        .android_footer_btn{
          width: 90%;
          height: 50px;
          margin: 0 auto;
          display: block;
          font-family: NotoSansCJKkr;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
          margin-bottom: -20px !important;
          background-color: #5c59b6;
          box-shadow: none;
        }

        .ios_footer_btn{
          position: fixed;
          left : 0;
          right : 0;
          bottom : 7%;
          width: 90%;
          height: 50px;
          margin: 0 auto;
          display: block;
          font-family: NotoSansCJKkr;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
          margin-bottom: -30px !important;
          background-color: #5c59b6;
          box-shadow: none;
        }


}
