<ion-header>
  <ion-navbar *ngIf="platform.is('android')  || platform.is('core')">

    <ion-title class="android_title" text-wrap>상품 선택</ion-title>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios')" no-lines>
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only>
        <img class="ios_nav"src="assets/img/agreement/ic-system-back-black@3x.png"/>
      </button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>상품 선택</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <br />
  <ion-card class="card">
    <ion-grid class="left">
      <br />
      <ion-row *ngIf="productData" class="pick-title">{{productData.product_name}}</ion-row>
      <br />
      <ion-list>
        <ion-item no-padding>
          <ion-select
            okText="Okay"
            cancelTest="Dismiss"
            id="select"
            class="s_icon"
            placeholder="옵션을 선택하세요"
            disabled ="true"
          >
            <ion-option value="nes">1</ion-option>
            <ion-option value="n64">2</ion-option>
            <ion-option value="ps">3</ion-option>
            <ion-option value="genesis">4</ion-option>
            <ion-option value="saturn">5</ion-option>
            <ion-option value="snes">6</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <br />
      <ion-row>
        <ion-col class="pick_count" col-7 no-padding>
          <input (click)="minus()" type="button" value=" - " />
          <input
            type="text"
            name="amount"
            value="{{ProductCount}}"
            size="3"
            style="text-align: center;"
          />
          <input (click)="plus()" type="button" value=" + " />
        </ion-col>
        <ion-col class="text_col" col-5>
          <div class="pick_text1">합계</div>
          <div class="pick_text2">{{ProductAmountString}}</div>
        </ion-col>
      </ion-row>
      <br />
    </ion-grid>
  </ion-card>
  <!-- </ion-slide>
  </ion-slides> -->

  <!-- <ion-row class="pick-btn">
    <button ion-button class="pick_btn1">장바구니</button>
    <button ion-button (click)="buy()" color="Purple" class="pick_btn2">구매하기</button>
  </ion-row> -->
</ion-content>

<ion-footer mode="ios" class="footer" keyboard-attach no-bounce no-lines>
  <button ion-button (click)="order()" class="pick_btn1"><div class="cart_text">장바구니</div></button>
  <button *ngIf="productData && userData" ion-button (click)="buy(productData, userData, ProductCount, ProductAmount)" color="Purple" class="pick_btn2">
    <div class="buy_text">구매하기</div>
  </button>
</ion-footer>
