page-myinfo {
  .descript {
    font-size: 0.8em;
  }
}

button {
  width: 20%;
  padding-left: 50.1111%;
}

ion-thumbnail {
  height: 100px;
  width: 100px;
  border-radius: 30% !important;
  // padding-left: 30px !important;
  // font-size: 0.9em;
  // margin-bottom: 10px;
  // border: 1px solid color($colors, light);
  // border-bottom: 0 !important;
  // box-shadow: none !important;
  //background: color($colors, light);
}

.img-radius {
  border-radius: 50% !important;

}

.item-ios ion-avatar[item-left],
.item-ios ion-thumbnail[item-left],
.item-ios ion-avatar[item-start],
.item-ios ion-thumbnail[item-start] {
  margin: 4px -29px -32px 0;
}
