<!--
  Generated template for the MyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar *ngIf="platform.is('android')">
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <!-- <ion-icon md="md-arrow-forward"></ion-icon> -->
        <img class="ios_nav" src="assets/img/agreement/ic-system-back-black@3x.png" />
      </button>
    </ion-buttons>

    <!-- <ion-icon class="android_alarm" (click)="alarm_page();" ios="ios-notifications" md="ios-notifications-outline">
      <button ion-fab mini color="danger">
        <span class="android_alarmCount">2</span>
      </button>
    </ion-icon> -->

    <ion-buttons end>
      <ng-container *ngIf="alarmData">
        <ng-container *ngIf="alarmData.length >= 1">
          <button ion-button icon-only clear float-left (click)="alarm_page();">
            <ion-icon
              class="android_alarm" ios="ios-notifications" md="ios-notifications-outline">
              <button ion-fab mini color="danger">
                <span class="android_alarmCount">{{alarmData.length}}</span>
              </button>
            </ion-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="alarmData.length == 0">
          <button ion-button icon-only clear (click)="alarm_page();">
            <ion-icon
              class="android_alarm" ios="ios-notifications" md="ios-notifications-outline">
            </ion-icon>
          </button>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!alarmData">
        <button ion-button icon-only clear (click)="alarm_page();">
          <ion-icon
            class="android_alarm" ios="ios-notifications" md="ios-notifications-outline">
          </ion-icon>
        </button>
      </ng-container>
    
      <!-- <img float-right class="android_setting" (click)="setting_page();" src="assets/img/myinfo/ic-system-setting@3x.png" /> -->

      <button ion-button icon-only clear (click)="setting_page();" padding-left>
        <img margin-right float-end class="android_setting" src="assets/img/myinfo/ic-system-setting@3x.png" /></button>
    </ion-buttons>
    <ion-title class="android_title" text-wrap> MY </ion-title>
  </ion-navbar>

  <!-- <ion-navbar  hideBackButton="true" *ngIf="platform.is('ios')">
    <ion-title *ngIf="carezoneData" class="ios_title" text-wrap> {{carezoneData.missontitle}} </ion-title>
  </ion-navbar> -->

  <ion-navbar *ngIf="platform.is('ios') || platform.is('core')">
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <img class="ios_nav" src="assets/img/agreement/ic-system-back-black@3x.png" />
      </button>
    </ion-buttons>



    <ion-buttons end>
      <ng-container *ngIf="alarmData">
        <ng-container *ngIf="alarmData.length >= 1">
          <button ion-button icon-only clear (click)="alarm_page();">
            <ion-icon margin-left
              class="ios_alarm" ios="ios-notifications" md="ios-notifications-outline">
              <button ion-fab mini color="danger">
                <span class="ios_alarmCount">{{alarmData.length}}</span>
              </button>
            </ion-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="alarmData.length == 0">
          <button ion-button icon-only clear (click)="alarm_page();">
            <ion-icon margin-left
              class="ios_alarm" ios="ios-notifications" md="ios-notifications-outline">
            </ion-icon>
          </button>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!alarmData">
        <button ion-button icon-only clear (click)="alarm_page();">
          <ion-icon margin-left
            class="ios_alarm" ios="ios-notifications" md="ios-notifications-outline">
          </ion-icon>
        </button>
      </ng-container>
      <button ion-button icon-only clear (click)="setting_page();" padding-left><img margin-right float-end
        class="ios_setting" src="assets/img/myinfo/ic-system-setting@3x.png" /></button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap> MY </ion-title>
    <!-- <img class="ios_setting" (click)="setting_page();" src="assets/img/myinfo/ic-system-setting@3x.png" /> -->
  </ion-navbar>
</ion-header>



<ion-content #content no-padding>

  <ng-container *ngIf="userData">
    <br>
    <br>
    <ion-grid>
      <ion-row margin-left>
        <ion-col>
          <span class="profile_name">{{userData.nickname}}</span>
          <span class="profile_name2">님</span>
        </ion-col>
        <ion-col>
          <!-- <button (click)="openBrowser_android('https://plinicshop.com', 'PlinicShop')" ion-button class="goshop">포인트몰
            이동</button> -->
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row margin-left class="">
        <ion-col (click)="pointLog()" class="point_text " col-4>플리닉 포인트 ></ion-col>
        <ion-col class="order_text " col-4>주문 및 배송 ></ion-col>
        <ion-col class="order_text " col-4>반품 및 교환 ></ion-col>
        <!-- <ion-col class="return_text" col-4>취소∙반품∙교환</ion-col> -->
      </ion-row>
      <ion-row margin-left class="">
        <ng-container *ngIf="platform.is('ios')">
          <ion-col *ngIf="userData" class="point " col-4>
            <ion-spinner *ngIf="isSpinner" class="ing_spinner" name="crescent"></ion-spinner>
            <div (click)="pointLog()" class="flip_number" #numberbtn></div>
            <!-- <div class="number_width">P</div> -->
          </ion-col>
        </ng-container>
        <ng-container *ngIf="platform.is('android') || platform.is('core')">
          <ion-col *ngIf="userData" class="point " col-4>
            <ion-spinner *ngIf="isSpinner" class="ing_spinner" name="crescent"></ion-spinner>
            <div (click)="pointLog()" class="flip_number" #numberbtn></div>
            <!-- <div class="number_width_android">P</div> -->
          </ion-col>
        </ng-container>
        <ion-col (click)="orderDetailPage()" *ngIf="orderCount" class="order " col-4>{{orderCount}}</ion-col>
        <ion-col (click)="orderDetailPage()" *ngIf="(orderCount === 0)" class="order " col-4>0</ion-col>
        <ion-col class="order " col-4>0</ion-col>

        <!-- <ion-col class="return" col-4>0</ion-col> -->
      </ion-row>
      <br><br>
    </ion-grid>
    <!-- <div class="profile_email">{{userData.email}}</div> -->

    <!-- <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; background-color:#f1f1f1"></div> -->

  </ng-container>

  <ng-container>
    <ion-grid>
      <ion-row>
        <div (click)="pointGuide()" class="mission_text">포인트 상세안내</div>
        <div (click)="pointGuide()"><img class="guide_img" src="assets/img/myinfo/q@3x.png" /></div>
        <!-- <span (click)="pointGuide()" class="mission_text">포인트 상세안내</span>
          <span (click)="pointGuide()"><img class="guide_img" src="assets/img/myinfo/q@3x.png" /></span> -->
        <p class="guide_text"><span class="guide_text2">적립된 포인트는 포인트샵</span>에서 바로 사용 가능합니다.
          <!-- <span class="guide_text2">포인트몰 적립금이 확인</span>되셨으면 바로 사용이 가능합니다. -->
        </p>
      </ion-row>
      <br>
      <ion-row class="strat_care_div">
        <img class="my-care" (click)="test_noti()" src="assets/img/myinfo/my-care.png" />
        <!-- <button ion-button class="plasma_care" (click)="test_noti()">
            <div class="mission_button_text">플라즈마 케어포인트 미션</div>
            <img class="ic-my-plinic" src="assets/img/myinfo/ic-my-plinic@3x.png" />
        </button> -->
      </ion-row>
      <!-- 2021-03-29 숨김 처리 <br>
      <ion-row class="strat_care_div">
        <img class="my-care" (click)="test_camera()" src="assets/img/myinfo/my-camera.png" />
      </ion-row> -->
      <br>
      <ion-row class="strat_care_div">
        <img class="my-care" (click)="chulsuk_check()" src="assets/img/myinfo/my-chulsuk.png" />
        <!-- <button ion-button class="get_point" (click)="chulsuk_check()">
          <div class="mission_button_text">출석체크 포인트 미션</div>
          <img class="ic-my-plinic" src="assets/img/myinfo/ic-my-point@3x.png" />
        </button> -->
      </ion-row>
      <!-- <ion-row class="strat_care_div">
        <button ion-button class="get_point" (click)="camera_guide()">
          <div class="mission_button_text">피부진단 (개발중)</div>
        </button>
      </ion-row> -->
    </ion-grid>
  </ng-container>

  <br><br>
  <!-- 진행중인 챌린지가 있을때 -->
  <!-- <ng-container *ngIf="challengeMissionData">
    <ion-grid (click)="ingCarezone(challengeMissionData)">
      <ion-row>
        <div
          style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; background-color:#f1f1f1">
        </div>
        <ng-container>
          <span class="chalange_text">진행 중인 챌린지</span>
        </ng-container>
      </ion-row>
      <br><br>
      <ion-row *ngIf="challengeMissionData">
        <img class="chal_img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{challengeMissionData.filename}}" />
      </ion-row>
      <br>
      <ion-row>
        <ng-container *ngIf="challengeMissionData">
          <div class="chalange_text_title">{{challengeMissionData.title}}</div>
        </ng-container>
        <ng-container *ngIf="challengeMissionData">
          <div class="chalange_text_subtitle">{{challengeMissionData.body}}</div>
        </ng-container>
      </ion-row>
    </ion-grid>
  </ng-container> -->

  <!-- 진행중인 챌린지가 없을때 -->
  <!-- <ng-container *ngIf="!challengeMissionData">
    <ion-grid>
      <ion-row>
        <div
          style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; background-color:#f1f1f1">
        </div>
        <ng-container>
          <div class="chalange_text">진행 중인 챌린지</div>
        </ng-container>
      </ion-row>
      <ion-row class="my_no">
        <div class="my_noData">진행 중인 챌린지가 없습니다.</div>
      </ion-row>
    </ion-grid>
  </ng-container> -->



  <br><br>

  <ng-container *ngIf="isSkinQnaData">
    <ion-grid>
      <ion-row>
        <div
          style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; background-color:#f1f1f1">
        </div>
        <ng-container>
          <div (click)="goMyQna()" class="my_text">나의 활동</div>
        </ng-container>
      </ion-row>
      <ng-container *ngFor="let beautynote of skinQnaData; let i = index">
        <ng-container *ngIf="userData.email === beautynote.email && i < 3">
          <!-- 뷰트노트 이미지가 있을 때  -->
          <ng-container *ngIf="beautynote.filename">
            <ion-item class="line_item" no-lines>
              <ion-col (click)="community_modify(beautynote._id)" class="container">
                <ion-row class="beauty_row">
                  <ion-col col-8 class="beauty_note_title_img"><span class="beauty_note_tag">{{beautynote.select}}
                    </span>{{beautynote.title}}</ion-col>
                </ion-row>
                <ion-row class="beauty_row">
                  <ion-col col-8 class="beauty_note_title_contents_img">{{beautynote.contents}}</ion-col>
                </ion-row>
                <ion-col *ngIf="beautynote.like || beautynote.like===0" class="beauty_note_like">
                  <img class="my_like" src="assets/img/myinfo/ic-system-like-off@3x.png" />
                  {{beautynote.like}}
                  ∙
                  <ion-col class="beauty_note_count">조회 {{beautynote.views}}</ion-col>
                </ion-col>
                <img *ngIf="platform.is('android')" class="beauty_note_img"
                  src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{beautynote.filename}}" />
                <img *ngIf="platform.is('ios') || platform.is('core')" class="beauty_note_img_ios"
                  src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{beautynote.filename}}" />
              </ion-col>
            </ion-item>
            <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>
          </ng-container>

          <ng-container *ngIf="!beautynote.filename">
            <!-- 뷰트노트 이미지가 없을 때  -->
            <ion-item class="line_item" no-lines>
              <ion-col (click)="community_modify(beautynote._id)" class="container">
                <ion-row class="beauty_row">
                  <ion-col col-8 class="beauty_note_title"><span class="beauty_note_tag">{{beautynote.select}}
                    </span>{{beautynote.title}}</ion-col>
                </ion-row>
                <ion-row class="beauty_row">
                  <ion-col class="beauty_note_title_contents">{{beautynote.contents}}</ion-col>
                </ion-row>
                <ion-col *ngIf="beautynote.like || beautynote.like===0" class="beauty_note_like">

                  <img class="my_like" src="assets/img/myinfo/ic-system-like-off@3x.png" />
                  {{beautynote.like}}
                  ∙
                  <ion-col class="beauty_note_count">조회 {{beautynote.views}}</ion-col>
                </ion-col>
              </ion-col>
            </ion-item>
            <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="userData.email === beautynote.email && i === 5">
          <!-- <button ion-button class="beautynote_add">더보기</button> -->
        </ng-container>
      </ng-container>
    </ion-grid>
  </ng-container>
  <br><br><br>

  <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; background-color:#f1f1f1">
  </div>
  <ng-container *ngIf="!isSkinQnaData">
    <ion-grid>
      <ion-row>
        <ng-container>
          <div class="my_text">나의 활동</div>
        </ng-container>
      </ion-row>
      <ion-row class="my_no">
        <div class="my_noData">활동 이력이 없습니다.</div>
      </ion-row>
      <br><br><br><br>
    </ion-grid>
  </ng-container>
</ion-content>
