<!-- <ion-header>
  <ion-navbar>
    <ion-title>내 정보</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>

  <ion-list class="top_list" no-lines>
    <ion-item class="info_text">
      내정보
    </ion-item>
    <ion-item *ngIf="userData">
      <ion-thumbnail item-start>
        <img *ngIf="userData.thumbnail_image" class="img-radius" [src]="userData.thumbnail_image"/>
        <img *ngIf="!userData.thumbnail_image" class="img-radius" [src]="profileimg_url"/>
      </ion-thumbnail>

      <!-- <ion-thumbnail *ngIf="platform.is('android') && userData.from ==='plinic'" item-start>
        <img *ngIf="imagePath" class="img-radius" [src]="imagePath" />
        <img *ngIf="!imagePath" class="img-radius" src="assets/img/register/ic-system-profile-default@3x.png" srcset="assets/img/register/ic-system-profile-default@2x.png,
                      assets/img\register/ic-system-profile-default@3x.png" />
      </ion-thumbnail>

      <ion-thumbnail *ngIf="platform.is('android') && userData.from !=='plinic'" item-start>
        <img *ngIf="userData.thumbnail_image" class="img-radius" [src]="userData.thumbnail_image"/>
        <img *ngIf="!userData.thumbnail_image" class="img-radius" src="assets/img/register/ic-system-profile-default@3x.png" srcset="assets/img/register/ic-system-profile-default@2x.png,
                      assets/img\register/ic-system-profile-default@3x.png" />
      </ion-thumbnail> -->

      <h2 class="nickname"> {{userData.nickname}}</h2>
      <p class="email"> {{userData.email}}</p>
      <button class="info_change" *ngIf="platform.is('ios') && platform.is('mobile')" ion-button (click)="Reregiter()">내&nbsp;정보</button>
      <button class="info_change" *ngIf="platform.is('android') && platform.is('mobile')" style="bottom:35%;" ion-button (click)="Reregiter()">내&nbsp;정보</button>

    </ion-item>

    <div *ngIf="platform.is('ios')" style="margin-top: 6%; height:1px; width:100%; background-color:#f1f1f1"></div>
    <div *ngIf="platform.is('android')" style="position:absolute; margin-top: -1%; height:1px; width:100%; background-color:#f1f1f1"></div>

  </ion-list>

  <ion-list no-lines>
    <button mode="ios" style="font-weight:bold" no-lines ion-item icon-start (click)="noti()">공지사항</button>
    <ion-item class="noti_text" *ngFor="let notice of noticeData" (click)="noti()" no-lines>
      {{[notice.category]}} {{notice.title}}</ion-item>
    <ion-item></ion-item>
  </ion-list>

  <div *ngIf="platform.is('ios')" style="position: absolute; height: 1px;width: 100%; margin-top: -16%; background-color: #f1f1f1;"></div>
  <div *ngIf="platform.is('android')" style="position: absolute; height: 1px;width: 100%; margin-top: -12%; background-color: #f1f1f1;"></div>


  <ion-list no-lines>
    <ion-item class="connect_status" mode="ios" no-lines>연동상태
      <!-- <button mode="ios" *ngIf="blu_connect" class="blue_status" no-lines ion-item (click)="blue_connect()">연동 중</button> -->
      <!-- <button mode="ios" *ngIf="!blu_connect" class="blue_status" no-lines ion-item (click)="blue_disconnect()">연동 해제</button> -->
      <button mode="ios" *ngIf="blu_connect" class="blue_status" no-lines ion-item (click)="blue_disconnect()">연동 해제</button>
    </ion-item>
    <button class="plinic_use" mode="ios" no-lines ion-item (click)="plinic_manual()" icon-start>플리닉 사용법</button>
    <button class="care_zone" mode="ios" no-lines ion-item (click)="openCareZoneTab()" icon-start>케어존</button>
    <button class="inquiry" mode="ios" no-lines ion-item (click)="plinic_qna()" icon-start>문의하기</button>
    <ion-item no-lines>
      <ion-toggle mode="md" [(ngModel)]="push_check" (ionChange)="push_change()"></ion-toggle>
      <ion-label class="text">추천 알림</ion-label>
    </ion-item>
  </ion-list>


  <div *ngIf="platform.is('ios')" style="position:absolute; height:1px; width:100%; margin-top:-4%; background-color:#f1f1f1"></div>
  <div *ngIf="platform.is('android')" style="position:absolute; height:1px; width:100%; margin-top:-1%; background-color:#f1f1f1"></div>


  <ion-list no-lines>
    <button class="terms" mode="ios" ion-item (click)="terms()" icon-start>이용약관</button>
    <button class="text" mode="ios" ion-item (click)="personalinfo()" icon-start>개인정보처리방침</button>
    <ion-item class="current_version" no-lines>현재 버전 <ion-note item-end>1.0</ion-note>
    </ion-item>
    <button class="logout" mode="md" ion-item (click)="logout()" icon-start>로그아웃</button>
  </ion-list>

  <!-- <ion-item no-lines>
      펌웨어
      <ion-note item-end>
        1.0
      </ion-note>
    </ion-item> -->

  <!-- <button no-lines ion-item icon-start>피부 유형진단</button>


    <ion-item>
      <ion-note>
        <p>피부 유형 재진단 시 이전 데이터는 초기화 됩니다.</p>

      </ion-note>
    </ion-item> -->

  <!-- <button ion-item icon-start>주문/배송</button>

    <button ion-item icon-start>배송지 정보</button> -->

  <!-- <button ion-item (click)="plinic_qna()" icon-start>문의하기</button>

    <ion-item>
      <ion-toggle [(ngModel)]="push_check" (ionChange)="push_change()"></ion-toggle>
      <ion-label>
        추천 알림
      </ion-label>
    </ion-item> -->

  <!-- <ion-item>
      <ion-note>
        <p>추천 알림을 설정하시면</p>
        <p>다양한 스킨 케어 정보 및 제품을 추천해드려요.</p>
      </ion-note>
    </ion-item> -->

  <!-- <button ion-item icon-start>자주하는 질문</button> -->

  <!-- <ion-item> -->
  <!-- <ion-note> -->
  <!-- <p>플리닉을 탈퇴하려면 <button ion-button small clear (click)="leave()"><u>여기를</u></button> 눌러주세요.<p> -->
  <!-- <p>플리닉을 탈퇴하려면 <u>여기를</u> 눌러주세요.<p> -->
  <!-- </ion-note>
  </ion-item> -->
</ion-content>
