<!-- <ion-header>
  <ion-navbar>
    <ion-title>내 정보</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <ion-list no-lines>
    <ion-item class="info_text">
      내정보
    </ion-item>

    <ion-item *ngIf="userData">
      <ion-thumbnail item-start>
        <ion-img class="img-radius" *ngIf="userData.thumbnail_image==''" src="assets/img/care-zone/ic-system-profile-sample@3x.png">
          </ion-img>
        <img class="img-radius" src="{{userData.thumbnail_image}}"/>
      </ion-thumbnail>
      <h2>{{userData.nickname}}</h2>
      <p>{{userData.email}}</p>
      <button class="info_change" *ngIf="platform.is('ios') && platform.is('mobile')" ion-button (click)="Reregiter()">내&nbsp;정보</button>
      <button class="info_change" *ngIf="platform.is('android') && platform.is('mobile')" style="bottom:45%;" ion-button (click)="Reregiter()">내&nbsp;정보</button>

    </ion-item>

  </ion-list>

  <ion-list no-lines>
    <button mode="ios" no-lines ion-item icon-start (click)="noti()">공지사항</button>
    <ion-item no-lines>[이벤트] 플리닉 친구 추천 이벤트가 진행되고 있습니다.</ion-item>
    <ion-item no-lines>[공지] 플리닉 연동 문제 해결법</ion-item>
    <ion-item no-lines>[공지] 서버 점검 안내(2019.08.01 12:00~)</ion-item>
    <ion-item></ion-item>
  </ion-list>

  <ion-list no-lines>
    <ion-item mode="ios" no-lines>
      연동상태
      <ion-note item-end>
        연동 중
      </ion-note>
    </ion-item>
    <button mode="ios" no-lines ion-item (click)="plinic_manual()" icon-start>플리닉 사용법</button>
    <button mode="ios" no-lines ion-item (click)="plinic_qna()" icon-start>케어존</button>
    <button mode="ios" no-lines ion-item (click)="plinic_qna()" icon-start>문의하기</button>
    <ion-item no-lines>
      <ion-toggle checked="true"></ion-toggle>
      <ion-label>추천 알림</ion-label>
    </ion-item>
    <ion-item></ion-item>
  </ion-list>

  <ion-list no-lines>
    <button mode="ios" ion-item (click)="terms()" icon-start>이용약관</button>
    <button mode="ios" ion-item icon-start>개인정보처리방침</button>
    <ion-item no-lines>
      현재 버전
      <ion-note item-end>1.0</ion-note>
    </ion-item>
    <button mode="md" ion-item (click)="logout()" icon-start>로그아웃</button>
  </ion-list>

  <!-- <ion-item no-lines>
      펌웨어
      <ion-note item-end>
        1.0
      </ion-note>
    </ion-item> -->

  <!-- <button no-lines ion-item icon-start>피부 유형진단</button>


    <ion-item>
      <ion-note>
        <p>피부 유형 재진단 시 이전 데이터는 초기화 됩니다.</p>

      </ion-note>
    </ion-item> -->

  <!-- <button ion-item icon-start>주문/배송</button>

    <button ion-item icon-start>배송지 정보</button> -->

  <!-- <button ion-item (click)="plinic_qna()" icon-start>문의하기</button>

    <ion-item>
      <ion-toggle [(ngModel)]="push_check" (ionChange)="push_change()"></ion-toggle>
      <ion-label>
        추천 알림
      </ion-label>
    </ion-item> -->

  <!-- <ion-item>
      <ion-note>
        <p>추천 알림을 설정하시면</p>
        <p>다양한 스킨 케어 정보 및 제품을 추천해드려요.</p>
      </ion-note>
    </ion-item> -->

  <!-- <button ion-item icon-start>자주하는 질문</button> -->

  <!-- <ion-item> -->
    <!-- <ion-note> -->
      <!-- <p>플리닉을 탈퇴하려면 <button ion-button small clear (click)="leave()"><u>여기를</u></button> 눌러주세요.<p> -->
      <!-- <p>플리닉을 탈퇴하려면 <u>여기를</u> 눌러주세요.<p> -->
    <!-- </ion-note>
  </ion-item> -->
</ion-content>
