<!--
  Generated template for the AlarmtestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar *ngIf="platform.is('android') || platform.is('core')">
    <ion-buttons left>
      <button (click)="close()" ion-button icon-only>
      </button>
    </ion-buttons>
    <ion-title class="android_title" text-wrap>알림함</ion-title>
    <ion-buttons (click)="myinfo()" right>
    </ion-buttons>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios')" no-lines>
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only>
        <img class="ios_nav" src="assets/img/agreement/ic-system-back-black@3x.png"/>
      </button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>알림함</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button (click)="buyAlarm()">구매 알림</button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="marketingAlarm()">마케팅 알림</button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="commentAlarm()">댓글 알림</button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="challAlarm()">챌린지 알림</button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ng-container *ngIf="detailAlarmData">
    <ng-container *ngIf="userData">
      <ng-container *ngIf="detailAlarmData.writerEmail === userData.email" no-padding><!-- 데이터가 없을 때가 아니고 알람 데이터에 자기 이메일이 없을 때?-->
        <ng-container *ngIf="!detailAlarmData.writerEmail && detailAlarmData.mange == false">
          <div class="nodataText">알림내역이 없습니다.</div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
  <ion-grid padding>
    <ion-row>
      <button class="delBtn" (click)="delAlarm()">
        <ion-icon name="ios-trash-outline"></ion-icon>
        전체삭제
      </button>
    </ion-row>
  </ion-grid>
  <ng-container *ngFor="let detail of detailAlarmData; let k = index;" no-padding>
    <ng-container *ngIf="skinQnaData">
      <ng-container *ngIf="detail.mange === true">
        <ng-container *ngIf="detail.alarmCondition == false">
          <ion-grid padding class="line_item">
            <ion-row>
              <ng-container *ngIf="detail.alertType == '공지알림'">
                <ion-col col-1><img class="close_img"
                  src="assets/img/sungwoo_img/notice.png"/></ion-col>
              </ng-container>
              <ng-container *ngIf="detail.alertType == '마케팅알림'">
                <ion-col col-1><img class="close_img"
                  src="assets/img/sungwoo_img/marketing.png"/></ion-col>
              </ng-container>
              <ng-container *ngIf="detail.alertType == '챌린지알림'">
                <ion-col col-1><img class="close_img"
                  src="assets/img/sungwoo_img/challenge.png"/></ion-col>
              </ng-container>
              <ng-container *ngIf="detail.alertType == '댓글알림'">
                <ion-col col-1><img class="close_img"
                  src="assets/img/sungwoo_img/comment.png"/></ion-col>
              </ng-container>
              <ion-col col-7 class="alarmText">{{detail.alertType}}</ion-col>
              <ion-col col-4 ><img class="close_img" (click)="delAlarm2(detail._id)"
                src="assets/img/beauty/ic-system-close-black@3x.png"/></ion-col>
            </ion-row>
            <ion-row >
              <ion-col col-1></ion-col>
              <ion-col col-11 class="alarmText2">{{detail.alarmName}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-1></ion-col>
              <ion-col col-7 class="alarmText3">{{getCovertKoreaTime(detail.createdAt).substr(0,10)}}</ion-col>
              <!-- <ng-container *ngIf="detail.alertType != '챌린지알림' && detail.alertType != '마케팅알림'">
                <ion-col col-4 class="alarmText4" (click)="community_qna_modify(detail.skinId, detail._id)">자세히 보기<ion-icon class="alarm_img" name="md-arrow-round-forward"></ion-icon></ion-col>
              </ng-container> -->
              <ng-container *ngIf="detail.alertType == '공지알림'">
                <ion-col col-4 class="alarmText4" (click)="noticeMove(detail.skinId, detail._id)">자세히 보기<ion-icon class="alarm_img" name="md-arrow-round-forward"></ion-icon></ion-col>
              </ng-container>
              <ng-container *ngIf="detail.alertType == '댓글알림'">
                <ion-col col-4 class="alarmText4" (click)="community_qna_modify(detail.skinId, detail._id)">자세히 보기<ion-icon class="alarm_img" name="md-arrow-round-forward"></ion-icon></ion-col>
              </ng-container>
            </ion-row>
          </ion-grid>
          <div style="height:1px; width:100%; margin:0 auto; display: block; border: solid 0.3px #ececec;"></div>
        </ng-container>
        <ng-container *ngIf="detail.alarmCondition == true">
          <ion-grid padding class="line_item2">
            <ion-row>
              <ng-container *ngIf="detail.alertType == '공지알림'">
                <ion-col col-1><img class="close_img"
                  src="assets/img/sungwoo_img/notice.png"/></ion-col>
              </ng-container>
              <ng-container *ngIf="detail.alertType == '마케팅알림'">
                <ion-col col-1><img class="close_img"
                  src="assets/img/sungwoo_img/marketing.png"/></ion-col>
              </ng-container>
              <ng-container *ngIf="detail.alertType == '챌린지알림'">
                <ion-col col-1><img class="close_img"
                  src="assets/img/sungwoo_img/challenge.png"/></ion-col>
              </ng-container>
              <ng-container *ngIf="detail.alertType == '댓글알림'">
                <ion-col col-1><img class="close_img"
                  src="assets/img/sungwoo_img/comment.png"/></ion-col>
              </ng-container>
              <ion-col col-7 class="alarmText">{{detail.alertType}}</ion-col>
              <ion-col col-4 ><img class="close_img" (click)="delAlarm2(detail._id)"
                src="assets/img/beauty/ic-system-close-black@3x.png"/></ion-col>
            </ion-row>
            <ion-row >
              <ion-col col-1></ion-col>
              <ion-col col-11 class="alarmText2">{{detail.alarmName}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-1></ion-col>
              <ion-col col-7 class="alarmText3">{{getCovertKoreaTime(detail.createdAt).substr(0,10)}}</ion-col>
              <!-- <ng-container *ngIf="detail.alertType != '챌린지알림' && detail.alertType != '마케팅알림'">
                <ion-col col-4 class="alarmText4" (click)="community_qna_modify(detail.skinId, detail._id)">자세히 보기<ion-icon class="alarm_img" name="md-arrow-round-forward"></ion-icon></ion-col>
              </ng-container> -->
              <ng-container *ngIf="detail.alertType == '공지알림'">
                <ion-col col-4 class="alarmText4" (click)="noticeMove(detail.skinId, detail._id)">자세히 보기<ion-icon class="alarm_img" name="md-arrow-round-forward"></ion-icon></ion-col>
              </ng-container>
              <ng-container *ngIf="detail.alertType == '댓글알림'">
                <ion-col col-4 class="alarmText4" (click)="community_qna_modify(detail.skinId, detail._id)">자세히 보기<ion-icon class="alarm_img" name="md-arrow-round-forward"></ion-icon></ion-col>
              </ng-container>
            </ion-row>
          </ion-grid>
          <div style="height:1px; width:100%; margin:0 auto; display: block; border: solid 0.3px #ececec;"></div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-content>
