<ion-header>
  <!-- <ion-navbar no-lines>
    <ion-title>idfind</ion-title>
  </ion-navbar> -->
</ion-header>


<ion-content no-bounce no-padding>
  <ion-img *ngIf="platform.is('android')" class="ic-system-back-black" (click)="close()"
    src="assets/img/ic-system-close-black/ic-system-close-black@3x.png"></ion-img>
  <ion-img *ngIf="!platform.is('android')" style="margin-top: 12%;" class="ic-system-back-black" (click)="close()"
    src="assets/img/ic-system-close-black/ic-system-close-black@3x.png"></ion-img>

  <ion-grid no-padding>
    <ion-row class="center">
      <div class="idfind">비밀번호 초기화</div>
    </ion-row>
  </ion-grid>

  <form #registerForm="ngForm" no-lines>

    <ion-grid>
      <ion-row>
        <ion-item class="item_align" style="background:#FFF">
          <ion-label class="titlelabel" stacked>이메일</ion-label>
          <ion-input class="input_name" (ionChange)="changeImage()" pattern="^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$" mode="ios"
            type="email" name="email" placeholder="Email을 입력해주세요." [(ngModel)]="registerCredentials.email" clearInput
            required>
          </ion-input>
        </ion-item><br>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-item class="item_align" style="background:#FFF">
          <ion-label class="titlelabel" stacked>이름</ion-label>
          <ion-input class="input_name" (ionChange)="changeImage()" pattern="[가-힣]{2,4}|[a-zA-Z]{2,10}" mode="ios"
            type="text" name="name" placeholder="이름을 입력해주세요." [(ngModel)]="registerCredentials.name" clearInput
            required>
          </ion-input>
        </ion-item><br>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-item class="item_align" style="margin-bottom:3%;">
          <ion-label class="birthdaylabel" stacked> 생년월일</ion-label>
          <ion-datetime type="text" style="font-size:15px" placeholder="생년월일을 선택해주세요." name="birthday" doneText="확인"
            cancelText="취소" pickerFormat="YYYY년 MM월 DD일" displayFormat="YYYY년 MM월 DD일" min="1910" max="2019"
            [(ngModel)]="registerCredentials.birthday" (ionChange)="birthday();" required></ion-datetime>
        </ion-item><br>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="!issendEmail" no-padding>
      <ion-row>
        <button ion-button *ngIf="(!registerForm.form.valid)" class="complete_btn_invalid" name="register_invalid"
          type="submit" [disabled]="!registerForm.form.valid">이메일로 임시 비밀번호 받기</button>
        <button ion-button *ngIf="(registerForm.form.valid)" class="complete_btn_valid" name="register_valid"
          (click)="validCheck()" [disabled]="!registerForm.form.valid">이메일로 임시 비밀번호 받기</button>
      </ion-row>
    </ion-grid>
  </form>

  <ion-grid>
    <ion-row>
      <button (click)="goPassword()" class="gopassword" [disabled]="!issendEmail" ion-button>비밀번호 변경하기</button>
    </ion-row>
  </ion-grid>

</ion-content>
