<!--
  Generated template for the SungwooCartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  *ngIf="platform.is('android')" no-lines>
    <ion-title class="android_title" text-wrap >장바구니</ion-title>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios') || platform.is('core')" no-lines>
  	<ion-buttons left>
  		<button ion-button navPop icon-only>
        <img class="ios_nav"src="assets/img/agreement/ic-system-back-black@3x.png"/>
  		</button>
  	</ion-buttons>
    <ion-title class="ios_title" text-wrap>장바구니</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ng-container>
    <form>
      <ion-row class="terms">
        <ion-checkbox style="margin-left: 8.8vw; margin-top: 5.3vh;"></ion-checkbox>
        <div class="all-check" col-8>전체선택</div>
        <button class="check-cancel" col-2>선택삭제</button>
      </ion-row>
      <ion-grid no-padding>
            <ion-card class="test">
              <ion-row>
                <ion-checkbox style="margin-left: 6.1vw; margin-top: 5.4vh;"></ion-checkbox>
                <button class="x_con" style="float: right;">
                  <img src="assets/img/ic-system-close-black/ic-system-close-black@3x.png" />
                </button>
              </ion-row>
              <ion-row>
                <ion-col class="product_name" style="color: #5c59b6">구달</ion-col>
              </ion-row>
              <ion-row>
                <img class="cart_img" src="assets/img/order/order_img.jpg" />
              </ion-row>
              <ion-row>
                <ion-col class="cart_name">청귤 비타C 잡티세럼청귤</ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="price">20,000원</ion-col> 
              </ion-row>
              <ion-row>
                <div class="cart_count" col-5>
                <input type="button" value=" - " >
                <input type="text" name="amount" value="2" size="3" style="text-align: center;">
                <input type="button" value=" + " >
                </div>
                <ion-col class="cart_text1" col-2>합계</ion-col>
                <ion-col class="cart_text2" col-3>40,000원</ion-col>
              </ion-row>
              <!-- <div class="blank"></div> -->
            </ion-card>
              <div class="between"></div>
            <ion-card class="test">
              <ion-row>
                <ion-checkbox style="margin-left: 6.1vw; margin-top: 5.4vh;"></ion-checkbox>
                <button class="x_con" style="float: right;">
                  <img src="assets/img/ic-system-close-black/ic-system-close-black@3x.png" />
                </button>
              </ion-row>
              <ion-row>
                <ion-col class="product_name" style="color: #5c59b6">구달</ion-col>
              </ion-row>
              <ion-row>
                <img class="cart_img" src="assets/img/order/order_img.jpg" />
              </ion-row>
              <ion-row>
                <ion-col class="cart_name">청귤 비타C 잡티세럼청귤</ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="price">20,000원</ion-col>
              </ion-row>
              <ion-row>
                <div class="cart_count" col-5>
                <input type="button" value=" - " >
                <input type="text" name="amount" value="1" size="3" style="text-align: center;">
                <input type="button" value=" + " >
                </div>
                <ion-col class="cart_text1" col-2>합계</ion-col>
                <ion-col class="cart_text2" col-3>20,000원</ion-col>
              </ion-row>
              <div class="blank"></div>
            </ion-card>
      </ion-grid>
      <ng-container>
        <ion-grid no-padding>

          <div class="gon1"></div>

          <ion-row>
            <ion-col class="cart_text3" col-7>상품 금액 합계</ion-col>
            <ion-col class="cart_text4" col-3>40,000 원</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="cart_text3" col-7>포인트 사용금액</ion-col>
            <ion-col class="cart_text4" col-3>-20,000 원</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="cart_text3" col-7>배송비</ion-col>
            <ion-col class="cart_text4" col-3>+3,000 원</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="cart_text3" col-7>기타 할인 금액</ion-col>
            <ion-col class="cart_text4" col-3>0 원</ion-col>
          </ion-row>
        </ion-grid>

        <div class="gon"></div>
      
        <div style="height:0.1vh; width:100vw; margin:0 auto; display: block; background-color:#f1f1f1"></div>

        <div class="cart_title1">23,000 원</div>
        <div class="cart_title2">결제 예정 금액</div>
      </ng-container>

      <!-- <button (click)="saveToday()" ion-button class="cell"><div class="cell_text">주문하기</div></button> -->
      
      <div class="gon2"></div>
    </form>
  </ng-container>
</ion-content>

<ion-footer mode="ios" keyboard-attach no-bounce no-lines>
  <button (click)="saveToday()" ion-button class="cell"><div class="cell_text">주문하기</div></button>
</ion-footer>