<!--
  Generated template for the SungwooCartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  *ngIf="platform.is('android')" no-lines>
    <ion-title class="android_title" text-wrap >장바구니</ion-title>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios') || platform.is('core')" no-lines>
  	<ion-buttons left>
  		<button ion-button navPop icon-only>
        <img class="ios_nav"src="assets/img/agreement/ic-system-back-black@3x.png"/>
  		</button>
  	</ion-buttons>
    <ion-title class="ios_title" text-wrap>장바구니</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ng-container>
    <ion-grid class="cart_div" no-padding>
      <ion-row class="title_div">
        <ion-checkbox class="cart_checkbox"></ion-checkbox>
        <div class="all-check" col-8>전체선택</div>
        <button class="check-cancel" col-2>선택삭제</button>
      </ion-row>
      <ion-list no-padding>
        <ion-card class="cart_card">
          <ion-row class="cart_icon">
            <ion-checkbox class="cart_checkbox2"></ion-checkbox>
            <button class="cart_close">
              <img src="assets/img/ic-system-close-black/ic-system-close-black@3x.png" />
            </button>
          </ion-row>
          <ion-row>
            <ion-col class="text_col" col-9>
              <div class="product_name" style="color: #5c59b6">구달</div>
              <div class="cart_name">청귤 비타C 잡티세럼청귤</div>
              <div class="price">20,000원</div> 
            </ion-col>
            <ion-col class="img_col" col-3>  
              <img class="cart_img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/KA100000613.jpg" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="count_count" col-5>
                <input type="button" value=" - " >
                <input type="text" name="amount" value="2" size="3" style="text-align: center;">
                <input type="button" value=" + " >
            </ion-col>
            <ion-col class="count_sum" col-5>
              <div class="cart_text1">합계</div>
              <div class="cart_text2">40,000원</div>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="cart_card">
          <ion-row class="cart_icon">
            <ion-checkbox class="cart_checkbox2"></ion-checkbox>
            <button class="cart_close">
              <img src="assets/img/ic-system-close-black/ic-system-close-black@3x.png" />
            </button>
          </ion-row>
          <ion-row>
            <ion-col class="text_col" col-9>
              <div class="product_name" style="color: #5c59b6">구달</div>
              <div class="cart_name">청귤 비타C 잡티세럼청귤 비타청귤청귤청귤 비타</div>
              <div class="price">20,000원</div> 
            </ion-col>
            <ion-col class="img_col" col-3>  
              <img class="cart_img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/KA100000614.jpg" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="count_count" col-5>
                <input type="button" value=" - " >
                <input type="text" name="amount" value="1" size="3" style="text-align: center;">
                <input type="button" value=" + " >
            </ion-col>
            <ion-col class="count_sum" col-5>
              <div class="cart_text1">합계</div>
              <div class="cart_text2">20,000원</div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-list>
      <ng-container>
        <ion-grid class="cart_price" no-padding>
          <ion-row class="text_row">
            <ion-col class="cart_text3" col-7>상품 금액 합계</ion-col>
            <ion-col class="cart_text4" col-3>40,000 원</ion-col>
          </ion-row>
          <ion-row class="text_row">
            <ion-col class="cart_text3" col-7>포인트 사용금액</ion-col>
            <ion-col class="cart_text4" col-3>-20,000 원</ion-col>
          </ion-row>
          <ion-row class="text_row">
            <ion-col class="cart_text3" col-7>배송비</ion-col>
            <ion-col class="cart_text4" col-3>+3,000 원</ion-col>
          </ion-row>
          <ion-row class="text_row">
            <ion-col class="cart_text3" col-7>기타 할인 금액</ion-col>
            <ion-col class="cart_text4" col-3>0 원</ion-col>
          </ion-row>
        </ion-grid>

        <div style="height:0.1vh; width:100vw; display: block; background-color:#f1f1f1"></div>

        <div class="price_sum">
          <div class="cart_title1">결제 예정 금액</div>
          <div class="cart_title2">23,000 원</div>
        </div>
      </ng-container>
      <!-- <button (click)="saveToday()" ion-button class="cell"><div class="cell_text">주문하기</div></button> -->
    </ion-grid>
  </ng-container>
</ion-content>

<ion-footer mode="ios" keyboard-attach no-bounce no-lines>
  <button (click)="saveToday()" ion-button class="cell"><div class="cell_text">주문하기</div></button>
</ion-footer>