page-sungwoo-cart {
    .header-md::after,
    .tabs-md[tabsPlacement="top"]>.tabbar::after,
    .footer-md::before,
    .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
      height: 1px;
      margin-bottom: 5px;
      background-color: #f1f1f1;
      opacity: 0.3;
    }
  
    .item-md.item-block .item-inner {
      padding-right: 12px;
    }
  
    .header-ios::after,
    .tabs-ios[tabsPlacement="top"]>.tabbar::after,
    .footer-ios::before,
    .tabs-ios[tabsPlacement="bottom"]>.tabbar::before {
      height: 1px;
      margin-bottom: 5px;
      background-color: #f1f1f1;
      opacity: 0.3;
    }
  
    .item-ios.item-block .item-inner {
      padding-right: 12px;
    }
  
    .toolbar-title-md {
      // width: auto;
      // margin: 0 auto;
      font-weight: bold;
      font-size: 16px;
      background-color: #FFF;
      font-family: AppleSDGothicNeo-Regular;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    //   margin-right: 14%;
      margin-top: -18.8%;
    }
  
    .toolbar-title-ios {
      // width: auto;
      // margin: 0 auto;
      font-weight: bold;
      font-size: 17px;
      background-color: #FFF;
      font-family: AppleSDGothicNeo-Regular;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #292929;
      margin-right: 17%;
      margin-top: -36%;
    }
  
    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default,
    .bar-button-clear-ios-default {
      margin-left: -15%;
      margin-top: -15%;
      color: transparent;
    }
  
    .ios_nav {
      background-color: transparent;
      width: 140px !important;
      height: 25px !important;
      object-fit: contain;
    }
  
    .toolbar-background {
      background-color: #FFF;
    }
  
    .ion-md-arrow-back:before {
      position: absolute;
      content: "\f27d";
      left: 10%;
      top: 2px;
      width: 25px;
      height: 25px;
    }
  
    .toolbar-ios {
      margin-top: 12%;
    }
  
    .back-button-text-ios {
      font-size: 0px;
    }
  
    .android_title {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 70%;
      color: #292929;
    }
  
    .ios_title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 150%;
      top: 40%;
      width: 120%;
      color: #292929;
    }

    .cart_div {
      position: relative;
      height: 9vh;
      width: 100vw;
    }

    .cart_checkbox {
      position: absolute;
      top: 6vh;
      left: 9vw;
    }

    .all-check {
      position: relative;
      height: 4.5vh;
      top: 4.8vh;
      left: 14.6vw;
      font-family: AppleSDGothicNeo;
      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: -1.7px;
      color: #292929;
    }

    .check-cancel {
      position: relative;
      top: 5.3vh;
      left: 13.7vw;
      max-width: 15.3vw;
      font-family: AppleSDGothicNeo-Regular;
      font-size: 8px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      // letter-spacing: -0.2vh;
      color: #575656;
      height: 3.1vh;
      border-radius: 2.8px;
      border: solid 1px #d1d1d1;
      background-color: #ffffff;
      ;
    }

    .cart_card {
      position: relative;
      height: 23.5vh;
      width: 92.5vw;
      left: 1vw;
      top: 0.5vh;
      margin-top: 1vh;
    }

    .cart_checkbox2 {
      position: relative;
      top: 5vh;
      left: 5vw;
      display: inline-block;
    }

    .x_icon {
      position: relative;
      float: right;
      width: 8.5vw;
      top: 0.7vh;
      height: 3vh;
      object-fit: contain;
      background-color: white;
  }

    .product_name {
      position: relative;
      top: 0.2vh;
      left: 11vw;
      max-width:  60vw;
      font-family: AppleSDGothicNeo-Regular;
      font-size: 11px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
    }

    .img_div {
      position: relative;
      float: right;
      right: 4vw;
      bottom: 2.2vh;
      height: 10vh;
      width: 17vw;
    }

    .cart_img {
      // position: relative;
      // right: 4vw;
      // bottom: 2.2vh;
      // width: 17.5vw;
      // height: 10vh;
      border-radius: 5.7px;
      // margin-top: -3.2vh;
      // margin-left: 72vw;
      border: solid 0.5px #d2d2d2;
      background-color: #ffffff;
    }

    .cart_name {
      position: relative;
      max-width: 55vw;
      height: 6.5vh;
      bottom: 1vh;
      left: 11vw;
      font-family: AppleSDGothicNeo-Regular;
      font-size: 13.5px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.91;
      letter-spacing: -2.2px;
      text-align: left;
      color: #292929;
    }

    .price {
      position: relative;
      bottom: 2vh;
      left: 11vw;
      font-family: AppleSDGothicNeo-Regular;
      font-size: 13.5px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.42;
      letter-spacing: -0.02px;
      text-align: left;
      color: #505050;
    }

    .cart_count {
      position: relative;
      left: 7vw;
      bottom: 2vh;
      border-radius: 5.7px;
    }

    .cart_text1 {
      position: relative;
      left: 18vw;
      bottom: 1.3vh;
      font-family: AppleSDGothicNeo-Regular;
      font-size: 12.8px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.13;
      letter-spacing: -1.23px;
      color: #505050;
    }

    .cart_text2 {
      position: relative;
      left: 17.5vw;
      bottom: 1.2vh;
      text-align: left;
      font-family: AppleSDGothicNeo-Regular;
      font-size: 13.2px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.13;
      letter-spacing: 0.08px;
      color: #505050;
      // margin-top: 0.5vh;
      // margin-left: -3.15vw;
      // padding-left: 3.6vw;
    }

    .cart_price {
      height: 21vh;
      width: 100vw;
    }

    .text_row {
      position: relative;
      top: 2.5vh;
      left: 8vw;
      line-height: 1.84;
    }

    .cart_text3 {
      font-family: AppleSDGothicNeo-Regular;
      font-size: 14.3px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: -2.41px;
      text-align: left;
      color: #5d5d5d;
    }

    .cart_text4 {
      position: relative;
      left: 2vw;
      font-family: AppleSDGothicNeo-Regular;
      font-size: 13.5px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: -0.71px;
      text-align: right;
      color: #5d5d5d;
    }

    .price_sum {
      height: 24.5vh;
      width: 100vw;
    }

    .cart_title1 {
      position: relative;
      top: 3.4vh;
      left: 8vw;
      font-family: AppleSDGothicNeo-Regular;
      font-size: 14.2px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      //글자 허리사이즈
      letter-spacing: -1.64px;
      color: #292929;
      // overflow-y: visible !important;
    }

    .cart_title2 {
      position: relative;
      bottom: 0.5vh;
      right: 6.5vw;
      float: right;
      font-family: AppleSDGothicNeo-Regular;
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -1.46px;
    }

    .cell {
      position: fixed;
      left: 3.2vw;
      bottom: 0;
      min-width: 92.8vw;
      min-height: 7.5vh;
      background-color: #5c59b6;
      font-family: AppleSDGothicNeo-Regular;
      font-size: 15px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }

    .cell_text {
      font-family: AppleSDGothicNeo-Regular;
      font-size: 12px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      // letter-spacing: 0.5px;
      text-align: center;
      color: #ffffff;
    }

}
