<ion-header>

  <ion-navbar *ngIf="platform.is('android') || platform.is('core') ">
    <ion-buttons left>
      <button (click)="close()" ion-button icon-only>
      </button>
    </ion-buttons>
    <ion-title class="android_title" text-wrap>상품 정보</ion-title>
    <ion-buttons (click)="myinfo()" right>
    </ion-buttons>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios')" no-lines>
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only>
        <!-- <ion-icon md="md-arrow-forward"></ion-icon> -->
        <img class="ios_nav" src="assets/img/agreement/ic-system-back-black@3x.png"/>
      </button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>상품 정보</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ng-container>
    <ion-grid no-padding>
      <br>
      <ion-row justify-content-center>
        <img *ngIf="productData" class="detail_img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{productData.productFileName}}"/>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="productData" class="product_name" col-7 style="color: #6562b9">{{productData.brand_name}}</ion-col>
        <ion-col *ngIf="productData" class="product_nprice" col-3><del>{{addComma(productData.price)}}원</del></ion-col>
        <ion-col *ngIf="productData" class="product_name2" col-7>{{productData.product_name}}</ion-col>
        <ion-col *ngIf="productData" class="product_price" col-3 text-right>{{addComma(productData.Amount)}}원</ion-col>
        <ion-col *ngIf="productData" class="product_sale" col-7>회원할인가</ion-col>
        <!-- <ion-col *ngIf="productData" class="product_sale_text" col-2>최대 {{productData.maxPercent}}% 포인트 사용</ion-col> -->
        <ion-col *ngIf="productData" class="product_sale_text" col-2>최대 {{getMaxPoint(productData.maxPercent, productData.Amount)}}P 사용가능</ion-col>
      </ion-row>
      <ion-row>
        <div style="height:0.1vw; width:100vw; margin-top:3.5vh; display: block; background-color:#f1f1f1"></div>
      </ion-row>
      <ion-row align-items-center class="">
        <ion-col class="star_margin " col-5>
          <ionic3-star-rating  #rating
            activeIcon="ios-star"
            defaultIcon="ios-star-outline"
            activeColor="#fae24c"
            defaultColor="#f4f4f4"
            readonly="true"
            rating="{{avgRating}}"
            fontSize="20px"
            (ratingChanged)="logRatingChange($event)">
          </ionic3-star-rating>
        </ion-col>
        <ion-col class="" *ngIf="avgRating && productReview" class="product_rating" col-2>{{avgRating}}({{productReview.length}})</ion-col>
        <ion-col text-right class="" col-3><div *ngIf="productData" class="good">{{productData.likeCount}}개</div></ion-col>
        <ion-col text-right class="" col-2>
          <ng-container *ngIf="isLike">
            <button *ngIf="productData && userData" ion-button icon-only clear class="" (click)="like(productData.product_num, userData.email)">
              <img class="heart1" src="assets/img/sungwoo_img/17.png"/>
            </button>
          </ng-container>
          <ng-container *ngIf="!isLike">
            <button *ngIf="productData && userData" ion-button icon-only clear class="" (click)="dislike(productData.product_num, userData.email)">
              <img class="heart1" src="assets/img/like/like2.png"/>
            </button>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row>
        <div
          style="height:0.1vw; width:100vw; margin-top: -0.6vh; margin-bottom: 1.5vh; display: block; background-color:#f1f1f1"></div>
      </ion-row>
      <ion-row>
        <ion-col class="product_info1 " col-3>용량 및 중량</ion-col>
        <ion-col *ngIf="productData" class="product_info2 " col-7>{{productData.weight}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="product_info1 " col-3>주요효능</ion-col>
        <ion-col *ngIf="productData" class="product_info2 " col-7>{{productData.function !== '' ? productData.function : '-' }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="product_info1 " col-3>전성분</ion-col>
        <ion-col *ngIf="productData" class="product_info2 " col-7>{{productData.ingredient !== '' ? productData.ingredient : '-'}} ></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="product_info1 " col-5>등록된 주요 사용자 성별</ion-col>
        <ion-col *ngIf="productData" class="product_info2 " col-5>-</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="product_info1 " col-4>피부평균 개선율</ion-col>
        <ion-col *ngIf="productData" class="product_info2 " col-6>-</ion-col>
      </ion-row>
    </ion-grid>
    <ion-row>
      <div style="height:1.2vh; width:100vw; margin-top:7.5vh; background-color:#f1f1f1"></div>
    </ion-row>
    <ion-row>
      <img src="assets/img/beauty/beauty_ad_2.png">
    </ion-row>
    <ion-row>
      <div style="height:1.2vh; width:100vw; background-color:#f1f1f1"></div>
    </ion-row>
  </ng-container>

  <ng-container>
    <ion-grid no-padding>
      <ion-row class="">
        <ion-col col-3 class="" >
          <div class="product_review">상품 리뷰</div>
        </ion-col>
        <ion-col col-5 class="">
          <div *ngIf="productReviewAll" class="review_count"> {{productReviewAll.length}}개</div>
        </ion-col>
        <ion-col col-4 class="">
          <ion-list>
            <ion-item>
              <ion-select [(ngModel)]="sort" okText="Okay" cancelTest="Dismiss" id="select" class="s_icon" placeholder="최신순" (ionChange)="onChange($event)">
                <ion-option value="createdAt">최신순</ion-option>
                <ion-option value="highRating">별점 높은순</ion-option>
                <ion-option value="lowRating">별점 낮은순</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <div style="height:0.1vh; width:100vw; margin-top: -0.5vh; display: block; background-color:#d7d7d7"></div>
      </ion-row>
    </ion-grid>
  </ng-container>


  <ion-list>
    <ng-container *ngFor="let reviewData of productReview; let i = index">
      <ng-container>
        <img class="profile_comment" src="assets/img/register/ic-system-profile-default@3x.png">
        <ng-container *ngIf="userData">
          <ng-container *ngIf="userData.email === reviewData.email">
            <button ion-button class="comment_btn"
                    (click)="comment_popover($event, i, reviewData.email, reviewData._id);"></button>
          </ng-container>
        </ng-container>
        <div class="container">
          <div class="nickname_comment">{{emailSecurity(reviewData.email)}}</div>
        </div>
        <div class="time_comment">{{getCovertKoreaTime(reviewData.createdAt).substr(0,16).replace('T', ' ')}}</div>
        <div class="star_group3">
          <ionic3-star-rating #rating
                              activeIcon="ios-star"
                              defaultIcon="ios-star-outline"
                              activeColor="#fae24c"
                              defaultColor="#f4f4f4"
                              readonly="true"
                              rating="{{reviewData.rating}}"
                              fontSize="14px"
                              (ratingChanged)="logRatingChange($event)">
          </ionic3-star-rating>
        </div>
        <ng-container>
          <div class="content_comment" *ngIf="comment_popover_option_textarea !== i " text-wrap>{{reviewData.content}}</div>
          <button *ngIf="comment_popover_option_textarea === i" (click)="productReviewUpdate(reviewData.email, reviewData._id)" ion-button class="comment_enroll">수정</button>
          <textarea #myInput *ngIf="comment_popover_option_textarea === i " id="updatereply" class="content_comment_textarea"  maxLength="300" (keydown)="resize()" [(ngModel)]="reviewData.content" (input)="adjustTextareaUpdate($event)"
        autofocus="true"></textarea>
        </ng-container>
      </ng-container>
      <div style="height:1px; width:100%; display: block; margin-top: 6vh; background-color:#f1f1f1"></div>
    </ng-container>
    <button *ngIf="product_num" (click)="getProductReview(product_num)" ion-button class="button_add" style="font-size: 14px; box-shadow:none;" outline>3개 리뷰 더보기 ▼</button>

  </ion-list>
  <ion-row>
    <div style="height:1.2vh; width:100vw; background-color:#f1f1f1"></div>
  </ion-row>


  <ng-container>
    <ion-grid no-padding>
      <ion-row>
        <div class="product_detail">상품 상세 정보</div>
      </ion-row>
      <ion-row>
        <div style="height:0.1vh; width:100vw; display: block; background-color:#d7d7d7"></div>
      </ion-row>

      <ion-row [ngClass]="{ 'show_more1' : !isShowMore, 'show_more2' : isShowMore}">
        <img *ngIf="productData" [ngClass]="{ 'detailImage2' : !isShowMore, 'detailImage' : isShowMore}" src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{productData.detailImageName}}"/>
      </ion-row>
      <ion-row>
        <ng-container *ngIf="!isShowMore">
          <button ion-button clear outline (click)="showMore(true)" class="btn_show_more1">
            상품설명 더보기 ▼
          </button>
        </ng-container>
        <ng-container *ngIf="isShowMore">
          <button ion-button clear outline (click)="showMore(false)" class="btn_show_more1" outline>
            상품설명 접기 ▲
          </button>
        </ng-container>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ion-row>
    <div style="height:1.2vh; width:100vw; margin-top: -0.8vh; background-color:#f1f1f1"></div>
  </ion-row>

  <ion-list no-lines>
    <button class="page_option" mode="ios" ion-item icon-start (click)="kakaoChat()">1:1 문의하기</button>
    <ion-row>
      <div style="height:0.1vh; width:100vw; display: block; background-color:#d7d7d7"></div>
    </ion-row>
    <button class="page_option" mode="ios" ion-item (click)="sungWoo()" icon-start>상품 정보 고시</button>
    <ion-row>
      <div style="height:0.1vh; width:100vw; display: block; background-color:#d7d7d7"></div>
    </ion-row>
    <button class="page_option" mode="ios" ion-item (click)="sungWoo()" icon-start>배송/교환/반품정보</button>
    <ion-row>
      <div style="height:0.1vh; width:100vw; display: block; background-color:#d7d7d7"></div>
    </ion-row>
  </ion-list>
  <div class="mgn"></div>
</ion-content>


<ion-footer no-padding no-lines>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding col-6>
        <button class="qna_btn" ion-button (click)="write_Review()">리뷰쓰고 100P 적립</button>
      </ion-col>
      <ion-col no-padding col-6>
        <button *ngIf="productData && userData" class="qna_btn2" ion-button (click)="next(productData, userData)">구매하기</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
