
<ion-content padding>


    <ion-img  *ngIf="platform.is('android')" class="close" src="assets/img/login/ic-system-close-black@3x.png" srcset="assets/img/login\ic-system-close-black2x.png,
                  assets/img/login\ic-system-close-black@3x.png" (click)="dissmiss()"></ion-img>


    <ion-img *ngIf="platform.is('ios')" class="close" style="margin-top:5%;" src="assets/img/login/ic-system-close-black@3x.png" srcset="assets/img/login\ic-system-close-black2x.png,
                          assets/img/login\ic-system-close-black@3x.png" (click)="dissmiss()"></ion-img>

    <h1 class="h1" > 문진표를 작성해주세요. </h1>

  <div class="text_Q">Q</div>
  <ion-item no-lines>
    <ion-label class="diagnose_Q" text-wrap>기초를 충분히 해도 메이크업이 쉽게 들떠버린다. 들뜬 각질이 늘 보인다.</ion-label>
      <ion-range (ionChange)="range_change($event)" min="1" max="3" snaps="true" class="diagnose_range" mode="ios" [(ngModel)]="diagnose_score"></ion-range>
  </ion-item>

  <ion-row class="dianose_row">
    <ion-col class="diagnose_left" >그렇지 않다</ion-col>
    <ion-col class="diagnose_center" >보통이다</ion-col>
    <ion-col class="diagnose_right" >그렇다</ion-col>
  </ion-row>





  <div class="text_Q">Q</div>
  <ion-item no-lines>
    <ion-label class="diagnose_Q" text-wrap>기초를 충분히 해도 메이크업이 쉽게 들떠버린다. 들뜬 각질이 늘 보인다.</ion-label>
      <ion-range (ionChange)="range_change($event)" min="1" max="3" snaps="true" class="diagnose_range" mode="ios" [(ngModel)]="diagnose_score2"></ion-range>
  </ion-item>

  <ion-row class="dianose_row">
    <ion-col class="diagnose_left" >그렇지 않다</ion-col>
    <ion-col class="diagnose_center" >보통이다</ion-col>
    <ion-col class="diagnose_right" >그렇다</ion-col>
  </ion-row>






  <div class="text_Q">Q</div>
  <ion-item no-lines>
    <ion-label class="diagnose_Q" text-wrap>기초를 충분히 해도 메이크업이 쉽게 들떠버린다. 들뜬 각질이 늘 보인다.</ion-label>
      <ion-range (ionChange)="range_change($event)" min="1" max="3" snaps="true" class="diagnose_range" mode="ios" [(ngModel)]="diagnose_score3"></ion-range>
  </ion-item>

  <ion-row class="dianose_row">
    <ion-col class="diagnose_left" >그렇지 않다</ion-col>
    <ion-col class="diagnose_center" >보통이다</ion-col>
    <ion-col class="diagnose_right" >그렇다</ion-col>
  </ion-row>



   <button ion-button outline class="next_btn" (click)="next_page();">다음</button>

</ion-content>



<!--
<ion-footer>
    <button ion-button outline class="next_btn" (click)="next_page();">다음</button>

</ion-footer> -->
