page-point-zone-guide {
    .zoneGrid {
        position: relative;
    }

    .close_img {
        position: absolute;
        right: 5.5%;
        top: 5.5%;
        width: 25px;
        height: 25px;
    }

    .guide_img {
        width: 100% !important;
        height: auto !important;
        object-fit: contain !important;
    }

}
