<!--
  Generated template for the BeautyTipAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-lines>
  <ion-navbar *ngIf="platform.is('android')" no-lines>
    <ion-buttons (click)="myinfo()" end>
          <img (click)="community_search()" float-end class="headerIoncMargin" src="assets/img/svg/search.svg"
            style="z-index: 5000" />
          <img (click)="myinfo()" float-end class="headerIoncMargin" src="assets/img/svg/my.svg"
            style="z-index: 5000" />
    </ion-buttons>
    <!-- <img class="android_search" style="left:5%" (click)="community_search()"
      src="assets/img/beauty/ic-system-search@3x.png" /> -->
    <ion-title class="android_title" text-wrap>VIDEO</ion-title>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios') || platform.is('core')" no-lines>
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only>
        <img class="ios_nav" src="assets/img/agreement/ic-system-back-black@3x.png" />
      </button>
    </ion-buttons>
    <ion-buttons end>
        <button ion-button icon-only>
          <img (click)="community_search()" margin-right float-end class="headerIoncMargin" src="assets/img/svg/search.svg" />
        </button>
        <button ion-button icon-only>
          <img (click)="myinfo()" margin-right float-end class="headerIoncMargin" src="assets/img/svg/my.svg" />
        </button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>VIDEO</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="mode==='hot'">
    <ion-grid>
      <ion-row justify-content-between align-items-center>
        <div *ngIf="communityBeautyLoadData" class="test">#이번주 핫클립({{communityBeautyLoadData.length}}개)</div>
        <!-- <div (click)="select_popover()">팝오버 테스트</div> -->
        <button *ngIf="sortButton" (click)="select_popover()" ion-button icon-only clear>
          <!-- <img src="assets/img/svg/dropbox.svg" /> -->
          <img src="assets/img/svg/dropboxCreate.svg" />
        </button>
        <button *ngIf="!sortButton" (click)="select_popover()" ion-button icon-only clear>
          <!-- <img src="assets/img/svg/dropboxCreate.svg" /> -->
          <img src="assets/img/svg/dropbox.svg" />
        </button>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid>
      <ng-container *ngFor="let postData of youTubeArrayData; let i = index">
        <ion-row (click)="openMoviePage(postData)" align-items-center>
          <ion-col col-4>
            <img src="{{postData.snippet.thumbnails.maxres.url}}" />
          </ion-col>
          <ion-col col-8>
            <div class="postText1">{{postData.snippet.title}}</div>
            <div class="postText2">{{postData.snippet.channelTitle}}</div>
            <div *ngIf="videoDetailData[i]" class="postText3">조회 {{videoDetailData[i].views}} · 좋아요 {{videoDetailData[i].like}}</div>
          </ion-col>
        </ion-row>
        <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 1%; background-color:#f1f1f1">
        </div>
      </ng-container>
    </ion-grid>
    <br>
  </ng-container>

  <ng-container *ngIf="mode==='plinic'">
      <ion-grid>
        <ion-row justify-content-between align-items-center>
          <div *ngIf="communityBeautyLoadData" class="test">#슬기로운 플뷰({{communityBeautyLoadData.length}}개)</div>
          <!-- <div (click)="select_popover()">팝오버 테스트</div> -->
          <button *ngIf="sortButton" (click)="select_popover()" ion-button icon-only clear>
            <img src="assets/img/svg/dropboxCreate.svg" />
            <!-- <img src="assets/img/svg/dropbox.svg" /> -->
          </button>
          <button *ngIf="!sortButton" (click)="select_popover()" ion-button icon-only clear>
            <img src="assets/img/svg/dropbox.svg" />
            <!-- <img src="assets/img/svg/dropboxCreate.svg" /> -->
          </button>
        </ion-row>
      </ion-grid>
      <br>
      <ion-grid>
        <ng-container *ngFor="let postData of youTubeArrayData; let i = index">
          <ion-row (click)="openMoviePage(postData)" align-items-center>
            <ion-col col-4>
              <img src="{{postData.snippet.thumbnails.maxres.url}}" />
            </ion-col>
            <ion-col col-8>
              <div class="postText1">{{postData.snippet.title}}</div>
              <div class="postText2">{{postData.snippet.channelTitle}}</div>
              <div *ngIf="videoDetailData[i]" class="postText3">조회 {{videoDetailData[i].views}} · 좋아요 {{videoDetailData[i].like}}</div>
            </ion-col>
          </ion-row>
          <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 1%; background-color:#f1f1f1">
          </div>
        </ng-container>
      </ion-grid>
      <br>
    </ng-container>


</ion-content>
