page-device-skin-start {


  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    height: 0px;
  }
  .font_title {
    width: 153.5px;
    height: 34px;
    font-family: NotoSansCJKkr;
    font-size: 23px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #292929;
    margin: 0 auto;
  }

  .font_sub {
    width: 315px;
    height: 69.5px;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #939393;
    margin: 0 auto;
  }

  .ic_system_skin_face_cheek {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }


  .anim-point {
    animation-name: stylie-transform-keyframes;
    animation-duration: 1000ms;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 0 0;
  }
  @keyframes stylie-transform-keyframes {
    0% {transform:translate(0px, 0px) scale(0.2) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
      animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
    100% {transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  }

  .cell {
    width: 88%;
    height: 50px;
    border-radius: 4px;
    background-color: #5c59b6;
    box-shadow: none !important; 
  }

  .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    // padding-bottom: 10%;
  }

  .img {
    margin: auto;
    display: block;
    height: 100%;
    margin-top: 8%;
  }

  .ic-system-back-black {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }

  .font_button {
    width: 28px;
    height: 22.5px;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
  }

  .cancel_button {
    width: 55.5px;
    height: 22.5px;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #939393;
    margin: 0 auto;
  }

  .ic-system-close-black {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }

  .header{
    left: -4%;
  }

  .title{
    top: -2%;
  }

  .subtitle{
    top: -4%;
  }

  .face_img{
    top: -4%;
  }

  .footer{
    bottom: -1.5%;
  }

}
