<ion-header>

  <ion-navbar *ngIf="platform.is('android')" no-lines>
  	<ion-buttons left no-lines>
  		<button ion-button icon-only (click)="dissmiss();" >
          <img no-lines class="android_nav" src="assets/img/beauty/ic-system-close-black@3x.png"/>
  		</button>
  	</ion-buttons>
    <!-- 글 쓰기일 떄 타이틀 -->
    <ion-title class="android_title" text-wrap>글쓰기</ion-title>
    <!-- 글 수정일 떄 타이틀 -->
    <ion-title *ngIf="text_edit" class="android_title" text-wrap>글 수정</ion-title>
    <button ion-button class="android_entroll_btn" (click)="registerNote()">등록 </button>
    <!-- 모든정보 입력시 색상변경 -->
    <!-- 글쓰기일 때 버튼-->
    <button ion-button *ngIf="all_text_enroll" style="color: #5c59b6;" class="android_entroll_btn" (click)="registerNote()">등록 </button>
    <!-- 글 수정일 때 버튼-->
    <button ion-button *ngIf="text_edit" style="color: #5c59b6;" class="android_entroll_btn">완료 </button>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios') || platform.is('core')" no-lines>
    <ion-buttons left no-lines>
      <button ion-button icon-only (click)="dissmiss();">
        <img no-lines class="ios_nav" src="assets/img/beauty/ic-system-close-black@3x.png" />
      </button>
    </ion-buttons>
    <!-- 글 쓰기일 떄 타이틀 -->
    <ion-title class="ios_title" text-wrap>글쓰기</ion-title>
    <!-- 글 수정일 떄 타이틀 -->
    <ion-title *ngIf="text_edit" class="ios_title" text-wrap>글 수정</ion-title>
    <button ion-button class="ios_entroll_btn">등록 </button>
    <!-- 모든정보 입력시 색상변경 -->
    <!-- 글쓰기일 때 버튼-->
    <button ion-button *ngIf="!all_text_enroll" style="color:#5c59b6;" class="ios_entroll_btn" (click)="registerNote()">등록 </button>
    <!-- 글 수정일 때 버튼-->
    <button ion-button *ngIf="text_edit" style="color: #5c59b6;" class="ios_entroll_btn">완료 </button>
  </ion-navbar>
</ion-header>



<ion-content no-bounce padding>

  <!-- 옵션 미지정 추후변경-->
  <ion-item>
    <ion-select class="qna_select" mode="ios" [(ngModel)]="note.select" placeholder="문의사항을 선택하세요.">
      <ion-option value="배송문의">배송문의</ion-option>
      <ion-option value="결제문의">결제문의</ion-option>
      <ion-option value="제품문의">제품문의</ion-option>
      <ion-option value="피부문의">피부문의</ion-option>
      <ion-option value="플리닉문의">플리닉문의</ion-option>
      <ion-option value="기타문의">기타문의</ion-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-input class="qna_title" [(ngModel)]="note.title" placeholder="제목"></ion-input>
  </ion-item>



<!-- <div class="container" > -->

  <ion-item no-lines>
  <ion-textarea no-lines class="qna_input" [(ngModel)]="note.contents" placeholder="내용을 입력해주세요." (ionFocus)="attache_image_hide()" (ionBlur)="attache_image_view()"></ion-textarea>
  </ion-item>
  <img *ngIf="imagePath2" id="attache_image" class="attache_image" [src]="imagePath2"/>

  <!-- 첨부 이미지 영역 -->
  <!-- <img *ngIf="imagePath2" class="attache_image" [src]="imagePath2" /> -->
  <!-- <img *ngIf="!image_enroll" class="attache_image" src="assets/img/home/carezone3.png" /> -->
</ion-content>


<ion-footer padding>

  <rl-tag-input
    [(ngModel)]="note.tags"
    [addOnBlur]="false"
    [autocomplete]="true"
    [autocompleteItems]="preparedTags"
    [autocompleteMustMatch]="false"
    placeholder="#태그를 입력하세요">
  </rl-tag-input>

  <!-- <ion-item>
    <ion-input class="community_tag" [(ngModel)]="note.tags" placeholder="#태그를 입력하세요. (최대 10개)"></ion-input>
  </ion-item> -->
  <!-- 이미지 등록시 파일명 -->
  <ion-item *ngIf="image_enroll">
    <ion-input mode="ios" class="community_attache_image" placeholder="이미지 네임영역" clearInput></ion-input>
  </ion-item>

  <img class="community_attache_camera" (click)="camera()" src="assets/img/beauty/ic-system-camera@3x.png">

  <img class="community_attache_file" src="assets/img/beauty/ic-system-file@3x.png">

</ion-footer>
