page-community-write {
  .header-md::after,
  .tabs-md[tabsPlacement="top"] > .tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    height: 1px;
    margin-bottom: 5px;
  }

  .item-md.item-block .item-inner {
    padding-right: 12px;
  }

  .header-ios::after,
  .tabs-ios[tabsPlacement="top"] > .tabbar::after,
  .footer-ios::before,
  .tabs-ios[tabsPlacement="bottom"] > .tabbar::before {
    height: 1px;
    margin-bottom: 5px;
  }

  .item-ios.item-block .item-inner {
    padding-right: 12px;
  }

  .toolbar-title-md {
    font-weight: bold;
    font-size: 17px;
    background-color: #FFF;
    font-family: NotoSansCJKkr;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }

  .toolbar-title-ios {
    font-weight: bold;
    font-size: 17px;
    background-color: #FFF;
    font-family: NotoSansCJKkr;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: -5%;
    color: #292929;
  }

  .ios_nav {
    background-color: #FFF !important;
    width: 25px !important;
    height: 25px !important;
    object-fit: contain;
    margin-right: -50%;
    margin-top: -50%;
  }

  .android_nav {
    background-color: #FFF !important;
    width: 50px !important;
    height: 25px !important;
    object-fit: contain;
    margin-left: -26%;
  }

  .toolbar-ios {
    margin-top: 8%;
  }

  .toolbar-background-md {
    background-color: #FFF;
  }

  .toolbar-background-ios {
    background-color: #FFF;
  }

  .android_title {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    color: #292929;
  }

  .ios_title {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 120%;
    color: #292929;
  }

  .item-md.item-input.input-has-focus .item-inner,
  .item-md.item-input.item-has-focus .item-inner {
    border-bottom-color: transparent;
    -webkit-box-shadow: inset 0 0 0 0 transparent;
    box-shadow: inset 0 0 0 0 transparent;
  }

  .item-ios.item-input.input-has-focus .item-inner,
  .item-ios.item-input.item-has-focus .item-inner {
    border-bottom-color: #transparent;
    -webkit-box-shadow: inset 0 0 0 0 transparent;
    box-shadow: inset 0 0 0 0 transparent;
  }

  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #transparent;
    -webkit-box-shadow: inset 0 0 0 0 transparent;
    box-shadow: inset 0 0 0 0 transparent;
  }

  .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #transparent;
    -webkit-box-shadow: inset 0 -0 0 0 transparent;
    box-shadow: inset 0 0 0 0 transparent;
  }

  .select-ios {
    padding-left: 0;
    padding-right: 0;
  }

  .select-md {
    padding-left: 0;
    padding-right: 0;
  }

  .select-ios .select-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }

  .select-md .select-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }

  .text-input-md {
    margin-left: 0;
    margin-right: 0;
  }

  .item-md {
    padding-left: 0;
    padding-right: 0;
  }

  .item-ios {
    padding-left: 0;
    padding-right: 0;
  }

  .scroll-content {
    margin-bottom: 10px !important;
    padding-top: 0 !important;
    // overflow: hidden;
  }

  .android_entroll_btn {
    position: absolute;
    top: 10%;
    right: 0;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #c7c7c7;
    background-color: #FFF !important;
    box-shadow: none;
  }

  .ios_entroll_btn {
    position: absolute;
    top: -30%;
    right: 0;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #c7c7c7;
    background-color: #FFF !important;
    box-shadow: none;
  }

  .qna_select {
    min-width: 100%;
    height: 55px;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292929;
    // margin-top: 2%;
    padding-top: 18px;
  }

  .select-ios .select-icon {
    position: absolute;
    right: -1%;
  }

  .select-md .select-icon {
    position: absolute;
    right: -1%;
  }

  .qna_title {
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292929;
    overflow-y: visible !important;
    padding-top: 5px;
    padding-bottom: 5px;
  }


    .text_scroll{

      height: 100%;
    }


    .container {
      position: relative;
      width: 100%;
      height: 20vh;
      // overflow: scroll;
      // overflow-y: scroll;
    }

    .scroll-content{
     overflow: scroll;
    }

    .container .attache_image {
      position: absolute;
      bottom: -180%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      color: #fff;
      border: none;
      cursor: pointer;
      width: 91%;
      height: auto;
      border-radius: 5px;
      background-color: #f5f5f5;
    }

    .attache_image{
      width: 91%;
      height: auto;
      border-radius: 5px;
      margin: 0 auto;
      margin-top: 3vh;
      margin-left: 2vh;
      // display: inline;
      // vertical-align:text-bottom;
    }

   .qna_input{
    margin-top: 3%;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292929;
    .text-input{
        height: 35vh;
      }
   }

   .label-md{
    //height: 32px;
    margin: 0px;
    margin-bottom: 10%;
    overflow: scroll;
   }

   .label-ios{
     //height: 32px;
     margin: 0px;
     margin-bottom: 10%;
     overflow: scroll;
   }

   ::-webkit-input-placeholder {
    color: #5c59b6;
   }

  .ion-tags-input{
    border-bottom: 0px !important;
    padding: 0px !important;
    display: contents !important;
  }

  .iti-tag:before {
    content: "#";
    letter-spacing: -3px;
  }

   .iti-input{
    width: 100% !important;
    font-family: NotoSansCJKkr !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    background-color: #FFF !important;
    position: absolute;
    padding: 0px !important;
    bottom: 5%;
    left: 0%;
  }

.text-input-ios{
  margin: 0px;
}

.text-input-md{
  margin: 0px;
}
  .iti-tag{
    width: 100% !important;
    display: contents !important;
    font-family: NotoSansCJKkr !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #5c59b6 !important;
    background-color: #FFF !important;
    border-radius: 3px !important;
    max-height: 38px !important;
    border: solid 1px #f1f1f1 !important;
    margin: 0px !important;
    padding: 0px !important;
    padding-left: 10px !important;
    border-bottom: 0px !important;
  }
  .ion-tags-input.active{
  border-bottom-color: transparent;
  padding-left: 10px;
  margin-right: 10px;
  }


  .ion-tags-input a.iti-tag-rm::before{
    color: #292929;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }


  .community_attache_image{
    height: 16.5px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5c59b6;
  }

  .community_attache_camera{
    margin: 15px;
    margin-left: 0px;
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .community_attache_file {
    margin: 15px 15px 15px 0;
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  ion-footer {
    background-color: #FFF;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  [_nghost-c1] {
    background-color: color($colors, primary);
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
  }

  [_nghost-c1] .ng2-tag-input-remove[_ngcontent-c1] {
    color: color($colors, primary);
    background: #fff;
    height: 20px;
    width: 20px;
    line-height: 20px;
  }

  [_nghost-c2] {
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    display: block;
    position: inherit;
    top: 100%;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: #444444;
    background: white;
    padding: 8px 0;
  }
}
