<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar  *ngIf="platform.is('android')">
    <ion-title class="android_title" text-wrap>서비스 이용약관 동의</ion-title>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios')">
  	<ion-buttons left>
  		<button ion-button navPop icon-only>
  			<!-- <ion-icon md="md-arrow-forward"></ion-icon> -->
        <img class="ios_nav"src="assets/img/agreement/ic-system-back-black@3x.png"/>
  		</button>
  	</ion-buttons>
    <ion-title class="ios_title" text-wrap>서비스 이용약관 동의</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-wrap>
  <div class="text"><br><br>
  <div><h5>■ 제 1조 (목적)</h5></div>
  <div>이 약관은 지원파트너스 주식회사(이하 "회사"라 합니다)가 제공하는 지원파트너스 및 지원파트너스 관련 제반 서비스의 이용에 대해 회사와 회원의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.<br /><br/><br /></div>
  <div><h5>■ 제 2조 (용어의 정의)</h5></div>
  <div>① 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.</div>
  <div>가. ‘소프트웨어’라 함은 통합설치프로그램을 통해 설치 및 제공되거나 또는 개별프로그램을 선택적으로 다운로드 받아 설치 및 제공되는 프로그램들을 말합니다.(‘소프트웨어’에는 툴바, 네이버 백신, 포토뷰어, 비디오매니저 등의 개별프로그램(이하 ‘프로그램’이라 합니다.) 이 포함되며,
이러한 ‘프로그램’은 추가되거나 제외 될 수 있습니다.) <br /><br /><br /> </div>
  <div><h5>■   제 3조 (이용약관의 효력 및 변경)</h5></div>
  <div> ‘회원’은 개정된 약관에 동의하지 않을 경우, "소프트웨어"를 삭제함으로써 이용계약을 해지할 수 있습니다.</div>
  <div> "회사"는 관련 법령에 위배되지 않는 범위 내에서 이 약관의 내용을 개정할 수 있으며, 개정약관은 제1항에 따라 ‘회원’이 동의함으로써 효력이 발생합니다.</div>
  </div>
</ion-content>
