page-home {


   .ios_plinic_logo{
    width: 18%;
    height: 57px;
    object-fit: contain;
    margin-top: 4%;
    margin-left: 6%;
    }

    .android_plinic_logo{
    width: 18%;
    height: 57px;
    object-fit: contain;
    margin-left: 6%;
    }

    .android_search{
      position: absolute;
      top: 25%;
      right: 5%;
      width: 25px;
      height: 25px;
      object-fit: contain;
    }

    .ios_search{
      position: absolute;
      top: 40%;
      right: 5%;
      width: 25px;
      height: 25px;
      object-fit: contain;
    }

    .swiper-pagination-bullet-active{
      background: #5c59b6;
    }
    .button-md.activated{
      background-color: #FFF;
    }
    .page_home {
      // position: relative;
      //height: 4715px;
      align-items: center;
      align-self: center;
      background-color: #fff;
    }

    .img-banner_top_19000501 {
      position: relative;
      top: 0;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    .swiper-slide img{
     width: 100%;
     height: 31vh;
    }
   .moisture_help{
     width: 90%;
     margin-left: auto;
     margin-right: auto;
    height: 125px;
    border-radius: 4px;
    border: solid 1px #dddddd;
    background-color: #ffffff;
   }


   .help_title{
     position: relative;
     left: -36%;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #292929;
   }


     .close{
      width: 25px;
      height: 25px;
      object-fit: contain;
    }

  .moisture_help {
    position: relative;
  }

  .moisture_help .close{
  position: absolute;
  top: 19%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FFF;
  }

  .help_sub{
    position: absolute;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    color: #292929;
    left: 5%;
    right: 5%;
    bottom: 5%;
  }

    .skin_chart {
      background-color: #ffffff;
      margin-bottom: 8px;
      padding-bottom: 22px;
    }

    .row_align{
      margin-left: 20px;
      margin-right: 20px;
    }
    .left_grid{
      background-color: #ffffff;
      margin-left: auto;
      margin-right: auto;
      text-align:center;
      display: inline-grid;
  }

    .right_grid{
      background-color: #ffffff;
      margin-left: auto;
      margin-right: auto;
      display: inline-grid;
      text-align:center;
      padding-left: 15%;
    }

    .day{

      width: 100px;
      height: 20.5px;
      font-family: NotoSansCJKkr;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
      color: #292929;
    }
    .secondstatus{

      width: 55px;
      height: 22.5px;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #15b673;
      margin-left: auto;
      margin-right: auto;
      display: block;
   }

   .status{
     width: 55px;
     height: 22.5px;
     font-family: NotoSansCJKkr;
     font-size: 15px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     text-align: center;
     color: #e9513c;
     margin-left: auto;
     margin-right: auto;
     display: block;
   }

   .status_good{
     width: 55px;
     height: 22.5px;
     font-family: NotoSansCJKkr;
     font-size: 15px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     text-align: center;
     color: #3b8efd;
     margin-left: auto;
     margin-right: auto;
     display: block;
   }

   .status_normal{
     width: 55px;
     height: 22.5px;
     font-family: NotoSansCJKkr;
     font-size: 15px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     text-align: center;
     color: #15b673;
     margin-left: auto;
     margin-right: auto;
     display: block;
   }

   .status_soso{
     width: 55px;
     height: 22.5px;
     font-family: NotoSansCJKkr;
     font-size: 15px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     text-align: center;
     color: #ffa000;
     margin-left: auto;
     margin-right: auto;
     display: block;
   }

   .status_bad{
     width: 55px;
     height: 22.5px;
     font-family: NotoSansCJKkr;
     font-size: 15px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     text-align: center;
     color: #e9513c;
     margin-left: auto;
     margin-right: auto;
     display: block;
   }


   .img-status{
     width: 60px;
      height: 60px;
      object-fit: contain;
      background-color: #FFF;
      margin-left: auto;
      margin-right: auto;
      display: block;

   }

   .button-md:hover:not(.disable-hover){
     background-color: #FFF;
   }
   .button-ios:hover:not(.disable-hover){
     background-color: #FFF;
   }

   .status_btn{
     font-family: NotoSansCJKkr;
     font-size: 11.5px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     text-align: center;
     color: #292929;
     width: 85px;
     height: 30px;
     border-radius: 15px;
     border: solid 1px #dedede;
     background-color: #FFF !important;
     margin-left: auto;
     margin-right: auto;
     display: block;
     box-shadow: none;
     margin-top: -3%;
  }


   .img-logo{
      background-color: #FFF;
      width: 25px;
      height: 25px;
      object-fit: contain;
      padding-top: 6%;
   }



   .griddata{

     text-align: center;
    margin-left: auto;
     margin-right: auto;
     display: block;
  }

   .sub{
     font-family: AppleSDGothicNeo;
     font-size: 13px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #939393;
   }



   .data1{
     position: absolute;
     right:25%;
     font-family: Roboto;
     font-size: 14px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #292929;
   }
    .data2{
     font-family: NotoSansCJKkr;
     font-size: 14px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     text-align: center;
     color: #858585;
     margin-bottom: 5%;

    }
   .data3{
     position: absolute;
     right:-25%;
     font-family: Roboto;
     font-size: 14px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #858585;
   }
    .font_skin_chart {
      width: 59px;
      height: 22.5px;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      padding-left: 5%;
    }

    .user_text{
      font-family: AppleSDGothicNeo;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #292929;
      margin-bottom: 5%;
      margin-left: 5%;
    }

    .user_name{
      font-family: AppleSDGothicNeo;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #5c59b6;
    }

    .user_sub{
      font-family: AppleSDGothicNeo;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      margin-left: 3%;
      margin-bottom: 7%;
    }

    .font_skin_chart2 {
      top: 80px;
      height: 200px;
      font-family: AppleSDGothicNeo;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: center;
      color: #939393;
    }

    .font_carezone {
      width: 100px;
      height: 22.5px;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      margin-bottom: 4%;
      margin-top: 7%;
    }

    .carezone {
      width: auto;
      // height: 155%;
      background-color: #ffffff;
    }

    .beauty_tip {
      position: relative;
      width: auto;
      height: 650px;
      background-color: #ffffff;
      // margin-bottom: 8px;
      margin-top: 0%;
    }

    .bottom-tip {
      position: relative;
      width: auto;
      height: 251.5px;
      background-color: #ffffff;
      margin-bottom: 8px;
    }

    .ion-content-padding {
      padding-left: 0;
      padding-right: 0;
    }

    .card-title {
      position: absolute;
      top: 10%;
      left: 4%;
      font-size: 0.9em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      text-align: left;
    }

    .chart_btn {
      border-radius: 40px !important;
      border: 1px solid color($colors, light);
      font-size: 0.9em;
      width: 70px;
      height: 40px;
      box-shadow: none;
    }

    .skin_btn {
      align: center;
      border-radius: 5px !important;
      width: 91%;
      height: 50px;
      background-color: #5c59b6;
      font-family: NotoSansCJKkr;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      margin: 0 auto;
      display: block;
      text-align: center;
      color: #ffffff;
      margin-bottom: 8.5%;
      margin-top: -1%;
      box-shadow: none !important;
    }



    .img_carezone {
      width: 91%;
      height: auto;
      border-radius: 5px;
      background-color: #e2e1e6;
      border: 1px solid #f1f1f1;
    }



    .font_carezone2 {
      position: absolute;
      height: 22.5px;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      margin-top: -1%;
    }

    .font_carezone2_page {
      height: 15px;
      font-family: Roboto;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #5c59b6;
      margin-top: 0%;
    }

    .font_carezone2_img{
      width: 23px;
      height: 23px;
      border: solid 0.3px #e5e6e8;
      margin-left: 5%;
      border: 0px;
    }

    .font_carezone2_sub {
      width: 85%;
      height: 19px;
      font-family: NotoSansCJKkr;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #939393;
      margin-top: 2%;
      margin-bottom: 5%;
    }


    .list-md{
      margin: 0px;
    }

    .list-ios{
      margin: 0px;
    }
    .carezon_btn1_1 {
      position: absolute;
      top: 5%;
      left: 8%;
      width: 15%;
      height: 25px;
      border-radius: 2.5px;
      background-color: #5c59b6;
      box-shadow: none !important;
      font-family: Helvetica;
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      z-index : 1;
      color: #ffffff;
    }

    .carezon_btn1_2 {
      position: absolute;
      top: 5%;
      left: 8%;
      width: 15%;
      height: 25px;
      border-radius: 2.5px;
      background-color: #d2d4d8;
      color: #000;
      box-shadow: none !important;
      font-family: Helvetica;
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      z-index : 1;
      color: #ffffff;
      box-shadow: none;
    }


    .carezon_status1_1{
      position: absolute;
      top: 5%;
      left: 26%;
      width: 15%;
      height: 25px;
      border-radius: 2.5px;
      background-color: #3AACC2;
      box-shadow: none !important;
      font-family: Helvetica;
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      z-index : 1;
      color: #ffffff;
      box-shadow: none;
    }


    .carezon_status1_2{
      position: absolute;
      top: 5%;
      left: 26%;
      width: 15%;
      height: 25px;
      border-radius: 2.5px;
      background-color: #4693C2;
      box-shadow: none !important;
      font-family: Helvetica;
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      z-index : 1;
      color: #ffffff;
      box-shadow: none;
      -webkit-animation: button_twinkle 7s ease-in-out infinite;
      -moz-animation: button_twinkle 1s ease-in-out infinite;
      -o-animation: button_twinkle 1s ease-in-out infinite;
        animation: button_twinkle 1s ease-in-out infinite;
    }

    .carezon_status1_3{
      position: absolute;
      top: 5%;
      left: 26%;
      width: 15%;
      height: 25px;
      border-radius: 2.5px;
      background-color: #D90000;
      box-shadow: none !important;
      font-family: Helvetica;
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      z-index : 1;
      color: #ffffff;
      box-shadow: none;
      -webkit-animation: button_twinkle 7s ease-in-out infinite;
   -moz-animation: button_twinkle 1s ease-in-out infinite;
     -o-animation: button_twinkle 1s ease-in-out infinite;
        animation: button_twinkle 1s ease-in-out infinite;
    }

    @-webkit-keyframes button_twinkle {
      0%   { opacity: 1; }
      30%  { opacity: 0; }
      40%  { opacity: 0; }
      100% { opacity: 1; }
    }
    @-moz-keyframes button_twinkle {
      0%   { opacity: 1; }
      30%  { opacity: 0; }
      40%  { opacity: 0; }
      100% { opacity: 1; }
    }
    @-o-keyframes button_twinkle {
      0%   { opacity: 1; }
      30%  { opacity: 0; }
      40%  { opacity: 0; }
      100% { opacity: 1; }
    }
    @keyframes button_twinkle {
      0%   { opacity: 1; }
      30%  { opacity: 0; }
      40%  { opacity: 0; }
      100% { opacity: 1; }
    }



    .img_carezone2 {
      position: relative;
      width: 91%;
      height: auto;
      border-radius: 5px;
      background-color: #e2e1e6;
    }

    .font_carezone3 {
      position: absolute;
      height: 22.5px;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      margin-top: -1%;
    }

    .carezon_btn2 {
      left: 9%;
      width: 53px;
      height: 25px;
      opacity: 0.9;
      border-radius: 2.5px;
      background-color: #5c59b6;
      z-index: 1;
      box-shadow: none !important;
    }

    .font_carezone3_page {
      width: 40.5px;
      height: 15px;
      font-family: Roboto;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #5c59b6;
      margin-top: 0%;
    }

    .font_carezone3_sub {
      width: 85%;
      height: 19px;
      font-family: NotoSansCJKkr;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #939393;
      margin-top: 2%;
      margin-bottom: 5%;
    }


    .img_carezone3 {
      position: relative;
      width: 91%;
      height: auto;
      border-radius: 5px;
      background-color: #e2e1e6;
    }

    .carezon_btn3 {
      width: 40.5px;
      height: 25px;
      opacity: 0.3;
      border-radius: 2.5px;
      background-color: #000000;
      z-index: 1;
      box-shadow: none;
    }

    .font_carezone4 {
      position: absolute;
      height: 22.5px;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      margin-top: -1%;
    }

    .font_carezone4_sub {
      width: 85%;
      height: 19px;
      font-family: NotoSansCJKkr;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #939393;
      margin-top: 2%;
      margin-bottom: 5%;
    }

    .font_carezone4_page {
      height: 15px;
      font-family: Roboto;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #5c59b6;
      margin-top: 0%;
    }

    .mission_btn {
      width: 91%;
      height: 50px;
      border: solid 0.5px #c7c7c7;
      box-shadow: none !important;
      font-family: AppleSDGothicNeo;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #292929;
      margin-bottom: 3%;
    }

    .beauty_tip_title {
      position: absolute;
      // top: 5%;
      //width: 70px;
      height: 23.5px;
      font-family: NotoSansCJKkr;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
    }

    .beauty_grid_width {
      position: relative;
      top: 11%;
      width: 91%;
      height: 150px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      display: block;
    }

    .beauty_grid1 {
      position: absolute;
      top: 0;
      width: 95%;
      height: 95%;
      // margin-left: auto;
      // margin-right: auto;
      // left: 0;
      // right: 0;
      left: 25%;
      transform: translateX(-50%);
    }

    .beauty_grid2 {
      position: absolute;
      top: 0;
      width: 95%;
      height: 95%;
      // margin-left: auto;
      // margin-right: auto;
      // left: 0;
      // right: 0;
      left: 75%;
      transform: translateX(-50%);
    }

    .beauty_grid3 {
      position: absolute;
      top: 61%;
      width: 95%;
      height: 95%;
      left: 25%;
      transform: translateX(-50%);
    }

    .beauty_grid4 {
      position: absolute;
      top: 61%;
      width: 95%;
      height: 95%;
      left: 75%;
      transform: translateX(-50%);
    }

    .beauty_img {
      width: 100%;
      border-radius: 5px;
      margin-top: -10%;
    }

    .beauty_title {
      padding-top: 2%;
      width: 90px;
      height: 19px;
      font-family: NotoSansCJKkr;
      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #5c59b6;
      text-align: left;
    }

    .beauty_desc {
      padding-top: 4%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 30.5px;
      font-family: AppleSDGothicNeo;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      text-align: left;
      z-index: 5;
    }

    .beauty_btn {
      position: absolute;
      top: 2428%;
      width: 91%;
      height: 50px;
      border: solid 0.5px #c7c7c7;
      left: 50%;
      background-color: #ffffff !important;
      transform: translateX(-50%);
      box-shadow: none !important;
      font-family: AppleSDGothicNeo;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #292929;
    }

    .beauty_count{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 19px;
      font-family: Roboto;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #b6b6b6;
      text-align: left;
      margin-top: 2%;
    }


    .tip_title {
      font-family: NotoSansCJKkr;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      z-index: 1;
      margin-top: 7%;
      margin-bottom: 0%;
    }

    .font_tip_btn {
      width: 39px;
      height: 19px;
      font-family: NotoSansCJKkr;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      letter-spacing: normal;
      color: #292929;
      box-shadow: none !important;
    }

    .left-margin {
      left: 4%;
    }

    .right-margin {
      right: 4.5%;
    }

    // .bound {
    //   position: absolute;
    //   top: 564%;
    //   width: 96%;
    //   height: 55px;
    //   background-color: #ffffff !important;
    //   left: 50%;
    //   transform: translateX(-50%);
    // }
    //
    // .bound2 {
    //   position: absolute;
    //   top: 1027%;
    //   width: 98%;
    //   height: 55px;
    //   background-color: #ffffff !important;
    //   left: 50%;
    //   transform: translateX(-50%);
    // }
    //
    // .bound3 {
    //   position: absolute;
    //   top: 1475%;
    //   width: 96%;
    //   height: 55px;
    //   background-color: #ffffff !important;
    //   margin: 0 auto;
    //   left: 50%;
    //   transform: translateX(-50%);
    // }

    .beauty_top_add{
      width: 88.5%;
      min-height: 50px;
      font-family: AppleSDGothicNeo;
      background-color: #FFF !important;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #292929;
      border: solid 0.5px #c7c7c7;
      box-shadow: none !important;
      margin: 0 auto;
      display: block;
      margin-top: 10%;
      margin-bottom: 10%;
    }

    .beauty_note_title{
      min-width: 91%;
      max-width: 91%;
      // height: 7vh;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: #292929;
      text-align: left;
      margin-left: 4%;
      padding-bottom: 0px;
      margin-bottom: 5%;

      @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    // .item-md.item-block .item-inner{
    //   border-bottom: 1px solid #f1f1f1 !important;
    // }
    //
    // .item-ios.item-block .item-inner{
    //   border-bottom: 1px solid #f1f1f1 !important;
    // }

    .container {
      position: relative;
      width: 100%;
    }

    .line_item{
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    }
          .container .beauty_note_like{
            font-family: NotoSansCJKkr;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #b6b6b6;
            position: absolute;
            display: inline-table;
            width: 100%;
            text-align: left;
            padding-left: 5%;
          }

          .container .beauty_worry_img {
            // position: absolute;
            // top: -25%;
            // right: -120%;
            transform: translate(39.5vh, -6vh);
            -ms-transform: translate(-50%, -50%);
            color: #fff;
            border: none;
            cursor: pointer;
            width: 80px;
            max-height: 80px;
            border-radius: 5px;
            background-color: #f5f5f5;
            margin-bottom: -7%;
          }

          .container .beauty_worry_img_ios {
            // position: absolute;
            // top: -25%;
            // right: -120%;
            transform: translate(39.5vh, -6vh);
            -ms-transform: translate(-50%, -50%);
            color: #fff;
            border: none;
            cursor: pointer;
            width: 80px;
            max-height: 80px;
            border-radius: 5px;
            background-color: #f5f5f5;
            margin-bottom: -7%;
          }

          .beauty_note_title_img{
            max-width: 65%;
            height: 7vh;
            font-family: NotoSansCJKkr;
            font-size: 15px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: normal;
            color: #292929;
            text-align: left;
            margin-left: 4%;
            padding-bottom: 0px;

            @supports (-webkit-line-clamp: 2) {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: initial;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
          }


          .beauty_note_answer{
            font-family: NotoSansCJKkr;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #5c59b6;
          }

          .beauty_note_Q{
            font-family: AppleSDGothicNeo;
            font-size: 15px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: normal;
            color: #5c59b6;
          }

          .label-md{
            margin: 0px;
          }

          .label-ios{
            margin: 0px;
          }

          .item-md{
            padding: 0px;
          }
          .item-ios{
            padding: 0px;
          }

  }
