<!--
  Generated template for the RewardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <!-- 안드로이드 용 네비 바 -->
  <ion-navbar *ngIf="platform.is('android')" no-lines>
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only>
        <img no-lines class="android_nav" src="./assets/img/beauty/ic-system-close-black@3x.png" />
      </button>
    </ion-buttons>
    <ion-title class="android_title" text-wrap>보상받기</ion-title>
  </ion-navbar>

  <!-- iOS용 네비 바 -->
  <ion-navbar *ngIf="platform.is('ios') || platform.is('core')" no-lines>
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only>
        <img no-lines class="ios_nav" src="assets/img/beauty/ic-system-close-black@3x.png" />
      </button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>보상받기</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <br><br>
  <ion-item no-padding>
    <div class="left title">챌린지 성공을 축하드립니다!<br>상품 받으실 주소를 정확히 입력해주세요.</div>
    <!-- <div class="title">상품 받으실 주소를 정확히 입력해주세요.</div> -->
    <p class="left sub_title">플리닉 챌린지는 건강한 피부관리 습관을<br>
      도와드리기 위해 플리닉만의 특별 이벤트 입니다.<br>
      <span class="sub_title_color">상품 받으신 후에도 지속적인 피부 관리로</span><br>
      건강한 피부를 유지하시길 응원합니다.<br>
    </p>
    <div class="left small_text">※ 보상 받기를 신청하지 않으시면 취소될 수도 있습니다.</div>

  </ion-item>

  <ion-item no-padding class="item_align" style="background:#FFF">
    <ion-label mode="ios" class="title_left password_label" stacked>받으시는 분 성함</ion-label>
    <ion-input no-padding (ionFocus)="postFocusOut()" class="input_name" mode="ios" type="text" name="base_password" placeholder="받으시는 분 이름을 입력해주세요." [(ngModel)]="name" clearInput required></ion-input>
  </ion-item>

  <button ion-button outline clear (click)="postCheck()" end class="button_start"><div style="color:#FFF">우편번호 찾기</div></button>
  <ion-item class="item_align" style="background:#FFF">
    <ion-label mode="ios" class="title_left password_label" stacked>우편번호</ion-label>
    <ion-input no-padding (ionFocus)="postFocusOut()" class="input_name" mode="ios" type="text" name="base_password" placeholder="우편번호" [(ngModel)]="zonecode" clearInput required></ion-input>
  </ion-item>

  <!-- <iframe *ngIf="ishidden" src="http://localhost:8001/api/daumjuso" width="100%" height="400px" frameBorder="0" id='daumIframe'></iframe> -->
  <iframe *ngIf="ishidden" src="http://plinic.cafe24app.com/api/daumjuso" width="100%" height="400px" frameBorder="0" id='daumIframe'></iframe>

  <ion-item no-padding class="item_align" style="background:#FFF">
    <ion-label mode="ios" class="title_left password_label" stacked>주소</ion-label>
    <ion-input no-padding (ionFocus)="postFocusOut()" class="title_left input_name" mode="ios" type="text" name="base_password" placeholder="도로명 주소" [(ngModel)]="address" clearInput required></ion-input>
  </ion-item>

  <ion-item no-padding class="item_align" style="background:#FFF">
    <ion-label mode="ios" class="title_left password_label" stacked>상세주소</ion-label>
    <ion-input no-padding (ionFocus)="postFocusOut()" class="title_left input_name" mode="ios" type="text" name="base_password" placeholder="나머지 주소를 입력해주세요." [(ngModel)]="detailAddress" clearInput required></ion-input>
  </ion-item>

  <ion-item no-padding class="item_align" style="background:#FFF">
    <ion-label mode="ios" class="title_left password_label" stacked>배송 시 특이사항</ion-label>
    <ion-input no-padding (ionFocus)="postFocusOut()" class="title_left input_name" mode="ios" type="text" name="base_password" placeholder="배송시 특이사항을 입력해주세요." [(ngModel)]="desc" clearInput required></ion-input>
  </ion-item>

  <ion-item no-padding class="item_align" style="background:#FFF">
    <ion-label mode="ios" class="title_left password_label" stacked>연락처</ion-label>
    <ion-input no-padding (ionFocus)="postFocusOut()" (ionBlur)="inputPhoneNumber()" class="title_left input_name" mode="ios" type="text" name="new_password" placeholder="연락처" [(ngModel)]="phoneNumber" clearInput required></ion-input>
  </ion-item>

  <ion-item no-padding class="item_align" style="background:#FFF">
    <ion-label mode="ios" class="title_left password_label" stacked>이메일</ion-label>
    <ion-input no-padding (ionFocus)="postFocusOut()" class="title_left input_name" mode="ios" type="text" name="new_password" placeholder="Email" [(ngModel)]="postEmail" clearInput required></ion-input>
  </ion-item>

  <ion-item no-padding class="item_align" style="background:#FFF">
      <ion-label mode="ios" class="title_left password_label" stacked>성공 후기(후기는 큰 힘이 됩니다)</ion-label>
      <ion-textarea no-padding maxLength="300" autoGrow="true" (ionFocus)="postFocusOut()" class="title_left input_name" mode="ios" type="text" name="new_password" placeholder="후기 작성(300자 제한)" [(ngModel)]="review" clearInput required></ion-textarea>
    </ion-item>

  <!-- 2020-02-11 <button ion-button outline (click)="registerReward()" class="button_save">저장 및 발송</button> -->
  <button ion-button outline (click)="registerChallengeReward()" class="button_save">저장 및 발송</button>
  <button ion-button navPop outline clear class="button_cancel">다음에 하기</button>
  <!-- <button type="button" ng-click="jusoSearch()" class="button">검색</button> -->
</ion-content>
