<!--
  Generated template for the QnaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  *ngIf="platform.is('android')" >
    <ion-title class="android_title" text-wrap>문의하기</ion-title>
  </ion-navbar>


  <ion-navbar *ngIf="platform.is('ios')">
  	<ion-buttons left>
  		<button ion-button navPop icon-only>
  			<!-- <ion-icon md="md-arrow-forward"></ion-icon> -->
        <img class="ios_nav"src="assets/img/agreement/ic-system-back-black@3x.png"/>
  		</button>
  	</ion-buttons>
    <ion-title class="ios_title" text-wrap>문의하기</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-lines no-padding>

<div *ngFor="let qna of qnaData">
  <button class="qna_list" mode="ios" no-lines ion-item icon-start (click)="qna_read(qna._id)">[{{qna.select}}] {{qna.qna}}</button>
</div>
<!-- <button class="qna_list" mode="ios" no-lines ion-item icon-start>문의하기</button>
<button class="qna_list" mode="ios" no-lines ion-item icon-start>문의하기</button> -->
<!-- <div class="no_list" >문의하신 게시글이 없습니다.</div> -->
</ion-content>


<ion-footer no-lines>
<button  class="qna_btn" ion-button (click)="qna_write();"> 문의하기</button>
</ion-footer>
