// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



// //addinfo 국가 sheet
// .select-searchable-page{
//   margin-top: 50%;
//   position: absolute;
//   left: 0px;
//   right: 0px;
//   bottom: 0px;
// }
// .ion-md-close:before{
//   display: none;
// }
//
// .ion-md-radio-button-off:before{
//   width: 25px;
//   height: 25px;
// }
// .ion-md-checkmark-circle:before{
//   width: 25px;
//   height: 25px;
// }
//
// .toolbar-background-md {
//     border-color: #000;
//     background-color: #5c59b6;
//     border-radius: 0px;
// }
//
// .toolbar-title-md{
//   position: absolute;
//   left: 0%;
//   width: 100px;
//   font-family: NotoSansCJKkr;
//   font-size: 20px;
//   font-weight: normal;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: normal;
//   letter-spacing: normal;
//   text-align: center;
//   color: #FFF;
//   background-color: #5c59b6;
// }
// .toolbar-md{
//   background-color: #5c59b6;
// }
// .show-page{
//   background-color: rgba(0,0,0,0.26);
// }


ion-icon {
    &[class*="custom-"] {
        margin: 0 0 0 0;
        vertical-align: middle;
        $sz: 24px;
        width: $sz;
        height: $sz;
    } // custom icons
    &[class*="home"][ng-reflect-is-active="true"] {
        background: url(../assets/img/tabs/ic-system-tab-home-on.svg) no-repeat 50% 50%;
        background-size: 20px;
    }//in case of active
    &[class*="home"][ng-reflect-is-active="false"] {
        background: url(../assets/img/tabs/ic-system-tab-home-off.svg) no-repeat 50% 50%;
        background-size: 20px;
    }
    &[class*="carezone"][ng-reflect-is-active="true"] {
        background: url(../assets/img/tabs/ic-system-tab-cc-on.svg) no-repeat 50% 50%;
        background-size: 20px;
    }//in case of active
    &[class*="carezone"][ng-reflect-is-active="false"] {
        background: url(../assets/img/tabs/ic-system-tab-cc-off.svg) no-repeat 50% 50%;
        background-size: 20px;
    }
    &[class*="cummunity"][ng-reflect-is-active="true"] {
        background: url(../assets/img/tabs/ic-system-tab-community-on.svg) no-repeat 50% 50%;
        background-size: 20px;
    }//in case of active
    &[class*="cummunity"][ng-reflect-is-active="false"] {
        background: url(../assets/img/tabs/ic-system-tab-community-off.svg) no-repeat 50% 50%;
        background-size: 20px;
    }
    &[class*="my"][ng-reflect-is-active="true"] {
        background: url(../assets/img/tabs/ic-system-profile-default@3x.png) no-repeat 50% 50%;
        background-size: 20px;
    }//in case of active
    &[class*="my"][ng-reflect-is-active="false"] {
        background: url(../assets/img/tabs/ic-system-profile-default@3x.png) no-repeat 50% 50%;
        background-size: 20px;
    }
}





.sk-rotating-plane {

  margin: auto;

      .spinner-md-crescent circle{
        stroke: transparent !important;
        height: 0px !important;
      }
      .spinner-ios-crescent circle{
        stroke: transparent !important;
        height: 0px !important;
      }
      .loading-wrapper{
       border-radius: 50%;
       background-color: #5c59b6;
       box-shadow: none !important;
       -webkit-animation: sk-rotatePlane 1.4s infinite ease-in-out;
               animation: sk-rotatePlane 1.4s infinite ease-in-out;
               opacity: 1 !important;
      padding: 24px !important;
      }

      ion-backdrop.backdrop-no-tappable{
      background: #000 !important;
      opacity: 0.4 !important;
      height: 100%;
      // margin-top: 16%;
      }
 }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); }
  }


    //검색 정렬 팝오버 최신순,인기순
  .android_align_popover .popover-content{
    top: 90px !important;
    left: 230px !important;
    transform-origin: right top !important;
    transform: scale(1) !important;
    background-color: #fafafa !important;
    width: 108px;
    border: solid 1px #dddddd;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292929;
    box-shadow:none;

      .list-md{
        margin: 0px;
      }
   }


   .ios_align_popover .popover-content{
     top: 120px !important;
     left: 230px !important;
     transform-origin: right top !important;
     transform: scale(1) !important;
     background-color: #fafafa !important;
     width: 108px;
     border: solid 1px #dddddd;
     font-family: NotoSansCJKkr;
     font-size: 15px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #292929;

       .list-ios{
         margin: 0px;
       }

       .list-ios > .item-block:first-child{
         border-top: 0px;
       }
    }


  //글쓰기 수정/삭제 팝오버
  .android_popover .popover-content{
    top: 6% !important;
    left: 70% !important;
    transform-origin: right top !important;
    transform: scale(1) !important;
    background-color: #fafafa !important;
    width: 108px;
    border: solid 1px #dddddd;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292929;
    box-shadow:none;

      .list-md{
        margin: 0px;
      }
   }


   .ios_popover .popover-content{
     top: 8% !important;
     left: 70% !important;
     transform-origin: right top !important;
     transform: scale(1) !important;
     background-color: #fafafa !important;
     width: 108px;
     border: solid 1px #dddddd;
     font-family: NotoSansCJKkr;
     font-size: 15px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #292929;

       .list-ios{
         margin: 0px;
       }

       .list-ios > .item-block:first-child{
         border-top: 0px;
       }
    }


    //댓글 수정/삭제 팝오버
    .android_comment_popover .popover-content{
      //top: 42.875px !important;
      left: 65% !important;
      transform-origin: right top !important;
      transform: scale(1) !important;
      background-color: #fafafa !important;
      width: 108px;
      border: solid 1px #dddddd;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      box-shadow:none;

        .list-md{
          margin: 0px;
        }
     }


     .ios_comment_popover .popover-content{
       //top: 56.875px !important;
       left: 65% !important;
       transform-origin: right top !important;
       transform: scale(1) !important;
       background-color: #fafafa !important;
       width: 108px;
       border: solid 1px #dddddd;
       font-family: NotoSansCJKkr;
       font-size: 15px;
       font-weight: normal;
       font-style: normal;
       font-stretch: normal;
       line-height: normal;
       letter-spacing: normal;
       color: #292929;

         .list-ios{
           margin: 0px;
         }

         .list-ios > .item-block:first-child{
           border-top: 0px;
         }
      }


  //탭바 제플린 스타일
  .tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text{
    font-family: NotoSansCJKkr;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2f3640;
  }

  .tabs-ios[tabsLayout=icon-top] .has-icon .tab-button-text{
    font-family: NotoSansCJKkr;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2f3640;
  }


scroll-content {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height:100%;
}

.splash {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/img/splash/Default@2x~universal~anyany.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.spinner {
  position: absolute;
  //color: #5c59b6;
  bottom: 20%;
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #5c59b6;
  //color: #5c59b6;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


.blu_toast_android{

  position: absolute;
  top: 43% !important;
  padding: 0px;
  left: 5%;
  width: 90%;
  height: 85px;
  opacity: 0.8;
  border-radius: 6px;
  background-color: #000000;
  margin: 0 auto;

    .toast-message{
      background-color: #000000;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      padding: 3rem !important;
      transform: translate(0%) !important;
    }
}


.blu_toast_ios{

  position: absolute;
  top: 43%;
  padding: 0px;
  left: 5%;
  width: 90%;
  height: 85px;
  opacity: 0.8;
  border-radius: 6px;
  background-color: #000000;
  margin: 0 auto;

    .toast-message{
      background-color: #000000;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      padding: 2rem;
      transform: translate(0%);
    }
}

.mission_alert_fail{
  background-color: rgba(0, 0, 0, 0.4);
    .alert-wrapper{
      border-radius: 4px;
      box-shadow: none !important;
      width: 100%;
      max-width: 300px;
        .alert-head{
          padding-top: 10px;
          padding-right: 24px;
          padding-bottom: 10px;
          padding-left: 24px;
          border-style: solid;
          border-width: 0px 0px 0px 0px;
          border-color: #e5e5e5;

          .alert-title{
            height: 34px;
            font-family: NotoSansCJKkr;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #b6b6b6;
            width: 105px;
            border-radius: 50px;
            margin: auto;
            padding-top: 7px;
            margin-top: 15%;
            border: 0px;
          }
        }
        .alert-sub-title{
          font-family: NotoSansCJKkr;
          font-size: 20px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #292929;
          margin-top: 10%;
        }

        .alert-message {
          font-family: NotoSansCJKkr;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #858585;
          display: inline-table;
        }
        .button-inner{
          justify-content:center;
        }
        .alert-button-group{
           padding: 0px;

        .alert-button{
          background-color: #d2d4d6;
          max-width: 91%;
          width: 91%;
          height: 50px;
          margin: 0 auto;
          margin-top: 5%;
          margin-bottom: 5%;
          border-radius: 5px;
          font-family: NotoSansCJKkr;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
           }
        .cancle_btn{
           background-image: url(../assets/img/login/ic-dialog-close-black@3x.png);
           background-repeat: no-repeat;
           background-color: transparent !important;
           box-shadow: none !important;
           border: 0px;
           position: absolute;
           right: -75%;
           top: -2%;
           background-size: 40px;
           }
        }
    }
}


.mission_alert_success{
  background-color: rgba(0, 0, 0, 0.4);
    .alert-wrapper{
      border-radius: 4px;
      box-shadow: none !important;
      width: 100%;
      max-width: 300px;
        .alert-head{
          padding-top: 10px;
          padding-right: 24px;
          padding-bottom: 10px;
          padding-left: 24px;
          border-style: solid;
          border-width: 0px 0px 0px 0px;
          border-color: #e5e5e5;

          .alert-title{
            height: 34px;
            font-family: NotoSansCJKkr;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #00af66;
            width: 105px;
            border-radius: 50px;
            margin: auto;
            padding-top: 7px;
            margin-top: 15%;
            border: solid 1px #00af66;
          }
        }
        .alert-sub-title{
          font-family: NotoSansCJKkr;
          font-size: 20px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #292929;
          margin-top: 10%;
        }

        .alert-message {
          font-family: NotoSansCJKkr;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #858585;
          display: inline-table;
        }
        .button-inner{
          justify-content:center;
        }
        .alert-button-group{
           padding: 0px;

        .alert-button{
          background-color: #6562b9;
          max-width: 91%;
          width: 91%;
          height: 50px;
          margin: 0 auto;
          margin-top: 5%;
          margin-bottom: 5%;
          border-radius: 5px;
          font-family: NotoSansCJKkr;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
           }
        .cancle_btn{
           background-image: url(../assets/img/login/ic-dialog-close-black@3x.png);
           background-repeat: no-repeat;
           background-color: transparent !important;
           box-shadow: none !important;
           border: 0px;
           position: absolute;
           right: -75%;
           top: -2%;
           background-size: 40px;
           }
        }
    }
}



.push_alert{
      background-color: rgba(0, 0, 0, 0.4);
        .alert-wrapper{
          border-radius: 4px;
          box-shadow: none !important;
            .alert-head{
              padding-top: 10px;
              padding-right: 24px;
              padding-bottom: 10px;
              padding-left: 24px;
              border-style: solid;
              border-width: 0px 0px 1px 0px;
              border-color: #e5e5e5;

              .alert-title{
                // background-image: url(../assets/img/ic_system_logo_symbol.png);
                // background-repeat: no-repeat;
                // background-size: 35px 35px;
                min-height: 35px;
                padding-top: 4%;
                padding-left: 0%;
                font-family: NotoSansCJKkr;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                margin: 0 auto !important;
                display: table;
                color: #292929;
              }
            }

            .alert-message {
                color: #000;
                font-size: 12px;
                padding-top: 9%;
                margin: 0 auto !important;
            }
            .button-inner{
              justify-content:center;
            }
            .alert-button-group{
               padding: 0px;

            .alert-button{
               width: 100%;
               color: #FFF;
               background-color: #6562b9;
               margin: 0px;
               }
            }
        }
}

.push_alert_cancel{
      background-color: rgba(0, 0, 0, 0.4);
        .alert-wrapper{
          border-radius: 4px;
          box-shadow: none !important;
            .alert-head{
              padding-top: 10px;
              padding-right: 24px;
              padding-bottom: 10px;
              padding-left: 24px;
              border-style: solid;
              border-width: 0px 0px 1px 0px;
              border-color: #e5e5e5;

              .alert-title{
                // background-image: url(../assets/img/ic_system_logo_symbol.png);
                // background-repeat: no-repeat;
                // background-size: 35px 35px;
                min-height: 35px;
                padding-top: 4%;
                padding-left: 0%;
                font-family: NotoSansCJKkr;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                margin: 0 auto !important;
                display: table;
                color: #292929;
              }
            }
            .alert-message {
                color: #000;
                font-size: 12px;
                padding-top: 9%;
                margin: 0 auto !important;
            }
            .button-inner{
              justify-content:center;
            }
            .alert-button-group{
               padding: 0px;

            .alert-button{
               width: 50%;
               color: #FFF;
               background-color: #6562b9;
               border-radius : 0px;
               margin: 0px;
               transform: translate(0.1%) !important;
               }
            }
        }
}


//addinfo 생년월일 확인,취소 안드로이드
  .picker-md .picker-button, .picker-md .picker-button.activated{
     background-color: #5c59b6;
     width: 100%;
     position: absolute;
     left: 0;
     margin-left:auto;
     margin-right: auto;
     font-family: NotoSansCJKkr;
     font-size: 15px;
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     color: #ffffff;
  }



  .item-multi-picker .label-md{
    height: 19px;
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 2.5%;
    color: #292929;
  }


  .picker-md .picker-wrapper{
    margin-left: auto;
    margin-right:auto;
    width: 90%;
    height: 34%;
    margin-bottom: 50%;
    border-radius: 4px;
    background-color: #FFF;
    transform: translateY(0%) !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  .picker-md .picker-col{
    // margin-top: -20%;
    margin-top: 9%;
    padding: 0 35px;
    line-height: 1.6;
    // height: 100%;
  }

  .picker-md .picker-toolbar{
    position: absolute;
    bottom: 0;
    // width: 100%;
  }

  .picker-md .picker-prefix, .picker-md .picker-suffix, .picker-md .picker-opts{
    top:0;
  }


  .picker-md .picker-prefix, .picker-md .picker-suffix, .picker-md .picker-opt.picker-opt-selected{
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #5C59B6;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #e5e5e5;
  }

  .picker-md .picker-opt{
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:#D2D4D8;
  }







//addinfo 생년월일 확인,취소 아이폰

.picker-ios .picker-button, .picker-ios .picker-button.activated{
   background-color: #5c59b6;
   width: 100%;
   position: absolute;
   left: 0;
   margin-left:auto;
   margin-right: auto;
   font-family: NotoSansCJKkr;
   font-size: 15px;
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #ffffff;
}

.item-multi-picker .label-ios{
  height: 19px;
  font-family: NotoSansCJKkr;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 2.5%;
  color: #292929;
}


.picker-ios .picker-wrapper{
  margin-left: auto;
  margin-right:auto;
  width: 90%;
  height: 34%;
  bottom: 30%;
  border-radius: 4px;
  background-color: #FFF;
  transform: translateY(0%) !important;
  transition-duration: 0ms !important;
  transition-delay: 0ms !important;
}

//
.picker-ios .picker-col{
  // margin-top: -20%;
  // margin-top: 9%;
  padding: 0 35px;
  line-height: 1.6;
  height: 100%;
}

.picker-ios .picker-toolbar{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.multi-picker-placeholder{
  font-family: NotoSansCJKkr;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c7c7c7;
}
.ion-backdrop{
  background-color: rgba(0, 0, 0, 0.4);
}

// .picker-ios .picker-prefix, .picker-ios .picker-suffix, .picker-ios .picker-opts{
//   top:0;
// }


.picker-ios .picker-prefix, .picker-ios .picker-suffix, .picker-ios .picker-opt.picker-opt-selected{
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5C59B6;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #e5e5e5;
}
  .picker-toolbar-button .picker-toolbar-multi-picker-cancel{
    height: 0px;
  }


.picker-ios .picker-opt{
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color:#D2D4D8;
}



.picker-ios .picker-below-highlight{
  height: 0px;
  border-top: 0px;
  top:0px;
}


.picker-ios .picker-above-highlight{

  height: 0px;
  border-bottom: 0px;
  top:0px;
}
