page-re-register {




        .item-ios.activated{
          background-color: transparent;
        }





        .h1{
           height: 80px;
           font-family: NotoSansCJKkr;
           font-size: 23px;
           font-weight: bold;
           font-style: normal;
           font-stretch: normal;
           line-height: normal;
           letter-spacing: normal;
           text-align: center;
           color: #292929;
           margin-bottom: -5%;
        }


        .close{
        background-color: #FFF;
        min-width: 25px;
        min-height: 25px;
        object-fit: contain;
        margin-top: -1%;
        margin-left: -0.5%;
       }

       .container {
         position: relative;
         width: 100%;
       }

       .container .register_profile {
         width: 120px;
         height: 120px;
         object-fit: contain;
         margin-left: auto;
         margin-right: auto;
         display: block;
         text-align: center;
         background-color: #ffffff;
         margin-bottom: 13%;
         border-radius: 50% !important;
       }

       .container .register_camera{
       position: absolute;
       top: 80%;
       right: 31%;
       transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
       cursor: pointer;
       width: 30px;
       height: 30px;
       background-color: transparent;
       object-fit: contain;
      }


      .profile_modify{
        font-family: NotoSansCJKkr;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #292929;
        padding-bottom: 4%;
        padding-left: 2%;
      }


      .profile_text{
        position: absolute;
        right:10%;
        font-family: Roboto;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #292929;

      }
}
