<ion-content padding>

  <ion-img *ngIf="platform.is('android')" class="close" src="assets/img/login/ic-system-close-black@3x.png" srcset="assets/img/login\ic-system-close-black2x.png,
                assets/img/login\ic-system-close-black@3x.png" (click)="dissmiss()"></ion-img>


  <ion-img *ngIf="platform.is('ios')" class="close" style="margin-top:5%;" src="assets/img/login/ic-system-close-black@3x.png" srcset="assets/img/login\ic-system-close-black2x.png,
                        assets/img/login\ic-system-close-black@3x.png" (click)="dissmiss()"></ion-img>

  <h1 class="h1"> 회원정보를 수정해주세요. </h1>





  <div *ngIf="platform.is('ios')" class="container">

    <div *ngIf="!imagePath2">

      <div *ngIf="userData"><img *ngIf="!thumb_image" class="register_profile" src="http://plinic.cafe24app.com/userimages/{{userData.email}}" /></div>

      <!-- SNS프로필 이미지가 있을때 -->
      <img *ngIf="thumb_image" class="register_profile" src="{{userData.thumbnail_image}}" />

      <!-- SNS인데 이미지도 없고 일반사용자인데 이미지도 없을때 -->
      <img *ngIf="!thumb_image && !userData" class="register_profile" src="assets/img/register/ic-system-profile-default@3x.png" srcset="assets/img/register/ic-system-profile-default@2x.png,
                    assets/img\register/ic-system-profile-default@3x.png" />
    </div>

    <!-- 카메라로 새로 등록 하려면 -->
    <div *ngIf="imagePath2">
      <img *ngIf="!thumb_image" class="register_profile" [src]="imagePath2" />
    </div>
    <ion-img class="register_camera" src="assets/img/register/ic-system-camera@3x.png" srcset="assets/img/register/ic-system-camera@2x.png,
                                    assets/img/register/ic-system-camera@3x.png" (click)="camera()"></ion-img>
  </div>


  <div *ngIf="platform.is('android')" class="container">

    <div *ngIf="!imagePath2">
      <!-- <div *ngIf="userData"><img *ngIf="!thumb_image" class="register_profile" src="http://plinic.cafe24app.com/userimages/{{userData.email}}" /></div> -->
      <img class="register_profile" src="assets/img/register/ic-system-profile-default@3x.png" srcset="assets/img/register/ic-system-profile-default@2x.png,
                    assets/img\register/ic-system-profile-default@3x.png" />
      <ion-img class="register_camera" src="assets/img/register/ic-system-camera@3x.png" srcset="assets/img/register/ic-system-camera@2x.png,
                      ssets/img/register/ic-system-camera@3x.png" (click)="camera()"></ion-img>
    </div>
    <div *ngIf="imagePath2">
      <img class="register_profile" [src]="imagePath2" />
    </div>
    <ion-img class="register_camera" src="assets/img/register/ic-system-camera@3x.png" srcset="assets/img/register/ic-system-camera@2x.png,
                                    assets/img/register/ic-system-camera@3x.png" (click)="camera()"></ion-img>
  </div>


  <!-- <button *ngIf="userData" mode="ios" class="profile_modify" ion-item (click)="modify_email()" name="email" [(ngModel)]="email">
    <div class="profile_text">{{userData.email}}</div>이메일
  </button> -->
  <button type="text" *ngIf="userData" mode="ios" class="profile_modify" ion-item (click)="modify_nickname()" >
    <div class="profile_text">{{userData.nickname}}</div>닉네임
  </button>
  <button type="password" *ngIf="userData" mode="ios" class="profile_modify" ion-item (click)="modify_password()" >
    <div class="profile_text" type="password">{{password}}</div>비밀번호
    <!-- <ion-input  class="profile_text" type="password" disabled> {{password}} </ion-input>비밀번호 -->
  </button>
  <!-- <button mode="ios" class="profile_modify" ion-item (click)="modify_number()">
    <div class="profile_text">01012341234</div>연락처
  </button> -->


  <ion-item class="item_align" style="margin-bottom:3%;" no-lines >
  <ion-label class="titlelabel" stacked>피부타입</ion-label>
  </ion-item>

  <ion-list *ngIf="userData" class="skincomplaint_list" name="skincomplaint_list" radio-group [(ngModel)]="skincomplaint" required >

    <ion-row class="row_align"><ion-col><ion-item no-lines>
      <ion-label *ngIf="platform.is('android')" class="radiolabel" name="A" for="건성" checked>건성
      <ion-radio class="radiobutton" name="A" id="건성" value="건성" checked></ion-radio></ion-label>
      <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="radiolabel" name="A" for="건성" checked>건성
      <ion-radio class="radiobutton" name="A" id="건성" value="건성" checked></ion-radio></ion-label>
    </ion-item></ion-col>
    <ion-col><ion-item no-lines>
      <ion-label *ngIf="platform.is('android')" class="radiolabel" name="B" for="지성">지성
      <ion-radio class="radiobutton" name="B" id="지성" value="지성"></ion-radio></ion-label>
      <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="radiolabel" name="B" for="지성">지성
      <ion-radio class="radiobutton" name="B" id="지성" value="지성"></ion-radio></ion-label>
    </ion-item></ion-col>
    <ion-col><ion-item no-lines>
      <ion-label *ngIf="platform.is('android')" class="radiolabel" name="C" for="중성">중성
      <ion-radio class="radiobutton" name="C" id="중성" value="중성"></ion-radio></ion-label>
      <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="radiolabel" name="C" for="중성">중성
      <ion-radio class="radiobutton" name="C" id="중성" value="중성"></ion-radio></ion-label>
    </ion-item></ion-col></ion-row>

    <ion-row class="row_align2"><ion-col><ion-item no-lines>
      <ion-label *ngIf="platform.is('android')" class="radiolabel" name="D" for="복합성">복합성
      <ion-radio class="radiobutton" name="D" id="복합성" value="복합성"></ion-radio></ion-label>
      <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="radiolabel" name="D" for="복합성">복합성
      <ion-radio class="radiobutton" name="D" id="복합성" value="복합성"></ion-radio></ion-label>
    </ion-item></ion-col>
    <ion-col><ion-item no-lines>
      <ion-label *ngIf="platform.is('android')" class="radiolabel" name="E" for="민감성">민감성
      <ion-radio class="radiobutton" name="E" id="민감성" value="민감성"></ion-radio></ion-label>
      <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="radiolabel" name="E" for="민감성">민감성
      <ion-radio class="radiobutton" name="E" id="민감성" value="민감성"></ion-radio></ion-label>
    </ion-item></ion-col>
    <ion-col><ion-item no-lines>
      <ion-label *ngIf="platform.is('android')" class="radiolabel" name="F" for="모름">모름
      <ion-radio class="radiobutton" name="F" id="모름" value="모름"></ion-radio></ion-label>
      <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="radiolabel" name="F" for="모름">모름
      <ion-radio class="radiobutton" name="F" id="모름" value="모름"></ion-radio></ion-label>
    </ion-item></ion-col></ion-row>
  </ion-list>



  <button class="confirm_button2" ion-button > 수정하기</button>



</ion-content>
