<!--
  Generated template for the DeviceSkinIngPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-bounce no-padding>


  <ion-img *ngIf="platform.is('android')" class="ic-system-back-black" (click)="device_canceldisconnect()" src="assets/img/ic-system-close-black/ic-system-close-black@3x.png"></ion-img>
  <ion-img *ngIf="platform.is('ios')" style="margin-top: 12%;" class="ic-system-back-black" (click)="device_canceldisconnect()" src="assets/img/ic-system-close-black/ic-system-close-black@3x.png"></ion-img>



  <!-- <ion-item no-lines>
    <div class="font_title"></div>
  </ion-item> -->
  <!-- <ion-item class="title" no-lines>
    <div class="font_title">분석 중입니다.</div>
  </ion-item> -->

  <ion-item class="title" no-lines>
    <div class="font_title">
      {{step}}<br />{{stepdesc}}
    </div>
  </ion-item>

    <!-- <div class="container"> -->
    <!-- 동영상 처리 -->
    <video width="100%" id="videoPlayer" class="" webkit-playsinline playsinline autoplay loop preload="auto" >
    <!-- <video width="100%" id="videoPlayer" class="" webkit-playsinline playsinline autoplay muted loop controls preload="auto" > -->
    <!-- <video width="100%" id="videoPlayer" class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9" controls preload="auto"> -->
      <source src="https://plinic.s3.ap-northeast-2.amazonaws.com/useplinic.mp4" type="video/mp4" />
    </video>

    <br /><br /><br />

    <!-- <img class="img ic_system_skin_face_cheek" src="assets/img/ic-system-skin-face-cheek/ic-system-skin-face-cheek@3x.png"/>
    <ng-container *ngIf="anipoint">
    <img src="assets/img/testpoint.png" class="{{animpoint}}"/>
    </ng-container> -->
    <!-- </div> -->


  <ion-item class="subtitle" no-lines>
    <div class="font_sub">
      <!-- {{desc}} -->
      플리닉 사용 동영상을 참고 하세요.
    </div>
    <!-- <div class="font_sub">
      정밀한 피부측정을 위해<br />
      분석 중입니다.<br />
      조금만 기다려주세요.<br />
    </div> -->
  </ion-item>



  <!-- <ion-card style =" width=100%;"> -->
    <ion-item no-lines>
      <button *ngIf="displayTime" ion-button large full clear class="timer-button" >{{displayTime}}</button>
    </ion-item>
    <!-- <ion-item > -->
      <!-- <button ion-button icon-left clear color="danger" small (click)="initTimer()" item-left >
        <ion-icon name="refresh"></ion-icon>
        Reset
      </button> -->
      <!-- <button ion-button icon-left clear small color="primary" (click)="pauseTimer()" item-left >
        <ion-icon name="pause"></ion-icon>
        Pause
      </button>
      <button ion-button icon-left clear small color="primary" (click)="resumeTimer()" item-left >
        <ion-icon name="play"></ion-icon>
        Resume
      </button>
      <button ion-button icon-left clear small color="primary" (click)="startTimer()" item-start >
        <ion-icon name="play"></ion-icon>
        Start
      </button> -->
    <!-- </ion-item> -->
  <!-- </ion-card> -->

  <style>
    .timer-button {
      font-size: 5rem !important;
      height: 1em !important;
      font-family: Roboto;
      font-size: 33px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #5c59b6;
    }

    .no-bottom-border.item .item-inner {
      border-bottom: none !important;
    }
  </style>


  <ion-footer class="footer" no-shadow>
    <!-- <ion-toolbar position="bottom"> -->
    <!-- <div class="center">
      <button #myButton class="cell" ion-button (click)="myButton.loading=true">
        <ion-spinner class="ing_spinner" name="crescent" *ngIf="spintime == 0"></ion-spinner>
        <div class="font_button">분석 중</div>
      </button>
    </div> -->
    <!-- <div class="center">
      <button #myButton class="cell" ion-button (click)="myButton.loading=true">
        <ion-spinner class="ing_spinner" name="crescent" *ngIf="spintime == 0"></ion-spinner>
        <div class="font_button">분석 중</div>
      </button>
    </div> -->


    <div class="center">
      <button class="cancel_button"clear ion-button (click)="device_canceldisconnect()">
        <div>취소하기</div>
      </button>
    </div>

    <!-- </ion-toolbar> -->
  </ion-footer>
</ion-content>
