<!--
  Generated template for the DeviceSkinIngPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-bounce no-padding>


  <ion-img *ngIf="platform.is('android')" class="ic-system-back-black" (click)="device_canceldisconnect()" src="assets/img/ic-system-close-black/ic-system-close-black@3x.png"></ion-img>
  <ion-img *ngIf="platform.is('ios')" style="margin-top: 12%;" class="ic-system-back-black" (click)="device_canceldisconnect()" src="assets/img/ic-system-close-black/ic-system-close-black@3x.png"></ion-img>

    <ng-container *ngIf="!isBatteryLow">
    <ion-grid>
      <ion-col text-center>
          <div class="font_title" text-center>
            플리닉 디바이스로 <br />피부가 좋아지는 중이에요!
          </div>
      </ion-col>
    </ion-grid>
  </ng-container>
  <ng-container *ngIf="isBatteryLow">
    <ion-grid>
      <ion-col text-center>
          <div class="font_title" text-center>
            디바이스를 충전해 주세요.
          </div>
      </ion-col>
    </ion-grid>
  </ng-container>
  <br><br><br>

    <!-- 동영상 처리 -->
    <ng-container *ngIf="videoUrl">
        <video width="100%" id="videoPlayer" autoplay loop muted controls playsinline preload="auto" >
        <source src="{{videoUrl}}" type="video/mp4" />
        <!-- https://plinic.s3.ap-northeast-2.amazonaws.com/use_plinic_v1.mp4 -->
        <!-- https://plinic.s3.ap-northeast-2.amazonaws.com/use_plinic_v2.mp4 -->
        <!-- https://plinic.s3.ap-northeast-2.amazonaws.com/plinic_use_v1_480.mp4 -->
        <!-- https://plinic.s3.ap-northeast-2.amazonaws.com/plinic_use_v1_720.mp4 -->
        <!-- https://plinic.s3.ap-northeast-2.amazonaws.com/plinic_use_v1_SD.mp4 -->

      </video>
    </ng-container>
    <br /><br /><br />
  
  <ng-container *ngIf="isBatteryLow">
    <ion-item class="subtitle" no-lines>
      <div class="font_sub">
          배터리 부족으로 블루투스 연결이 불안정 할 수 있습니다.<br>
          사용중인 디바이스를 충전해 주세요.
      </div>
    </ion-item>
  </ng-container>
  <ng-container *ngIf="!isBatteryLow">
    <ion-item class="subtitle" no-lines>
      <div class="font_sub">
        케어 종료 후 자동으로 종료되니<br>
        페이지를 이동하지 말아주세요.
      </div>
    </ion-item>
  </ng-container>
  

  <!-- <ion-card style =" width=100%;"> -->
    <!-- <ion-item no-lines>
      <button *ngIf="displayTime" ion-button large full clear class="timer-button" >{{displayTime}}</button>
    </ion-item> -->

    <!-- 2021-04-13 디바이스 시간으로 보여줌 -->
    <ion-item no-lines>
      <button *ngIf="displayTimeFromDevice" ion-button large full clear class="timer-button" >{{displayTimeFromDevice}}</button>
    </ion-item>

    <!-- <ion-item no-lines>
      <div class="font_sub">양볼, 이마, 턱선까지 천천히 마사지해주세요.</div>
    </ion-item> -->
    <!-- <ion-item > -->
      <!-- <button ion-button icon-left clear color="danger" small (click)="initTimer()" item-left >
        <ion-icon name="refresh"></ion-icon>
        Reset
      </button> -->
      <!-- <button ion-button icon-left clear small color="primary" (click)="pauseTimer()" item-left >
        <ion-icon name="pause"></ion-icon>
        Pause
      </button>
      <button ion-button icon-left clear small color="primary" (click)="resumeTimer()" item-left >
        <ion-icon name="play"></ion-icon>
        Resume
      </button>
      <button ion-button icon-left clear small color="primary" (click)="startTimer()" item-start >
        <ion-icon name="play"></ion-icon>
        Start
      </button> -->
    <!-- </ion-item> -->
  <!-- </ion-card> -->

  <style>
    .timer-button {
      font-size: 5rem !important;
      height: 1em !important;
      font-family: Roboto;
      font-size: 33px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #5c59b6;
    }

    .no-bottom-border.item .item-inner {
      border-bottom: none !important;
    }
  </style>


  <ion-footer class="footer" no-shadow>
    <!-- <ion-toolbar position="bottom"> -->
    <!-- <div class="center">
      <button #myButton class="cell" ion-button (click)="myButton.loading=true">
        <ion-spinner class="ing_spinner" name="crescent" *ngIf="spintime == 0"></ion-spinner>
        <div class="font_button">분석 중</div>
      </button>
    </div> -->
    <!-- <div class="center">
      <button #myButton class="cell" ion-button (click)="myButton.loading=true">
        <ion-spinner class="ing_spinner" name="crescent" *ngIf="spintime == 0"></ion-spinner>
        <div class="font_button">분석 중</div>
      </button>
    </div> -->


    <div class="center">
      <button class="cancel_button"clear ion-button (click)="device_canceldisconnect()" [disabled]=btnDisabled>
        <div>취소하기</div>
      </button>
    </div>

    <!-- </ion-toolbar> -->
  </ion-footer>
</ion-content>
