<!--
  Generated template for the ChalMissionIngPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar *ngIf="platform.is('android')">
    <ion-buttons (click)="chalguide()" end>
      <div class="guide_android">이용안내</div>
    </ion-buttons>
    <ion-title *ngIf="carezoneData" class="android_title" text-wrap>챌린지</ion-title>
  </ion-navbar>

  <!-- <ion-navbar  hideBackButton="true" *ngIf="platform.is('ios')">
    <ion-title *ngIf="carezoneData" class="ios_title" text-wrap> {{carezoneData.missontitle}} </ion-title>
  </ion-navbar> -->

  <ion-navbar *ngIf="platform.is('ios')">
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only>
        <!-- <ion-icon md="md-arrow-forward"></ion-icon> -->
        <img class="ios_nav" src="assets/img/agreement/ic-system-back-black@3x.png" />
      </button>
    </ion-buttons>
    <ion-buttons (click)="chalguide()" end>
      <div class="guide_ios">이용안내</div>
    </ion-buttons>
    <ion-title *ngIf="carezoneData" class="ios_title" text-wrap>챌린지</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-slides *ngIf="carezoneData" class="img-banner_top_19000501" pager loop=true autoplay=2000>
    <!-- <ion-slide *ngFor="let banner of bannerData">
      <img src='http://plinic.cafe24app.com/images/{{banner._id}}' />
    </ion-slide> -->
    <ion-slide *ngIf="carezoneData.challenge_image1_filename">
      <img src='https://plinic.s3.ap-northeast-2.amazonaws.com/{{carezoneData.challenge_image1_filename}}' />
    </ion-slide>

    <ion-slide *ngIf="carezoneData.challenge_image2_filename">
      <img src='https://plinic.s3.ap-northeast-2.amazonaws.com/{{carezoneData.challenge_image2_filename}}' />
    </ion-slide>

    <ion-slide *ngIf="carezoneData.challenge_image3_filename">
      <img src='https://plinic.s3.ap-northeast-2.amazonaws.com/{{carezoneData.challenge_image3_filename}}' />
    </ion-slide>

    <ion-slide *ngIf="carezoneData.challenge_image4_filename">
      <img src='https://plinic.s3.ap-northeast-2.amazonaws.com/{{carezoneData.challenge_image4_filename}}' />
    </ion-slide>

    <ion-slide *ngIf="carezoneData.challenge_image5_filename">
      <img src='https://plinic.s3.ap-northeast-2.amazonaws.com/{{carezoneData.challenge_image5_filename}}' />
    </ion-slide>

  </ion-slides>
  <!-- <div style="height:8px; width:100%; margin-top:-1%; margin-bottom:5%; background-color:#f1f1f1"></div> -->
  <br>
  <ng-container>
    <ion-grid *ngIf="carezoneData" no-padding>
      <ion-row>
        <div class="title">{{carezoneData.title}}</div>
      </ion-row>
      <ion-row>
        <div class="subtitle">{{carezoneData.body}}</div>
      </ion-row>
      <br>
      <ion-row>
        <ng-container *ngIf="isChkStartDate">
          <ng-container *ngIf="!maxcount">
            <ng-container *ngIf="sameDay">
              <ng-container *ngIf="challengeChkBtn">
                <button ion-button class="join_btn" (click)="satrtMission(carezoneData)">
                  <div class="join_btn_text">참여하기</div>
                </button>
              </ng-container>
              <ng-container *ngIf="!challengeChkBtn">
                <button ion-button class="end_btn">
                  <div class="end_btn_text">다른 챌린지 참여중</div>
                </button>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!sameDay">
              <button ion-button class="end_btn">
                <div class="end_btn_text">참여 기간이 아닙니다</div>
              </button>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="maxcount">
            <button ion-button class="end_btn">
              <div class="end_btn_text">모집 마감</div>
            </button>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!isChkStartDate">
          <button (click)="showStartDateError()" ion-button class="end_btn">
            <div class="end_btn_text">지난 챌린지 참여일의 14일 후 참여 가능</div>
          </button>
        </ng-container>
      </ion-row>
      <br><br>
      <ion-row>
        <div style="height:8px; width:100%; background-color:#f1f1f1"></div>
      </ion-row>
    </ion-grid>
  </ng-container>
  <br>

  <ng-container>
    <ion-grid *ngIf="carezoneData" no-padding>
      <br>
      <ion-row>
        <div class="chal-info">챌린지 정보</div>
      </ion-row>
      <ion-row>
        <ion-col class="chal-info_text1" col-2>참여기간</ion-col>
        <ion-col class="chal-info_text2" col-8>{{carezoneData.gigan}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="chal-info_text1" col-2>참여인원</ion-col>
        <ion-col class="chal-info_text2" col-8>{{carezoneData.inwon}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="chal-info_text1" col-3>챌린지조건</ion-col>
        <ion-col class="chal-info_text3" col-7>{{carezoneData.chaljogun}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="chal-info_text1" col-3>챌린지기간</ion-col>
        <ion-col class="chal-info_text3" col-7>{{carezoneData.chalgigan}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="chal-info_text1" col-2>보상상품</ion-col>
        <ion-col class="chal-info_text2" col-8 style="color: #5c59b6">{{carezoneData.product}}</ion-col>
      </ion-row>
      <ng-container *ngIf="platform.is('android') || platform.is('core')">
        <ion-row>
          <button ion-button class="detail_btn"
            (click)="openBrowser_android(carezoneData2.purchase_url, carezoneData2.product)">
            <div class=" btn_text1">보상 제품 상세정보</div>
          </button>
        </ion-row>
        <ion-row>
          <button ion-button class="checkout"
            (click)="openBrowser_android(carezoneData2.purchase_url, carezoneData2.product)">
            <div class="btn_text2">제품 바로 구매</div>
          </button>
        </ion-row>
      </ng-container>
      <ng-container *ngIf="platform.is('ios')">
        <ion-row>
          <button ion-button class="detail_btn"
            (click)="openBrowser_ios(carezoneData2.purchase_url, carezoneData2.product)">
            <div class=" btn_text1">보상 제품 상세정보</div>
          </button>
        </ion-row>
        <ion-row>
          <button ion-button class="checkout"
            (click)="openBrowser_ios(carezoneData2.purchase_url, carezoneData2.product)">
            <div class="btn_text2">제품 바로 구매</div>
          </button>
        </ion-row>
      </ng-container>
      <ion-row>
        <div style="height:8px; width:100%; background-color:#f1f1f1"></div>
      </ion-row>
      <br><br><br>
      <ion-row class="sns_row2">
        <ion-col>
          <img class="mission-img" (click)="kakaoLink(carezoneData)"
            src="assets/img/care-zone/sns/ic-sns-kakao@3x.png" />
        </ion-col>
        <ion-col>
          <img class="mission-img" (click)="share_facebook(carezoneData)"
            src="assets/img/care-zone/sns/ic-sns-fb@3x.png" />
        </ion-col>
        <!-- <ion-col>
          <img class="mission-img" (click)="share()" src="assets/img/care-zone/sns/ic-sns-band@3x.png" />
        </ion-col> -->


      </ion-row>
      <br><br><br>
      <ion-row>
        <div style="height:8px; width:100%; background-color:#f1f1f1"></div>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ion-list>
    <h3 class="bottom_text2"> 유의사항 </h3>

    <ion-item no-lines text-wrap>
      <ion-col class="caution">
        • 플리닉 디바이스 보유 회원만 참여가 가능합니다.<br>
        • 챌린지는 중복참여가 불가합니다.<br>
        • 챌린지 모집은 선착순으로 조기 마감 될 수 있습니다.<br>
        • 성공하면 1주일간 다른 챌린지 참여가 불가합니다.<br>
        • 성공하면 상품 배송정보가 요구됩니다.<br>
        • 실패하면 자동으로 챌린지가 종료됩니다.<br>
        • 실패/포기 후 바로 다른 챌린지 참여가 가능합니다.<br>
        • 비정상적인 참여/계정은 제재가 이루어질 수 있습니다.<br>
        • 보상 및 챌린지 정책은 언제든 변경될 수 있습니다.
      </ion-col>
    </ion-item>
  </ion-list>


  <!-- 댓글등록 -->
  <ng-container *ngIf="comment_popover_option==='보기' || comment_popover_option ==='삭제'">
    <div style="height:8px; width:100%; margin:0 auto; display: block; margin-bottom: 1%; background-color:#f1f1f1">
    </div>
    <img *ngIf="profileimg_url" class="profile_comment" style="margin-top: 7%;" [src]="profileimg_url"
      onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
    <img *ngIf="!profileimg_url" class="profile_comment" style="margin-top: 7%;" src="userData.thumbnail_image"
      onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
    <!-- <img *ngIf="userData.thumbnail_image" class="profile_comment" style="margin-top: 7%;" [src]="userData.thumbnail_image" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" /> -->
    <!-- <img *ngIf="!userData.thumbnail_image && !profileimg_url" style="margin-top: 7%;" class="profile_comment" src="assets/img/register/ic-system-profile-default@3x.png" /> -->
    <div class="container">
      <textarea class="content_comment" style="margin-top: 9%;" rows="3" cols="20" #myInput maxLength="300"
        autoGrow="true" placeholder="댓글 등록" (input)="adjustTextarea()" [(ngModel)]="registerReply.comment"></textarea>
      <button *ngIf="registerReply.comment.length >= 1" ion-button class="comment_input_enroll"
        (click)="saveSkinQnaReply()">등록</button>
      <button *ngIf="registerReply.comment.length < 1" ion-button class="comment_input_enroll" disabled
        (click)="saveSkinQnaReply()">등록</button>
    </div>
    <div style="height:8px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; background-color:#f1f1f1">
    </div>
  </ng-container>


  <!-- 댓글  -->
  <ng-container *ngIf="carezoneData2">
    <ng-container *ngFor="let registerReply of carezoneData2.comments; let i = index">
      <img *ngIf="registerReply.img_url" class="profile_comment" [src]="registerReply.img_url"
        onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
      <img *ngIf="!registerReply.img_url" class="profile_comment" [src]="plinicUserImages[i]"
        onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
      <!-- <img *ngIf="!registerReply.originalName && !profileimg_url" class="profile_comment" src="assets/img/register/ic-system-profile-default@3x.png" /> -->
      <ng-container *ngIf="userData">
        <ng-container *ngIf="userData.email === registerReply.email">
          <button ion-button class="comment_btn"
            (click)="comment_popover($event, i, registerReply.email, registerReply._id);"></button>
        </ng-container>
      </ng-container>
      <div class="container">
        <div *ngIf="registerReply.email" class="nickname_comment">{{emailSecurity(registerReply.email)}}</div>
        <button *ngIf="comment_popover_option_textarea === i"
          (click)="replySkinQnaUpdate(registerReply.email, registerReply._id)" ion-button
          class="comment_enroll">수정</button>
      </div>
      <div class="time_comment">{{getCovertKoreaTime(registerReply.updatedAt).substr(0,16).replace('T', ' ')}}</div>
      <!-- <div class="time_comment">{{registerReply.createdAt.substr(0,19)}}</div> -->
      <!-- 보기 -->
      <!-- <textarea *ngIf="comment_popover_option==='보기'" class="content_comment" readonly autoGrow autoresize value="{{reply.comment}}"></textarea> -->
      <ng-container *ngIf="comment_popover_option_textarea !== i ">
        <div class="content_comment" text-wrap>{{registerReply.comment}}</div>
      </ng-container>
      <!-- 수정 -->
      <textarea *ngIf="comment_popover_option_textarea === i " id="updatereply" class="content_comment_textarea"
        #myInput maxLength="300" (keydown)="resize()" [(ngModel)]="registerReply.comment"
        (input)="adjustTextareaUpdate($event)" autofocus="true"></textarea>

      <div
        style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 3%; margin-top: 5%; background-color:#f1f1f1">
      </div>
    </ng-container>
  </ng-container>

  
  <!-- 
  <br><br><br><br><br><br><br><br>
  <ion-list *ngIf="carezoneData">
    <h1 class="top_text"> {{carezoneData.title}} </h1><br>
    <ng-container *ngIf="chkBtn">
      <ng-container *ngIf="joinchk">
        <button ion-button class="top_btn" (click)="satrtMission(carezoneData)">참여하기 <img class="top_img"
            src="assets/img/care-zone/ic-system-trophy/ic-system-trophy@3x.png" /></button>
      </ng-container>
      <ng-container *ngIf="!joinchk">
        <button ion-button class="top_btn_end">챌린지 마감</button>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!chkBtn">
      <button ion-button class="top_btn_end">다른 챌린지 참여중</button>
    </ng-container>
    (주석)참가 인원 이미지 추가
    <ion-row>

      <ng-container *ngFor="let mission of missionmember; let k = index">
        <ng-container *ngIf="k <= 3">
          <ng-container *ngIf="k === 0">
            <img *ngIf="!mission.image_url" class="font_carezone2_img" style="margin-left:2%;"
              src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{mission.userImageFilename}}"
              onError="this.src='./assets/img/register/ic-system-profile-default@3x.png'" />
            <img *ngIf="mission.image_url" class="font_carezone2_img" style="margin-left: 2%;"
              src="{{mission.image_url}}" onError="this.src='./assets/img/register/ic-system-profile-default@3x.png'" />
          </ng-container>
          <ng-container *ngIf="k > 0">
            <img *ngIf="!mission.image_url" class="font_carezone2_img" style="margin-left:-2%;"
              src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{mission.userImageFilename}}"
              onError="this.src='./assets/img/register/ic-system-profile-default@3x.png'" />
            <img *ngIf="mission.image_url" class="font_carezone2_img" style="margin-left: -2%;"
              src="{{mission.image_url}}" onError="this.src='./assets/img/register/ic-system-profile-default@3x.png'" />
          </ng-container>
        </ng-container>
      </ng-container>
      <div *ngIf="missionCounter" class="user_sub">{{missionCounter}}명이 참가 중입니다.</div>
    </ion-row>


    <ion-item style="width:97%">
      <ion-grid class="gridtext">
        <ion-row style="width:89.7%">
          <ion-col class="event-col4">보상 상품명</ion-col>
          <ion-col class="event-col7">{{carezoneData.product}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item style="width:97%">
      <ion-grid class="gridtext">
        <ion-row style="width:89.7%">
          <ion-col class="event-col4">상품 수량</ion-col>
          <ion-col class="event-col5">{{carezoneData.productcount}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item style="width:97%">
      <ion-grid class="gridtext">
        <ion-row style="width:89.7%">
          <ion-col class="event-col4">참여 방법</ion-col>
          <ion-col class="event-col5">{{carezoneData.howtojoin}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item style="width:97%; height:100px;">
      <ion-grid class="gridtext">
        <ion-row style="width:89.7%">
          <ion-col class="event-col11">보상 조건</ion-col>
          <ion-col class="event-col9" style="color:#5c59b6">
            <textarea readonly style="text-align: right" rows="3" cols="35">{{carezoneData.condition}}</textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item style="width:97%;">
      <ion-grid class="gridtext">
        <ion-row style="width:89.7%">
          <ion-col class="event-col4">참여기간</ion-col>
          <ion-col class="event-col5">{{carezoneData.startmission.substr(0,10)}} ~
            {{carezoneData.endmission.substr(0,10)}} (x주)</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item style="width:97%;">
      <ion-grid class="gridtext">
        <ion-row style="width:89.7%">
          <ion-col class="event-col4">남은시간</ion-col>
          <ion-col *ngIf="timeremaining >= 0" class="event-col7">{{displayTime}}</ion-col>
          <ion-col *ngIf="timeremaining < 0" class="event-col7">진행중</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item style="width:97%; height:100px;">
      <ion-grid class="gridtext">
        <ion-row style="width:91.7%">
          <ion-col class="event-col11">보너스</ion-col>
          <ion-col class="event-col9"><textarea readonly style="text-align: right" rows="3" cols="35">
              카카오톡 공유하면 +{{carezoneData.bonuskakao}}초/명
              페이스북 공유하면 +{{carezoneData.bonusface}}초/명
              인스타그램 공유하면 +{{carezoneData.bonusinstar}}초/명
          </textarea></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


    <ion-item no-lines>

      <ng-container *ngIf="platform.is('ios')">
        <button ion-button class="button_end" outline
          (click)="openBrowser_ios(carezoneData2.product_url, carezoneData2.product)">보상 제품 상세정보</button>
        <button ion-button class="button_detail" style="font-size: 14px;box-shadow: none;" outline
          (click)="openBrowser_ios(carezoneData2.purchase_url, carezoneData2.product)">제품 즉시 구매하기</button>
      </ng-container>

      <ng-container *ngIf="platform.is('android')">
        <button ion-button class="button_end" outline
          (click)="openBrowser_android(carezoneData2.product_url, carezoneData2.product)">보상 제품 상세정보</button>
        <button ion-button class="button_detail" style="font-size: 14px;box-shadow: none;" outline
          (click)="openBrowser_android(carezoneData2.purchase_url, carezoneData2.product)">제품 즉시 구매하기</button>
      </ng-container>

    </ion-item>
  </ion-list>


  <div style="height:8px; width:100%; background-color:#f1f1f1"></div><br>


  <ion-list>
    <ion-item no-lines>
      <ion-grid>
        <ion-row class="sns_row">
          <ion-col>
            <ion-img class="mission-img" (click)="kakaoLink(carezoneData)"
              src="assets/img/care-zone/sns/ic-sns-kakao@3x.png"
              srcset="assets/img/sns/ic-sns-kakao@2x.png, assets/img/sns/ic-sns-kakao@3x.png"></ion-img>
            <ion-col>
              <ion-img class="mission-img" (click)="share_facebook(carezoneData)"
                src="assets/img/care-zone/sns/ic-sns-fb@3x.png"
                srcset="assets/img/sns/ic-sns-fb@2x.png, assets/img/sns/ic-sns-fb@3x.png"></ion-img>
              <ion-col>
                <ion-img class="mission-img" (click)="share()" src="assets/img/care-zone/sns/ic-sns-band@3x.png"
                  srcset="assets/img/sns/ic-sns-band@2x.png, assets/img/sns/ic-sns-band@3x.png"></ion-img>
              </ion-col>
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>



  <div style="height:8px; width:100%; background-color:#f1f1f1"></div>


  <ion-list>
    <h3 class="bottom_text"> 유의사항 </h3>

    <ion-item no-lines text-wrap>
      <ion-col class="caution">
        • 참여할 수 있는 미션은 1개입니다. <br>
        • 모든 미션은 선착순으로 모집합니다.<br>
        • 미션이 시작이 되면, 미션에 참여하실 수 없습니다.<br>
        • 미션 종료 후에는 참여기록이 모두 없어집니다.<br>
        • 마감기간을 반드시 확인해주세요.<br>
        • 미션이 연장되거나 조기 마감될 수도 있습니다.<br>
        • 미션을 중간에 포기하셔도 불이익이 없습니다.<br>
        • 미션 포기 후 다른 미션에 참여하실 수 있습니다.<br>
        • 미션 성공 후 배송정보를 정확하게 입력해주세요.<br>
        • 무분별한 욕설 및 광고 등은 제재 조치를 할 수 있습니다.

      </ion-col>
    </ion-item>
  </ion-list>

  <div style="height:8px; width:100%; background-color:#f1f1f1"></div> -->


</ion-content>
