<!--
  Generated template for the AddinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content no-padding>


  <ion-item  no-lines>
     <ion-grid style="height: 46px;">
      <ion-row>
      <ion-col><ion-img class="close" src="assets/img/agreement/ic-system-back-black@3x.png" srcset="assets/img/agreement/ic-system-back-black@2x.png,
                    assets/img/agreement/ic-system-back-black@3x.png" (click)="navpop()"></ion-img></ion-col>

      <ion-img  class="toolaralign2" src="assets/img/agreement/ic-system-step-on.png" srcset="assets/img/agreement/ic-system-step-on@2x.png,
                      assets/img/agreement/ic-system-step-on@3x.png"></ion-img>

      <ion-img class="toolaralign" src="assets/img/agreement/ic-system-step-03@3x.png" srcset="assets/img/agreement/ic-system-step-02@2x.png,
                      assets/img/agreement/ic-system-step-02@3x.png"></ion-img>

      <ion-img class="toolaralign3" src="assets/img/agreement/ic-system-step-on.png" srcset="assets/img/agreement/ic-system-step-02@2x.png,
                      assets/img/agreement/ic-system-step-02@3x.png"></ion-img>

        </ion-row>
     </ion-grid>
  </ion-item>



  <form (ngSubmit)="register()" #registerForm="ngForm" no-lines>

  <h1 class="h1" style="margin-top:0%;"(click)="selectANumber()" >부가정보를 입력해주세요. </h1>

  <ion-item class="item_align" style="background:#FFF">
  <ion-label class="titlelabel" stacked>닉네임</ion-label>
  <ion-input class="input_name" (ionChange)="changeImage()" mode="ios" type="text" name="name" placeholder="닉네임 입력해주세요." [(ngModel)]="registerCredentials.name" required></ion-input>
  <ion-img class="email_img" src="assets/img/register/ic-system-clear-grey@3x.png" item-right (click)="name_delete()"></ion-img>

  </ion-item><br>

  <ion-item class="item_align" style="margin-bottom:3%;">
    <ion-label class="birthdaylabel"  stacked> 생년월일</ion-label>
    <ion-datetime type="text" style="font-size:15px" placeholder="생년월일을 선택해주세요." name="birthday"
    doneText="확인" cancelText="취소" pickerFormat="YYYY년 MM월 DD일" displayFormat="YYYY년 MM월 DD일" min="1940-01-01" max="1988-12-31"
           [(ngModel)]="registerCredentials.birthday" required></ion-datetime>
  </ion-item><br>

  <!-- <ion-item class="item_align">
    <ion-label class="countrylabel" stacked>국가</ion-label>
    <ion-searchbar [(ngModel)]="registerCredentials.country" [ngModelOptions]="{standalone: true}"></ion-searchbar>
    <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="국가를 선택해주세요." style="font-size:15px"
                name="country" okText="확인" cancelText="취소" [(ngModel)]="registerCredentials.country" required >
      <ion-option *ngFor="let country of countries" [value]="country.country_name" >{{country.country_name}}</ion-option>
    </ion-select>
  </ion-item><br> -->

  <!-- <ion-item class="item_align">
      <ion-label class="countrylabel" stacked>국가</ion-label>
      <select-searchable [ngModelOptions]="{standalone: true}" placeholder="선택"
          item-content
          [(ngModel)]="registerCredentials.country"
          [items]="countries"
          itemValueField="country_name"
          itemTextField="country_name"
          [canSearch]="true"
          (onChange)="portChange($event)">
      </select-searchable>
  </ion-item><br> -->

  <ion-item class="item_align" style="margin-bottom:4%;">
     <ion-label  class="countrylabel" stacked>국가</ion-label>
     <ion-multi-picker (ionChange)="toggle()" item-content class="multi-picker" name="country"
     [multiPickerColumns]="simpleColumns" doneText="확인" placeholder="국가를 선택해 주세요."
                         [(ngModel)]="registerCredentials.country" required></ion-multi-picker>
 </ion-item><br>

  <ion-item class="item_align" no-lines>
  <ion-label class="titlelabel" stacked>성별</ion-label>
  </ion-item>

  <ion-list class="gender_list" name="gender_list" radio-group [(ngModel)]="registerCredentials.gender" required>
    <ion-row class="row_align">
    <ion-col><ion-item no-lines>
      <ion-label class="radiolabel" name="gender" for="여성" checked>여성
      <ion-radio class="radiobutton" name="gender" id="여성" value="여성" checked></ion-radio></ion-label>
    </ion-item></ion-col>

    <ion-col><ion-item no-lines>
      <ion-label class="radiolabel" name="gender" for="남성">남성
      <ion-radio class="radiobutton" name="gender" id="남성" value="남성"></ion-radio></ion-label>
    </ion-item></ion-col></ion-row>
  </ion-list><br>


<ion-item class="item_align" style="margin-top:-2%;" no-lines >
<ion-label class="titlelabel" stacked>피부타입</ion-label>
</ion-item>

<ion-list class="skincomplaint_list" name="skincomplaint_list" radio-group [(ngModel)]="registerCredentials.skincomplaint" required>

  <ion-row class="row_align"><ion-col><ion-item no-lines>
    <ion-label *ngIf="platform.is('android')" class="radiolabel" name="A" for="건성" checked>건성
    <ion-radio class="radiobutton" name="A" id="건성" value="건성" checked></ion-radio></ion-label>
    <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="radiolabel" name="A" for="건성" checked>건성
    <ion-radio class="radiobutton" name="A" id="건성" value="건성" checked></ion-radio></ion-label>
  </ion-item></ion-col>
  <ion-col><ion-item no-lines>
    <ion-label *ngIf="platform.is('android')" class="radiolabel" name="B" for="지성">지성
    <ion-radio class="radiobutton" name="B" id="지성" value="지성"></ion-radio></ion-label>
    <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="radiolabel" name="B" for="지성">지성
    <ion-radio class="radiobutton" name="B" id="지성" value="지성"></ion-radio></ion-label>
  </ion-item></ion-col>
  <ion-col><ion-item no-lines>
    <ion-label *ngIf="platform.is('android')" class="radiolabel" name="C" for="중성">중성
    <ion-radio class="radiobutton" name="C" id="중성" value="중성"></ion-radio></ion-label>
    <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="radiolabel" name="C" for="중성">중성
    <ion-radio class="radiobutton" name="C" id="중성" value="중성"></ion-radio></ion-label>
  </ion-item></ion-col></ion-row>

  <ion-row class="row_align2"><ion-col><ion-item no-lines>
    <ion-label *ngIf="platform.is('android')" class="radiolabel" name="D" for="복합성">복합성
    <ion-radio class="radiobutton" name="D" id="복합성" value="복합성"></ion-radio></ion-label>
    <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="radiolabel" name="D" for="복합성">복합성
    <ion-radio class="radiobutton" name="D" id="복합성" value="복합성"></ion-radio></ion-label>
  </ion-item></ion-col>
  <ion-col><ion-item no-lines>
    <ion-label *ngIf="platform.is('android')" class="radiolabel" name="E" for="민감성">민감성
    <ion-radio class="radiobutton" name="E" id="민감성" value="민감성"></ion-radio></ion-label>
    <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="radiolabel" name="E" for="민감성">민감성
    <ion-radio class="radiobutton" name="E" id="민감성" value="민감성"></ion-radio></ion-label>
  </ion-item></ion-col>
  <ion-col><ion-item no-lines>
    <ion-label *ngIf="platform.is('android')" class="radiolabel" name="F" for="모름">모름
    <ion-radio class="radiobutton" name="F" id="모름" value="모름"></ion-radio></ion-label>
    <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="radiolabel" name="F" for="모름">모름
    <ion-radio class="radiobutton" name="F" id="모름" value="모름"></ion-radio></ion-label>
  </ion-item></ion-col></ion-row>
</ion-list>


<p class="sub" text-wrap>
      · 정확한 이메일 주소를 입력해주세요.<br>
      · 비밀번호는 영문, 숫자조합 6~15자로 입력해주세요.</p>

  <ion-item class="item_align" no-lines>
    <ion-input type="hidden" name="user_jwt" value="true" [(ngModel)]="registerCredentials.user_jwt" required hidden>true</ion-input>
  </ion-item>

  <button ion-button *ngIf="(!registerForm.form.valid)" class="complete_btn_invalid" name="register_invalid" type="submit" [disabled]="!registerForm.form.valid">완료</button>
  <button ion-button *ngIf="(registerForm.form.valid)"  class="complete_btn_valid" name="register_valid" type="submit" [disabled]="!registerForm.form.valid">완료</button>

  </form>
</ion-content>
