page-addinfo {



         .radio{
           border-radius: 8px;
       color: #000;
       width: 105px;
       height: 45px;
       border: solid 0.5px #5c59b6;
         }
        .h1{
          height: 80px;
          font-family: NotoSansCJKkr;
          font-size: 23px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #292929;
          padding-top: 10%;

        }

        .titlelabel{
          width: 48px;
          height: 19px;
          font-family: NotoSansCJKkr;
          font-size: 13px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          padding-bottom: 10px;
          color: #292929;
        }

        .toolbar-background {
          background-color: #FFF;
        }

        .close{

         background-color: #FFF;
         width: 25px;
         height: 25px;
         object-fit: contain;
        }


        .radio-ios .radio-icon{
         display: none;
         background-color: #FFF;
        }
        .radio-md .radio-checked{
         display: none;
         background-color: #FFF;
        }
        .radio-ios .radio-checked{
         display: none;
         background-color: #FFF;
        }
        .radio-md .radio-icon{
         display: none;
         background-color: #FFF;
        }

        .radiobutton{
          width: 0px;
          height: 0px;
          border: 0px;
        }

        .container {
          // position:relative;
          width: 105px;
          height: 45px;
          border: 0px;
          margin-left: auto;
          margin-right: auto;
        }
        .item-radio{
          // 라디오 버튼 크기 조절
          width: 105%;
          padding: 0px;
          border: 0px;
          margin-left: auto;
          margin-right: auto;
        }
        .col{
          min-width: 0px;
          width: 0px;
          padding: 0px;
          margin: 0px;
          margin-left: auto;
          margin-right: auto;
        }
        .container .radiolabel{
        padding-top: 10px;
        width: 105px;
        height: 45px;
        border: solid 0.5px #e5e5e5  ;
        font-family: NotoSansCJKkr;
        font-size: 14px;
        font-weight: bold;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        background-color: #FFF;
        text-align: center;
        color:#e5e5e5;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
      }

      .container .radiolabel:hover{
        background-color: #FFF;
        border: solid 0.5px #5c59b6;
        font-weight: bold;
        color: #5c59b6;
      }



        .toolaralign{
         background-color: #FFF;
         width: 25px;
         height: 25px;
         object-fit: contain;
         margin-top: 5px;
         margin-right: 15px;
        }

        .toolaralign2{
          background-color: #FFF;
          width: 25px;
          height: 25px;
          object-fit: contain;
          margin-top: 15px;
          margin-right: -5px;
        }
        .text{
          width: 314px;
         height: 48px;
         font-family: NotoSansCJKkr;
         font-size: 13px;
         font-weight: normal;
         font-style: normal;
         font-stretch: normal;
         line-height: 1.85;
         letter-spacing: normal;
         color: #b6b6b6;
         margin-left: 10px;
        }


        .submit-btn{
          margin-left: auto;
          margin-right: auto;
          border: solid 0.5px #c7c7c7;
          background-color:#5c59b6;
          color: #FFF;
          font-weight:normal;
          width: 315px;
          height: 50px;
          text-align: center;
        }
}
