<ion-header>

  <ion-navbar *ngIf="platform.is('android') || platform.is('core')" no-lines>
    <ion-buttons left>
      <button ion-button icon-only clear>
        <ion-grid>
          <ion-row class="postion" align-items-baseline>
            <img float-left margin-left class="" src="assets/img/svg/pointShop.svg" />
            <img float-left margin-left class="point-icon " src="assets/img/svg/icon_point.svg" />
            <div float-left class="Create-account" *ngIf="userData">{{userData.totaluserpoint}}&nbsp;
            </div>
          </ion-row>
        </ion-grid>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <ion-grid>
        <ion-row class="postion" align-items-baseline>
          <button (click)="orderDetailPage()" ion-button icon-only clear><img float-end class="headerIoncMargin"
              src="assets/img/invoice.svg" /></button>
          <button (click)="myinfo()" ion-button icon-only clear><img margin-right float-end class="headerIoncMargin"
              src="assets/img/svg/my.svg" /></button>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios')" no-lines>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-row align-items-baseline>
          <img margin-left float-left class="" src="assets/img/svg/pointShop.svg" />
          <img float-left margin-left class="point-icon" src="assets/img/svg/icon_point.svg" />
          <div float-left class="Create-account" *ngIf="userData">{{userData.totaluserpoint}}&nbsp;
          </div>
        </ion-row>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <ion-grid>
        <ion-row class="postion" align-items-baseline>
          <button (click)="orderDetailPage()" ion-button icon-only clear><img float-end margin-bottom
              class="headerIoncMargin" src="assets/img/invoice.svg" /></button>
          <button (click)="myinfo()" ion-button icon-only clear><img margin-right float-end margin-bottom
              class="headerIoncMargin" src="assets/img/svg/my.svg" /></button>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-navbar>

  <ion-segment outline mode="md" [(ngModel)]="page" color="#5c59b6" style="margin-top:-1%;">
    <ion-segment-button value="0" (click)="selectedTab('0')">
      <div class="text">BEST DEAL</div>
    </ion-segment-button>
    <ion-segment-button value="1" (click)="selectedTab('1')">
      <div class="text">바로적립</div>
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content>
  <ion-slides mode="ios" #Slides2 (ionSlideWillChange)="slideChanged($event)" class="slides" pager>
    <ion-slide>
      <ion-grid (click)="pointZoneGuid()" no-padding padding-bottom>
        <img
          srcset="assets/img/sungwoo_img/use_guide@3x.png, assets/img/sungwoo_img/use_guide@2x.png, assets/img/sungwoo_img/use_guide.png" />
      </ion-grid>
      <ion-grid>
        <div margin-left margin-bottom text-left class="todaysDeal">TODAY'S 딜</div>
      </ion-grid>
      <ng-container *ngFor="let product of productData; let i = index;">
        <ion-grid (click)="cosmetic(product)" no-padding>
          <img no-padding *ngIf="product" class="productImage"
            src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{product.filename}}" />
        </ion-grid>
        <ion-grid>
          <ion-row align-items-center margin-left margin-right>
            <ion-col (click)="cosmetic(product)" col-10 class="">
              <div *ngIf="product" class="text3" text-left>{{product.product_name}}</div>
            </ion-col>
            <ion-col col-2 class="share"><img src="assets/img/sungwoo_img/share..svg" /></ion-col>
          </ion-row>
          <ion-row align-items-center margin-left margin-right>
            <ion-col *ngIf="product" col-9 class="text4 " text-right>{{product.saleAmount}}%~</ion-col>
            <ion-col *ngIf="product" col-3 class="text5 "><del>{{addComma(product.price)}}원</del></ion-col>
          </ion-row>
          <ion-row align-items-center margin-left margin-right>
            <ion-col *ngIf="product" col-8 class="text6 " text-right>최대 {{getMaxPoint(product.maxPercent, product.Amount)}}P 사용가능</ion-col>
            <ion-col *ngIf="product" col-4 class="text7 ">{{addComma(product.Amount)}}원</ion-col>
          </ion-row>
          <button *ngIf="product" ion-button outline block class="buyBtn"
            (click)="cosmetic(product)">구매하기</button>
        </ion-grid>
        <br>
      </ng-container>
      <br>
      

      <div style="height:1vh; width:100%; margin:0 auto; display: block; margin-top: 0px; background-color:#f1f1f1">
      </div>
      <br>
      <ion-grid>
        <div margin-left margin-bottom text-left class="nextDeal">NEXT DEAL</div>
      </ion-grid>
      <ion-row margin-left class="row">
        <ion-slides class="nextSlide" slidesPerView=2.5>
          <ng-container *ngIf="nextDealData">
            <ng-container *ngFor="let nextDeal of nextDealData; let p = index;">
              <div class="nextBorder">
                <ng-container *ngIf="nextDeal.nextDeal === true">
                  <div text-left class="nextText2">{{getCovertKoreaTime(nextDeal.nextDealText).substr(0,10)}}</div>
                </ng-container>
                <img class="nextImage" src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{nextDeal.filename}}"/>
                <div text-left class="nextText">{{nextDeal.product_name}}</div>
              </div>
            </ng-container>
          </ng-container>
        </ion-slides>
      </ion-row>
      <br>
      <div style="height:1vh; width:100%; margin:0 auto; display: block; margin-top: 0px; background-color:#f1f1f1">
      </div>
      <br>
      <ion-grid>
        <div margin-left margin-bottom text-left class="todaysDeal">플리닉 아이템</div>
      </ion-grid>

      <ion-grid>
        <ng-container *ngFor="let cos of cosmeticData; let i = index;">
          <ion-row (click)="cosmetic(cos)" align-items-center>
            <ion-col col-5 class="">
              <img class="PlinicImage"
                src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{cos.filename}}" />
            </ion-col>
            <ion-col col-7 class="">
              <div class="plinicText1">{{cos.product_name}}</div>
              <div class="plinicText2">{{cos.saleAmount}}%~ <del class="plinicText3">{{addComma(cos.price)}}원</del></div>
              <div class="plinicText4">{{addComma(cos.Amount)}}원</div>
              <div class="plinicText5">최대 {{getMaxPoint(cos.maxPercent, cos.Amount)}}P 사용가능</div>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-grid>
      <br>
      <div style="height:0.1vh; width:100%; margin:0 auto; display: block; margin-top: 0px; background-color:#f1f1f1">
      </div>
      <br>
      <ion-grid>
        <div margin-left margin-bottom text-left class="todaysDeal">MD 추천상품</div>
      </ion-grid>
      <ion-grid>
        <ng-container *ngFor="let device of deviceData; let c = index;">
          <ion-row (click)="cosmetic(device)" align-items-center>
            <ion-col col-5 class="">
              <img class="PlinicImage"
              src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{device.filename}}" />
            </ion-col>
            <ion-col col-7 class="">
              <div class="plinicText1">{{device.product_name}}</div>
              <div class="plinicText2">{{device.saleAmount}}%~ <del class="plinicText3">{{addComma(device.price)}}원</del></div>
              <div class="plinicText4">{{addComma(device.Amount)}}원</div>
              <div class="plinicText5">최대 {{getMaxPoint(device.maxPercent, device.Amount)}}P 사용가능</div>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-grid>
      <br><br><br><br><br><br>
    </ion-slide>

    <ion-slide no-padding>
      <ion-grid no-padding class="review_point_grid">
        <ion-row class="review_point_grid">
          <img class="backImage"
            src="assets/img/pointShop/backImage_20210426.png" />
        </ion-row>
        <ion-row justify-content-center class="review_point_btn1">
          <button ion-button icon-only clear text-center class="review_point_btn1_btn" (click)="care()"><img
              class="review_point_btn1_img" src="assets/img/pointShop/point_button.svg" /></button>
        </ion-row>

        <ion-row justify-content-center class="review_point_btn2">
          <button ion-button icon-only clear text-center class="review_point_btn1_btn" (click)="skin()"><img
              class="review_point_btn1_img" src="assets/img/pointShop/point_button_2.svg" /></button>
        </ion-row>

        <ion-row justify-content-center class="review_point_btn3">
          <button ion-button icon-only clear text-center class="review_point_btn1_btn" (click)="chulsuk()"><img
              class="review_point_btn1_img" src="assets/img/pointShop/point_button_3.svg" /></button>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>
