<ion-header>

  <ion-navbar *ngIf="platform.is('android')" no-lines>
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only>
        <img no-lines class="android_nav" src="./assets/img/beauty/ic-system-close-black@3x.png" />
      </button>
    </ion-buttons>
    <!-- 글 쓰기일 떄 타이틀 -->
    <ion-title class="android_title" text-wrap>피부고민</ion-title>

    <button *ngIf="this.userData.email === beautyNoteOneLoadData.email" ion-button class="android_entroll_btn" (click)="select_popover($event);"></button>
    <button *ngIf="this.userData.email === skinQnaOneLoadData.email" ion-button class="android_entroll_btn" (click)="select_popover($event);"></button>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios') || platform.is('core')" no-lines>
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only>
        <img no-lines class="ios_nav" src="assets/img/beauty/ic-system-close-black@3x.png" />
      </button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>피부노트</ion-title>
    <!-- <button ion-button class="ios_entroll_btn" (click)="select_popover($event);"></button> -->
    <button *ngIf="this.userData.email === beautyNoteOneLoadData.email" ion-button class="ios_entroll_btn" (click)="select_popover($event);"></button>
    <button *ngIf="this.userData.email === skinQnaOneLoadData.email" ion-button class="ios_entroll_btn" (click)="select_popover($event);"></button>
  </ion-navbar>
</ion-header>

<ion-content no-padding>


  <ng-container *ngIf="(mode==='note')">
    <ion-item no-lines>
      <ion-input *ngIf="beautyNoteOneLoadData" class="qna_title" placeholder="제목" value="{{beautyNoteOneLoadData.select}}" readonly></ion-input>
    </ion-item>

    <ion-item no-lines>
      <!-- 보기 -->
      <div *ngIf="beautyNoteOneLoadData" class="qna_input" text-wrap>{{beautyNoteOneLoadData.contents}}</div>
    </ion-item>


    <!-- 첨부 이미지 -->
    <!-- 보기 -->
    <ng-container *ngIf="beautyNoteOneLoadData.filename && select_popover_option==='보기'">
      <img class="attache_image" src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{beautyNoteOneLoadData.filename}}" />
    </ng-container>

    <!-- 파일 네임 -->
    <!-- 보기 -->
    <!-- <ng-container *ngIf="select_popover_option==='보기' && beautyNoteOneLoadData.originalName ">
      <ion-row class="file_image_row">
        <ion-col><img class="file_image" src="assets/img/beauty/ic-system-file-purple@3x.png" /></ion-col>
        <ion-col class="file_path">{{beautyNoteOneLoadData.originalName}}</ion-col>
      </ion-row>
    </ng-container> -->

    <!-- 태그 배치 for -->
    <ng-container *ngFor="let tag of tags; let i = index">
      <ng-container *ngIf="tag !== ''">
        <!-- 보기 -->
        <button *ngIf="beautyNoteOneLoadData || select_popover_option==='보기'" ion-button class="community_tag_btn">{{tag}}</button>
      </ng-container>
    </ng-container>


    <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 5%; margin-top: 5%; background-color:#f1f1f1"></div>
    <ion-item no-lines>
      <ion-row class="sns_row2">
        <ion-col>
          <img *ngIf="!islike" class="like-img" (click)="like(beautyNoteOneLoadData._id, this.userData.email)" src="assets/img/like/dislike2.png" />
          <img *ngIf="islike" class="like-img" (click)="dislike(beautyNoteOneLoadData._id, this.userData.email)" src="assets/img/like/like2.png" />
        </ion-col>
      </ion-row>

      <ion-row *ngIf="beautyNoteOneLoadData" class="sns_row">

        <ion-col><img class="sns-img" src="assets/img/care-zone/sns/ic-sns-kakao@3x.png" (click)="kakaolink(beautyNoteOneLoadData, 'note')" />
          <ion-col><img class="sns-img" src="assets/img/care-zone/sns/ic-sns-fb@3x.png" (click)="share_facebook(beautyNoteOneLoadData, 'note')" />
            <!-- <ion-col><img class="sns-img" src="assets/img/care-zone/sns/ic-sns-band@3x.png" (click)="share()" /></ion-col> -->

          </ion-col>
        </ion-col>
      </ion-row>
    </ion-item><br>


    <!-- 광고 -->
    <div style="height:8px; width:100%; background-color:#f1f1f1"></div>
    <img *ngIf="platform.is('android')" (click)="openBrowser_android()" class="beauty_ad_img" src="{{adUrl}}" />
    <img *ngIf="!platform.is('android')" (click)="openBrowser_android()" class="beauty_ad_img" src="{{adUrl}}" />
    <div style="height:8px; width:100%; margin-top:-0.5%; background-color:#f1f1f1"></div>


    <!-- 댓글 작성 -->
    <!-- <img *ngIf="comment_popover_option==='보기'" class="profile_comment" style="margin-top: 7%;"src="./assets/img/beauty/ic-system-profile-default@3x.png">
  <textarea *ngIf="comment_popover_option==='보기'" class="content_comment" style="margin-top: 9%;" rows="3" cols="20" maxLength="300" autoGrow="true" placeholder="댓글 등록" (input)="adjustTextarea()" ></textarea>
  <div *ngIf="comment_popover_option==='보기'" style="height:8px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; background-color:#f1f1f1"></div> -->

    <!-- <div *ngIf="userData">
  <img *ngIf="!thumb_image" class="profile_comment" src="{{profileimg_url}}">
  </div> -->
    <!-- <img *ngIf="thumb_image" class="profile_comment" src="{{userData.thumbnail_image}}"> -->
    <!-- 댓글 작성 -->
    <ng-container *ngIf="comment_popover_option ==='보기' || comment_popover_option ==='삭제'">
      <img *ngIf="!userData.thumbnail_image && profileimg_url" class="profile_comment" style="margin-top: 7%;" [src]="profileimg_url" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
      <img *ngIf="userData.thumbnail_image" class="profile_comment" style="margin-top: 7%;" [src]="userData.thumbnail_image" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
      <img *ngIf="!userData.thumbnail_image && !profileimg_url" style="margin-top: 7%;" class="profile_comment" src="assets/img/register/ic-system-profile-default@3x.png" />
      <div class="container">
        <textarea class="content_comment" style="margin-top: 9%;" rows="1" cols="20" #myInput maxLength="300" autoGrow="true" placeholder="댓글 등록" (input)="adjustTextarea()" [(ngModel)]="registerReply.comment"></textarea>
        <button *ngIf="registerReply.comment.length >= 1" ion-button class="comment_input_enroll" (click)="saveReply()">등록</button>
        <button *ngIf="registerReply.comment.length < 1" ion-button class="comment_input_enroll" disabled (click)="saveReply()">등록</button>
      </div>
      <div style="height:8px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; background-color:#f1f1f1"></div>
    </ng-container>

    <!-- 댓글  -->
    <ng-container *ngIf="beautyNoteOneLoadData">
      <ng-container *ngFor="let registerReply of beautyNoteOneLoadData.comments; let i = index">
        <img *ngIf="registerReply.img_url" class="profile_comment" [src]="registerReply.img_url" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'"/>
        <img *ngIf="!registerReply.img_url" class="profile_comment" [src]="plinicUserImages[i]" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'"/>
        <!-- <img *ngIf="!registerReply.originalName && !profileimg_url" class="profile_comment" src="assets/img/register/ic-system-profile-default@3x.png"/> -->

        <ng-container *ngIf="userData.email === registerReply.email">
          <button ion-button class="comment_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);"></button>
        </ng-container>
        <div class="container">
          <div class="nickname_comment">{{registerReply.email}}</div>
          <button *ngIf="comment_popover_option_textarea === i" (click)="replyUpdate(registerReply.email, registerReply._id)" ion-button class="comment_enroll">수정</button>
        </div>
        <div class="time_comment">{{registerReply.createdAt.substr(0,19)}}</div>
        <!-- 보기 -->
        <!-- <textarea *ngIf="comment_popover_option==='보기'" class="content_comment" readonly autoGrow autoresize value="{{reply.comment}}"></textarea> -->
        <ng-container *ngIf="comment_popover_option_textarea !== i ">
          <div class="content_comment" text-wrap>{{registerReply.comment}}</div>
        </ng-container>
        <!-- 수정 -->
        <textarea *ngIf="comment_popover_option_textarea === i " id="updatereply" class="content_comment_textarea" #myInput maxLength="300" (keydown)="resize()" [(ngModel)]="registerReply.comment" (input)="adjustTextareaUpdate($event)"
          autofocus="true" (focus)="focus($event)"></textarea>

        <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 3%; margin-top: 2%; background-color:#f1f1f1"></div>
      </ng-container>
    </ng-container>


    <!-- <img class="profile_comment" src="./assets/img/beauty/ic-system-profile-default@3x.png">
    <button ion-button class="comment_btn" (click)="comment_popover($event);"></button>
    <div class="container">
      <div class="nickname_comment">bebe (bebe***)</div>
      <button *ngIf="comment_popover_option==='수정'" ion-button class="comment_enroll">등록</button>
    </div>
    <div class="time_comment">2시간 전</div> -->
    <!-- 보기 -->
    <!-- <div *ngIf="comment_popover_option==='보기'" class="content_comment" text-wrap>안녕하세요. 사춘기 때도 잘 나지 않던 여드름 없애는 길을 알려주세요.</div> -->
    <!-- 수정 -->
    <!-- <textarea *ngIf="comment_popover_option==='수정'" class="content_comment_textarea" #myInput maxLength="300" (keydown)="resize()" (input)="adjustTextarea($event)">
      안녕하세요. 사춘기 때도 잘 나지 않던 여드름 없애는 길을 알려주세요.</textarea>
    <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 5%; margin-top: 5%; background-color:#f1f1f1"></div> -->


    <!-- <img class="profile_comment" src="./assets/img/beauty/ic-system-profile-default@3x.png">
    <button ion-button class="comment_btn" (click)="comment_popover($event);"></button>
    <div class="container">
      <div class="nickname_comment">bebe (bebe***)</div>
      <button *ngIf="comment_popover_option==='수정'" ion-button class="comment_enroll">등록</button>
    </div>
    <div class="time_comment">2시간 전</div> -->
    <!-- 보기 -->
    <!-- <div *ngIf="comment_popover_option==='보기'" class="content_comment" text-wrap> -->
    <!-- 안녕하세요. 사춘기 때도 잘 길을 알려주세요.ddddddddddddddddddddddddddd안녕하세요. 사춘기 때도 잘 나지 않던 여드름 없애는 길을 알려주세요.ddddddddddddddddddddddddddd</div> -->
    <!-- 수정 -->
    <!-- <textarea *ngIf="comment_popover_option==='수정'" class="content_comment_textarea" #myInput maxLength="300" (keydown)="resize()" (input)="adjustTextarea($event)">
        안녕하세요. 사춘기 때도 잘 길을 알려주세요.ddddddddddddddddddddddddddd안녕하세요. 사춘기 때도 잘 나지 않던 여드름 없애는 길을 알려주세요.ddddddddddddddddddddddddddd</textarea>
    <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 5%; margin-top: 5%; background-color:#f1f1f1"></div> -->


  </ng-container>










  <ng-container *ngIf="(mode==='qna')">
    <ion-item no-lines>
      <ion-col><span *ngIf="skinQnaOneLoadData" class="qna_title">{{skinQnaOneLoadData.select}}</span></ion-col>
      <ion-col><span *ngIf="skinQnaOneLoadData.email" class="qna_email">{{emailSecurity(skinQnaOneLoadData.email)}}</span></ion-col>
    </ion-item>

    <ion-item no-lines>
      <!-- 보기 -->
      <div *ngIf="skinQnaOneLoadData" class="qna_title2" text-wrap>{{skinQnaOneLoadData.title}}</div>
      <br>
      <div *ngIf="skinQnaOneLoadData" class="qna_input" text-wrap>{{skinQnaOneLoadData.contents}}</div>
      

    </ion-item>


    <!-- 첨부 이미지 -->
    <!-- 보기 -->
    <img *ngIf="skinQnaOneLoadData.filename" class="attache_image" src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{skinQnaOneLoadData.filename}}" />

    <!-- 파일 네임 -->
    <!-- 보기 -->
    <!-- <ion-row *ngIf="skinQnaOneLoadData.originalName && select_popover_option==='보기'" class="file_image_row">
      <ion-col><img class="file_image" src="assets/img/beauty/ic-system-file-purple@3x.png" /></ion-col>
      <ion-col class="file_path">{{skinQnaOneLoadData.originalName}}</ion-col>
    </ion-row> -->



    <!-- 태그 배치 for -->
    <ng-container *ngFor="let tag of tags; let i = index">
      <ng-container *ngIf="tag !== ''">
        <!-- 보기 -->
        <button *ngIf="skinQnaOneLoadData || select_popover_option==='보기'" ion-button class="community_tag_btn">{{tag}}</button>
      </ng-container>
    </ng-container>


    <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 5%; margin-top: 5%; background-color:#f1f1f1"></div>
    <ion-item no-lines>
      <ion-row class="sns_row2">
        <ion-col>
          <img *ngIf="!islike" class="like-img" (click)="like(skinQnaOneLoadData._id, this.userData.email)" src="assets/img/like/dislike2.png" />
          <img *ngIf="islike" class="like-img" (click)="dislike(skinQnaOneLoadData._id, this.userData.email)" src="assets/img/like/like2.png" />
        </ion-col>
      </ion-row>
      <ion-row *ngIf="skinQnaOneLoadData" class="sns_row">
        <ion-col><img class="sns-img" src="assets/img/care-zone/sns/ic-sns-kakao@3x.png" (click)="kakaolink(skinQnaOneLoadData, 'qna')"/>
          <ion-col><img class="sns-img" src="assets/img/care-zone/sns/ic-sns-fb@3x.png" (click)="share_facebook(skinQnaOneLoadData, 'qna')" />
            <!-- <ion-col><img class="sns-img" src="assets/img/care-zone/sns/ic-sns-band@3x.png" /></ion-col> -->
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-item><br>


    <!-- 광고 -->
    <div style="height:8px; width:100%; background-color:#f1f1f1"></div>
    <img *ngIf="platform.is('android')" (click)="openBrowser_android()" class="beauty_ad_img" src="{{adUrl}}" />
    <img *ngIf="!platform.is('android')" (click)="openBrowser_android()" class="beauty_ad_img" src="{{adUrl}}" />
    <div style="height:8px; width:100%; margin-top:-0.5%; background-color:#f1f1f1"></div>


    <!-- 댓글 작성 -->
    <!-- <img *ngIf="comment_popover_option==='보기'" class="profile_comment" style="margin-top: 7%;"src="./assets/img/beauty/ic-system-profile-default@3x.png">
<textarea *ngIf="comment_popover_option==='보기'" class="content_comment" style="margin-top: 9%;" rows="3" cols="20" maxLength="300" autoGrow="true" placeholder="댓글 등록" (input)="adjustTextarea()" ></textarea>
<div *ngIf="comment_popover_option==='보기'" style="height:8px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; background-color:#f1f1f1"></div> -->

    <ng-container *ngIf="comment_popover_option==='보기' || comment_popover_option ==='삭제'">
      <img *ngIf="!userData.thumbnail_image && profileimg_url" class="profile_comment" style="margin-top: 7%;" [src]="profileimg_url" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
      <img *ngIf="userData.thumbnail_image" class="profile_comment" style="margin-top: 7%;" [src]="userData.thumbnail_image" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
      <img *ngIf="!userData.thumbnail_image && !profileimg_url" style="margin-top: 7%;" class="profile_comment" src="assets/img/register/ic-system-profile-default@3x.png" />
      <div class="container">
        <textarea class="content_comment" style="margin-top: 9%;" rows="1" cols="20" #myInput maxLength="300" autoGrow="true" placeholder="댓글 등록" (input)="adjustTextarea()" [(ngModel)]="registerReply.comment"></textarea>
        <button *ngIf="registerReply.comment.length >= 1" ion-button class="comment_input_enroll" (click)="saveSkinQnaReply()">등록</button>
        <button *ngIf="registerReply.comment.length < 1" ion-button class="comment_input_enroll" disabled (click)="saveSkinQnaReply()">등록</button>
      </div>
      <div style="height:8px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; background-color:#f1f1f1"></div>
    </ng-container>


    <!-- 댓글  -->
    <ng-container *ngIf="skinQnaOneLoadData">
      <ng-container *ngFor="let registerReply of skinQnaOneLoadData.comments; let i = index">
            <img *ngIf="registerReply.img_url" class="profile_comment" [src]="registerReply.img_url" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'"/>
            <img *ngIf="!registerReply.img_url" class="profile_comment" src="{{plinicUserImages[i]}}" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'"/>
       
        <!-- <img *ngIf="!registerReply.originalName && !profileimg_url" class="profile_comment" src="assets/img/register/ic-system-profile-default@3x.png" /> -->

        <ng-container *ngIf="userData.email === registerReply.email">
          <button ion-button class="comment_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);"></button>
        </ng-container>
        <div class="container">
          <div *ngIf="registerReply.email" class="nickname_comment">{{emailSecurity(registerReply.email)}}</div>
          <button *ngIf="comment_popover_option_textarea === i" (click)="replySkinQnaUpdate(registerReply.email, registerReply._id)" ion-button class="comment_enroll">수정</button>
        </div>
        <div class="time_comment">{{getCovertKoreaTime(registerReply.createdAt).substr(0,16).replace('T', ' ')}}</div>
        <!-- 보기 -->
        <!-- <textarea *ngIf="comment_popover_option==='보기'" class="content_comment" readonly autoGrow autoresize value="{{reply.comment}}"></textarea> -->
        <ng-container *ngIf="comment_popover_option_textarea !== i ">
          <div class="content_comment" text-wrap>{{registerReply.comment}}</div>
        </ng-container>
        <!-- 수정 -->
        <textarea *ngIf="comment_popover_option_textarea === i " id="updatereply" class="content_comment_textarea" #myInput maxLength="300" (keydown)="resize()" [(ngModel)]="registerReply.comment" (input)="adjustTextareaUpdate($event)"
          autofocus="true" (focus)="focus($event)"></textarea>
        <div class="time_comment">
          <!-- {{getCovertKoreaTime(registerReply.createdAt).substr(0,16).replace('T', ' ')}}  -->
          <span *ngIf="!isShowReComments[i]" (click)="showReComments(i)" class="text_bold" > 답글 달기</span>
          <span *ngIf="isShowReComments[i]" (click)="noShowReComments(i)"> 취소</span>
        </div>
        <div *ngIf="isShowReComments[i]" class="recomment_div">
          <textarea [(ngModel)]="recomment.body" class="recomment_box" rows="3" cols="30" #myInput2 maxLength="300" autoGrow="true"
              placeholder="답글 달기...(50자 이내)" maxLength="50" (input)="adjustTextarea2(i+1)">
          </textarea>
          <button ion-button class="recomment_btn" (click)="saveReCommentsSkinQna(registerReply._id, i)">게시</button>
          <br>
        </div>


          <!-- 대댓글 영역-->
          <ng-container *ngIf="registerReply.recomments">
          <ion-row *ngFor="let reComment of registerReply.recomments; let c = index;">
            <ion-row *ngIf="reComment.isDelete === false">
              <img class="profile_recomment" src="assets/img/register/ic-system-profile-default@3x.png"
                onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
              <img class="return_img" src="assets/img/beautymovie/return.png">
              <div class="nickname_recomment" *ngIf="reComment.email" >{{emailSecurity(reComment.email)}}
                <div *ngIf="reComment.nameAdmin === true" style="float: left; font-weight: 800; color: #5c59b6;"> 
                  [관리자]&nbsp;
                </div>
              </div>
              <div class="content_recomment" text-wrap>{{reComment.body}}</div>
              <div class="time_recomment">{{getCovertKoreaTime(reComment.createdAt).substr(0,16).replace('T', ' ')}} <span *ngIf="!isShowReComments2[c]" (click)="showReComments2(c)" class="text_bold" > 답글 달기</span><span *ngIf="isShowReComments2[c]" (click)="noShowReComments2(c)"> 취소</span></div>
              <br>
              <ion-row *ngIf="isShowReComments2[c]">
              <textarea [(ngModel)]="recomment.body" class="recomment_box2" rows="3" cols="30" #myInput2 maxLength="300" autoGrow="true"
                placeholder="답글 달기...(50자 이내)" maxLength="50" (input)="adjustTextarea2(i+1)">
              </textarea>
              <button ion-button class="recomment_btn3" (click)="saveReCommentsSkinQna(registerReply._id, c)">게시</button>
              <br>
              </ion-row>
            </ion-row>
          </ion-row>
        </ng-container>
        <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 3%; margin-top: 5%; background-color:#f1f1f1"></div>
        <br>
      </ng-container>
    </ng-container>



  </ng-container>
</ion-content>
