<ion-header>

  <ion-navbar *ngIf="platform.is('android')" no-lines>
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only>
        <img no-lines class="android_nav" src="./assets/img/beauty/ic-system-close-black@3x.png" />
      </button>
    </ion-buttons>
    <!-- 글 쓰기일 떄 타이틀 -->
    <ion-title class="android_title" text-wrap>피부고민</ion-title>

    <button *ngIf="this.userData.email === beautyNoteOneLoadData.email" ion-button class="android_entroll_btn" (click)="select_popover($event);"></button>
    <button *ngIf="this.userData.email === skinQnaOneLoadData.email" ion-button class="android_entroll_btn" (click)="select_popover($event);"></button>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios') || platform.is('core')" no-lines>
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only>
        <img no-lines class="ios_nav" src="assets/img/beauty/ic-system-close-black@3x.png" />
      </button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>피부노트</ion-title>
    <!-- <button ion-button class="ios_entroll_btn" (click)="select_popover($event);"></button> -->
    <button *ngIf="this.userData.email === beautyNoteOneLoadData.email" ion-button class="ios_entroll_btn" (click)="select_popover($event);"></button>
    <button *ngIf="this.userData.email === skinQnaOneLoadData.email" ion-button class="ios_entroll_btn" (click)="select_popover($event);"></button>
  </ion-navbar>
</ion-header>

<ion-content no-padding>


  <ng-container *ngIf="(mode==='note')">
    <ion-item no-lines>
      <ion-input *ngIf="beautyNoteOneLoadData" class="qna_title" placeholder="제목" value="{{beautyNoteOneLoadData.select}}" readonly></ion-input>
    </ion-item>

    <ion-item no-lines>
      <!-- 보기 -->
      <div *ngIf="beautyNoteOneLoadData" class="qna_input" text-wrap>{{beautyNoteOneLoadData.contents}}</div>
    </ion-item>


    <!-- 첨부 이미지 -->
    <!-- 보기 -->
    <ng-container *ngIf="beautyNoteOneLoadData.originalName && select_popover_option==='보기'">
      <img class="attache_image" src="http://plinic.cafe24app.com/beautynoteimage/{{beautyNoteOneLoadData._id}}" />
    </ng-container>

    <!-- 파일 네임 -->
    <!-- 보기 -->
    <ng-container *ngIf="select_popover_option==='보기' && beautyNoteOneLoadData.originalName ">
      <ion-row class="file_image_row">
        <ion-col><img class="file_image" src="assets/img/beauty/ic-system-file-purple@3x.png" /></ion-col>
        <ion-col class="file_path">{{beautyNoteOneLoadData.originalName}}</ion-col>
      </ion-row>
    </ng-container>

    <!-- 태그 배치 for -->
    <ng-container *ngFor="let tag of tags; let i = index">
      <ng-container *ngIf="tag !== ''">
        <!-- 보기 -->
        <button *ngIf="beautyNoteOneLoadData || select_popover_option==='보기'" ion-button class="community_tag_btn">{{tag}}</button>
      </ng-container>
    </ng-container>


    <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 5%; margin-top: 5%; background-color:#f1f1f1"></div>
    <ion-item no-lines>
      <ion-row class="sns_row2">
        <ion-col>
          <img *ngIf="!islike" class="like-img" (click)="like(beautyNoteOneLoadData._id, this.userData.email)" src="assets/img/like/dislike2.png" />
          <img *ngIf="islike" class="like-img" (click)="dislike(beautyNoteOneLoadData._id, this.userData.email)" src="assets/img/like/like2.png" />
        </ion-col>
      </ion-row>

      <ion-row *ngIf="beautyNoteOneLoadData" class="sns_row">

        <ion-col><img class="sns-img" src="assets/img/care-zone/sns/ic-sns-kakao@3x.png" (click)="kakaolink(beautyNoteOneLoadData, 'note')" />
          <ion-col><img class="sns-img" src="assets/img/care-zone/sns/ic-sns-fb@3x.png" (click)="share_facebook(beautyNoteOneLoadData, 'note')" />
            <ion-col><img class="sns-img" src="assets/img/care-zone/sns/ic-sns-band@3x.png" (click)="share()" /></ion-col>

          </ion-col>
        </ion-col>
      </ion-row>
    </ion-item><br>


    <!-- 광고 -->
    <div style="height:8px; width:100%; background-color:#f1f1f1"></div>
    <img *ngIf="platform.is('android')" class="beauty_ad_img" src="assets/img/beauty/beauty_ad.jpg" />
    <img *ngIf="!platform.is('android')" class="beauty_ad_img" src="assets/img/beauty/beauty_ad.jpg" />
    <div style="height:8px; width:100%; margin-top:-0.5%; background-color:#f1f1f1"></div>


    <!-- 댓글 작성 -->
    <!-- <img *ngIf="comment_popover_option==='보기'" class="profile_comment" style="margin-top: 7%;"src="./assets/img/beauty/ic-system-profile-default@3x.png">
  <textarea *ngIf="comment_popover_option==='보기'" class="content_comment" style="margin-top: 9%;" rows="3" cols="20" maxLength="300" autoGrow="true" placeholder="댓글 등록" (input)="adjustTextarea()" ></textarea>
  <div *ngIf="comment_popover_option==='보기'" style="height:8px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; background-color:#f1f1f1"></div> -->

    <!-- <div *ngIf="userData">
  <img *ngIf="!thumb_image" class="profile_comment" src="{{profileimg_url}}">
  </div> -->
    <!-- <img *ngIf="thumb_image" class="profile_comment" src="{{userData.thumbnail_image}}"> -->

    <ng-container *ngIf="comment_popover_option ==='보기' || comment_popover_option ==='삭제'">
      <img *ngIf="!userData.thumbnail_image && profileimg_url" class="profile_comment" style="margin-top: 7%;" [src]="profileimg_url" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
      <img *ngIf="userData.thumbnail_image" class="profile_comment" style="margin-top: 7%;" [src]="userData.thumbnail_image" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
      <img *ngIf="!userData.thumbnail_image && !profileimg_url" style="margin-top: 7%;" class="profile_comment" src="assets/img/register/ic-system-profile-default@3x.png" />
      <div class="container">
        <textarea class="content_comment" style="margin-top: 9%;" rows="3" cols="20" #myInput maxLength="300" autoGrow="true" placeholder="댓글 등록" (input)="adjustTextarea()" [(ngModel)]="registerReply.comment"></textarea>
        <button *ngIf="registerReply.comment.length >= 1" ion-button class="comment_input_enroll" (click)="saveReply()">등록</button>
        <button *ngIf="registerReply.comment.length < 1" ion-button class="comment_input_enroll" disabled (click)="saveReply()">등록</button>
      </div>
      <div style="height:8px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; background-color:#f1f1f1"></div>
    </ng-container>

    <!-- 댓글  -->
    <ng-container *ngIf="beautyNoteOneLoadData">
      <ng-container *ngFor="let registerReply of beautyNoteOneLoadData.comments; let i = index">
        <img *ngIf="registerReply.img_url" class="profile_comment" [src]="registerReply.img_url" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'"/>
        <img *ngIf="!registerReply.img_url" class="profile_comment" src="http://plinic.cafe24app.com/userimages/{{registerReply.email}}" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'"/>
        <!-- <img *ngIf="!registerReply.originalName && !profileimg_url" class="profile_comment" src="assets/img/register/ic-system-profile-default@3x.png"/> -->

        <ng-container *ngIf="userData.email === registerReply.email">
          <button ion-button class="comment_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);"></button>
        </ng-container>
        <div class="container">
          <div class="nickname_comment">{{registerReply.email}}</div>
          <button *ngIf="comment_popover_option_textarea === i" (click)="replyUpdate(registerReply.email, registerReply._id)" ion-button class="comment_enroll">수정</button>
        </div>
        <div class="time_comment">{{registerReply.createdAt.substr(0,19)}}</div>
        <!-- 보기 -->
        <!-- <textarea *ngIf="comment_popover_option==='보기'" class="content_comment" readonly autoGrow autoresize value="{{reply.comment}}"></textarea> -->
        <ng-container *ngIf="comment_popover_option_textarea !== i ">
          <div class="content_comment" text-wrap>{{registerReply.comment}}</div>
        </ng-container>
        <!-- 수정 -->
        <textarea *ngIf="comment_popover_option_textarea === i " id="updatereply" class="content_comment_textarea" #myInput maxLength="300" (keydown)="resize()" [(ngModel)]="registerReply.comment" (input)="adjustTextareaUpdate($event)"
          autofocus="true" (focus)="focus($event)"></textarea>

        <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 3%; margin-top: 2%; background-color:#f1f1f1"></div>
      </ng-container>
    </ng-container>


    <!-- <img class="profile_comment" src="./assets/img/beauty/ic-system-profile-default@3x.png">
    <button ion-button class="comment_btn" (click)="comment_popover($event);"></button>
    <div class="container">
      <div class="nickname_comment">bebe (bebe***)</div>
      <button *ngIf="comment_popover_option==='수정'" ion-button class="comment_enroll">등록</button>
    </div>
    <div class="time_comment">2시간 전</div> -->
    <!-- 보기 -->
    <!-- <div *ngIf="comment_popover_option==='보기'" class="content_comment" text-wrap>안녕하세요. 사춘기 때도 잘 나지 않던 여드름 없애는 길을 알려주세요.</div> -->
    <!-- 수정 -->
    <!-- <textarea *ngIf="comment_popover_option==='수정'" class="content_comment_textarea" #myInput maxLength="300" (keydown)="resize()" (input)="adjustTextarea($event)">
      안녕하세요. 사춘기 때도 잘 나지 않던 여드름 없애는 길을 알려주세요.</textarea>
    <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 5%; margin-top: 5%; background-color:#f1f1f1"></div> -->


    <!-- <img class="profile_comment" src="./assets/img/beauty/ic-system-profile-default@3x.png">
    <button ion-button class="comment_btn" (click)="comment_popover($event);"></button>
    <div class="container">
      <div class="nickname_comment">bebe (bebe***)</div>
      <button *ngIf="comment_popover_option==='수정'" ion-button class="comment_enroll">등록</button>
    </div>
    <div class="time_comment">2시간 전</div> -->
    <!-- 보기 -->
    <!-- <div *ngIf="comment_popover_option==='보기'" class="content_comment" text-wrap> -->
    <!-- 안녕하세요. 사춘기 때도 잘 길을 알려주세요.ddddddddddddddddddddddddddd안녕하세요. 사춘기 때도 잘 나지 않던 여드름 없애는 길을 알려주세요.ddddddddddddddddddddddddddd</div> -->
    <!-- 수정 -->
    <!-- <textarea *ngIf="comment_popover_option==='수정'" class="content_comment_textarea" #myInput maxLength="300" (keydown)="resize()" (input)="adjustTextarea($event)">
        안녕하세요. 사춘기 때도 잘 길을 알려주세요.ddddddddddddddddddddddddddd안녕하세요. 사춘기 때도 잘 나지 않던 여드름 없애는 길을 알려주세요.ddddddddddddddddddddddddddd</textarea>
    <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 5%; margin-top: 5%; background-color:#f1f1f1"></div> -->


  </ng-container>










  <ng-container *ngIf="(mode==='qna')">
    <ion-item no-lines>
      <ion-input *ngIf="skinQnaOneLoadData" class="qna_title" placeholder="제목" value="{{skinQnaOneLoadData.select}}" readonly></ion-input>
    </ion-item>

    <ion-item no-lines>
      <!-- 보기 -->
      <div *ngIf="skinQnaOneLoadData" class="qna_input" text-wrap>{{skinQnaOneLoadData.contents}}</div>
    </ion-item>


    <!-- 첨부 이미지 -->
    <!-- 보기 -->
    <img *ngIf="skinQnaOneLoadData.originalName && select_popover_option==='보기'" class="attache_image" src="http://plinic.cafe24app.com/skinqnaimage/{{skinQnaOneLoadData._id}}" />

    <!-- 파일 네임 -->
    <!-- 보기 -->
    <ion-row *ngIf="skinQnaOneLoadData.originalName && select_popover_option==='보기'" class="file_image_row">
      <ion-col><img class="file_image" src="assets/img/beauty/ic-system-file-purple@3x.png" /></ion-col>
      <ion-col class="file_path">{{skinQnaOneLoadData.originalName}}</ion-col>
    </ion-row>



    <!-- 태그 배치 for -->
    <ng-container *ngFor="let tag of tags; let i = index">
      <ng-container *ngIf="tag !== ''">
        <!-- 보기 -->
        <button *ngIf="skinQnaOneLoadData || select_popover_option==='보기'" ion-button class="community_tag_btn">{{tag}}</button>
      </ng-container>
    </ng-container>


    <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 5%; margin-top: 5%; background-color:#f1f1f1"></div>
    <ion-item no-lines>
      <ion-row class="sns_row2">
        <ion-col>
          <img *ngIf="!islike" class="sns-img" (click)="like(skinQnaOneLoadData._id, this.userData.email)" src="assets/img/like/dislike2.png" />
          <img *ngIf="islike" class="sns-img" (click)="dislike(skinQnaOneLoadData._id, this.userData.email)" src="assets/img/like/like2.png" />
        </ion-col>
      </ion-row>
      <ion-row *ngIf="skinQnaOneLoadData" class="sns_row">
        <ion-col><img class="sns-img" src="assets/img/care-zone/sns/ic-sns-kakao@3x.png" (click)="kakaolink(skinQnaOneLoadData, 'qna')"/>
          <ion-col><img class="sns-img" src="assets/img/care-zone/sns/ic-sns-fb@3x.png" (click)="share_facebook(skinQnaOneLoadData, 'qna')" />
            <ion-col><img class="sns-img" src="assets/img/care-zone/sns/ic-sns-band@3x.png" /></ion-col>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-item><br>


    <!-- 광고 -->
    <div style="height:8px; width:100%; background-color:#f1f1f1"></div>
    <img *ngIf="platform.is('android')" class="beauty_ad_img" src="assets/img/beauty/beauty_ad.jpg" />
    <img *ngIf="!platform.is('android')" class="beauty_ad_img" src="assets/img/beauty/beauty_ad.jpg" />
    <div style="height:8px; width:100%; margin-top:-0.5%; background-color:#f1f1f1"></div>


    <!-- 댓글 작성 -->
    <!-- <img *ngIf="comment_popover_option==='보기'" class="profile_comment" style="margin-top: 7%;"src="./assets/img/beauty/ic-system-profile-default@3x.png">
<textarea *ngIf="comment_popover_option==='보기'" class="content_comment" style="margin-top: 9%;" rows="3" cols="20" maxLength="300" autoGrow="true" placeholder="댓글 등록" (input)="adjustTextarea()" ></textarea>
<div *ngIf="comment_popover_option==='보기'" style="height:8px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; background-color:#f1f1f1"></div> -->

    <ng-container *ngIf="comment_popover_option==='보기' || comment_popover_option ==='삭제'">
      <img *ngIf="!userData.thumbnail_image && profileimg_url" class="profile_comment" style="margin-top: 7%;" [src]="profileimg_url" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
      <img *ngIf="userData.thumbnail_image" class="profile_comment" style="margin-top: 7%;" [src]="userData.thumbnail_image" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
      <img *ngIf="!userData.thumbnail_image && !profileimg_url" style="margin-top: 7%;" class="profile_comment" src="assets/img/register/ic-system-profile-default@3x.png" />
      <div class="container">
        <textarea class="content_comment" style="margin-top: 9%;" rows="3" cols="20" #myInput maxLength="300" autoGrow="true" placeholder="댓글 등록" (input)="adjustTextarea()" [(ngModel)]="registerReply.comment"></textarea>
        <button *ngIf="registerReply.comment.length >= 1" ion-button class="comment_input_enroll" (click)="saveSkinQnaReply()">등록</button>
        <button *ngIf="registerReply.comment.length < 1" ion-button class="comment_input_enroll" disabled (click)="saveSkinQnaReply()">등록</button>
      </div>
      <div style="height:8px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; background-color:#f1f1f1"></div>
    </ng-container>


    <!-- 댓글  -->
    <ng-container *ngIf="skinQnaOneLoadData">
      <ng-container *ngFor="let registerReply of skinQnaOneLoadData.comments; let i = index">
        <img *ngIf="registerReply.img_url" class="profile_comment" [src]="registerReply.img_url" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'"/>
        <img *ngIf="!registerReply.img_url" class="profile_comment" src="http://plinic.cafe24app.com/userimages/{{registerReply.email}}" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'"/>

        <!-- <img *ngIf="!registerReply.originalName && !profileimg_url" class="profile_comment" src="assets/img/register/ic-system-profile-default@3x.png" /> -->

        <ng-container *ngIf="userData.email === registerReply.email">
          <button ion-button class="comment_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);"></button>
        </ng-container>
        <div class="container">
          <div class="nickname_comment">{{registerReply.email}}</div>
          <button *ngIf="comment_popover_option_textarea === i" (click)="replySkinQnaUpdate(registerReply.email, registerReply._id)" ion-button class="comment_enroll">수정</button>
        </div>
        <div class="time_comment">{{registerReply.createdAt.substr(0,19)}}</div>
        <!-- 보기 -->
        <!-- <textarea *ngIf="comment_popover_option==='보기'" class="content_comment" readonly autoGrow autoresize value="{{reply.comment}}"></textarea> -->
        <ng-container *ngIf="comment_popover_option_textarea !== i ">
          <div class="content_comment" text-wrap>{{registerReply.comment}}</div>
        </ng-container>
        <!-- 수정 -->
        <textarea *ngIf="comment_popover_option_textarea === i " id="updatereply" class="content_comment_textarea" #myInput maxLength="300" (keydown)="resize()" [(ngModel)]="registerReply.comment" (input)="adjustTextareaUpdate($event)"
          autofocus="true" (focus)="focus($event)"></textarea>

        <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 3%; margin-top: 2%; background-color:#f1f1f1"></div>
      </ng-container>
    </ng-container>



  </ng-container>
</ion-content>
