page-sungwoo-cosmetics-tab {
    .header-md::after,
    .tabs-md[tabsPlacement="top"]>.tabbar::after,
    .footer-md::before,
    .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
      height: 0px;
      margin-bottom: 5px;
    }
  
    .item-md.item-block .item-inner {
      padding-right: 12px;
    }
  
    .header-ios::after,
    .tabs-ios[tabsPlacement="top"]>.tabbar::after,
    .footer-ios::before,
    .tabs-ios[tabsPlacement="bottom"]>.tabbar::before {
      height: 1px;
      margin-bottom: 5px;
    }
  
    .item-ios.item-block .item-inner {
      padding-right: 12px;
    }
  
    .toolbar-title-md {
      font-weight: bold;
      font-size: 17px;
      background-color: #FFF;
      font-family: AppleSDGothicNeo-Regular;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
  
    .toolbar-title-ios {
      font-weight: bold;
      font-size: 17px;
      background-color: #FFF;
      font-family: AppleSDGothicNeo-Regular;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      margin-top: -5%;
      color: #292929;
    }
  
    .bar-button-clear-ios-default,
    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default {
      margin-left: -15%;
      margin-top: -15%;
      color: transparent;
    }
  
    .ios_nav {
      background-color: #FFF;
      width: 140px !important;
      height: 25px !important;
      object-fit: contain;
    }
  
    .toolbar-background {
      background-color: #FFF;
    }
  
    .ion-md-arrow-back:before {
      position: absolute;
      content: "\f27d";
      left: 10%;
      top: 2px;
      width: 25px;
      height: 25px;
    }
  
    .toolbar-ios {
      margin-top: 8%;
    }
  
    .back-button-text-ios {
      font-size: 0;
    }
  
    .android_title {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 70%;
      color: #292929;
    }
  
    .ios_title {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 120%;
      color: #292929;
      margin-top: 1%;
    }
  
    .guide_android {
      font-family: AppleSDGothicNeo-Regular;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      border-radius: 2px;
      border: solid 1px #f1f1f1;
      background-color: #ffffff !important;
      // box-shadow: none !important;
      height: 28px;
      position: relative;
      right: 80%;
    }
  
    .guide_ios {
      font-family: AppleSDGothicNeo-Regular;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      border-radius: 2px;
      border: solid 1px #f1f1f1;
      background-color: #ffffff !important;
      // box-shadow: none !important;
      height: 28px;
      position: relative;
      right: 80%;
    }
  
    .android_search {
        position: absolute;
        margin-top: -3%;
        right: 17%;
        width: 25px;
        height: 25px;
        object-fit: contain;
        z-index: 10;
    }
  
    .ios_search {
        position: relative;
        margin-top: -5%;
        right: 17%;
        width: 25px;
        height: 25px;
        object-fit: contain;
        z-index: 10;
        left: 30%;
    }


    .cosmetics_list{
        margin: 0 auto;
        margin-top: -0.1vh;
    }

    .row_align{
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    .cosmetics_label{
        padding-top: 1.8vh;
        height: 6.3vh;
        border: solid 0.5px #e5e5e5  ;
        font-family: AppleSDGothicNeo-Regular;
        font-size: 11.5px;
        font-weight: bold;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        background-color: #d3d3d3;
        text-align: center;
        color:#ffffff;
        margin: 0px;
        // margin-bottom: 3%;
    }

    .cosmetics_label:hover{
        background-color: #6562b9;
        border: solid 1.5px #ffffff;
        font-weight: bold;
        color: #ffffff;
    }

    .cosmetics_div {
        position: relative;
        margin:0 auto;
        width: 100vw;
        height: 9.5vh;
    }

    .count_text {
        position: absolute;
        top: 2.6vh;
        left: 4.3vw;
        float: left;
        font-family: AppleSDGothicNeo-Regular;
        font-size: 15px;
        letter-spacing: -0.96px;
        color:#383838;
        // z-index: 100;
    }

    .cosmetics_count {
        font-family: AppleSDGothicNeo-Regular;
        font-size: 15px;
        font-weight: bolder;
        color:#383838;
    }

    .select_box {
        // max-width: 100%;
        top: 0.6vh;
        height: 8vh;
        width: 28vw;
        float: right;
    }

    .cosmetics_select {
        max-width: 100%;
        width: 17.5vw;
        padding: .6vw .3vw;
        border: 1px solid #b8b8b8;
        background-color: #ffffff;
        font-family: AppleSDGothicNeo-Regular;
        font-size: 11.1px;
        text-align: center;
        border-radius: 5px;
        // white-space: nowrap;
        // margin-left: 45vw;
        // margin-top: 2vh;
    }

    .list_div {
      position: relative;
      width: 100vw;
      height: 17.5vh;
    }

    .cosmetics_img {
      position: relative;
      top: 4vh;
      left: 5.5vw;
      height: 9.5vh;
      width: 17.4vw;
      border: solid 0.5px #d2d2d2;
      border-radius: 5.7px;
    }

    .cosmetics_btn {
      width: 11.6vw;
      height: 4vh;
      top: 5.2vh;
      right: 4.8vw;
      float: right;
      font-family: AppleSDGothicNeo-Regular;
      font-size: 11px;
      font-weight: 500;
      border-radius: 5.7px;
      background-color: #6562b9;
    }

    .cosmetics_container {
      position: relative;
      height: 9vh;
      width: 50vw;
      bottom: 5.6vh;
      // right: 5vw;
      margin: 0 auto;
    }

    .cosmetics_nickname {
      font-size: 10.4px;
      letter-spacing: -0.83px;
      color: #6562b9;
    }

    .cosmetics_product {
      font-family: AppleSDGothicNeo-Regular;
      font-size: 13.3px;
      font-weight: bold;
      letter-spacing: -2.05px;
      color: #292929;
    }

    .count_container {
      // position: relative;
      // top: 1.8vh;
      // width: 30vw;
      // right: 1.5vw;
      letter-spacing: -0.25px;
      line-height: 3.55;
      font-size: 10.4px;
    }

    .cosmetics_text {
      font-family: AppleSDGothicNeo-Regular;
      color: #afafaf;
    }

    .cosmetics_num {
      color: #505050;
    }


}
