<!--
  Generated template for the SungwooCosmeticsTabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <!-- <ion-navbar *ngIf="platform.is('android') || platform.is('core')" no-lines>
    <img class="android_search" style="right:5%" (click)="community_search()"
    src="assets/img/beauty/ic-system-search@3x.png" />
    <ion-title class="android_title" text-wrap>화장품 모아보기</ion-title>
    <div class="android_search" style="right: 7%;"></div>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios')" no-lines>
    <img class="ios_search" (click)="community_search()" src="assets/img/beauty/ic-system-search@3x.png" />
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only></button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>화장품 모아보기</ion-title>
  </ion-navbar> -->

  <ion-navbar *ngIf="platform.is('android')  || platform.is('core')">
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only left>
        <!-- <ion-icon md="md-arrow-forward"></ion-icon> -->
        <img class="ios_nav"src="assets/img/agreement/ic-system-back-black@3x.png"/>
      </button>
    </ion-buttons>
    <ion-title class="android_title" text-wrap>화장품 모아보기</ion-title>
    <ion-buttons (click)="myinfo()" end>
      <img class="guide_android" (click)="product_search()" src="assets/img/beauty/ic-system-search@3x.png" />
    </ion-buttons>
  </ion-navbar>

  <!-- <ion-navbar  hideBackButton="true" *ngIf="platform.is('ios')">
      <ion-title  class="ios_title" text-wrap> {{carezoneData.missontitle}} </ion-title>
    </ion-navbar> -->

  <ion-navbar *ngIf="platform.is('ios')" no-lines>
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only left>
        <!-- <ion-icon md="md-arrow-forward"></ion-icon> -->
        <img class="ios_nav"src="assets/img/agreement/ic-system-back-black@3x.png"/>
      </button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>화장품 모아보기</ion-title>
    <ion-buttons end>
      <img class="guide_ios" (click)="product_search()" src="assets/img/beauty/ic-system-search@3x.png" />
    </ion-buttons>
  </ion-navbar>




</ion-header>


<ion-content>
  <ion-list class="cosmetics_list" radio-group required>
    <ion-row class="row_align" no-padding>
      <ion-col col-3 no-padding>
      <ion-label *ngIf="platform.is('android')" class="cosmetics_label" checked no-padding>기획전</ion-label>
      <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="cosmetics_label" checked no-padding>기획전</ion-label> 
      </ion-col>
      <ion-col col-3 no-padding> 
        <ion-label *ngIf="platform.is('android')" class="cosmetics_label" no-padding>MD추천</ion-label>
        <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="cosmetics_label" no-padding>MD추천</ion-label>
      </ion-col>
      <ion-col col-3 no-padding>
        <ion-label *ngIf="platform.is('android')" class="cosmetics_label" no-padding>신규상품</ion-label>
        <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="cosmetics_label" no-padding>신규상품</ion-label>
      </ion-col>
      <ion-col col-3 no-padding>
        <ion-label *ngIf="platform.is('android')" class="cosmetics_label" no-padding>인기상품</ion-label>
        <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="cosmetics_label" no-padding>인기상품</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="row_align" no-padding>
      <ion-col col-3 no-padding>
        <ion-label *ngIf="platform.is('android')" class="cosmetics_label" checked no-padding>보습</ion-label>
        <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="cosmetics_label" checked no-padding>보습</ion-label> 
      </ion-col>
      <ion-col col-3 no-padding> 
        <ion-label *ngIf="platform.is('android')" class="cosmetics_label" no-padding>미백</ion-label>
        <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="cosmetics_label" no-padding>미백</ion-label>
      </ion-col>
      <ion-col col-3 no-padding>
        <ion-label *ngIf="platform.is('android')" class="cosmetics_label" no-padding>주름/재생</ion-label>
        <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="cosmetics_label" no-padding>주름/재생</ion-label>
      </ion-col>
      <ion-col col-3 no-padding>
        <ion-label *ngIf="platform.is('android')" class="cosmetics_label" no-padding>차단/커버</ion-label>
        <ion-label *ngIf="platform.is('ios')" style="margin-bottom:1%;" class="cosmetics_label" no-padding>차단/커버</ion-label>
      </ion-col>
    </ion-row>
  </ion-list>

  <ng-container>
    <ion-grid>
      <ion-row>
        <ion-col class="count_text" col-6>총 <span class="cosmetics_count">19개</span>의 상품</ion-col>
        <ion-col col-6 no-padding>
          <ion-list class="select_box" no-padding>
            <ion-item no-padding>
              <ion-select okText="Okay" cancelTest="Dismiss" id="select"  class="cosmetics_select" placeholder="리뷰순" no-padding>
                <ion-option value="nes">리뷰순</ion-option>
                <ion-option value="n64">최신순</ion-option>
                <ion-option value="n1">평점 높은순</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div style="height:0.1px; width:100vw; background-color:#d3d3d3"></div>

      <ion-list style="margin:0 auto;">
        <ng-container>
          <br>
          <ion-row>
            <ion-col col-3>
              <img class="cosmetics_img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/KA100000641.jpg">
            </ion-col>
            <ion-col class="cosmetics_col" col-6>
              <div class="cosmetics_nickname">구달</div>
              <div class="cosmetics_product" text-wrap>청귤 비타C 잡티세럼</div>
              <ion-row>
                <div class="cosmetics_text">리뷰<span style="color:#505050">24</span></div>
                <div class="cosmetics_text">좋아요<span style="color:#505050">127</span></div>
              </ion-row>
            </ion-col>
            <ion-col col-3>
              <button ion-button class="cosmetics_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);">보기</button>
            </ion-col>
          </ion-row>
          <br>
        </ng-container>

        <div style="height:1px; width:100%; display: block; background-color:#f1f1f1"></div>

        <ng-container>
          <br>
          <ion-row>
            <ion-col col-3>
              <img class="cosmetics_img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/PA100000766.jpg">
            </ion-col>
            <ion-col class="cosmetics_col" col-6>
              <div class="cosmetics_nickname">구달</div>
              <div class="cosmetics_product" text-wrap>프리즘 이펙트 컨센트레이트 크림</div>
              <ion-row>
                <div class="cosmetics_text">리뷰<span style="color:#505050">7</span></div>
                <div class="cosmetics_text">좋아요<span style="color:#505050">84</span></div>
              </ion-row>
            </ion-col>
            <ion-col col-3>
              <button ion-button class="cosmetics_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);">보기</button>
            </ion-col>
          </ion-row>
          <br>
        </ng-container>

        <div style="height:1px; width:100%; display: block; background-color:#f1f1f1"></div>

        <ng-container>
          <br>
          <ion-row>
            <ion-col col-3>
              <img class="cosmetics_img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/KA100000929.jpg">
            </ion-col>
            <ion-col class="cosmetics_col" col-6>
              <div class="cosmetics_nickname">라네즈</div>
              <div class="cosmetics_product" text-wrap>레디언-C크림</div>
              <ion-row>
                <div class="cosmetics_text">리뷰<span style="color:#505050">-</span></div>
                <div class="cosmetics_text">좋아요<span style="color:#505050">3</span></div>
              </ion-row>
            </ion-col>
            <ion-col col-3>
              <button ion-button class="cosmetics_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);">보기</button>
            </ion-col>
          </ion-row>
          <br>
        </ng-container>

        <div style="height:1px; width:100%; display: block; background-color:#f1f1f1"></div>

        <ng-container>
          <br>
          <ion-row>
            <ion-col col-3>
              <img class="cosmetics_img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/PA100000930.jpg">
            </ion-col>
            <ion-col class="cosmetics_col" col-6>
              <div class="cosmetics_nickname">아리따움</div>
              <div class="cosmetics_product" text-wrap>프레시 파워 에센스</div>
              <ion-row>
                <div class="cosmetics_text">리뷰<span style="color:#505050">-</span></div>
                <div class="cosmetics_text">좋아요<span style="color:#505050">-</span></div>
              </ion-row>
            </ion-col>
            <ion-col col-3>   
              <button ion-button class="cosmetics_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);">보기</button>
            </ion-col>
          </ion-row>
          <br>
        </ng-container>
        
        <div style="height:1px; width:100%; display: block; background-color:#f1f1f1"></div>

        <ng-container>
          <br>
          <ion-row>
            <ion-col col-3>
              <img class="cosmetics_img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/KA100000641.jpg">
            </ion-col>
            <ion-col class="cosmetics_col" col-6>
              <div class="cosmetics_nickname">구달</div>
              <div class="cosmetics_product" text-wrap>청귤 비타C 잡티세럼</div>
              <ion-row>
                <ion-col class="cosmetics_text">리뷰<span style="color:#505050">-</span></ion-col>
                <ion-col class="cosmetics_text">좋아요<span style="color:#505050">-</span></ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-3>
              <button ion-button class="cosmetics_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);">보기</button>
            </ion-col>
          </ion-row>
          <br>
        </ng-container>

        <div style="height:1px; width:100%; display: block; background-color:#f1f1f1"></div>

      </ion-list>
  </ng-container>
</ion-content>
