

<ion-content padding>


  <ion-img *ngIf="platform.is('android')" class="close" src="assets/img/agreement/ic-system-back-black@3x.png" srcset="assets/img/agreement/ic-system-back-black@2x.png,
                assets/img/agreement/ic-system-back-black@3x.png" (click)="navpop()"></ion-img>


  <ion-img *ngIf="platform.is('ios') || platform.is('core')" class="close" style="margin-top: 5%;" src="assets/img/agreement/ic-system-back-black@3x.png" srcset="assets/img/agreement/ic-system-back-black@2x.png,
                assets/img/agreement/ic-system-back-black@3x.png" (click)="navpop()"></ion-img>


  <h1 class="h1" >닉네임 수정</h1>

  <ion-item class="item_align" style="background:#FFF">
  <ion-input class="input_name" mode="ios" type="text" name="name" placeholder="닉네임을 입력해주세요." [(ngModel)]="nickname"
  value="{{userData.nickname}}" required></ion-input>
  </ion-item>



  <button class="confirm_button2" ion-button (click)="nickname_valid()"> 확인</button>


</ion-content>
