page-care-zone-mission-deadline {




                min-width: 100%;
                min-height: 100%;
                

                .title{
                  position: absolute;
                  left: 50%;
                  top: 0;
                  transform: translateX(-50%);
                  height: 100%;
                  width: 70%;
                  text-align: center;
                }



                .goods-img{
                  width: 120px;
                  height: 120px;
                  object-fit: contain;
                  margin-left: auto;
                  margin-right: auto;
                  display: block;
                  text-align: center;
                  background-color: #ffffff;
                }

                .button_outline{
                  margin-left: auto;
                  margin-right: auto;
                  display: block;
                  min-width: 62px;
                  min-height: 30px;
                  border-radius: 14px;
                  border: solid 1px #FFF;
                  color: #FFF;
                  background-color: #d4d3d8;
                }

                .top_text {
                  font-family: NotoSansCJKkr;
                  font-size: 19px;
                  font-weight: bold;
                  color: #292929;
                  height: 28px;
                 font-style: normal;
                 font-stretch: normal;
                 line-height: normal;
                 letter-spacing: normal;
                 text-align: center;
               }


               .progress-outer {
              text-align: center;
              background-color: #FFF;
              border: 0.5px solid #FFF;
              color: #fff;
              border-radius: 5px;
              font-size: 8px;

            }

            .progress-inner {
              white-space: nowrap;
              overflow: hidden;
              border-radius: 10px;
              background-color: #5c59b6;
              color: #FFF;
              height: 9px;

            }


                .event-col{
                  width: 5px;
                  height: 19px;
                  margin-left: 10px;
                  color: #5c59b6;
                  font-family: NotoSansCJKkr;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: bold;
                  text-align: left;
                }

                .event-col2{
                  position: absolute;
                  width: 5px;
                  height: 19px;
                  font-family: NotoSansCJKkr;
                  font-size: 12px;
                  font-weight: normal;
                  font-style: normal;
                  color: #b6b6b6;
                  margin-left: 34px;
                  text-align: left;
                }


                .event-col3{
                  width: 5px;
                  height: 19px;
                  font-family: NotoSansCJKkr;
                  font-size: 12px;
                  font-style: normal;
                  color: #b6b6b6;
                  text-align: right;
                  margin-right: 10px;
                  font-weight: normal;
                  font-style: normal;
                }


                .event-col4{
                    text-align: left;
                    width: 3px;
                    height: 5px;
                    background-color: #ffffff;
                    font-family: NotoSansCJKkr;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    margin-top: auto;
                    margin-bottom: auto;
                    display: block;
                }

                .event-col5{
                  text-align: right;
                  width: 320px;
                  height: 25.5px;
                  background-color: #ffffff;
                  font-family: NotoSansCJKkr;
                  font-size: 12px;
                  font-weight: bold;
                  font-style: normal;
                  color: #c7c7c7;
                }

                .event-col6{
                  text-align: right;
                  width: 320px;
                  height: 5px;
                  background-color: #ffffff;
                  font-family: NotoSansCJKkr;
                  font-size: 12px;
                  font-weight: normal;
                  font-style: normal;
                  color: #5c59b6;
                  margin-top: auto;
                  margin-bottom: auto;
                  display: block;
                }

                .event-col7{
                  text-align: right;
                  width: 320px;
                  height: 25.5px;
                  background-color: #ffffff;
                  font-family: NotoSansCJKkr;
                  font-size: 12px;
                  font-weight: bold;
                  font-style: normal;
                  color: #c7c7c7;
                }
                .event-col8{
                  // position: absolute;
                  width: 5px;
                  height: 5px;
                  font-family: NotoSansCJKkr;
                  font-size: 12px;
                  font-weight: normal;
                  font-style: normal;
                  color: #b6b6b6;
                  margin-right:40%;
                  text-align: left;
                  margin-top: auto;
                  margin-bottom: auto;
                  display: block;
                }

                .profile-img{

                  width: 38px;
                  height: 38px;
                  object-fit: contain;
                  text-align: left;
                  background-color: #ffffff;

                }

                .event-col9{
                  width: 320px;
                  height: 19px;
                  color: #c7c7c7;
                  font-family: NotoSansCJKkr;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: bold;
                  text-align: right;
                  margin-left: 75%;
                }

                .grid{
                 width: 100%;
                }


                .sub{
                  width: 239.5px;
                  height: 19px;
                  font-family: NotoSansCJKkr;
                  font-size: 12px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: normal;
                  color: #939393;
                }


                .button_giveup{
                  margin-left: auto;
                  margin-right: auto;
                  display: block;
                  font-size: 14px;
                  border: solid 0.5px #c7c7c7;
                  background-color:#FFF;
                  font-weight:bold;
                  min-width: 300px;
                  min-height: 50px;
                }


                .bottom_text{
                  padding-left: 5%;
                  font-family: NotoSansCJKkr;
                  font-size: 16px;
                  font-weight: bold;
                  color: #292929;
                  height: 28px;
                 font-style: normal;
                 font-stretch: normal;
                 line-height: normal;
                 letter-spacing: normal;
                 text-align: left;

                }

                .container {
                  position: relative;
                  width: 50%;
                }

                .container .imagealign {
                  width: 100%;
                  height: auto;
                }

                .container .ing_btn{
                position: absolute;
                top: 17%;
                left: 17%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                color: white;
                font-size: 10px;
                padding: 12px 24px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                background-color: #5c59b6;
              }

              .container .ing_btn:hover{
                background-color: black;
              }

}
