<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <form action=".">


    <ion-searchbar *ngIf="platform.is('android')" mode="ios" class="android_search" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" [showCancelButton]="shouldShowCancel" (ionInput)="setFilteredItems($event)"
      (ionCancel)="onCancel($event)" (ionFocus)="onFocus($event)" (search)="search($event)" placeholder="검색">
    </ion-searchbar>

    <ion-searchbar *ngIf="platform.is('ios') || platform.is('core')" mode="ios" class="ios_search" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" [showCancelButton]="shouldShowCancel" (ionInput)="setFilteredItems($event)"
      (ionCancel)="onCancel($event)" (ionFocus)="onFocus($event)" (ionChange)="onChange($event)" (search)="search($event)" placeholder="검색">
    </ion-searchbar>
  </form>
</ion-header>



<ion-content no-padding>

  <ion-item *ngIf="search_tip" no-lines><div class="font_sub">
    일반검색은 두 글자 이상부터 검색됩니다.<br>
    <br />
    태그 검색은 '#'을 붙혀 검색해 주세요<br>
  </div></ion-item>


  <ion-segment *ngIf="focus && page_view" outline mode="md" [(ngModel)]="page" color="#5c59b6">
    <ion-segment-button value="0" (click)="selectedTab(0)">
      게시물
    </ion-segment-button>
    <ion-segment-button value="1" (click)="selectedTab(1)">
      태그
    </ion-segment-button>
  </ion-segment>

  <ng-contain *ngIf="search_view">
    <ng-container *ngIf="toggleTag">
      <ion-scroll *ngIf="focus && !page_view" class="search_scroll" scrollX="true">
        <ion-item no-lines class="item_search_btn" *ngFor="let data of tempTags" (click)="navigateToDetails(data)">
          <!-- <ng-container *ngIf="tag.length !== 0"> -->
          <button ion-button class="search_btn">{{data.name}}</button><br><br>
          <!-- </ng-container> -->
        </ion-item>
      </ion-scroll>
    </ng-container>


    <ion-list *ngIf="focus && !page_view">
      <ng-container *ngFor="let data of jsonData">
        <ng-container *ngIf="data.type ==='beauty'">
          <ion-item (click)="navigateToDetails(data)">
            {{data.name}}
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-list>

    <ion-list *ngIf="focus && !page_view">
      <ng-container *ngFor="let data of jsonData">
        <ng-container *ngIf="data.type ==='note'">

          <ion-item (click)="navigateToDetails(data)">
            {{data.name}}
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-list>

    <ion-list *ngIf="focus && !page_view">
      <ng-container *ngFor="let data of jsonData">
        <ng-container *ngIf="data.type ==='qna'">

          <ion-item (click)="navigateToDetails(data)">
            {{data.name}}
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-list>
  </ng-contain>





  <!-- 검색리스트 정렬 뷰티꿀팁 / 뷰티노트 / 피부고민/   -->
  <ng-container *ngIf="page === '0'">
    <ng-container *ngIf="page_view">
      <br>
      <ion-col (click)="select_popover($event)" class="align_text">{{select_popover_option}}
        <img class="align_img" src="./assets/img/myinfo/ic-system-arrowdown-grey@3x.png" /></ion-col><br>




      <!-- 뷰트꿀팁 이미지가 있을 때  -->
      <ng-container *ngIf="platform.is('android')">
        <ng-container *ngFor="let community of communityBeautyLoadData">
          <ng-container *ngIf="community.title.indexOf(searchTerm) >= 0 || community.body.indexOf(searchTerm) >= 0">
            <ion-item class="line_item">
              <ion-col col-9 class="container" (click)="openBrowser_android(community.posturl, community.body)">
                <ion-row class="beauty_row">
                  <ion-col col-8 class="beauty_tip_title_img"><span class="beauty_note_tag">{{community.title}} </span>{{community.body}}</ion-col>
                </ion-row>
                <ion-col class="beauty_note_like">좋아요 32 ∙
                  <ion-col class="beauty_note_count">조회 {{community.views}}</ion-col>
                </ion-col>
                <img class="beauty_home_img" src="http://plinic.cafe24app.com/commubeauty_images/{{community._id}}" />
              </ion-col>
            </ion-item>
            <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
          </ng-container>
        </ng-container>
      </ng-container>


      <ng-container *ngIf="platform.is('ios') || platform.is('core')">
        <ng-container *ngFor="let community of communityBeautyLoadData">
          <ng-container *ngIf="community.title.indexOf(searchTerm) >= 0 || community.body.indexOf(searchTerm) >= 0">
            <ion-item class="line_item">
              <ion-col class="container" (click)="openBrowser_ioslike(community.posturl, community.body, community._id, userData.email, 'tip')">
                <ion-row class="beauty_row">
                  <ion-col col-8 class="beauty_note_title_img"><span class="beauty_note_tag">{{community.title}} </span>{{community.body}}</ion-col>
                </ion-row>
                <ion-col class="beauty_note_like">좋아요 32 ∙
                  <ion-col class="beauty_note_count">조회 {{community.views}}</ion-col>
                </ion-col>
                <img class="beauty_home_img_ios" src="http://plinic.cafe24app.com/commubeauty_images/{{community._id}}" />
              </ion-col>
            </ion-item>
            <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
          </ng-container>
        </ng-container>
      </ng-container>


      <ng-container *ngFor="let beautynote of beautyNoteData">
        <!-- 뷰트꿀팁 이미지가 있을 때  -->
        <!-- {{i}} -->
        <ng-container *ngIf="beautynote.filename">
          <ng-container *ngIf="beautynote.select.indexOf(searchTerm) >= 0 || beautynote.title.indexOf(searchTerm) >= 0">
            <ion-item class="line_item">
              <ion-col (click)="community_modify(beautynote._id)" class="container">
                <ion-row class="beauty_row">
                  <ion-col col-8 class="beauty_note_title_img"><span class="beauty_note_tag">{{beautynote.select}} </span>{{beautynote.title}}</ion-col>
                </ion-row>
                <ion-col *ngIf="beautynote.like" class="beauty_note_like">좋아요 {{beautynote.like}} ∙
                  <ion-col class="beauty_note_count">조회 {{beautynote.views}}</ion-col>
                </ion-col>
                <img *ngIf="platform.is('android') " class="beauty_home_note_img" src="http://plinic.cafe24app.com/beautynoteimage/{{beautynote._id}}" />
                <img *ngIf="platform.is('ios') || platform.is('core')" class="beauty_home_note_img_ios" src="http://plinic.cafe24app.com/beautynoteimage/{{beautynote._id}}" />
              </ion-col>
            </ion-item>
            <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
          </ng-container>
        </ng-container>


        <ng-container *ngIf="!beautynote.filename">
          <ng-container *ngIf="beautynote.select.indexOf(searchTerm) >= 0 || beautynote.title.indexOf(searchTerm) >= 0">
            <!-- 뷰트노트 이미지가 없을 때  -->
            <ion-item class="line_item">
              <ion-col (click)="community_modify(beautynote._id)" class="container">
                <ion-row class="beauty_row">
                  <ion-col col-8 class="beauty_note_title"><span class="beauty_note_tag">{{beautynote.select}} </span>{{beautynote.title}}</ion-col>
                </ion-row>
                <ion-col *ngIf="beautynote.like" class="beauty_note_like">좋아요 {{beautynote.like}} ∙
                  <ion-col class="beauty_note_count">조회 {{beautynote.views}}</ion-col>
                </ion-col>
              </ion-col>
            </ion-item>
            <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
          </ng-container>
        </ng-container>
      </ng-container>



      <!-- 피부 고민 이미지가 있을 때  -->
      <ng-container *ngFor="let skinqna of skinQnaData">
        <ng-container *ngIf="skinqna.filename">
          <ng-container *ngIf="skinqna.select.indexOf(searchTerm) >= 0 || skinqna.title.indexOf(searchTerm) >= 0">
            <ion-item class="line_item">
              <ion-col (click)="community_qna_modify(skinqna._id)" class="container">
                <ion-row class="beauty_row">
                  <ion-col col-8 class="beauty_note_title_img"><span class="beauty_note_Q">Q. </span>{{skinqna.title}}</ion-col>
                </ion-row>
                <ion-col *ngIf="skinqna.like" class="beauty_note_like">좋아요 {{skinqna.like}} ∙
                  <ion-col class="beauty_note_answer">답변 {{skinqna.comments.length}}</ion-col>
                </ion-col>

                <img *ngIf="platform.is('android')" class="beauty_worry_img" src="http://plinic.cafe24app.com/skinqnaimage/{{skinqna._id}}" />
                <img *ngIf="platform.is('ios') || platform.is('core')" class="beauty_worry_img_ios" src="http://plinic.cafe24app.com/skinqnaimage/{{skinqna._id}}" />
              </ion-col>
            </ion-item>
            <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!skinqna.filename">
          <ng-container *ngIf="skinqna.select.indexOf(searchTerm) >= 0 || skinqna.title.indexOf(searchTerm) >= 0">
            <!-- 피부 고민 이미지가 없을 때  -->
            <ion-item class="line_item">
              <ion-col (click)="community_qna_modify(skinqna._id)" class="container">
                <ion-row class="beauty_row">
                  <ion-col class="beauty_note_title"><span class="beauty_note_Q">Q. </span>{{skinqna.title}}</ion-col>
                </ion-row>
                <ion-col *ngIf="skinqna.like" class="beauty_note_like">좋아요 {{skinqna.like}} ∙
                  <ion-col class="beauty_note_answer">답변 {{skinqna.comments.length}}</ion-col>
                </ion-col>
              </ion-col>
            </ion-item>
            <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>





  <!-- 태그 검색리스트 정렬 뷰티꿀팁 / 뷰티노트 / 피부고민/   -->
  <ng-container *ngIf="page === '1'">
    <ng-container *ngIf="page_view">
      <br>
      <ion-col (click)="select_popover($event)" class="align_text">{{select_popover_option}}
        <img class="align_img" src="./assets/img/myinfo/ic-system-arrowdown-grey@3x.png" /></ion-col><br>



      <!-- 태그 검색시에는 뷰티 꿀팁은 검색 되지 않는다 -->
      <!-- 뷰트꿀팁 이미지가 있을 때  -->
      <!-- <ng-container *ngIf="platform.is('android')">
        <ng-container *ngFor="let community of communityBeautyLoadData">
          <ng-container *ngIf="community.title.indexOf(searchTerm) >= 0 || community.body.indexOf(searchTerm) >= 0">
            <ion-item class="line_item">
              <ion-col col-9 class="container" (click)="openBrowser_android(community.posturl, community.body)">
                <ion-row class="beauty_row">
                  <ion-col col-8 class="beauty_tip_title_img"><span class="beauty_note_tag">{{community.title}} </span>{{community.body}}</ion-col>
                </ion-row>
                <ion-col class="beauty_note_like">좋아요 32 ∙
                  <ion-col class="beauty_note_count">조회 {{community.views}}</ion-col>
                </ion-col>
                <img class="beauty_home_img" src="http://plinic.cafe24app.com/commubeauty_images/{{community._id}}" />
              </ion-col>
            </ion-item> -->
            <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
          <!-- </ng-container>
        </ng-container>
      </ng-container> -->


      <!-- <ng-container *ngIf="platform.is('ios') || platform.is('core')">
        <ng-container *ngFor="let community of communityBeautyLoadData">
          <ng-container *ngIf="community.title.indexOf(searchTerm) >= 0 || community.body.indexOf(searchTerm) >= 0">
            <ion-item class="line_item">
              <ion-col class="container" (click)="openBrowser_ioslike(community.posturl, community.body, community._id, userData.email, 'tip')">
                <ion-row class="beauty_row">
                  <ion-col col-8 class="beauty_note_title_img"><span class="beauty_note_tag">{{community.title}} </span>{{community.body}}</ion-col>
                </ion-row>
                <ion-col class="beauty_note_like">좋아요 32 ∙
                  <ion-col class="beauty_note_count">조회 {{community.views}}</ion-col>
                </ion-col>
                <img class="beauty_home_img_ios" src="http://plinic.cafe24app.com/commubeauty_images/{{community._id}}" />
              </ion-col>
            </ion-item> -->
            <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
          <!-- </ng-container>
        </ng-container>
      </ng-container> -->


      <ng-container *ngFor="let beautynote of beautyNoteData">
        <!-- 뷰트꿀팁 이미지가 있을 때  -->
        <!-- {{i}} -->
        <ng-container *ngIf="beautynote.filename">
          <ng-container *ngIf="beautynote.tags.indexOf(tagTerms) >= 0">
            <ion-item class="line_item">
              <ion-col (click)="community_modify(beautynote._id)" class="container">
                <ion-row class="beauty_row">
                  <ion-col col-8 class="beauty_note_title_img"><span class="beauty_note_tag">{{beautynote.select}} </span>{{beautynote.title}}</ion-col>
                </ion-row>
                <ion-col *ngIf="beautynote.like" class="beauty_note_like">좋아요 {{beautynote.like}} ∙
                  <ion-col class="beauty_note_count">조회 {{beautynote.views}}</ion-col>
                </ion-col>
                <img *ngIf="platform.is('android') " class="beauty_home_note_img" src="http://plinic.cafe24app.com/beautynoteimage/{{beautynote._id}}" />
                <img *ngIf="platform.is('ios') || platform.is('core')" class="beauty_home_note_img_ios" src="http://plinic.cafe24app.com/beautynoteimage/{{beautynote._id}}" />
              </ion-col>
            </ion-item>
            <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
          </ng-container>
        </ng-container>


        <ng-container *ngIf="!beautynote.filename">
          <ng-container *ngIf="beautynote.tags.indexOf(tagTerms) >= 0">
            <!-- 뷰트노트 이미지가 없을 때  -->
            <ion-item class="line_item">
              <ion-col (click)="community_modify(beautynote._id)" class="container">
                <ion-row class="beauty_row">
                  <ion-col col-8 class="beauty_note_title"><span class="beauty_note_tag">{{beautynote.select}} </span>{{beautynote.title}}</ion-col>
                </ion-row>
                <ion-col *ngIf="beautynote.like" class="beauty_note_like">좋아요 {{beautynote.like}} ∙
                  <ion-col class="beauty_note_count">조회 {{beautynote.views}}</ion-col>
                </ion-col>
              </ion-col>
            </ion-item>
            <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
          </ng-container>
        </ng-container>
      </ng-container>



      <!-- 피부 고민 이미지가 있을 때  -->
      <ng-container *ngFor="let skinqna of skinQnaData">
        <ng-container *ngIf="skinqna.filename">
          <ng-container *ngIf="skinqna.tags.indexOf(tagTerms) >= 0">
            <ion-item class="line_item">
              <ion-col (click)="community_qna_modify(skinqna._id)" class="container">
                <ion-row class="beauty_row">
                  <ion-col col-8 class="beauty_note_title_img"><span class="beauty_note_Q">Q. </span>{{skinqna.title}}</ion-col>
                </ion-row>
                <ion-col *ngIf="skinqna.like" class="beauty_note_like">좋아요 {{skinqna.like}} ∙
                  <ion-col class="beauty_note_answer">답변 {{skinqna.comments.length}}</ion-col>
                </ion-col>

                <img *ngIf="platform.is('android')" class="beauty_worry_img" src="http://plinic.cafe24app.com/skinqnaimage/{{skinqna._id}}" />
                <img *ngIf="platform.is('ios') || platform.is('core')" class="beauty_worry_img_ios" src="http://plinic.cafe24app.com/skinqnaimage/{{skinqna._id}}" />
              </ion-col>
            </ion-item>
            <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!skinqna.filename">
          <ng-container *ngIf="skinqna.tags.indexOf(tagTerms) >= 0">
            <!-- 피부 고민 이미지가 없을 때  -->
            <ion-item class="line_item">
              <ion-col (click)="community_qna_modify(skinqna._id)" class="container">
                <ion-row class="beauty_row">
                  <ion-col class="beauty_note_title"><span class="beauty_note_Q">Q. </span>{{skinqna.title}}</ion-col>
                </ion-row>
                <ion-col *ngIf="skinqna.like" class="beauty_note_like">좋아요 {{skinqna.like}} ∙
                  <ion-col class="beauty_note_answer">답변 {{skinqna.comments.length}}</ion-col>
                </ion-col>
              </ion-col>
            </ion-item>
            <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>


</ion-content>
