page-search {

  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    margin-bottom: 1%;
    height: 0px;
  }

  .header-ios::after, .tabs-ios[tabsPlacement="top"] > .tabbar::after, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before{
    margin-bottom: -0.5%;
    height: 0px;
  }

  .ios_search{
    margin-top: 8%;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b6b6b6;
  }

  .searchbar-ios{
    background-color: #FFF !important;
    height: 56px;
    border-bottom: 1px solid #f1f1f1;
  }

  .searchbar-ios .searchbar-search-icon{
    display: none;
  }

  .searchbar-ios .searchbar-ios-cancel{
    background-image: url(../assets/img/ic-system-back-black/ic-system-back-black@3x.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    font-size: 0px;
    left: 5%;
    top: 26%;
  }

  .searchbar-ios.searchbar-left-aligned .searchbar-input{
    padding-left: 15%;
    padding-top: 2%;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292929;
  }

  .searchbar-ios .searchbar-clear-icon{
    background-image: url(../assets/img/register/ic-system-clear-grey@3x.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-top: 3%;
    margin-right: 6%;
  }

  .label-md{
    margin: 0px;
  }

  .label-ios{
    margin: 0px;
  }

  .item-md{
    margin: 0px;
    margin-top: 2%;
    padding-left: 6%;
  }
  .item-ios{
    margin: 0px;
    margin-top: 2%;
    padding-left: 6%;
  }

  .list-ios{
    text-align: center;
  }

  .item-md.item-block .item-inner{
  padding: 0px;
  }

  .item-ios.item-block .item-inner{
  padding: 0px;
  }

  ion-scroll.scroll-x .scroll-content{
    padding: 0px !important;
  }
  .search_scroll{
    width: 100%;
    height: 7%;
    margin-top: 1%;
    margin-left: 5%;
  }
  .item_search_btn{
    display: table-cell;
    padding: 0px;
    height: 100px;
  }

  .search_btn{
    height: 45px !important;
    font-family: AppleSDGothicNeo;
    font-size: 14px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292929;
    border-radius: 3px;
    border: solid 1px #f1f1f1;
    background-color: #FFF !important;
    box-shadow: none !important;
  }


  .container {
    position: relative;
    width: 100%;
  }


        .container .beauty_note_like{
          font-family: NotoSansCJKkr;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #b6b6b6;
          position: absolute;
          display: table;
          width: 100%;
          text-align: left;
          padding-left: 5%;
          margin-bottom: 5%;
        }

        .beauty_note_answer{
          font-family: NotoSansCJKkr;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #5c59b6;
        }
  .container .beauty_home_img {
    // position: absolute;
    // top: -25%;
    // right: -120%;
    transform: translate(385%, -60%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 80px;
    max-height: 80px;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: -10%;
  }

  .container .beauty_home_img_ios {
    // position: absolute;
    // top: -25%;
    // right: -120%;
    transform: translate(330%, -60%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 80px;
    max-height: 80px;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: -10%;
  }

  .container .beauty_home_note_img {
    // position: absolute;
    // top: -25%;
    // right: -120%;
    transform: translate(385%, -60%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 80px;
    max-height: 80px;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: -10%;
  }

  .container .beauty_home_note_img_ios {
    // position: absolute;
    // top: -25%;
    // right: -120%;
    transform: translate(330%, -60%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 80px;
    max-height: 80px;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: -10%;
  }

  .container .beauty_worry_img {
    // position: absolute;
    // top: -25%;
    // right: -120%;
    transform: translate(385%, -60%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 80px;
    max-height: 80px;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: -10%;
  }

  .container .beauty_worry_img_ios {
    // position: absolute;
    // top: -25%;
    // right: -120%;
    transform: translate(330%, -60%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 80px;
    max-height: 80px;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: -10%;
  }


  .container .beauty_note_img {
    // position: absolute;
    // top: -25%;
    // right: -120%;
    transform: translate(385%, -60%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 80px;
    max-height: 80px;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: -10%;
  }

  .container .beauty_note_img_ios {
    // position: absolute;
    // top: -25%;
    // right: -120%;
    transform: translate(330%, -60%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 80px;
    max-height: 80px;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: -10%;
  }

  .beauty_tip_title_img{
    //max-width: 50%;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #292929;
    text-align: left;
    margin-left: 4%;
    white-space: pre-wrap;
  }

  .beauty_note_title_img{
    max-width: 65%;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #292929;
    text-align: left;
    margin-left: 4%;
    white-space: pre-wrap;
  }

  .beauty_note_title{
    min-width: 97%;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #292929;
    text-align: left;
    margin-left: 4%;
    white-space: pre-wrap;
  }

  .beauty_note_tag{
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #5c59b6;
  }

  .beauty_note_Q{
    font-family: AppleSDGothicNeo;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #5c59b6;
  }
  .beauty_note_count{
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b6b6b6;
  }

  .line_item{
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  }


  .align_text{
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b6b6b6;
    position: relative;
    left: 78%;
  }


  .align_img{
    position: absolute;
    width: 25px;
    height: 25px;
    object-fit: contain;
    right: -25%;
    top: 10%;
  }

  .font_sub {
    width: 315px;
    height: 69.5px;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #939393;
    margin: 0 auto;
  }

}
