<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-searchbar *ngIf="platform.is('android')" mode="ios" class="android_search"
    [(ngModel)]="searchTerm"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="setFilteredItems($event)"
    (ionCancel)="onCancel($event)"
    (ionFocus)="onFocus($event)"
    (search)="onSearch($event)"
    placeholder="검색">
  </ion-searchbar>

  <ion-searchbar *ngIf="platform.is('ios') || platform.is('core')" mode="ios" class="ios_search"
  [(ngModel)]="searchTerm"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="setFilteredItems($event)"
  (ionCancel)="onCancel($event)"
  (ionFocus)="onFocus($event)"
  (ionChange)="onChange($event)"
  placeholder="검색">
  </ion-searchbar>

</ion-header>



<ion-content no-padding>


  <ion-segment *ngIf="focus && !page_view" outline mode="md" [(ngModel)]="page" color="#5c59b6">
    <ion-segment-button value="0" (click)="selectedTab(0)">
      게시물
    </ion-segment-button>
    <ion-segment-button value="1" (click)="selectedTab(1)">
      태그
    </ion-segment-button>
  </ion-segment>

  
  <ion-scroll *ngIf="!focus && !page_view" class="search_scroll" scrollX="true">
    <ion-item class="item_search_btn" *ngFor="let data of jsonData" (click)="navigateToDetails(data)">
        <button ion-button class="search_btn"> {{data.name}}</button><br><br>
    </ion-item>
  </ion-scroll>


  <ion-list *ngIf="focus && !page_view"> <br /><br /><br />뷰티꿀팁
    <ng-container *ngFor="let data of jsonData">
        <ng-container *ngIf="data.type ==='beauty'">
        <ion-item (click)="navigateToDetails(data)">
            {{data.name}}
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>

    <ion-list *ngIf="focus && !page_view"> 뷰티노트
      <ng-container *ngFor="let data of jsonData">
          <ng-container *ngIf="data.type ==='note'">

          <ion-item (click)="navigateToDetails(data)">
              {{data.name}}
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-list>

    <ion-list *ngIf="focus && !page_view"> 피부고민
      <ng-container *ngFor="let data of jsonData">
          <ng-container *ngIf="data.type ==='qna'">

          <ion-item (click)="navigateToDetails(data)">
              {{data.name}}
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-list>





    <!-- 검색리스트 정렬 뷰티꿀팁 / 뷰티노트 / 피부고민/   -->

    <ng-container *ngIf="page_view">
    <br><ion-col (click)="select_popover($event)" class="align_text">{{select_popover_option}}
    <img class="align_img" src="./assets/img/myinfo/ic-system-arrowdown-grey@3x.png"/></ion-col><br>




    <!-- 뷰트꿀팁 이미지가 있을 때  -->
    <ng-container *ngIf="platform.is('android')">
      <ng-container *ngFor="let community of communityBeautyLoadData">
          <ion-item class="line_item">
            <ion-col col-9 class="container" (click)="openBrowser_android(community.posturl, community.body)">
            <ion-row class="beauty_row">
              <ion-col col-8 class="beauty_tip_title_img"><span class="beauty_note_tag">{{community.title}} </span>{{community.body}}</ion-col>
            </ion-row>
            <ion-col class="beauty_note_like">좋아요 32 ∙
              <ion-col class="beauty_note_count">조회 {{community.views}}</ion-col>
            </ion-col>
            <img class="beauty_home_img" src="http://plinic.cafe24app.com/commubeauty_images/{{community._id}}" />
          </ion-col>
        </ion-item>
          <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
        </ng-container>
    </ng-container>


    <ng-container *ngIf="platform.is('ios') || platform.is('core')">
      <ng-container *ngFor="let community of communityBeautyLoadData">
          <ion-item class="line_item">
          <ion-col class="container" (click)="openBrowser_ioslike(community.posturl, community.body, community._id, userData.email, 'tip')">
            <ion-row class="beauty_row">
              <ion-col col-8 class="beauty_note_title_img"><span class="beauty_note_tag">{{community.title}} </span>{{community.body}}</ion-col>
            </ion-row>
            <ion-col class="beauty_note_like">좋아요 32 ∙
              <ion-col class="beauty_note_count">조회 {{community.views}}</ion-col>
            </ion-col>
            <img class="beauty_home_img_ios" src="http://plinic.cafe24app.com/commubeauty_images/{{community._id}}" />
          </ion-col></ion-item>
          <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
        </ng-container>
    </ng-container>


    <ng-container *ngFor="let beautynote of beautyNoteData">
      <!-- 뷰트꿀팁 이미지가 있을 때  -->
      <!-- {{i}} -->
        <ng-container *ngIf="beautynote.filename">
          <ion-item class="line_item">
          <ion-col (click)="community_modify(beautynote._id)" class="container">
            <ion-row class="beauty_row">
              <ion-col col-8 class="beauty_note_title_img"><span class="beauty_note_tag">{{beautynote.select}} </span>{{beautynote.title}}</ion-col>
            </ion-row>
            <ion-col *ngIf="beautynote.like" class="beauty_note_like">좋아요 {{beautynote.like}} ∙
              <ion-col class="beauty_note_count">조회 {{beautynote.views}}</ion-col>
            </ion-col>
            <img *ngIf="platform.is('android') " class="beauty_home_note_img" src="http://plinic.cafe24app.com/beautynoteimage/{{beautynote._id}}"/>
            <img *ngIf="platform.is('ios') || platform.is('core')" class="beauty_home_note_img_ios" src="http://plinic.cafe24app.com/beautynoteimage/{{beautynote._id}}"/>
          </ion-col></ion-item>
          <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
        </ng-container>


        <ng-container *ngIf="!beautynote.filename">
          <!-- 뷰트노트 이미지가 없을 때  -->
          <ion-item class="line_item">
          <ion-col (click)="community_modify(beautynote._id)" class="container">
            <ion-row class="beauty_row">
              <ion-col col-8 class="beauty_note_title"><span class="beauty_note_tag">{{beautynote.select}} </span>{{beautynote.title}}</ion-col>
            </ion-row>
            <ion-col *ngIf="beautynote.like" class="beauty_note_like">좋아요 {{beautynote.like}} ∙
              <ion-col class="beauty_note_count">조회 {{beautynote.views}}</ion-col>
            </ion-col>
          </ion-col></ion-item>
          <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
        </ng-container>
    </ng-container>



    <!-- 피부 고민 이미지가 있을 때  -->
  <ng-container *ngFor="let skinqna of skinQnaData">
    <ng-container *ngIf="skinqna.filename">
    <ion-item class="line_item">
    <ion-col (click)="community_qna_modify(skinqna._id)" class="container">
      <ion-row class="beauty_row">
        <ion-col col-8 class="beauty_note_title_img"><span class="beauty_note_Q">Q. </span>{{skinqna.title}}</ion-col>
      </ion-row>
      <ion-col *ngIf="skinqna.like" class="beauty_note_like">좋아요 {{skinqna.like}} ∙
        <ion-col class="beauty_note_answer">답변 {{skinqna.comments.length}}</ion-col>
      </ion-col>

      <img *ngIf="platform.is('android')" class="beauty_worry_img" src="http://plinic.cafe24app.com/skinqnaimage/{{skinqna._id}}" />
      <img *ngIf="platform.is('ios') || platform.is('core')" class="beauty_worry_img_ios" src="http://plinic.cafe24app.com/skinqnaimage/{{skinqna._id}}" />
    </ion-col></ion-item>
    <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
  </ng-container>
  <ng-container *ngIf="!skinqna.filename">
    <!-- 피부 고민 이미지가 없을 때  -->
    <ion-item class="line_item">
    <ion-col (click)="community_qna_modify(skinqna._id)" class="container">
      <ion-row class="beauty_row">
        <ion-col class="beauty_note_title"><span class="beauty_note_Q">Q. </span>{{skinqna.title}}</ion-col>
      </ion-row>
      <ion-col *ngIf="skinqna.like" class="beauty_note_like">좋아요 {{skinqna.like}} ∙
        <ion-col class="beauty_note_answer">답변 {{skinqna.comments.length}}</ion-col>
      </ion-col>
    </ion-col></ion-item>
    <!-- <div style="height:1px; width:90%; margin:0 auto; display: block; background-color:#f1f1f1"></div> -->
      </ng-container>
  </ng-container>





    </ng-container>
</ion-content>
