<!--
  Generated template for the CareZoneMissionIngPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  *ngIf="platform.is('android')">
    <ion-title *ngIf="carezoneData" class="android_title" text-wrap> {{carezoneData.missontitle}} </ion-title>
  </ion-navbar>

  <!-- <ion-navbar  hideBackButton="true" *ngIf="platform.is('ios')">
    <ion-title *ngIf="carezoneData" class="ios_title" text-wrap> {{carezoneData.missontitle}} </ion-title>
  </ion-navbar> -->

  <ion-navbar *ngIf="platform.is('ios')">
  	<ion-buttons left>
  		<button ion-button navPop icon-only>
  			<!-- <ion-icon md="md-arrow-forward"></ion-icon> -->
        <img class="ios_nav"src="assets/img/agreement/ic-system-back-black@3x.png"/>
  		</button>
  	</ion-buttons>
    <ion-title *ngIf="carezoneData" class="ios_title" text-wrap> {{carezoneData.missontitle}} </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

<br>
  <ion-list *ngIf="carezoneData">
    <ion-item *ngIf="imgUrl" no-lines>
      <img class="goods-img" src="{{imgUrl}}" /><br><br>

      <button ion-button style="height:28px;box-shadow: none;" class="button_outline" outline (click)="mission_deadline()">진행중 </button>
      </ion-item>
      <h1 class="top_text"> {{carezoneData.missontitle}} </h1>




    <ion-item class="top_count" no-lines>
                <ion-col class="event-col">3건
                <ion-col class="event-col2">/&nbsp;27건 남음</ion-col></ion-col>
                <ion-col class="event-col3">목표 30건</ion-col>
    </ion-item>



<!-- 프로그레스바 -->

  <progress-bar [color]="mycolor"[progress]="loadProgress"></progress-bar><br><br>




     <ion-item style="width:97%;"  >
         <ion-grid class="gridtext">
             <ion-row style="width:89.7%">
                 <ion-col class="event-col4">미션명</ion-col>
                 <ion-col class="event-col5">할수있다! 물광미인</ion-col>
             </ion-row>
         </ion-grid>
    </ion-item>
    <ion-item style="width:97%" >
       <ion-grid class="gridtext">
             <ion-row style="width:89.7%">
                 <ion-col class="event-col4">보상 상품</ion-col>
                 <ion-col class="event-col7">{{carezoneData.product}}</ion-col>
            </ion-row>
       </ion-grid>
    </ion-item>
    <ion-item style="width:97%" >
       <ion-grid class="gridtext">
             <ion-row style="width:89.7%">
                 <ion-col class="event-col4">미션 횟수
                 <img class="info-img"src="assets/img/care-zone/mission-ing/ic-system-infomation@3x.png"/></ion-col>
                 <ion-col class="event-col9">3
                 <ion-col class="event-col11">/30</ion-col></ion-col>
             </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item style="width:97%; margin-bottom: 5%;" >
       <ion-grid class="gridtext">
             <ion-row style="width:89.7%">
                 <ion-col class="event-col4">미션 일정</ion-col>
                 <ion-col class="event-col12">startDate~{{endDate}}</ion-col>
             </ion-row>
         </ion-grid>
   </ion-item>
   <ion-item no-lines>
     <ion-col class="sub" text-wrap>
       ※&nbsp;유의사항과 일정 등을 반드시 확인하고 참여해주세요.
     </ion-col>
    </ion-item>

   <ion-item no-lines>
    <button ion-button style="box-shadow:none;"class="button_giveup" text-align="center" outline (click)="mission_giveup()" >미션 포기하기</button>
    </ion-item>
  </ion-list>

<ion-list>

   <div style="height:8px; width:100%; background-color:#f1f1f1"></div><br>


   <h3 class="bottom_text"> 참여자 </h3>


<!-- 참여자만큼 반복문 -->
<ion-item no-lines>
    <ion-grid class="eventgrid">
        <ion-row>
            <ion-col class="event-col0">{{index}}00</ion-col>
            <ion-col><ion-img class="profile-img" src="assets/img/care-zone/ic-system-profile-sample@3x.png"
              srcset="assets/img/ic-system-profile-sample@2x.png,
                   assets/img/ic-system-profile-sample@3x.png"></ion-img></ion-col>
            <ion-col class="event-col8">{{id}} 아이디</ion-col>
            <ion-col class="event-col6">{{count}}20회</ion-col>
        </ion-row>
    </ion-grid>
</ion-item>
<ion-item no-lines>
    <ion-grid class="eventgrid">
        <ion-row>
            <ion-col class="event-col0">{{index}}00</ion-col>
            <ion-col><ion-img class="profile-img" src="assets/img/care-zone/ic-system-profile-sample@3x.png"
              srcset="assets/img/ic-system-profile-sample@2x.png,
                   assets/img/ic-system-profile-sample@3x.png"></ion-img></ion-col>
            <ion-col class="event-col8">{{id}} 아이디</ion-col>
            <ion-col class="event-col6">{{count}}20회</ion-col>
        </ion-row>
    </ion-grid>
</ion-item>
<ion-item no-lines>
    <ion-grid class="eventgrid">
        <ion-row>
            <ion-col class="event-col0">{{index}}00</ion-col>
            <ion-col><ion-img class="profile-img" src="assets/img/care-zone/ic-system-profile-sample@3x.png"
              srcset="assets/img/ic-system-profile-sample@2x.png,
                   assets/img/ic-system-profile-sample@3x.png"></ion-img></ion-col>
            <ion-col class="event-col8">{{id}} 아이디</ion-col>
            <ion-col class="event-col6">{{count}}20회</ion-col>
        </ion-row>
    </ion-grid>
</ion-item>
<ion-item no-lines>
    <ion-grid class="eventgrid">
        <ion-row>
            <ion-col class="event-col0">{{index}}00</ion-col>
            <ion-col><ion-img class="profile-img" src="assets/img/care-zone/ic-system-profile-sample@3x.png"
              srcset="assets/img/ic-system-profile-sample@2x.png,
                   assets/img/ic-system-profile-sample@3x.png"></ion-img></ion-col>
            <ion-col class="event-col8">{{id}} 아이디</ion-col>
            <ion-col class="event-col6">{{count}}20회</ion-col>
        </ion-row>
    </ion-grid>
</ion-item>
<ion-item no-lines>
    <ion-grid class="eventgrid">
        <ion-row>
            <ion-col class="event-col0">{{index}}00</ion-col>
            <ion-col><ion-img class="profile-img" src="assets/img/care-zone/ic-system-profile-sample@3x.png"
              srcset="assets/img/ic-system-profile-sample@2x.png,
                   assets/img/ic-system-profile-sample@3x.png"></ion-img></ion-col>
            <ion-col class="event-col8">{{id}} 아이디</ion-col>
            <ion-col class="event-col6">{{count}}20회</ion-col>
        </ion-row>
    </ion-grid>
</ion-item>
 <ion-item no-lines>
   <button ion-button class="button_add" style="font-size: 14px; box-shadow:none;" outline>더보기&nbsp;&nbsp;></button>
 </ion-item><br>

 <!-- <div style="height:8px; width:100%; background-color:#f1f1f1"></div><br>

 -->

</ion-list>



</ion-content>
