<!--
  Generated template for the CareZoneMissionIngPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  *ngIf="platform.is('android')">
    <ion-title  class="android_title" text-wrap>케어 챌린지</ion-title>
  </ion-navbar>

  <!-- <ion-navbar  hideBackButton="true" *ngIf="platform.is('ios')">
    <ion-title  class="ios_title" text-wrap> {{carezoneData.missontitle}} </ion-title>
  </ion-navbar> -->

  <ion-navbar *ngIf="platform.is('ios')">
  	<ion-buttons left>
  		<button ion-button navPop icon-only>
  			<!-- <ion-icon md="md-arrow-forward"></ion-icon> -->
        <img class="ios_nav"src="assets/img/agreement/ic-system-back-black@3x.png"/>
  		</button>
  	</ion-buttons>
    <ion-title  class="ios_title" text-wrap>케어 챌린지</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-list >
    <!-- <ion-item *ngIf="imgUrl" no-lines>
      <img class="goods-img" src="{{imgUrl}}" /><br><br>

      <button ion-button style="height:28px;box-shadow: none;" class="button_outline" outline (click)="mission_deadline()">진행중 </button>
      </ion-item> -->
      <ion-slides *ngIf="bannerData && bannerData.length" class="img-banner_top_19000501" pager loop=true autoplay=2000>
        <ion-slide *ngFor="let banner of bannerData">
          <img src='http://plinic.cafe24app.com/images/{{banner._id}}' />
        </ion-slide>
      </ion-slides>

  <h1 class="top_text"> 할수있다! V라인 </h1><br>
  <div text-wrap class="top_sub" >플리닉으로 매일 1회(최대 9분) 디바이스로 케어하고 사은품을 받으세요.</div>


  <ion-col class="top_time" >16분 23초</ion-col>
  <ion-col class="top_rank">현재 등수 3위</ion-col><br><br>
  <progress-bar [color]="mycolor"[progress]="loadProgress"></progress-bar><br><br><br>


  <ion-item style="width:97%">
    <ion-grid class="gridtext">
      <ion-row style="width:89.7%">
        <ion-col class="event-col4">보상 상품명</ion-col>
        <ion-col class="event-col7">보테니컬 파워크림</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item style="width:97%">
    <ion-grid class="gridtext">
      <ion-row style="width:89.7%">
        <ion-col class="event-col4">상품 수량</ion-col>
        <ion-col class="event-col5">12개</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item style="width:97%">
    <ion-grid class="gridtext">
      <ion-row style="width:89.7%">
        <ion-col class="event-col4">참여 방법</ion-col>
        <ion-col class="event-col5">매일 1회(최대 9분) 디바이스로 케어</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item style="width:97%; height:100px;">
    <ion-grid class="gridtext">
      <ion-row style="width:89.7%">
        <ion-col class="event-col11">보상 조건</ion-col>
        <ion-col class="event-col9" style="color:#292929">
                                    챌린지 기간 안에 가장 많은 시간을<br>
                                    케어한사람 순위 1위~20위까지<br>
                                    무료 증정 (1일한도 : 9분 이내)</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item style="width:97%;">
    <ion-grid class="gridtext">
      <ion-row style="width:89.7%">
        <ion-col class="event-col4">참여기간</ion-col>
        <ion-col class="event-col5">19.07.20 ~ 19.08.04 (2주)</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item style="width:97%;">
    <ion-grid class="gridtext">
      <ion-row style="width:89.7%">
        <ion-col class="event-col4">남은시간</ion-col>
        <ion-col class="event-col7">113:47:34</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item style="width:97%; height:100px;">
    <ion-grid class="gridtext">
      <ion-row style="width:89.7%">
        <ion-col class="event-col11">보너스</ion-col>
        <ion-col class="event-col9">카카오톡 공유하면 +3초/명<br>
                                    페이스북 공유하면 +30초/회 (1일1회)<br>
                                    인스타그램 공유하면 +30초/회 (1일1회)</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item no-lines>
    <ion-col class="sub" text-wrap>
      ※&nbsp;유의사항과 일정 등을 반드시 확인하고 참여해주세요.
    </ion-col>
   </ion-item>

   <ion-item no-lines>
     <!-- 미션 진행중일 때 -->
     <button ion-button class="button_start" text-align="center" outline (click)="mission_start()">시작하기</button>
     <button ion-button class="button_giveup" text-align="center" outline (click)="mission_giveup()">포기하기</button>
      <!-- 미션 완료일 떄 -->
     <!-- <button ion-button class="button_start" text-align="center" outline (click)="mission_start()" >보상받기</button> -->
     <!-- 미션 종료일 때 -->
     <!-- <button ion-button class="button_end" text-align="center" outline (click)="mission_start()">챌린지 종료</button>
     <button ion-button class="button_detail" text-align="center" outline (click)="mission_giveup()">보상 제품 상세정보</button> -->

    </ion-item>
  </ion-list>

<ion-list>

   <div style="height:8px; width:100%; background-color:#f1f1f1"></div><br>


   <h3 class="bottom_text"> 참여자 </h3>


<!-- 참여자만큼 반복문 -->
<!-- 내 리스트 -->
    <ion-grid  class="eventgrid">
      <ion-row class="my_list">
          <ion-col class="event-col12">{{index}}00</ion-col>
          <ion-col><img class="profile-img"style="margin-top:-3%;" src="assets/img/register/ic-system-profile-default@3x.png" onError="this.src='./assets/img/register/ic-system-profile-default@3x.png'" /></ion-col>
          <ion-col class="event-col13">{{id}}wjddn0313@naver.com(나)</ion-col>
          <ion-col class="event-col14" style="color:#5c59b6;">{{count}}16분 12초</ion-col>
      </ion-row>
    </ion-grid>
<ion-item *ngFor="let mission of missionmember" no-lines>
    <ion-grid  class="eventgrid">
        <ion-row>
            <ion-col class="event-col0">{{index}}00</ion-col>
            <ion-col *ngIf="!mission.image_url"><img class="profile-img" src="http://plinic.cafe24app.com/userimages/{{mission.email}}" onError="this.src='./assets/img/register/ic-system-profile-default@3x.png'" /></ion-col>
            <ion-col *ngIf="mission.image_url"><img class="profile-img" src="{{mission.image_url}}" onError="this.src='./assets/img/register/ic-system-profile-default@3x.png'" /></ion-col>
            <ion-col class="event-col8">{{id}} {{mission.email}}</ion-col>
            <ion-col class="event-col6">{{count}}16분 12초</ion-col>
        </ion-row>
    </ion-grid>
</ion-item>


 <ion-item no-lines>
   <button ion-button class="button_add" style="font-size: 14px; box-shadow:none;" outline>더보기</button>
 </ion-item><br>

 <div style="height:8px; width:100%; background-color:#f1f1f1"></div>

</ion-list>

 <ng-container *ngIf="comment_popover_option==='보기' || comment_popover_option ==='삭제'">
         <!-- <img *ngIf="!userData.thumbnail_image && profileimg_url" class="profile_comment" style="margin-top: 7%;" [src]="profileimg_url" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
         <img *ngIf="userData.thumbnail_image" class="profile_comment" style="margin-top: 7%;" [src]="userData.thumbnail_image" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
         <img *ngIf="!userData.thumbnail_image && !profileimg_url" style="margin-top: 7%;" class="profile_comment" src="assets/img/register/ic-system-profile-default@3x.png" /> -->
       <div class="container">
         <textarea class="content_comment" style="margin-top: 9%;" rows="3" cols="20" #myInput maxLength="300" autoGrow="true" placeholder="댓글 등록" (input)="adjustTextarea()" [(ngModel)]="registerReply.comment"></textarea>
         <button *ngIf="registerReply.comment.length >= 1" ion-button class="comment_input_enroll" (click)="saveSkinQnaReply()">등록</button>
         <button *ngIf="registerReply.comment.length < 1" ion-button class="comment_input_enroll" disabled (click)="saveSkinQnaReply()">등록</button>
       </div>
       <div style="height:8px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; background-color:#f1f1f1"></div>
     </ng-container>


     <!-- 댓글  -->
     <ng-container *ngIf="skinQnaOneLoadData">
       <ng-container *ngFor="let registerReply of skinQnaOneLoadData.comments; let i = index">
         <img *ngIf="registerReply.img_url" class="profile_comment" [src]="registerReply.img_url" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'"/>
         <img *ngIf="!registerReply.img_url" class="profile_comment" src="http://plinic.cafe24app.com/userimages/{{registerReply.email}}" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'"/>

         <!-- <img *ngIf="!registerReply.originalName && !profileimg_url" class="profile_comment" src="assets/img/register/ic-system-profile-default@3x.png" /> -->

         <ng-container *ngIf="userData.email === registerReply.email">
           <button ion-button class="comment_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);"></button>
         </ng-container>
         <div class="container">
           <div class="nickname_comment">{{registerReply.email}}</div>
           <button *ngIf="comment_popover_option_textarea === i" (click)="replySkinQnaUpdate(registerReply.email, registerReply._id)" ion-button class="comment_enroll">수정</button>
         </div>
         <div class="time_comment">{{registerReply.createdAt.substr(0,19)}}</div>
         <!-- 보기 -->
         <!-- <textarea *ngIf="comment_popover_option==='보기'" class="content_comment" readonly autoGrow autoresize value="{{reply.comment}}"></textarea> -->
         <ng-container *ngIf="comment_popover_option_textarea !== i ">
           <div class="content_comment" text-wrap>{{registerReply.comment}}</div>
         </ng-container>
         <!-- 수정 -->
         <textarea *ngIf="comment_popover_option_textarea === i " id="updatereply" class="content_comment_textarea" #myInput maxLength="300" (keydown)="resize()" [(ngModel)]="registerReply.comment" (input)="adjustTextareaUpdate($event)"
           autofocus="true" (focus)="focus($event)"></textarea>

         <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 3%; margin-top: 2%; background-color:#f1f1f1"></div>
       </ng-container>
     </ng-container>




</ion-content>
