page-care-zone-mission-ing {




               min-width: 100%;
               min-height: 100%;
              height: 150%;

              .title{
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                height: 100%;
                width: 70%;
                font-family: NotoSansCJKkr;
                font-size: 17px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #292929;
              }

              .goods-img{
                width: 120px;
                height: 120px;
                object-fit: contain;
                margin-left: auto;
                margin-right: auto;
                display: block;
                text-align: center;
                background-color: #ffffff;
              }

              .button_outline{
                margin-left: auto;
                margin-right: auto;
                display: block;
                min-width: 62px;
                min-height: 30px;
                border-radius: 14px;
                border: solid 1px #5c59b6;

              }

              .top_text {
                font-family: NotoSansCJKkr;
                font-size: 19px;
                font-weight: bold;
                color: #292929;
                height: 28px;
               font-style: normal;
               font-stretch: normal;
               line-height: normal;
               letter-spacing: normal;
               text-align: center;
             }

             .gridpro{
              display: inline-block;
              margin-top: auto;
              margin-bottom: auto;

             }

              .progress-outer {
             text-align: center;
             background-color: #FFF;
             border: 0.5px solid #FFF;
             color: #fff;
             border-radius: 5px;
             font-size: 8px;
             width: 90%;
             margin-left: auto;
             margin-right: auto;
             border-radius: 5px;
           }

           .progress-inner {
             white-space: nowrap;
             overflow: hidden;
             border-radius: 5px;
             background-color: #5c59b6;
             color: #FFF;
             width: 90%;
           }

              .event-col{
                width: 5px;
                height: 16.5px;
                margin-left: 30px;
                color: #5c59b6;
                font-family: NotoSansCJKkr;
                font-size: 13px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align:left;
              }

              .event-col2{
                position: absolute;
                width: 5px;
                height: 16.5px;
                font-family: NotoSansCJKkr;
                font-size: 13px;
                color: #b6b6b6;
                margin-left: 55px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align:left;
              }


              .event-col3{
                width: 5px;
                height: 16.5px;
                margin-right: 25px;
                font-family: NotoSansCJKkr;
               font-size: 13px;
               font-weight: normal;
               font-style: normal;
               font-stretch: normal;
               line-height: normal;
               letter-spacing: normal;
               text-align: right;
               color: #b6b6b6;
              }


              .event-col4{
                  text-align: left;
                  width: 3px;
                  height: 16.5px;
                  background-color: #ffffff;
                  font-family: NotoSansCJKkr;
                  font-size: 14px;
                  font-weight: normal;
                  font-style: normal;
                  margin-top: 4%;
              }

              .event-col5{
                text-align: right;
                width: 320px;
                height: 16.5px;
                background-color: #ffffff;
                font-family: NotoSansCJKkr;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                color: #5c59b6;
                margin-top: 4%;
              }

              .event-col0{
                width: 3px;
                height: 16.5px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #b6b6b6;
                margin-top: 4%;

              }
              .event-col6{
                text-align: right;
                width: 320px;
                height: 16.5px;;
                background-color: #ffffff;
                font-family: NotoSansCJKkr;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                color: #5c59b6;
                margin-top: 4%;
              }

              .event-col7{
                text-align: right;
                width: 320px;
                height: 16.5px;
                background-color: #ffffff;
                font-family: NotoSansCJKkr;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                margin-top: 4%;
              }
              .event-col8{
                // position: absolute;
                width: 5px;
                height: 16.5px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #292929;
                margin-right:40%;
                margin-top: 4%;
              }

              .profile-img{

                width: 38px;
                height: 38px;
                object-fit: contain;
                text-align: left;
                background-color: #ffffff;

              }

              .event-col9{
                width: 320px;
                height: 16.5px;
                color: #5c59b6;
                font-family: NotoSansCJKkr;
                font-size: 14px;
                font-style: normal;
                font-weight: normal;
                text-align: right;
                margin-left: 75%;
                margin-top: 4%;
              }

              .grid{
               width: 100%;
               height: 45px;
               margin-top: -3%;
              }


              .sub{
                width: 239.5px;
                height: 19px;
                font-family: NotoSansCJKkr;
                font-size: 13px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #b6b6b6;
              }



              .button_giveup{
                margin-left: auto;
                margin-right: auto;
                display: block;
                font-size: 14px;
                border: solid 0.5px #c7c7c7;
                background-color:#d2d4d6;
                color: #ffffff;
                font-family: AppleSDGothicNeo;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                min-width: 100%;
                min-height: 50px;
              }

              .button_add{
                margin-left: auto;
                margin-right: auto;
                display: block;
                font-size: 14px;
                border: solid 0.5px #c7c7c7;
                background-color:#FFF;
                min-width: 100%;
                min-height: 50px;
               font-family: AppleSDGothicNeo;
               font-size: 14px;
               font-weight: normal;
               font-style: normal;
               font-stretch: normal;
               line-height: normal;
               letter-spacing: normal;
               text-align: center;
               color: #292929;
              }

              .bottom_text{
                padding-left: 5%;
                font-family: NotoSansCJKkr;
                font-size: 16px;
                font-weight: 500;
                color: #292929;
                height: 28px;
               font-style: normal;
               font-stretch: normal;
               line-height: normal;
               letter-spacing: normal;
               text-align: left;

              }

              .container {
                position: relative;
                width: 50%;
              }

              .container .imagealign {
                width: 100%;
                height: auto;
              }

              .container .ing_btn{
              position: absolute;
              top: 17%;
              left: 19%;
              transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              color: white;
              padding: 12px 24px;
              border: none;
              cursor: pointer;
              border-radius: 2.5px;
              font-family: NotoSansCJKkr;
              font-size: 9px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: center;
              background-color: #5c59b6;
            }

            .container .ing_btn:hover{
              background-color: black;
            }

            .gridimage{
              height: 10%;

            }


}
