<!--
  Generated template for the CareZoneMissionIngPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar *ngIf="platform.is('android')">
    <ion-title class="android_title" text-wrap>케어 챌린지</ion-title>
  </ion-navbar>

  <!-- <ion-navbar  hideBackButton="true" *ngIf="platform.is('ios')">
    <ion-title  class="ios_title" text-wrap> {{carezoneData.missontitle}} </ion-title>
  </ion-navbar> -->

  <ion-navbar *ngIf="platform.is('ios')">
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <!-- <ion-icon md="md-arrow-forward"></ion-icon> -->
        <img class="ios_nav" src="assets/img/agreement/ic-system-back-black@3x.png" />
      </button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>케어 챌린지</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-list *ngIf="carezoneData2">
    <!-- <ion-item *ngIf="imgUrl" no-lines>
      <img class="goods-img" src="{{imgUrl}}" /><br><br>

      <button ion-button style="height:28px;box-shadow: none;" class="button_outline" outline (click)="mission_deadline()">진행중 </button>
      </ion-item> -->
    <ion-slides *ngIf="bannerData && bannerData.length" class="img-banner_top_19000501" pager loop=true autoplay=2000>
      <!-- <ion-slide *ngFor="let banner of bannerData">
        <img src='http://plinic.cafe24app.com/images/{{banner._id}}' />
      </ion-slide> -->
      <ion-slide *ngIf="carezoneData2.challenge_image1_filename">
        <img src='https://plinic.s3.ap-northeast-2.amazonaws.com/{{carezoneData2.challenge_image1_filename}}' />
      </ion-slide>

      <ion-slide *ngIf="carezoneData2.challenge_image2_filename">
        <img src='https://plinic.s3.ap-northeast-2.amazonaws.com/{{carezoneData2.challenge_image2_filename}}' />
      </ion-slide>

      <ion-slide *ngIf="carezoneData2.challenge_image3_filename">
        <img src='https://plinic.s3.ap-northeast-2.amazonaws.com/{{carezoneData2.challenge_image3_filename}}' />
      </ion-slide>

      <ion-slide *ngIf="carezoneData2.challenge_image4_filename">
        <img src='https://plinic.s3.ap-northeast-2.amazonaws.com/{{carezoneData2.challenge_image4_filename}}' />
      </ion-slide>

      <ion-slide *ngIf="carezoneData2.challenge_image5_filename">
        <img src='https://plinic.s3.ap-northeast-2.amazonaws.com/{{carezoneData2.challenge_image5_filename}}' />
      </ion-slide>
    </ion-slides>

    <h1 class="top_text"> {{carezoneData2.title}} </h1><br>
    <div text-wrap class="top_sub">{{carezoneData2.body}}</div>

    <ng-container *ngIf="missionuseTime">
      <ion-col *ngIf="missionuseTime.usetime > 0" class="top_time">{{displayUseTime}}</ion-col>
      <ion-col *ngIf="missionuseTime.usetime <= 0" class="top_time">0초</ion-col>
    </ng-container>
    <ng-container *ngIf="memberRanking">
      <ng-container *ngFor="let ranking of memberRanking; let i = index">
        <ion-col *ngIf="ranking.email === userData.email" class="top_rank">현재 등수 {{ranking.rank}}위</ion-col>
      </ng-container>
    </ng-container>
    <progress-bar [color]="mycolor" [progress]="loadProgress"></progress-bar><br><br><br>


    <ion-item style="width:97%">
      <ion-grid class="gridtext">
        <ion-row style="width:89.7%">
          <ion-col class="event-col4">보상 상품명</ion-col>
          <ion-col class="event-col7">{{carezoneData2.product}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item style="width:97%">
      <ion-grid class="gridtext">
        <ion-row style="width:89.7%">
          <ion-col class="event-col4">상품 수량</ion-col>
          <ion-col class="event-col5">{{carezoneData2.productcount}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item style="width:97%">
      <ion-grid class="gridtext">
        <ion-row style="width:89.7%">
          <ion-col class="event-col4">참여 방법</ion-col>
          <ion-col class="event-col5">{{carezoneData2.howtojoin}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item style="width:97%; height:100px;">
      <ion-grid class="gridtext">
        <ion-row style="width:89.7%">
          <ion-col class="event-col11">보상 조건</ion-col>
          <ion-col class="event-col9" style="color:#5c59b6">
            <textarea readonly style="text-align: right" rows="3" cols="35">{{carezoneData2.condition}}</textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item style="width:97%;">
      <ion-grid class="gridtext">
        <ion-row style="width:89.7%">
          <ion-col class="event-col4">참여기간</ion-col>
          <ion-col class="event-col5">{{carezoneData2.startmission.substr(0,10)}} ~ {{carezoneData2.endmission.substr(0,10)}} (x주)</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item style="width:97%;">
      <ion-grid class="gridtext">
        <ion-row style="width:89.7%">
          <ion-col class="event-col4">남은시간</ion-col>
          <ion-col *ngIf="timeremaining >= 0" class="event-col7">{{displayTime}}</ion-col>
          <ion-col *ngIf="timeremaining < 0" class="event-col7">챌린지 종료</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item style="width:97%; height:100px;">
      <ion-grid class="gridtext">
        <ion-row style="width:89.7%">
          <ion-col class="event-col11">보너스</ion-col>
          <ion-col class="event-col9">
            <textarea readonly style="text-align: right" rows="3" cols="35">
              카카오톡 공유하면 +{{carezoneData2.bonuskakao}}초/명
              페이스북 공유하면 +{{carezoneData2.bonusface}}초/명
              인스타그램 공유하면 +{{carezoneData2.bonusinstar}}초/명
            </textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item no-lines>
      <ion-col class="sub" text-wrap>
        ※&nbsp;유의사항과 일정 등을 반드시 확인하고 참여해주세요.
      </ion-col>
    </ion-item>

    <ion-item no-lines>
      <ng-container *ngIf="endCheck === false">
        <!-- 미션 진행중일 때 -->
        <button ion-button class="button_start" text-align="center" outline (click)="mission_start()">시작하기</button>
        <button ion-button class="button_giveup" text-align="center" outline (click)="mission_giveup()">포기하기</button>
      </ng-container>
      <ng-container *ngIf="endCheck === true">
        <ng-container *ngIf="carezoneData2.productcount >= rank">
          <!-- 미션 완료일 떄 -->
          <!-- 보상받기가 완료 된 경우 -->
          <ng-container *ngIf="reward">
            <button ion-button class="button_end" text-align="center" outline>보상받기 완료</button>
          </ng-container>
          <!-- 보상받기가 아직 완료되지 않은 경우 -->
          <ng-container *ngIf="!reward">
            <button ion-button class="button_start" text-align="center" outline (click)="showMissionsuccess()">보상받기</button>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="carezoneData2.productcount < rank">
          <!-- 미션 종료일 때 -->
          <ng-container *ngIf="platform.is('ios')">
            <button ion-button class="button_end" text-align="center" outline (click)="showMissionfail()">챌린지 종료</button>
            <button ion-button class="button_detail" text-align="center" outline (click)="openBrowser_ios(carezoneData2.product_url, carezoneData2.product)">보상 제품 상세정보</button>
          </ng-container>
          <ng-container *ngIf="platform.is('android')">
            <button ion-button class="button_end" text-align="center" outline (click)="showMissionfail()">챌린지 종료</button>
            <button ion-button class="button_detail" text-align="center" outline (click)="openBrowser_android(carezoneData2.product_url, carezoneData2.product)">보상 제품 상세정보</button>
          </ng-container>
        </ng-container>
      </ng-container>

    </ion-item>
  </ion-list>

  <ion-list>

    <div style="height:8px; width:100%; background-color:#f1f1f1"></div><br>


    <h3 class="bottom_text"> 참여자 </h3>


    <!-- 참여자만큼 반복문 -->
    <!-- 내 리스트 -->
    <ng-container *ngIf="missionmember">
      <ng-container *ngFor="let mission of missionmember; let i = index">
        <ion-grid *ngIf="mission.email===userData.email" class="eventgrid">
          <ion-row class="my_list">
            <ion-col class="event-col12">{{(i) + 1}}</ion-col>
            <img *ngIf="!memberRanking[i].image_url" style="margin-top:-3%;" class="profile-img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{memberRanking[i].userImageFilename}}" onError="this.src='./assets/img/register/ic-system-profile-default@3x.png'" />
            <img *ngIf="memberRanking[i].image_url" style="margin-top:-3%;" class="profile-img" src="{{memberRanking[i].image_url}}" onError="this.src='./assets/img/register/ic-system-profile-default@3x.png'" />
            <ion-col class="event-col13">{{mission.email}}(나)</ion-col>
            <ion-col class="event-col14" style="color:#5c59b6;">{{displayUseTimeList[i]}}</ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="missionmember">
      <ion-item *ngFor="let mission of missionmember; let i = index" no-lines>
        <ion-grid class="eventgrid">
          <ion-row>
            <ion-col class="event-col0">{{(i) + 1}}</ion-col>
            <img *ngIf="!memberRanking[i].image_url" class="profile-img" src="https://plinic.s3.ap-northeast-2.amazonaws.com/{{memberRanking[i].userImageFilename}}" onError="this.src='./assets/img/register/ic-system-profile-default@3x.png'" />
            <img *ngIf="memberRanking[i].image_url" class="profile-img" src="{{memberRanking[i].image_url}}" onError="this.src='./assets/img/register/ic-system-profile-default@3x.png'" />
            <ion-col class="event-col8">{{mission.email}}</ion-col>
            <ion-col class="event-col6">{{displayUseTimeList[i]}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ng-container>


    <ion-item no-lines>
      <button ion-button class="button_add" style="font-size: 14px; box-shadow:none;" outline>더보기</button>
    </ion-item><br>

    <div style="height:8px; width:100%; background-color:#f1f1f1"></div>

  </ion-list>

  <ng-container *ngIf="comment_popover_option==='보기' || comment_popover_option ==='삭제'">
    <!-- <img *ngIf="!userData.thumbnail_image && profileimg_url" class="profile_comment" style="margin-top: 7%;" [src]="profileimg_url" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
         <img *ngIf="userData.thumbnail_image" class="profile_comment" style="margin-top: 7%;" [src]="userData.thumbnail_image" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
         <img *ngIf="!userData.thumbnail_image && !profileimg_url" style="margin-top: 7%;" class="profile_comment" src="assets/img/register/ic-system-profile-default@3x.png" /> -->
    <div class="container">
      <textarea class="content_comment" style="margin-top: 9%;" rows="3" cols="20" #myInput maxLength="300" autoGrow="true" placeholder="댓글 등록" (input)="adjustTextarea()" [(ngModel)]="registerReply.comment"></textarea>
      <button *ngIf="registerReply.comment.length >= 1" ion-button class="comment_input_enroll" (click)="saveSkinQnaReply()">등록</button>
      <button *ngIf="registerReply.comment.length < 1" ion-button class="comment_input_enroll" disabled (click)="saveSkinQnaReply()">등록</button>
    </div>
    <div style="height:8px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; background-color:#f1f1f1"></div>
  </ng-container>


  <!-- 댓글  -->
  <ng-container *ngIf="carezoneData2">
    <ng-container *ngFor="let registerReply of carezoneData2.comments; let i = index">
      <img *ngIf="registerReply.img_url" class="profile_comment" [src]="registerReply.img_url" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />
      <img *ngIf="!registerReply.img_url" class="profile_comment" src="http://plinic.cafe24app.com/userimages/{{registerReply.email}}" onError="this.src='assets/img/register/ic-system-profile-default@3x.png'" />

      <!-- <img *ngIf="!registerReply.originalName && !profileimg_url" class="profile_comment" src="assets/img/register/ic-system-profile-default@3x.png" /> -->
      <ng-container *ngIf="userData">
        <ng-container *ngIf="userData.email === registerReply.email">
          <button ion-button class="comment_btn" (click)="comment_popover($event, i, registerReply.email, registerReply._id);"></button>
        </ng-container>
      </ng-container>
      <div class="container">
        <div class="nickname_comment">{{registerReply.email}}</div>
        <button *ngIf="comment_popover_option_textarea === i" (click)="replySkinQnaUpdate(registerReply.email, registerReply._id)" ion-button class="comment_enroll">수정</button>
      </div>
      <div class="time_comment">{{registerReply.createdAt.substr(0,19)}}</div>
      <!-- 보기 -->
      <!-- <textarea *ngIf="comment_popover_option==='보기'" class="content_comment" readonly autoGrow autoresize value="{{reply.comment}}"></textarea> -->
      <ng-container *ngIf="comment_popover_option_textarea !== i ">
        <div class="content_comment" text-wrap>{{registerReply.comment}}</div>
      </ng-container>
      <!-- 수정 -->
      <textarea *ngIf="comment_popover_option_textarea === i " id="updatereply" class="content_comment_textarea" #myInput maxLength="300" (keydown)="resize()" [(ngModel)]="registerReply.comment" (input)="adjustTextareaUpdate($event)"
        autofocus="true"></textarea>

      <div style="height:1px; width:100%; margin:0 auto; display: block; margin-bottom: 3%; margin-top: 2%; background-color:#f1f1f1"></div>
    </ng-container>
  </ng-container>




</ion-content>
