<ion-header>

  <ion-navbar *ngIf="platform.is('android') || platform.is('core')" no-lines>
    <ion-buttons (click)="chartguide()" left>
      <div class="guide_android">이용안내</div>
    </ion-buttons>
    <ion-buttons (click)="myinfo()" end>
      <ion-row align-items-center>
        <div *ngIf="userData" class="android_point">{{userData.totaluserpoint}}P&nbsp;</div>
        <img class="ic_system_arrow_white2" src="assets/img/home/ic_arrow_black.png" />
      </ion-row>
    </ion-buttons>
    <ion-title class="android_title" text-wrap>피부 리포트</ion-title>
    <div class="android_search" style="right: 7%;">
    </div>
  </ion-navbar>

  <ion-navbar *ngIf="platform.is('ios')" no-lines>
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only>
      </button>
    </ion-buttons>
    <ion-buttons (click)="chartguide()" left>
      <div class="guide_ios">
        이용안내
      </div>
    </ion-buttons>
    <ion-buttons (click)="myinfo()" end>
      <ion-row align-items-center class="">
          <div *ngIf="userData" class="android_point">{{userData.totaluserpoint}}P&nbsp;</div>
          <img class=" ic_system_arrow_white2" src="assets/img/home/ic_arrow_black.png" />
      </ion-row>
      
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>피부 리포트</ion-title>

  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <!-- <ion-grid class="grid_backColor" no-padding>
    <ion-row class="row1">
      <ion-col col-6>
        <ion-label class="ptext1">오늘의 날씨</ion-label>
      </ion-col>
      <ion-col col-6>
        <ion-label *ngIf="skinAnalyData" class="ptext2">실시간
          {{getCovertKoreaTime(today).substr(0,10)}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-card class="card">
        <ion-grid no-padding>
          <ion-row>
            <ion-col class="center" col-4>
              <div class="ptext3_1">기온</div>
            </ion-col>
            <ion-col class="center" col-4>
              <div class="ptext3_2">미세먼지</div>
            </ion-col>
            <ion-col class="center" col-4>
              <div class="ptext3_3">습도</div>
            </ion-col>
          </ion-row>
          <div class="guide"></div>
          <ion-row>
            <ion-col col-4>
              <div *ngIf="currentWeather_Temp" class="ptext4_1">{{currentWeather_Temp}} °</div>
            </ion-col>
            <ion-col col-4>
              <div *ngIf="currentWeather_Pm10" class="ptext4_2">{{currentWeather_Pm10}}</div>
            </ion-col>
            <ion-col col-4>
              <div *ngIf="currentWeather_Humidity" class="ptext4_3">{{currentWeather_Humidity}}</div>
            </ion-col>
          </ion-row>
          <div class="guide2"></div>
          <ion-row>
            <ion-col col-4>
              <div *ngIf="currentWeather_Description" class="ptext5_1" [ngStyle]="{'color' : skyColor}">{{currentWeather_Description}}</div>
            </ion-col>
            <ion-col col-4>
              <div *ngIf="pm10Result" class="ptext5_2" [ngStyle]="{'color' : pm10Color}">{{pm10Result}}</div>
            </ion-col>
            <ion-col col-4>
              <div class="ptext5_3" [ngStyle]="{'color' : rehColor}">{{rehTextResult}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-row>
  </ion-grid> -->
  <ng-container *ngIf="!skinAnalyData">
    <ion-label class="ptext6_nodata">오늘의 피부</ion-label>
    <div class="nodataText">피부 측정 이력이 없습니다<br>내 피부를 확인해보세요</div>
  </ng-container>
  <ng-container *ngIf="skinAnalyData">
    <ion-grid class="grid_backColor2" no-padding>
      <br>
      <ion-row>
        <ion-col col-6>
          <ion-label class="ptext6">오늘의 피부</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-label *ngIf="skinAnalyData" class="ptext7">측정 기준일
            {{getCovertKoreaTime(skinAnalyData.updated_at).substr(0,10)}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-card (click)="poreSize()" class="card2">
        <img src="assets/img/skin-chek-chart/skin-size.png" class="img1" />
        <div class="ptext8">모공 크기</div>
        <img src="assets/img/ic_system_arrow.png" class="arrow2" />
        <div class="ptext11">평균</div>
        <div *ngIf="skinAnalyData" class="ptext9">{{skinAnalyPoreSize}}</div>
        <div class="ptext10">/ μm</div>
        <div *ngIf="skinAnalyData" class="ptext12">측정 전체 내 평균 대비</div>
        <div *ngIf="skinAnalyData" class="ptext13">내 나이대 평균 대비</div>
        <div *ngIf="skinAnalyData" class="ptext14">{{skinAnalyPoreCompareAvg}}</div>
        <div *ngIf="skinAnalyData" class="ptext15">{{skinAnalyAvgCompare}}</div>
      </ion-card>
      <br>
      <ion-card (click)="poreCount()" class="card2">
        <img src="assets/img/skin-chek-chart/pore-count.png" class="img2" />
        <div class="ptext8">모공 수</div>
        <img src="assets/img/ic_system_arrow.png" class="arrow2" />
        <div *ngIf="skinAnalyData" class="ptext9">{{skinAnalyPoreOneCount}}</div>
        <div class="ptext10">/ 개</div>
        <div *ngIf="skinAnalyData" class="ptext12">측정 전체 내 평균 대비</div>
        <div *ngIf="skinAnalyData" class="ptext13">내 나이대 평균 대비</div>
        <div *ngIf="skinAnalyData" class="ptext14_1">{{skinAnalyPoreCompareCount}}</div>
        <div class="ptext15_1">{{skinAnalyAvgComparePoreCount}}</div>
      </ion-card>
      <br>
      <ion-card (click)="skinTonePage()" class="card2">
        <img src="assets/img/skin-chek-chart/skin-tone.png" class="img3" />
        <div class="ptext8">피부톤</div>
        <img src="assets/img/ic_system_arrow.png" class="arrow2" />
        <div *ngIf="skinAnalyData" class="skintone" [style.background-color]="skinTone"></div>
        <div class="ptext16">/ hex</div>
        <div class="ptext13">비슷한 피부톤을 가진 사람수</div>
        <div class="ptext15_2">95</div>
      </ion-card>
      <br>
      <ion-card (click)="skinClean()" class="card2">
        <img src="assets/img/skin-chek-chart/skin-clean.png" class="img4" />
        <img src="{{faceImgUrl}}" class="img7" />
        <div class="ptext8">피부 클린 지수</div>
        <img src="assets/img/ic_system_arrow.png" class="arrow2" />
        <div class="ptext16">/ {{faceText}}</div>
        <div class="ptext17">최초 측정 피부 비교지수</div>
        <div *ngIf="skinCleanScore" class="ptext15">{{skinCleanScore}}</div>
      </ion-card>
      <br>
      <ion-card (click)="skinMunjinPage()" class="card2">
        <img src="assets/img/skin-chek-chart/skin-report.png" class="img5" />
        <div class="ptext8">피부 관리 생활 문진</div>
        <img src="assets/img/ic_system_arrow.png" class="arrow2" />
        <div class="ptext18">수면 습관</div>
        <div class="ptext19">일일 음주량</div>
        <div class="ptext20">일일 운동량</div>
        <div class="ptext21">{{munjinSleep}}</div>
        <div class="ptext22">{{munjinAlcohol}}</div>
        <div class="ptext23">{{munjinFitness}}</div>
      </ion-card>
      <br>
      <div
        style="height:1.5px; width:100%; margin:0 auto; display: block; margin-bottom: 10%; margin-top: 3%; background-color:#f1f1f1">
      </div>
      <div class="text99">사용 중인 화장품</div>
      <ion-card class="card3">
        <ng-container *ngIf="isLoadMain">
          <img src="https://plinic.s3.ap-northeast-2.amazonaws.com/product/{{loadMainData[0].product_num}}.jpg"
            class="img_product" />
          <div class="ptext24">{{loadMainData[0].brand_name}}</div>
          <div class="ptext25">{{loadMainData[0].product_name}}</div>
          <div class="ptext26">리뷰<span class="ptext27">&nbsp;24</span></div>
          <div class="ptext28">좋아요<span class="ptext29">&nbsp;128</span></div>
          <button ion-button class="btn99" (click)="product_detail(loadMainData[0].product_num)" >정보 보기</button>
          <button ion-button class="btn98" (click)="change_Product()">화장품 변경</button>
        </ng-container>
      </ion-card>
    </ion-grid>
  </ng-container>
</ion-content>

<ion-footer no-padding no-lines>
  <ion-grid no-padding>
    <ion-row>
      <ng-container *ngIf="skinAnalyData">
        <ion-col no-padding col-6><button class="qna_btn" ion-button (click)="next('first_update')">최초 측정 다시하기</button>
        </ion-col>
        <ion-col no-padding col-6><button class="qna_btn2" ion-button (click)="next('second')">데일리 피부 측정</button>
        </ion-col>
      </ng-container>
      <ng-container *ngIf="!skinAnalyData">
        <ion-col no-padding col-12><button class="qna_btn2" ion-button (click)="next('first');">피부측정 시작하기</button>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-footer>
