
<ion-header>

  <ion-navbar  *ngIf="platform.is('android')">
    <ion-title class="android_title" text-wrap> 스킨 차트 </ion-title>
  </ion-navbar>



  <ion-navbar *ngIf="platform.is('ios')">
  	<ion-buttons left>
  		<button ion-button navPop icon-only>
        <img class="ios_nav"src="assets/img/agreement/ic-system-back-black@3x.png"/>
  		</button>
  	</ion-buttons>
    <ion-title class="ios_title" text-wrap> 스킨 차트 </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>



  <ion-list>
    <ion-item no-lines>
      <ion-grid style="margin-top: 2%;margin-left: -1%; margin-bottom: -2%;">
          <ion-row>
              <br><h2 class="skinscore">현재 피부 점수</h2>
              <ion-img class="img-logo" src="assets/img/skin_chart/ic-system-infomation.png" srcset="assets/img/skin_chart/ic-system-infomation@2x.png,
             assets/img/skin_chart/ic-system-infomation@3x.png" ></ion-img>
        </ion-row>
      </ion-grid>
   </ion-item>

   <ion-item no-lines >
     <ion-grid style="margin:0 auto;">
         <ion-row>
             <ion-col><circle-progress class="roundprogressbar"
             [percent]="32.5"
             [radius]="120"
             [outerStrokeWidth]="15"
             [innerStrokeWidth]="15"
             [outerStrokeColor]="'#00af66'"
             [innerStrokeColor]="'#d8d8d8'"
             [animation]="true"
             [animationDuration]="500"
             [titleFontSize]="40"
             [unitsFontSize]="40"
             [subtitleFontSize]="25"
             [toFixed] = "1"
             [space] = "-13"
             subtitle= "유분"
           ></circle-progress></ion-col>

             <ion-col><circle-progress class="roundprogressbar"
             [percent]="60.5"
             [radius]="120"
             [outerStrokeWidth]="15"
             [innerStrokeWidth]="15"
             [outerStrokeColor]="'#ffa000'"
             [innerStrokeColor]="'#d8d8d8'"
             [animation]="true"
             [animationDuration]="500"
             [titleFontSize]="40"
             [unitsFontSize]="40"
             [subtitleFontSize]="25"
             [toFixed] = "1"
             [space] = "-13"
             subtitle="수분"
           ></circle-progress></ion-col>
         </ion-row>
     </ion-grid>
   </ion-item>


<!--
   <ion-item no-lines >
     <ion-grid>
         <ion-row>
         <ion-col col-6><canvas class="doughnutCanvas" #doughnutCanvas width="300px" height="300px"></canvas></ion-col>
         <ion-col col-6><canvas class="doughnutCanvas" #doughnutCanvas2 width="300px" height="300px"></canvas></ion-col>
         </ion-row>
     </ion-grid>
   </ion-item> -->



    <ion-item style="margin:0 auto; width:97%" no-lines>
      <ion-grid>
        <ion-row class="gridstatus">
          <ion-col class="secondstatus">보통</ion-col>
          <ion-col class="status">나쁨</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


    <ion-item style="margin:0 auto; width:97%" no-lines>
      <ion-grid class="griddata">
         <ion-row>
          <ion-col class="data1">60.5%</ion-col>
          <ion-col class="data2">수분</ion-col>
          <ion-col class="data3">60.5%</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item style="margin:0 auto; width:97%" no-lines>
      <ion-grid class="griddata">
        <ion-row>
          <ion-col class="data1">32.5%</ion-col>
          <ion-col class="data2">유분</ion-col>
          <ion-col class="data3">32.5%</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item><br>


  <ion-item no-lines>
    <p class="sub"> ※진단 결과는 환경에 따라 상이할 수 있습니다.</p>
  </ion-item>
</ion-list><br><br>


  <ion-list>
      <ion-row class="skinrow">
      <ion-col>
      <h2 class="skinscore" style="margin-left:-4%">기간별 피부 변화</h2></ion-col>
      <ion-col><ion-select (ionChange)="yearmonthselect($event)" placeholder="{{skinbtnYear}}년{{skinbtnMonth}}월" interface="popover" [(ngModel)]="valueday.day"
                            multiple="false" class="linechart_btn">
      <ion-option *ngFor="let days of monthdate" >{{days.day}}</ion-option></ion-select></ion-col>
      </ion-row>
  </ion-list><br>
  <!-- Default Segment -->
<ion-segment class="segment" mode="ios" [(ngModel)]="segment_moisture" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="수분">
    <ion-label>수분</ion-label>
  </ion-segment-button>
  <ion-segment-button value="유분">
    <ion-label>유분</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-scroll class="segment_scroll" scrollX="true" scrollY="true">
<div class="chartWrapper">
    <div class="chartAreaWrapper">
<canvas class="chart_js" id="moisture" #lineCanvas ></canvas>
<canvas class="chart_js" id="oil" #lineCanvas2 ></canvas>
</div>
</div>
</ion-scroll>

    <ion-col class="square_col"><div class="square"></div><div class="square_text">내 점수</div><div class="square2"></div><div class="square_text">20대 평균 점수</div></ion-col>



<br>
  <ion-list no-lines>
  <ion-item text-wrap>
    <p class="data">※&nbsp;{{exthreeDaysAgo}} ~ {{extoday}}까지 데이터 분석입니다.</p><br>
  </ion-item>
 </ion-list>

  <ion-list no-lines>
    <ion-item>

      <br><h2 class="skinscore">플리닉 솔루션</h2><br>

      <h1 class="care">당신의 피부는<br> "건성피부" 맞춤 케어가 필요합니다. </h1><br><br>

      <p class="ex" text-wrap>
        미세먼지는 피부 노화를 촉진하는 산소를 만들어내고
        주름과 염증, 색소 침착을 유발하는 멜라노사이트 증식을 촉진하는 유전자를 활성화하는 한편 피부장벽마저 약화시킵니다.
        따라서 우리 피부는 건조해지지요. 피부 건조 및 노화까지 앞당기므로 미세먼지 피부관리는 반드시 필요합니다. </p>

      <br><button ion-button style="font-size:14px" class="button_outline" outline> "건성맞춤" <p class="button_outlinetext">화장품 보러가기&nbsp;&nbsp;></p></button>
    </ion-item>
  </ion-list><br>


</ion-content>
