page-skin-chart {





    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
      height: 1px;
      margin-bottom: 5px;
    }
    .item-md.item-block .item-inner{
      padding-right: 12px;
    }
    .header-ios::after, .tabs-ios[tabsPlacement="top"] > .tabbar::after, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before{
      height: 1px;
      margin-bottom: 5px;
    }
    .item-ios.item-block .item-inner{
      padding-right: 12px;
    }
    .toolbar-title-md{
      font-weight: bold;
      font-size: 17px;
      background-color: #FFF;
      font-family: NotoSansCJKkr;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      margin-left: 14%;
    }
    .toolbar-title-ios{
      font-weight: bold;
      font-size: 17px;
      background-color: #FFF;
      font-family: NotoSansCJKkr;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      margin-top: -5%;
      color: #292929;
    }

    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
      margin-top: -4%;
      color: #292929;
    }

    .toolbar-background {
      background-color: #FFF;
    }

    .ion-md-arrow-back:before {
      position: absolute;
      content: "\f27d";
      left: 10%;
      top: 2px;
      width: 25px;
      height: 25px;
  }

     // .toolbar-ios{
     //   margin-top: 10%;
     // }

    .back-button-text-ios{
      font-size: 0px;
    }
    .android_title{
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 70%;
      color: #292929;
    }
    .ios_title{
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 120%;
      color: #292929;
    }
             .img-logo{
                background-color: #ffffff;
                width: 4px;
                height: 4px;
                margin-top: 2px;
                margin-left: 3px;
             }


              .label-md{
                 padding: 0px;
                 margin: 0px;
              }
              .gridstatus{
                margin-bottom: 30px;
              }
              .secondstatus{
              font-family: AppleSDGothicNeo;
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: center;
              color: #00af66;
              padding: 0px;
             }
             .status{
               font-family: AppleSDGothicNeo;
               font-size: 16px;
               font-weight: normal;
               font-style: normal;
               font-stretch: normal;
               line-height: normal;
               letter-spacing: normal;
               text-align: center;
               color: #ffa000;
              padding: 0px;
             }

          .item-md.item-block .item-inner{
            padding: 0px;
          }
          .item-ios.item-block .item-inner{
            padding: 0px;
          }
          ion-app.md [padding] .scroll-content{
            padding: 20px;
          }
          ion-app.ios [padding] .scroll-content{
            padding: 20px;
          }

          .griddata{

            text-align: center;
           margin-left: auto;
            margin-right: auto;
            display: block;
         }

          .roundprogressbar{
            width: 75%;
            margin-left: 6%;
            height: auto;
          }


          .sub{
            font-family: AppleSDGothicNeo;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #939393;
          }
          .data{
            height: 16.5px;
            font-family: Roboto;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #b6b6b6;
          }
          .data1{
            position: absolute;
            right:25%;
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #292929;
          }
           .data2{
            font-family: NotoSansCJKkr;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #858585;
           }
          .data3{
            position: absolute;
            right:-25%;
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #292929;
          }

          .item-md{
            padding: 0px;
            margin: 0px;
          }
          .item-ios{
            padding: 0px;
            margin: 0px;
          }
          .skinscore{
          height: 45px;
          font-family: NotoSansCJKkr;
          font-size: 15px;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          font-weight: bold;
          color: #292929;
         }
          .select-ios .select-placeholder{
              color: #292929;
          }
          .select-md .select-placeholder{
              color: #292929;
          }
          .list-md{
            margin: 0px;
          }
          .list-ios{
            margin: 0px;
          }

           [padding] h1:first-child, [padding] h2:first-child,
           [padding] h3:first-child, [padding] h4:first-child,
           [padding] h5:first-child, [padding] h6:first-child
           {
            margin-top: 11px;
           }

          .linechart_btn{
            position: absolute;
            right: 0px;
            min-width: 67%;
            min-height: 36px;
            border-radius: 2.5px;
            border: solid 1px #e5e5e5;
            font-family: Roboto;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            }

          .care{
            width: 316px;
            height: 54px;
            margin-left: auto;
            margin-right: auto;
            font-family: Roboto;
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #5c59b6;
            margin-top: -2.5%;
            margin-bottom: -1%;

          }

          .ex{
            width: 320px;
            height: 170px;
            margin-left: auto;
            margin-right: auto;
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.79;
            letter-spacing: normal;
            color: #292929;
            margin-bottom: -4%;
          }

          .item-ios h2:last-child, .item-ios h3:last-child, .item-ios h4:last-child, .item-ios h5:last-child, .item-ios h6:last-child, .item-ios p:last-child{
            margin-top: auto;
            margin-bottom: auto;
          }
          .button_outline {
            font-size: 14px;
            border: solid 0.5px #c7c7c7;
            background-color:#FFF;
            min-width: 100%;
            min-height: 50px;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
            display: block;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #5c59b6;
          }

          .button_outlinetext{
            font-size: 14px;
            padding-left: 5px;
            margin-top: auto;
            margin-bottom: auto;
            display: block;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #292929;
          }


  }
