page-qna-write {
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    height: 1px;
    margin-bottom: 5px;
  }
  .item-md.item-block .item-inner{
    padding-right: 12px;
  }
  .header-ios::after, .tabs-ios[tabsPlacement="top"] > .tabbar::after, .footer-ios::before, .tabs-ios[tabsPlacement="bottom"] > .tabbar::before{
    height: 1px;
    margin-bottom: 5px;
  }
  .item-ios.item-block .item-inner{
    padding-right: 12px;
  }
  .toolbar-title-md{
    font-weight: bold;
    font-size: 17px;
    background-color: #FFF;
    font-family: NotoSansCJKkr;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
  .toolbar-title-ios{
    font-weight: bold;
    font-size: 17px;
    background-color: #FFF;
    font-family: NotoSansCJKkr;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: -5%;
    color: #292929;
  }

  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
    margin-left: -15%;
    margin-top: -15%;
    color: transparent;
  }

  .ios_nav{
    background-color: #FFF;
    width: 140px !important;
    height: 25px !important;
    object-fit: contain;
  }

  .toolbar-background {
    background-color: #FFF;
  }

  .ion-md-arrow-back:before {
    position: absolute;
    content: "\f27d";
    left: 10%;
    top: 2px;
    width: 25px;
    height: 25px;
}

   .toolbar-ios{
     margin-top: 8%;
   }

  .back-button-text-ios{
    font-size: 0px;
  }
  .android_title{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    color: #292929;
  }
  .ios_title{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 120%;
    color: #292929;
  }

  .item-md.item-input.item-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
    border-bottom-color: transparent;
    -webkit-box-shadow: inset 0 0 0 0 transparent;
    box-shadow: inset 0 0 0 0 transparent;
  }
  .item-ios.item-input.item-has-focus .item-inner, .item-ios.item-input.input-has-focus .item-inner{
    border-bottom-color: #transparent;
    -webkit-box-shadow: inset 0 0 0 0 transparent;
    box-shadow: inset 0 0 0 0 transparent;
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
   .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
     border-bottom-color: #transparent;
     -webkit-box-shadow: inset 0 0 0 0 transparent;
     box-shadow: inset 0 0 0 0 transparent;
   }
   .item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
      border-bottom-color: #transparent;
      -webkit-box-shadow: inset 0 -0 0 0 transparent;
      box-shadow: inset 0 0 0 0 transparent;
  }

  .select-ios{
    padding-left: 0px;
    padding-right: 0px;
  }
  .select-md{
    padding-left: 0px;
    padding-right: 0px;
  }


  .select-ios .select-icon{
    width: 25px;
    height: 25px;
    object-fit: contain;
  }

  .select-md .select-icon{
    width: 25px;
    height: 25px;
    object-fit: contain;
  }

  .text-input-md{
    margin-left: 0px;
    margin-right: 0px;
  }




 .qna_select{
   min-width: 100%;
   height: 55px;
   font-family: NotoSansCJKkr;
   font-size: 15px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #292929;
   margin-top: 2%;
 }

 .text-input{

   height: 500px;
 }

 .qna_input{
   font-family: NotoSansCJKkr;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #292929;
  transform: translateY(0%) !important;
  transition-duration: 0ms !important;
  transition-delay: 0ms !important;
 }

.scroll-content{
  padding: 0px !important;
  transform: translateY(0%) !important;
  transition-duration: 0ms !important;
  transition-delay: 0ms !important;
}


.button-ios{
  margin: 0px;
  padding: 0px;
}

.button-md{
  margin: 0px;
  padding: 0px;
}

  .qna_btn{
    min-width: 100%;
    min-height: 50px;
    background-color: #5c59b6;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .qna_btn2{
    min-width: 100%;
    min-height: 50px;
    background-color: #d2d4d6;
    font-family: NotoSansCJKkr;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    }

}
