<!--
  Generated template for the QnaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar #navbar *ngIf="platform.is('android')">
    <ion-title class="android_title" text-wrap>문의하기</ion-title>
  </ion-navbar>


  <ion-navbar #navbar *ngIf="platform.is('ios')">
  	<ion-buttons left>
  		<button ion-button navPop icon-only>
  			<!-- <ion-icon md="md-arrow-forward"></ion-icon> -->
        <img class="ios_nav"src="assets/img/agreement/ic-system-back-black@3x.png"/>
  		</button>
  	</ion-buttons>
    <ion-title class="ios_title" text-wrap>문의하기</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-lines no-bounce no-padding>

    <ion-item no-lines>
    <ion-select *ngIf="registerQna" class="qna_select" mode="ios" placeholder="문의사항을 선택하세요." [(ngModel)]="registerQna.qna_select">
      <ion-option [selected]="registerQna.qna_select==='배송문의'" value="배송문의">배송문의</ion-option>
      <ion-option [selected]="registerQna.qna_select==='결제문의'" value="결제문의">결제문의</ion-option>
      <ion-option [selected]="registerQna.qna_select==='제품문의'" value="제품문의">제품문의</ion-option>
      <ion-option [selected]="registerQna.qna_select==='피부문의'" value="피부문의">피부문의</ion-option>
      <ion-option [selected]="registerQna.qna_select==='플리닉문의'" value="플리닉문의">플리닉문의</ion-option>
      <ion-option [selected]="registerQna.qna_select==='기타문의'" value="기타문의">기타문의</ion-option>
    </ion-select>
    </ion-item>

    <ion-item no-lines>
    <ion-textarea *ngIf="!registerQna" class="qna_input" [(ngModel)]="registerQna.qna_input" placeholder="문의사항을 입력하세요."></ion-textarea>
    <ion-textarea *ngIf="registerQna" class="qna_input" [(ngModel)]="registerQna.qna_input" placeholder="문의사항을 입력하세요." value="{{registerQna.qna_input}}"></ion-textarea>
    </ion-item>


</ion-content>


<ion-footer mode="ios" keyboard-attach no-bounce no-lines>
<button  *ngIf="qna_input!=='' && qna_select !==''"  class="qna_btn" ion-button (click)="qna_submit();"> 문의하기</button>
<button  *ngIf="qna_input==='' || qna_select ===''" class="qna_btn2" ion-button (click)="qna_submit();"> 문의하기</button>
</ion-footer>
