<!--
  Generated template for the SkinChekCamera5Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar *ngIf="platform.is('android')  || platform.is('core')">
    <ion-title class="android_title" text-wrap>피부측정</ion-title>
  </ion-navbar>
  
  <!-- <ion-navbar  hideBackButton="true" *ngIf="platform.is('ios')">
    <ion-title  class="ios_title" text-wrap> {{carezoneData.missontitle}} </ion-title>
  </ion-navbar> -->

  <ion-navbar *ngIf="platform.is('ios')" no-lines>
    <ion-buttons left no-lines>
      <button ion-button navPop icon-only>
        <!-- <ion-icon md="md-arrow-forward"></ion-icon> -->
        <!-- <img class="ios_nav" src="assets/img/agreement/ic-system-back-black@3x.png" /> -->
      </button>
    </ion-buttons>
    <ion-title class="ios_title" text-wrap>피부측정</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid padding>
    <ion-row justify-content-center>
      <div text-sm-center class="text1">피부를 분석 중입니다.</div>
    </ion-row>
    <ion-row padding justify-content-center>

    </ion-row>
    <ion-row justify-content-center>
        <div text-sm-center class="text2"><span class="text2_sub">최대 20초 정도</span>소요될 수 있습니다</div>
    </ion-row>
    <ion-row justify-content-center>
        <div text-sm-center class="text2">앱을 종료하지 말아주세요</div>
    </ion-row>
    <ion-row padding justify-content-center>

    </ion-row>
    <ion-row padding justify-content-center>

      </ion-row>
      <ion-row padding justify-content-center>

        </ion-row>
    <ion-row *ngIf="isMainLoading" padding justify-content-center>
        <div class="splash">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
    </ion-row>
  </ion-grid>

</ion-content>


<ion-footer no-lines no-shadow>
    <ion-grid>
        <ion-row justify-content-center *ngIf="isSubLoading" class="lodaing_btn">
          <ion-spinner class="ing_spinner" name="crescent"></ion-spinner>
          <button class="loading_spinner" ion-button><div class="btn_text2">분석 중</div></button>
        </ion-row>

        <ion-row justify-content-center *ngIf="!isSubLoading" class="lodaing_btn">
            <button class="loading_spinner" ion-button (click)="goToReport()"><div class="btn_text2">분석 완료(피부리포트)</div></button>
        </ion-row>
    </ion-grid>
</ion-footer>
