page-passwordfind {





      .toolbar-background {
        background-color: #FFF;
      }


      .h1{

         height: 100px;
         font-family: NotoSansCJKkr;
         font-size: 23px;
         font-weight: bold;
         font-style: normal;
         font-stretch: normal;
         line-height: normal;
         letter-spacing: normal;
         text-align: center;
         color: #292929;
         padding-top: 10%;
      }


      .close{
       background-color: #FFF;
       width: 25px;
       height: 25px;
       object-fit: contain;
       margin-left: 26px;
       margin-top: 23px;
     }


      .login_btn{
        margin-left: auto;
        margin-right: auto;
        display: block;
        border: solid 0.5px #c7c7c7;
        background-color:#d2d4d8;
        min-width: 100%;
        min-height: 50px;
        font-family: NotoSansCJKkr;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }

}
