<!--
  Generated template for the PasswordfindPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>


  <ion-col>
    <ion-img class="close" src="assets/img/agreement/ic-system-back-black.png" srcset="assets/img/agreement/ic-system-back-black@2x.png,
                      assets/img/agreement/ic-system-back-black@3x.png" (click)="navpop()"></ion-img>
  </ion-col>


  <h1 class="h1"> 비밀번호 초기화 </h1>

  <ion-list class="register_list">
      <form novalidate [formGroup]="signupform">
  
        <ion-item class="email_align">
          <ion-label class="email_label" stacked>임시 비밀번호</ion-label>
          <ion-input mode="ios" type="text" class="email_input" [(ngModel)]="userData.temp" formControlName="email" placeholder="임시 비밀번호를 입력해주세요."
            required> </ion-input>
          <ion-img class="email_img" src="{{myImage}}" item-right (click)="email_delete()"></ion-img>
        </ion-item>
        <br>
  
  
        <ion-item class="password_align">
          <ion-label class="password_label" stacked>비밀번호 </ion-label>
          <ion-input (ionChange)="changeImage2(signupform.controls.password.valid && signupform.controls.password.dirty)" mode="ios" type="password" class="password_input" [(ngModel)]="userData.password" formControlName="password" name="password"
            placeholder="8자 이상, 하나 이상의 숫자,특수 문자를 포함" 
            [class.error1]="(!signupform.controls.password.valid && signupform.controls.password.dirty) ||
                             (signupform.get('password').hasError('required') && signupform.get('password').touched)" 
            [class.error2]="signupform.controls.password.valid" required></ion-input>
          <ion-img class="email_img" src="{{myImage2}}" item-right (click)="password_delete()"></ion-img>
        </ion-item>
  
  
        <ion-item no-lines *ngIf="( signupform.get('password').hasError('minlength') || signupform.get('password').hasError('maxlength') ||signupform.get('password').hasError('required') ) && signupform.get('password').touched">
          <div class="error" *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
            비밀번호를 입력해주세요.
          </div>
          <div class="error" *ngIf="signupform.get('password').hasError('pattern') && signupform.get('password').hasError('minlength') && signupform.get('password').touched">
            ·8자 이상, 하나 이상의 숫자 및 특수 문자를 포함해야합니다..
          </div>
          <div class="error" *ngIf="signupform.get('password').hasError('pattern') && signupform.get('password').hasError('maxlength') && signupform.get('password').touched">
            ·8자 이상, 하나 이상의 숫자 및 특수 문자를 포함해야합니다..
          </div>
        </ion-item><br>
  
        <ion-item class="password_align">
          <ion-label class="password_label" stacked>비밀번호 확인 </ion-label>
          <ion-input (ionChange)="changeImage3(signupform.controls.passwordconfirm.valid && signupform.controls.passwordconfirm.dirty)" mode="ios" type="password" [(ngModel)]="userData.passwordconfirm" formControlName="passwordconfirm"
            name="passwordconfirm" placeholder="비밀번호를 입력해주세요." [class.error1]="(!signupform.controls.passwordconfirm.valid && signupform.controls.passwordconfirm.dirty) ||
                             (signupform.get('passwordconfirm').hasError('required') && signupform.get('passwordconfirm').touched)" [class.error2]="signupform.controls.passwordconfirm.valid" required></ion-input>
          <ion-img class="email_img" src="{{myImage3}}" item-right (click)="passwordconfirm_delete()"></ion-img>
        </ion-item>
  
        <ion-item no-lines *ngIf="( signupform.get('passwordconfirm').hasError('minlength') || signupform.get('passwordconfirm').hasError('maxlength')
                                      ||signupform.get('passwordconfirm').hasError('required') ) && signupform.get('passwordconfirm').touched">
          <div class="error" *ngIf="signupform.get('passwordconfirm').hasError('required') && signupform.get('passwordconfirm').touched">
            비밀번호를 입력해주세요.
          </div>
          <div class="error" *ngIf="signupform.get('passwordconfirm').hasError('pattern') && signupform.get('passwordconfirm').hasError('minlength') && signupform.get('passwordconfirm').touched">
            ·8자 이상, 하나 이상의 숫자 및 특수 문자를 포함해야합니다..
          </div>
          <div class="error" *ngIf="signupform.get('passwordconfirm').hasError('pattern') && signupform.get('passwordconfirm').hasError('maxlength') && signupform.get('passwordconfirm').touched">
            ·8자 이상, 하나 이상의 숫자 및 특수 문자를 포함해야합니다..
          </div>
        </ion-item><br>
  
  
        <p class="sub">·비밀번호는 8자 이상, 하나 이상의 숫자 및 특수 문자를 <br>포함해야합니다..</p><br>
  
        <button type="submit" *ngIf="signupform.get('password').hasError('pattern') ||
        (userData.passwordconfirm !== userData.password) || userData.password ==='' || userData.passwordconfirm ==='' " style="opacity:1" ion-button class="login_btn_invalid" name="next" [disabled]="signupform.invalid">비밀번호 변경하기</button>
  
        <button (click)="addinfo()" *ngIf="!signupform.get('password').hasError('pattern') &&
        (userData.passwordconfirm === userData.password) && userData.password !=='' && userData.passwordconfirm !=='' " style="opacity:1" ion-button class="login_btn2_valid" name="next" [disabled]="!signupform.invalid">비밀번호 변경하기</button>
      </form>
    </ion-list>


</ion-content>
