<!--
  Generated template for the DeviceConnectIngPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content no-bounce no-padding>
  <!-- <ion-item no-lines>
    <div class="font_title"></div>
  </ion-item> -->

  <ion-img *ngIf="platform.is('android')" class="ic-system-back-black" (click)="measureBack()" src="assets/img/ic-system-back-black/ic-system-back-black@3x.png"></ion-img>
  <ion-img *ngIf="platform.is('ios')" style="margin-top: 8%;" class="ic-system-back-black" (click)="measureBack()" src="assets/img/ic-system-back-black/ic-system-back-black@3x.png"></ion-img>


  <ion-item class="title" no-lines>
    <div class="font_title">연동에 실패하였습니다.</div>
  </ion-item>

  <ion-item class="subtitle" no-lines><div class="font_sub">
    디바이스 연결상태를 확인해주세요.<br />

  </div></ion-item>


    <img class="img ic_system_sync_fail" src="assets/img/ic-system-sync-fail/ic-system-sync-fail@3x.png"  />

  <ion-footer class="footer" no-shadow>
  	<!-- <ion-toolbar position="bottom"> -->
    <div class="center">
      <button class="cell" ion-button (click)="deviceReConnect();">
        <div class="font_button">재시도</div>
      </button>
    </div>

  		<div class="center">
        <button class="cancel_button" clear ion-button (click)="measureBack()">
          <div>취소하기</div>
        </button>
      </div>

  	<!-- </ion-toolbar> -->
  </ion-footer>
</ion-content>
