page-device-connect-fail {

  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{

    height: 0px;
  }
  .font_title {
    width: 224px;
  height: 34px;
  font-family: NotoSansCJKkr;
  font-size: 23px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #292929;
    margin: 0 auto;
  }

  .font_sub {
    width: 232px;
  height: 21px;
  font-family: NotoSansCJKkr;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #939393;
    margin: 0 auto;
  }

  .ic_system_sync_fail {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }

  .cell {
  width: 88%;
  height: 50px;
  background-color: #e9513c;
  box-shadow: none !important; 
}


  .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    // padding-bottom: 10%;
  }

  .img {
    margin: auto;
    display: block;
    height: 100%;
    margin-top: 8%;
  }

  .ic-system-back-black {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }

  .header{
    left: -4%;
  }

  .title{
    top: -2%;
  }

  .subtitle{
    top: -5%;
  }

  .face_img{
    top: -4%;
  }

  .footer{
    bottom: -1.8%
  }

}
